
#footer_wrapper{
	width:100%;
	float:left;
	background-color:#def0f4;
	/* min-height:685px; */
	clear:both;
	position:relative;
	padding:30px 0 0 0;
	overflow:hidden;
	}
	

	#footer_wrapper .widget {
		margin-bottom: 50px;
		width: 100%;
		text-transform: uppercase;
		float: left;
	}
#footer_wrapper .dropdown-menu{
	border-radius:0;
	-webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, .12);
	box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.12);
	}
#footer_wrapper .dropdown-menu.inner{
	box-shadow:none;
	}
	#footer_wrapper .widget.widget_links li a {
		font-size: 16px;
		float: left;
		width: 100%;
		margin: 8px 0;
		color: #101010;
	}
	.copyright {
		width: 100%;
		float: left;
		/* min-height: 83px; */
		line-height: 48px;
		background-color: #ffffff;
		border-bottom: 1px solid #ffffff;
		color: #3ca7be;
		font-size: 22px;
	}
	#footer_wrapper .widget.widget_links li a:hover {
		font-weight: bold;
	}
.copyright a{
	color:#fff;
	margin-left:17px;
	}			


/* Large desktop */
@media (max-width: 1200px) {

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
.copyright{
	line-height:40px;
	padding:30px 0;
	}
.copyright *{
	text-align:center !important;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
.copyright span{
	width:100%;
	float:left;
	}
.widget.widget_search_availability .wsa_tab_content .travel_form_element{
	width:100%;
	}	
}			

/*--------widget_tabs------*/
@media (max-width:480px){
	.widget.widget_search_availability .wsa_tab ul li a {
		width: 45px !important;
		height: 45px !important;
		padding: 5px !important;
		line-height: 53px !important;
	}

	.widget.widget_search_availability .wsa_tab ul li a svg {
		width: 18px !important;
		height: 25px !important;

	}
}
/*--------widget_tabs------*/