body {
	font-family:'Poppins', sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #808b8d;
	-webkit-font-smoothing: antialiased;
}
a {
	color: #5a657e;
	text-decoration: none;
}
a:hover, a:focus {
	text-decoration: underline;
}
a:focus {
	outline: none;
}

img {
	max-width: 100%;
}
ul{
    list-style: none;
    padding: 0;
}
ul li{
    list-style: none;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	line-height: 1.1;
	color: #fff;
}

.theme_font h1, h2, h3, h4, h5, h6 {
	font-family: 'Poppins', sans-serif !important;

}

.theme_color {
	color: #99a4bd;
}
input {
	outline: none;
}


.header-section {
    float: left;
    width: 100%;
    background: rgba(23, 23, 23, 0.8);
    position: fixed;
    top: 0;
    z-index: 9999;
    padding: 20px;
}

.left-logo {
    width: auto;
    float: left;
}

div#navbarTogglerDemo01 ul li {
    margin: 6px 18px;
    color: #fff;
    font-size: 14px;
}
div#navbarTogglerDemo01 ul li a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
div#navbarTogglerDemo01 ul li a:hover {
    color: #faf158;
}
div#navbarTogglerDemo01 ul li.active a {
    color: #faf158;
}
div#navbarTogglerDemo01 ul li p {
    background: #3ca7be;
    padding: 5px 14px;
    border-radius: 20px;
    margin-top: -5px;
    margin-bottom: 0;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    float: right;
    width: auto;
    margin: 0;
}
.header-section .dropdown-submenu {
    position: relative;
  }
  
  .header-section .dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
  }
  
  .header-section .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
  }
  .header-section .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
}
.header-section .dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
}

/************************* service start********************************/
.best_feature_wrapper {
	padding: 30px;
	text-align: center;
	border: 1px solid;
	border-color: transparent;
	margin-bottom: 100px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.best_feature_wrapper .best_feature_icon {
	width: 77px;
	height: 77px;
	line-height: 77px;
	text-align: center;
	display: inline-block;
	position: relative;
	background-color: #86b817;
	color: #fff;
	font-size: 24px;
	z-index: 9;
	margin-bottom: 35px;
}
.best_feature_wrapper .best_feature_icon:before, .best_feature_wrapper .best_feature_icon:after {
	content: "";
	position: absolute;
	display: block;
	top: 50%;
	height: 1px;
	width: 15px;
	background-color: #2b2b2b;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.best_feature_wrapper .best_feature_icon:before {
	left: -15px;
}
.best_feature_wrapper .best_feature_icon:after {
	right: -15px;
}
.best_feature_wrapper .best_feature_icon i {
	position: relative;
	z-index: 2;
}
.best_feature_wrapper .best_feature_icon span.icon_overlay:before {
	content: "";
	position: absolute;
	width: 0%;
	left: 50%;
	top: 0;
	bottom: 0;
	background-color: #fdb714;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.best_feature_wrapper .best_feature_icon span.icon_overlay:after {
	content: "";
	position: absolute;
	width: 0%;
	right: 50%;
	top: 0;
	bottom: 0;
	background-color: #fdb714;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.best_feature_wrapper h3 {
	color: #282828;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 22px;
}
.best_feature_wrapper p {
	font-size: 14px;
	color: #808b8d;
}
.best_feature_wrapper:hover {
	border-color: #fdb714;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.best_feature_wrapper:hover .best_feature_icon:after {
	width: 30px;
	right: -47px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.best_feature_wrapper:hover .best_feature_icon:before {
	width: 30px;
	left: -47px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.best_feature_wrapper:hover .best_feature_icon span.icon_overlay:before {
	width: 50%;
	left: 0;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.best_feature_wrapper:hover .best_feature_icon span.icon_overlay:after {
	width: 50%;
	right: 0;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
/************************* service end********************************/

	
/************************* offer start ********************************/
.offer_wrapper {
	width: 100%;
	float: left;
}
.offer_wrapper .offer {
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
}
.offer_wrapper .offer > img{
	width:100%;
	}
.offer_wrapper .offer .text_wrapper {
	position: absolute;
	bottom: -54px;
	left: 0;
	right: 0;
	padding: 10px 50px;
	background-color: rgba(134, 184, 23, 0.90);
	text-align: center;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.offer_wrapper .offer:hover .text_wrapper {
	bottom: 0;
	background-color: rgba(253, 183, 20, 0.90);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.offer_wrapper .offer .text_wrapper h3 {
	color: #fff;
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	-o-transform: translateY(-10px);
	transform: translateY(-10px);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.offer_wrapper .offer:hover .text_wrapper h3 {
	transform: translateY(0px);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.offer_wrapper .offer .text_wrapper .btn-travel {
	color: #fff;
	font-size: 14px;
	border: 2px solid #fff;
	padding: 7px 25px;
}
.offer_wrapper .offer .text_wrapper .btn-travel:after {
	display: none;
}
/* Hexagon */
.welcome-box .outer-hex {
	width: 256px;
	height: 295px;
}
.welcome-box .inner-hex {
	width: 230px;
	height: 264px;
}
.welcome-box .outer-hex {
	background-color: rgba(0,0,0,0.5);
}
.chosen-item-1 .outer-hex, .chosen-item-2 .outer-hex, .chosen-item-3 .outer-hex, .note-1 .outer-hex {
	width: 124px;
	height: 140px;
}
.chosen-item-1 .inner-hex, .chosen-item-2 .inner-hex, .chosen-item-3 .inner-hex, .note-1 .inner-hex {
	width: 98px;
	height: 112px;
}
.welcome-box {
	margin: 0 auto;
	padding-top: 150px;
	text-align: center;
}
.hive {
	position: relative;
}
.outer-hex {
	position: relative;
	margin: 0 auto;
	width: 194px;
	height: 224px;
}
.hex {
	overflow: hidden;
	visibility: hidden;
	-webkit-transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	-o-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	transform: rotate(120deg);
}
.hex-in1, .hex-in2, .hex-area {
	width: 100%;
	height: 100%;
	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	transform: rotate(-60deg);
}
.hex-in2.hex-area {
	background-image: url('../images/offer/hex_bg.png');
	background-size: 100% 97%;
	background-repeat: no-repeat;
	background-position-y: 2px;
	transition: all 0.5s ease;
}
.hex-in1:hover .hex-in2.hex-area {
	background-image: url('../images/offer/hex_bg_hover.png');
	background-size: 100% 97%;
	background-repeat: no-repeat;
	background-position-y: 2px;
	transition: all 0.5s ease;
}
.hex-in1 {
	overflow: hidden;
}
.hex-in2 {
	visibility: visible;
}
.inner-hex {
	position: relative;
	margin: 0 auto;
	top: 14px;
	height: 196px;
	width: 168px;
}
/* Hexagon End */
/* Blog */

.offer_hex_item {
	width: 181px;
	float: left;
	margin-right: 4px;
}
.offer_hex_item .offer_hex_info {
	display: block;
	position: relative;
	top: -99px;
	height: 87px;
	background-color: rgba(134, 184, 23, 0.9);
	color: #fff;
	text-transform: uppercase;
	padding: 10px 0;
	transition: all 0.3s ease;
}
.offer_hex_item .offer_hex_info span {
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 1px;
}
.offer_hex_item .offer_hex_info h4 {
	background-color: #fdb714;
	font-size: 16px;
	font-weight: 600;
	padding: 4px 8px;
	display: inline-block;
	margin: 0;
}
.offer_hex_item .offer_hex_info p {
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	margin-top: 5px;
}
.offer_hex_wrapper .offer_hex_item:nth-child(n+2) {
	margin-top: -81px;
}
.offer_hex_wrapper .blog-4s-first {
	margin-left: 92px;
}
.offer_hex_wrapper {
	text-align: center;
}
.offer_hex_item .outer-hex {
	width: 206px;
	height: 242px;
}
.offer_hex_item .inner-hex {
	width: 180px;
	height: 214px;
}
.offer_hex_item_overlay .outer-hex {
	width: 181px;
	height: 214px;
}
.offer_hex_item_overlay .inner-hex {
	width: 150px;
	height: 185px;
}
.offer_hex_item_overlay .hex-area {
	background-color: rgba(0,0,0,0.1);
}
.offer_hex_item_overlay .outer-hex {
	background-color: transparent;
}
.offer_hex_item .socials {
	padding-top: 60px;
}
.offer_hex_item .socials li {
	padding: 0 2px;
}
.offer_hex_item .socials .social .outer-hex {
	width: 24px;
	height: 46px;
}
.offer_hex_item .socials .social .inner-hex {
	width: 17px;
	height: 21px;
}
.offer_hex_item .socials .social i {
	font-size: 13px;
	color: #1d1d1d;
}
.offer_hex_item_overlay h5 {
	font-size: 12px;
	color: #fff;
	font-weight: bold;
	padding: 0;
}
.offer_hex_item_overlay h6 {
	color: #8b8b8b;
	font-weight: lighter;
}
.offer_hex_item_overlay:hover .hex-area {
	background-color: rgba(0,0,0,0.8);
}
#blog .flex-control-nav {
	bottom: -80px;
}
.offer_hex_item .socials li {
	padding: 0 2px;
}
.socials li {
	display: inline-block;
}
.socials .social {
	margin: 0 auto;
	text-align: center;
}
.hive {
	position: relative;
}
.hive:hover {
	z-index: 999;
}
.offer_hex_item .socials .social .outer-hex {
	height: 46px;
	width: 24px;
}
.offer_hex_item .socials .social .hex-area, .offer_hex_item .socials .social .outer-hex {
	background: #00b8ad !important;
}
.hex-in1 {
	overflow: hidden;
}
.hex-in1, .hex-in2, .hex-area {
	height: 100%;
	transform: rotate(-60deg);
	width: 100%;
}
.offer_hex_item .socials .social .outer-hex {
	height: 46px;
	width: 24px;
}
.offer_hex_item .socials .social .inner-hex {
	height: 21px;
	width: 17px;
}
.socials .social .inner-hex {
	height: 42px;
	width: 35px;
}
.hex-in1, .hex-in2, .hex-area {
	height: 100%;
	transform: rotate(-60deg);
	width: 100%;
}
.offer_hex_item_overlay:hover .hex-area .offer_hex_info {
	top: 49px;
}
.pp_inline h3 {
	padding-bottom: 20px;
}
.pp_inline p {
	font-size: 16px;
	line-height: 24px;
}
.pp_pic_holder.dark_rounded {
	background: #000;
}


.offer_detail_wrapper{
	clear:both;
	} 
.offer_detail_wrapper ul {
	list-style: none;
	width: 70%;
	float: right;
	margin: 30px auto;
}
.offer_detail_wrapper ul li {
	width: 50%;
	float: left;
	font-size: 16px;
	margin-bottom: 30px;
}
.offer_detail_wrapper ul li i {
	color: #86b817;
}




@media (max-width: 1200px) {
.offer_detail_wrapper ul{
	width:100%;
	}	
	}


/*unused style start*/
@media (min-width: 1024px) {
.blog-main {
	width: 975px
}

}
@media (min-width: 940px) and (max-width: 1024px) {
.blog-main {
	width: 975px;
	margin-left: -20px;
}
.offer_hex_item_overlay:hover .hex-area .offer_hex_info {
	top: 60px;
}
.offer_hex_item .outer-hex {
	width: 180px;
	height: 232px;
}
.offer_hex_item .inner-hex {
	width: 170px;
	height: 206px;
}
.offer_hex_item_overlay .outer-hex {
	width: 171px;
	height: 206px;
}
.offer_hex_item_overlay .inner-hex {
	width: 140px;
	height: 175px;
}
.offer_hex_item {
	width: 180px;
}
.offer_hex_wrapper .offer_hex_item:nth-child(n+5) {
	margin-top: -74px;
}
.offer_hex_wrapper .blog-4s-first {
	margin-left: 91px;
}
.offer_hex_item .socials {
	padding-top: 50px;
}
.offer_hex_item_overlay:hover .hex-area .offer_hex_info{
	top:44px;
	}
.offer_detail_wrapper .travel_heading{
	margin-top:30px;
	}
.offer_detail_wrapper ul li{
	width:100%;
    margin-bottom: 10px;	
	}
}
@media (min-width: 768px) and (max-width: 939px) {
.offer_detail_wrapper .travel_heading{
	margin-top:50px;
	}	
.offer_detail_wrapper ul{
	width:100% !important;
	}	
.offer_detail_wrapper ul li{
	width:100%;
    margin-bottom: 10px;	
	}	

}
 @media only screen and (max-width: 767px) {
.form-detail {
	width: 100%
}
.offer_hex_item{
	float: none;
    display: inline-block;
	}
.offer_hex_wrapper{
	overflow:hidden;
	}	
.offer_hex_wrapper .blog-4s-first {
    margin-left: 0;
}
.offer_hex_wrapper .offer_hex_item:nth-child(n+2){
	margin-top:0;
	}
.offer_detail_wrapper{
	text-align:center;
	}	
.offer_detail_wrapper .travel_heading.right{
	text-align:center;
	}	
.offer_detail_wrapper p{
	text-align:center;
	}
.offer_detail_wrapper .travel_heading.right:after, .offer_detail_wrapper .travel_heading.right:before{
	right: auto;
	left: 50%;
	transform:translateX(-50%);
	}	

}
@media only screen and (max-width: 480px) {
.offer_hex_item {
	width: 204px;
	float: none;
	margin: 0 auto;
	margin-left: 20px !important;
}
.offer_hex_wrapper .offer_hex_item:nth-child(n+2) {
	margin-top: 0;
}
.offer_hex_item .outer-hex {
	width: 206px;
	height: 242px;
}
.offer_hex_item .inner-hex {
	width: 180px;
	height: 214px;
}
.offer_hex_item_overlay .outer-hex {
	width: 181px;
	height: 214px;
}
.offer_hex_item_overlay .inner-hex {
	width: 150px;
	height: 185px;
}
.offer_hex_item .socials {
	display: block;
	padding-top: 20px;
}

.offer_detail_wrapper ul{
	text-align:left;
	}

}

/* unused style end */

/************************* offer end ********************************/
.full_width{
		float:left;
		width:100%;
        border-radius: 10px;
        position: relative;
}


/****************************************************************************************************
home one start 
*****************************************************************************************************/
/*-------placeholder css-----*/


/*-------placeholder css-----*/

  /* transition css start */

/* transition css start */

.upper_space_50{
	padding-top:50px;
}

/*----slider text css start------*/
.slider_left_part h4, .slider_left_part h3{
    color: #2c3e50;
    letter-spacing: 0.1em !important;
}
.slider_left_part p{
	    color: #2c3e50;
	    font-family:'Poppins', sans-serif;
	    position: relative;
}

.slider_left_part p:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    bottom: -8px;
}
.slider_left_part h3{
	font-weight: 900 !important;
	margin-top: 0px !important;
}

.large_slide_btn {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    text-align: center;
     background: #fdb714;
    color: #ffffff;
    border-radius: 5em;
    margin-right:5px !important;
    margin-top: 23px !important;
    line-height:45px !important; 
    font-size:13px !important;
    font-weight:300 !important;
    width: 150px;
    height:45px;
    
}
.large_slide_btn:hover {
	 background: #ffffff;
    color: #fdb714;
}

.heading_team {
    text-align: center;
    width: 100%;
    float: left;
    margin: 2% 0;
}
.heading_team h3 {
    color: #3ca7be;
    font-weight: 400;
    font-size: 38px;
    margin: 10px 0;
}
.heading_team p {
    font-size: 28px;
    margin-bottom: 20px;
    color: #010101;
}
/*----slider text css End------*/



.slider_form_main{
}
.slider_tabs {
    width: 100%;
    margin: 0px auto;
}
	.slider_tabs .wsa_tab ul li {
    float: left;
    list-style: none;
}
.main_content_form{
		float:left;
		width:100%;
}
.slider_content_wrap {
    background: transparent;
    padding: 0px 0px 0px 0px;
    border: 1px solid #3ca7be;
    border-radius: 0;
}
.slider_content_wrap .main_content_form {
    background: #fffffffa;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    position: relative;
}
a:hover{
    text-decoration: none;
}
.slider_tabs .wsa_tab ul li {
    float: left;
    list-style: none;
    width: 18%;  
}
.slider_tabs .wsa_tab ul li img {
    width: 60px;
    height: 60px;
}
.slider_tabs .wsa_tab ul li a {
    color: #959595;
   /*  font-size: 22px;
   padding: 15px 39px; */
    font-size: 16px;
    padding:5px 5px;
    float: left;
    background: #fff;
	border: 1px solid #fff;
}
.slider_tabs .wsa_tab ul li a.active {
        background: #fff;
    border-color: transparent;
    color: #d22027;
    border-bottom:0px solid #d22027;
    text-decoration: none;
}
.slider_tabs .wsa_tab ul li a span {
    display: block;
    float: right;
    padding:11px 5px;
}
.slider_tab_main {
    position: relative;
    float: left;
    width: 100%;
}
.home_tabs_search {
    position: relative;
    bottom: 0;
    margin-top:0px;
    float: left;
    width: 100%;
}
.pull_left{
		float:left;
}

.room_select_field {
    width: 219px;
}
.main_content_form .pull_left.room_select_field{
    border-right: 0px solid #3ca7be;
}
.main_content_form .pull_left {
    /* margin-right: 1%; */
    position: relative;
    border-right: 1px solid #3ca7be;
    height: 100px;
}
.pull_left:last-child {
    border-right: 0px solid #b7b7b7;
}
.destination_field {
    width: 284px;
    padding: 4px 4px 3px 3px;
}
.check_in_field {
    width: 165px;
   
    padding: 4px 4px 3px 3px;
}
#building_search .room_select_field {
    width: 220px;
    padding: 4px 4px 3px 3px;
}
.main_content_form input, .main_content_form select {
    width: 100%;
}
.main_content_form i.fa {
    position: absolute;
    top: 0;
    right: 15px;
    /* background: #fff; */
    color: #3ca7be;
    width: auto;
    height: auto;
    text-align: center;
    line-height:inherit;
    font-size: 18px;
}
.main_content_form input, .main_content_form select {
    width: 100%;
    border: 1px solid #fff;
    height: 32px;
    padding-left: 12px;
    border-radius: 0px;
	color: #2b2b2b;
}
.submit_field {
    width: 165px;
    margin-right: 0px !important;
    margin-top:33px;
}
.submit_field .tab_search {
    position: absolute;
    top: 0;
    right: 0;
    width: 37px;
    height: 32px;
    background: #fdb714;
    border-radius: 0px;
    color: #fff;
}
.main_content_form .pull_left label {
    text-transform: capitalize;
    color: #2b2b2b;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 0px;
    margin-left: 14px;
    font-size: 16px;
}
.submit_field  .search_tabs {
    background: #86b817;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding-left: 10px;
    text-align: center;
    border: none;
    padding-right: 38px;
}

/*----world section css start-----*/

.travelite_world_section {
    padding: 5% 0px;
}

.heding_middle_part p {
    color: #808b8d;
    line-height: 24px;
}
.heding_middle_part {
    text-align: center;
}

.heding_middle_part h3 {
    font-weight: 700;
    color: #2c3e50;
	padding-bottom: 15px;
}

.heding_middle_part h3:after {
    top: 4px;
}
.heding_middle_part {
	position: relative;
	
}
.heding_middle_part h3:after, .heding_middle_part h3:before {
    content:"\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107";
    display: inline-block;
    font: normal normal normal 9px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    width: 100px;
    height: 3px;
    color: #86b817;
    position: absolute;
    left: 0;
    right: 0;
    margin: 18px auto 0 auto;
    letter-spacing: -0.15em;
}

 /* ractangle part css start */
 button.slick-prev.slick-arrow {
    display: none !important;
}
button.slick-next.slick-arrow {
    display: none !important;
}
ul.slick-dots {
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-slide {
    outline: none;
}
ul.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
ul.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: #00000087;
    border: 0;
    outline: none;
    background: #0000;
    border: 1px solid #3ca7be;
    border-radius: 50px;
}
.slick-dots li button:hover, .slick-dots li button:focus, li.slick-active {
    outline: none;
    background: #3ca7be;
}
li.slick-active {
    background: #3ca7be;
    border: 1px solid #3ca7be;
    border-radius: 50px;
}
.col_25 {
    float: left;
    padding-right: 0%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.col_25:last-child{
		margin-right:0px;
}

.rectangle_wrapper{
		
}
.rectangle_wrapper {
    text-align: center;
}

.rectangle_wrapper .fas {
    background: #3ca7be;
    color: #fff;
    border-radius: 5em;
    border: 0px solid #fff;
}
.circle_icon .big_circle {
    width: 127px;
    height: 127px;
    line-height: 127px;
    font-size: 30px;
    position: relative;
    z-index: 999;
    top: 0;
    top: 58px;
}
.circle_icon .small_circle {
    width: 50px;
    height: 50px;
    line-height: 58px;
    font-size: 26px;
    position: relative;
    bottom: 20px;
    font-weight: 600;
}
.inner_ovelay p {
    text-transform: capitalize;
    color: #000000;
    font-style: normal;
    padding-top: 30px;
    line-height: 14px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 14px;
}
.inner_ovelay h2 {
    font-size: 26px;
    color: #3ca7be;
    font-weight: 300;
    text-transform: uppercase;
    margin: 10px 0;
}
.inner_ovelay h5{
	color: #000000;
    font-style: normal;
    padding-top:0px;
    line-height: 14px;
	font-size: 20px;
}
.inner_ovelay input[type="checkbox"] {
    visibility: hidden;
    float: left;
}
.inner_ovelay input[type="checkbox"] + label:before {
    border: 1px solid #3ca7be;
    content: "\00a0";
    display: inline-block;
    height: 20px;
    margin: -2px 10px 0 0;
    padding: 0;
    vertical-align: top;
    width: 20px;
}
.inner_ovelay input[type="checkbox"]:checked + label:before {
    background: #fff;
    color: #3ca7be;
    content: "\2713";
    text-align: center;
    font-size: 14px;
    font-weight: 900;
}
.inner_ovelay h4 {
    position: relative;
    line-height: 24px;
    color: #3ca7be;
    display: inline-block;
    width: 160px;
    font-size: 44px;
    font-weight: 400;
}

.ractangle_box_cover .ractangle_inner .inner_ovelay {
   background: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
   height: 100%; 
    padding-top:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    margin-top: -10px;
    padding-bottom: 20px;
    min-height: 200px;
}
.full_width.ractangle_inner:hover{
    box-shadow: 0px 0px 10px #717171;
}
.ractangle_box_cover:hover .circle_icon .small_circle {
    width: 50px;
    height: 50px;
    position: relative;
    box-shadow: 0px 0px 10px #717171;
}

.ractangle_box_cover .fa-arrow-right:before {
    content: " ";
    background: url(../images/right-fav-icon.png) no-repeat;
    float: left;
    width: auto;
    height: auto;
    padding: 15px;
    position: absolute;
    top: 15px;
    left: 12px;
}

.ractangle_box_cover .ractangle_inner {
  position:relative;
  overflow:hidden;
  box-shadow: 0px 0px 10px #717171;
}
.ractangle_box_cover .circle_icon{
		float:left;
        width:100%;
        height: 70px;
}
/* 

.ractangle_box_cover:hover .inner_ovelay  h4{
    color: #ffffff;
}
.ractangle_box_cover:hover .inner_ovelay  p{
		color:#ffffff;
}
.ractangle_box_cover:hover .circle_icon .fa {
	background:#959595;	
}
.ractangle_box_cover:hover .inner_ovelay h4:after {
    background: #fff;
} */

.ractangle_box_cover .ractangle_inner  img{
		width:100%;
		border-radius: 10px;
	/* 	transform: translateX(-100px);
	-webkit-transform: translateX(-100px);
	-ms-transform: translateX(-100px);
	-moz-transform: translateX(-100px);
	-o-transform: translateX(-100px); */
		
}

.ractangle_box_cover:hover .ractangle_inner img{
	transform: translateX(0px);
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
}
/* .inner_ovelay h4:after {
    position: absolute;
    display: block;
    content: "";
    background: #d22027;
    height: 3px;
    width: 33px;
    left: 35%;
    bottom: -22px;
} */


 /* ractangle part css end */
/*----world section css end-----*/

/* resonsive media query */
@media (min-width:992px) and (max-width:1200px){
	.destination_field {
		width: 175px;
	}
	.check_in_field {
		width: 130px;
	}
	.room_select_field {
		width: 85px;
	}
	.submit_field {
	  width: 125px;
	}
	
	/*-----ractangle boxes---*/
	.ractangle_box_cover .ractangle_inner .inner_ovelay{
		padding-top: 70px;
	}
}



/*------package section css start----------*/
.travelite_package_section{
		/* background: url('../images/Home/packge_bg.jpg')no-repeat; */
		/* background-size:cover; */
		background-color: #fff;
		padding-top: 70px;
	   /*  padding-bottom: 90px; */
}

.packages_heading_para h3 {
    font-weight: 700;
    color: #d22027;
}

.packages_heading_para p {
    color: #000;
    line-height: 24px;
}
.hnmn_pack_content {
    background: #ffffff;
}
.hnmn_pack_content p {
    color: #666666;
    line-height: 24px;
}
.hnmn_pack_content .package_title {
    color: #101010;
    text-transform: capitalize;
    margin-bottom: 0px;
    letter-spacing: 0;
    font-size: 38px;
    font-weight: 400;
}
.hnmn_packages .hnmn_pack_content span {
    font-size: 27px;
    width: 100%;
    float: left;
    color: #101010;
}
p.day-night {
    font-size: 27px;
    margin-top: 20px;
	float: left;
	color: #101010;
}
p.start-rs {
    float: right;
    font-size: 22px;
    width: 40%;
}

a.black_btn.all_pack_btn {
    border: none;
    background: none;
    color: #3ca7be;
    font-size: 40px;
    display: inline-flex;
    float: left;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    text-decoration: none;
}
 
.black_btn{
	color: #ffffff;
	background: #222222;
	 text-transform: uppercase;
	 text-align: center;
}
.all_pack_btn {
    width: 109px;
    height: 26px;
    float: right;
    font-size: 10px;
    line-height:23px;
}
.half-width p.start-rs {
    float: right;
    font-size: 20px;
    width: 100%;
	margin-top: 30px;
	color: #101010;
}
.control-pad {
    width: 100%;
    float: left;
    padding-bottom: 10%;
}
.control-pad ul.slick-dots {
    position: absolute;
    bottom: -50px;
}
.widget.widget_links h4, #footer_wrapper .widget h4 {
    font-size: 18px;
    color: #000;
    float: left;
    width: 100%;
}
.widget.widget_links ul{
    padding: 0;
}
.widget.widget_links li a {
    font-size: 18px;
    float: left;
    width: 100%;
    margin: 3px 0;
}
.widget.widget_links li a:hover {
    color: #d22027;
}
.half-width .hnmn_packages .hnmn_pack_thumb {
    width: 57%;
}
.half-width .hnmn_packages .hnmn_pack_content{
width: 40%;
}
.hnmn_packages .hnmn_pack_thumb {
    float: left;
    /*width: 200px;*/
    width: 100%;
    position: relative;
     overflow: hidden;
}
.hnmn_packages .hnmn_pack_thumb img {
   width: 100%;
}
.hnmn_packages .hnmn_pack_content {
    float: left;
    width: 100%;
    padding: 20px;
}

.overlay_package {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(34, 34, 34,0.5); 
    opacity:0; 
}

.overlay_package a{
	float: left;
	width:100%;
	height: 100%;
}

.hnmn_pack_thumb:hover .overlay_package{
	opacity:1;
	
}
.overlay_package i.fa {
    color: #ffffff;
    border-radius: 5em;
    height: 45px;
    width: 45px;
    font-size: 24px;
    line-height: 41px;
    border: 3px solid #ffffff;
    text-align: center;
    margin: 35% 39%;
}
.hnmn_packages {
    margin-top: 30px;
    border-radius: 20px;
    float: left;
    width: 100%;
    box-shadow: 0px 0px 10px #ccc;
    position: relative;
    overflow: hidden;
}
.hnmn_packages:hover {
    box-shadow: 0px 0px 20px #999;
}
.hnymn_package_button {
    margin-top: 50px;
}
.hnymn_package_button a {
    display: inline-block;
    width: 138px;
    height: 42px;
    border: 1px solid #ffffff;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    line-height: 41px;
    margin-right: 8px;
	margin-bottom:5px;
}
.hnymn_package_button a:hover {
    background: #86b817;
    border-color: transparent;
}
.right_side_img {
    float: left;
    width: 100%;
}
/*------package section css End----------*/







img.gray-c {
    display: none;
}

.slider_tabs .wsa_tab ul li a.active img.gray-c {
    display: block;
}
.slider_tabs .wsa_tab ul li a.active img.red-c{
	display: none;
}
.slider_tabs .wsa_tab ul li a.active:hover img.red-c  {
    display: none;
}
.slider_tabs .wsa_tab ul li img {
    width: 46px;
    height: 46px;
    margin: 0 auto;
    float: left;
}

.sorting_places_wrap, .sort_place_icons li, img {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.inner_ovelay, img, .submit_subscribe, .feature_overlay, .feature_box_content, .feature_overlay h4, .overlay_package, a, .large_slide_btn, i, .feature_overlay, h4, h3 {
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.slider_tabs .wsa_tab ul li a.active {
    background: #fff;
    border-color: transparent;
    color: #ffffff;
    text-decoration: none;
    width: 100%;
    background: #3ca7be;
}
.slider_tabs .wsa_tab ul li {
    float: left;
    list-style: none;
    width: auto;
    text-align: center;
    border: 1px solid #3ca7be;
    border-left: 0.5px;
}
.slider_tabs .wsa_tab ul li a span {
    display: block;
}

.radio-section-grp {
    margin-top: 0px !important;
    float: left;
    background: #fff;
    padding: 12px;
    border-radius: 10px 10px 0px 0px;
    position: initial;
    top: 0;
    left: 0;
    width: 100%;
}
.radio-section-grp label {
    font-size: 14px;
    color: #3ca7be;
    margin-left: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.main_content_form input, .main_content_form select {
    width: 100%;
    border: 1px solid #fff;
    height: 48px;
    padding-left: 12px;
    border-radius: 0px;
    color: #000;
    font-size: 38px;
}
::placeholder{
	font-size: 16px;
	color: #101010;
}

.radio-section-grp input[type="checkbox"], .radio-section-grp input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    width: auto;
    border: none;
    height: auto;
    padding-left: 12px;
    border-radius: 0px;
    color: #2b2b2b;
}
.radio-section-grp input[type="radio"], .radio-section-grp input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}
.main_content_form input {
    border-bottom: 0px solid #3ca7be;
}

.radio-section-grp input[type="checkbox"], .radio-section-grp input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    width: auto;
    border: none;
    height: auto;
    padding-left: 12px;
    border-radius: 0px;
    color: #2b2b2b;
}
.full_width.slider_content_wrap form {
    position: relative;
    float: left;
    width: 100%;
}


input[type='radio']:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -4px;
    left: -1px;
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #3ca7be;
}
input[type='radio']:checked:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -4px;
    left: -1px;
    position: relative;
    background-color: #3ca7be;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #3ca7be;
}

.radio-section-grp label {
    font-size: 16px;
    color: #101010;
    margin-left: 10px;
    margin-right: 20px;
    cursor: pointer;
}
.full_width.slider_content_wrap .circle_icon {
	float: left;
    width: 100%;
    height: 70px;
}

.full_width.slider_content_wrap .circle_icon .small_circle {
	width: 50px;
    height: 50px;
    line-height: 58px;
    font-size: 26px;
    position: relative;
    bottom: 20px;
    font-weight: 600;
}

.full_width.slider_content_wrap .fa-arrow-right::after {
	content: " ";
    background: url(../images/right-fav-icon.png) no-repeat;
    float: left;
    width: auto;
    height: auto;
    padding: 15px;
    position: absolute;
    top: 15px;
    left: 12px;
}

.arrow-change-image {
    position: absolute;
    top: 17px;
    left: 269px !important;
    z-index: 999;
    cursor: pointer;
}
.main_content_form .pull_left p {
    margin-left: 14px;
    color: #101010;
    margin-top: 9px;
    font-size: 12px;
    height: auto;
    line-height: initial;
    float: left;
}

#car_search .room_select_field {
    width: 250px;
    border-right: 1px solid #3ca7be !important;
    padding: 5px;
}
#car_search .room_select_field:last-child {
    width: 250px;
    border-right: 0px solid #3ca7be !important;
}
.full_width.slider_content_wrap #car_search form {
    border-top: 0px solid #3ca7be;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: left;
    text-transform: capitalize;
    color: #101010;
    font-size: 20px;
    line-height: 26px;
}

div#cruise .room_select_field {
    width: 168px;
    border-right: 1px solid #3ca7be !important;
}
div#cruise .room_select_field:last-child {
    width: 168px;
    border-right: 0px solid #3ca7be !important;
}

.full_width.slider_content_wrap #cruise form {

    border-top: 0px solid #3ca7be;
}
.search-filter-opt {
    margin-top: -60px;
    position: relative;
    z-index: 999;
}
.carousel-indicators {
    bottom: 60px;
}


.ractangle_box_cover .ractangle_inner .inner_ovelay ul{
    width: 100%;
    float: left;
}

.ractangle_box_cover .ractangle_inner .inner_ovelay ul li {
    width: 19%;
    float: left;
    margin: 3%;
}
.ractangle_box_cover .ractangle_inner .inner_ovelay li img{
    width: 100%;
}

.hotel-slider .ractangle_box_cover .ractangle_inner .inner_ovelay {

    min-height: 146px;
}
.hotel-slider .inner_ovelay h2 {
    color: #101010;
}
.hotel-slider .inner_ovelay h2 i.fa.fa-star{
    color: #ffe600;
}
.full_width.rectangle_wrapper.style-sec li {
    width: 14%;
    float: left;
    font-size: 18px;
    color: #101010;
    margin: 1%;
    text-transform: uppercase;
}

.partner-sec li {
    width: 16%;
    float: left;
    margin: 0.3%;
}
.partner-sec li img{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.slick-list.draggable .full_width .fas {
    background: #3ca7be;
    color: #fff;
    border-radius: 5em;
    border: 0px solid #fff;
}
.slick-list.draggable .full_width .fa-arrow-right:before {
    content: " ";
    background: url(../images/right-fav-icon.png) no-repeat;
    float: left;
    width: auto;
    height: auto;
    padding: 15px;
    position: absolute;
    top: 23px;
    left: 20px;
}
.slick-list.draggable .full_width .circle_icon .small_circle {
    width: 68px;
    height: 68px;
    line-height: 58px;
    font-size: 26px;
    position: relative;
    font-weight: 600;
}
.slick-list.draggable .full_width .circle_icon{
    position: absolute;
    left: -35px;
    top: 50%;
    right: initial;
}
#half-width .full_width .circle_icon {
    position: absolute;
    top: 50%;
    right: -35px;
    left: inherit;
}


.full_width.slider_content_wrap .flight-box-section .circle_icon {
    float: right;
    width: auto;
    height: 70px;
    position: absolute;
    right: -41px;
    left: inherit;
    bottom: 0;
}

.full_width.slider_content_wrap .flight-box-section .circle_icon .small_circle {
    width: 50px;
    height: 50px;
    line-height: 58px;
    font-size: 26px;
    position: relative;
    bottom: 20px;
    font-weight: 600;
}

.full_width.slider_content_wrap .flight-box-section .fas {
    background: #3ca7be;
    color: #fff;
    border-radius: 5em;
    border: 0px solid #fff;
}

.full_width.slider_content_wrap .flight-box-section .fa-arrow-right:before {
    content: " ";
    background: url(../images/right-fav-icon.png) no-repeat;
    float: left;
    width: auto;
    height: auto;
    padding: 15px;
    position: absolute;
    top: 15px;
    left: 12px;
}

.input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group {
    margin-right: 0;
    background: #3ca7be;
    opacity: 1;
    border: none;
    border-radius: 50px;
    padding: 0px 12px 7px;
    margin: 3px;
    color: #000;
    font-size: 20px;
}

.main_content_form input, .main_content_form select {
    width: 100%;
    border: 1px solid #fff;
    height: 32px;
    padding-left: 12px;
    border-radius: 0px;
    color: #000;
    font-size: 16px;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    background: #3ca7be;
    opacity: 1;
    border: none;
    border-radius: 50px;
    padding:  0px 12px 7px;
    margin: 3px;
    color: #000;
    font-size: 20px;
    font-weight: 400;
}
.fly-checkbox {
    width: 100%;
    float: left;
    padding: 0 12px;
}

.fly-checkbox select {
    width: 100%;
    float: left;
    margin: 12px 0;
    border: 1px solid #3ca7be;
    outline: none;
}
#transfer_search .pull_left.destination_field-car {
    width: 100%;
    height: 100px;
    padding: 0px;
    border-right: 0px solid #3ca7be;
}

.full_width.slider_content_wrap #local_hospital_search .flight-box-section .circle_icon {
    right: -27px;
    left: inherit;
    bottom: -14px;
}

#cruise .pull_left.destination_field {
    width: 25%;
}
.airport_list, .airport_list2{
    z-index: 9999;
    width: min-content;
}
#LinkButton2 i.fa.fa-plus {
    position: relative;
}
.airport_list li, .airport_list2 li {
    float: left;
}
.airport_list li:hover, .airport_list2 li:hover {
    background: #fff;
    color: #000;
}
.airport_list li:hover p, .airport_list2 li:hover p {
    color: #000 !important;
}
.multi-add {
    width: 100%;
    float: left;
    margin: 10px 0;
    position: relative;
    border-top: 1px solid #3ca7be;
    padding: 0px 0;
}
a#addCity {
    float: right;
    position: absolute;
    top: 50%;
    right: 10%;
}
a#addCity i.fa.fa-plus {
    position: relative;
}
.multi-box {
    width: 733px;
    float: left;
    border-bottom: 1px solid #3ca7be;
}
.multi-add .multi-box:last-child {
    border-bottom: 0px solid #3ca7be;
}

.close-multy-box {
    position: relative;
    float: right;
    margin-right: -100px;
}
i.fa.fa-times-circle {
    font-size: 30px;
}

#hotel_search .destination_field {
    width: 347px;
    padding: 4px 4px 3px 3px;
}

.oneroom.fltravlr h3 {
    background: #ccc;
    text-align: center;
    padding: 7px;
    font-size: 16px;
    margin: 0;
}

a#add-other-room {
    padding: 0 13px 10px;
    float: left;
    font-size: 14px;
    color: #000;
}
a#add-other-room:hover {
   text-decoration: none;
    color: #000;
}