html,
body {height: 100%;}
body {background:#eee;margin:0;font-family: 'roboto', sans-serif;font-size:12px;overflow-x: hidden;}
ul, li{list-style:none;margin:0; padding:0;}
div, a, ul, li, nav, input, select, button{outline:none !important;}
a{cursor:pointer;}
a:hover, a:focus{text-decoration:none;}
/*header*/
.fiveh {
    padding: 0 5px;
}
.formcontnt { color: #ffffff;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 15px;}
.dropdown-menu.mysign {left: auto;overflow: visible;padding: 0;right: 0;width: 300px;}
.dropdown-menu.mysign1 {left: auto;overflow: visible;padding: 10px 0;right: 0;width: 160px;}
.mysign1 li{display: block;overflow: hidden; margin: 2px 5px;position: relative;}
.mysign1 li:nth-child(2n+1){background: #f5f5f5 none repeat scroll 0 0;}
.mysign1 li.active, .mysign1 li:hover{background: #eeeeee none repeat scroll 0 0;}
.mysign1 li.active a, .mysign1 li:hover a{background: #f52007 none repeat scroll 0 0;color: #ffffff;-webkit-transition:all 400ms ease-in-out 0s; -moz-transition:all 400ms ease-in-out 0s; -o-transition:all 400ms ease-in-out 0s;transition:all 400ms ease-in-out 0s;}
.mysign1 li a,.mysign1 li.active a:hover, .mysign1 li.active a:focus, .mysign1 li.active a { display: block;overflow: hidden;padding: 0;text-align: center;background: rgba(0, 0, 0, 0) none repeat scroll 0 0;color: #333333;}
.signdiv {display: table;padding: 15px; position:relative; width:100%;}
.lodrefrentrev {background: rgba(255, 255, 255, 0.8) url("../images/preloader.gif") no-repeat scroll center center;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10000;}
.preloading{  background: #ffffff url("../images/preloader.gif") no-repeat scroll center center;border-radius: 10px;box-shadow: 0 0 10px -5px #909090;height: 50px;left: 50%;margin-left: -50px;margin-top: -25px;min-width: auto;position: absolute;top: 50%;width: 100px;padding: 5%;text-align: center;}
.sprte.inr {background-position: -6px -351px;}
.forgets, .logins, .registers{ display:none; -webkit-transition:all 400ms ease-in-out 0s; -moz-transition:all 400ms ease-in-out 0s; -o-transition:all 400ms ease-in-out 0s;transition:all 400ms ease-in-out 0s;}
.forgets.active, .logins.active, .registers.active{ display:block}
.curecyshown{display:none;}
.sprte.gbp {background-position: -6px -308px;}
.sprte.aud {background-position: -6px -268px;}
.sprte.usd {background-position: -6px -436px;}
.flag {width: 32px;height: 32px;background: rgba(0, 0, 0, 0) url("../images/flags.png") no-repeat scroll 0 0;}
.flag.flag-ad {background-position: -32px 0}
.flag.flag-ae {background-position: -64px 0}
.flag.flag-af {background-position: -96px 0}
.flag.flag-ag {background-position: -128px 0}
.flag.flag-ai {background-position: -160px 0}
.flag.flag-al {background-position: -192px 0}
.flag.flag-am {background-position: -224px 0}
.flag.flag-an {background-position: -256px 0}
.flag.flag-ao {background-position: -288px 0}
.flag.flag-ar {background-position: -320px 0}
.flag.flag-as {background-position: -352px 0}
.flag.flag-at {background-position: -384px 0}
.flag.flag-au {background-position: -416px 0}
.flag.flag-aw {background-position: -448px 0}
.flag.flag-az {background-position: 0 -32px}
.flag.flag-ba {background-position: -32px -32px}
.flag.flag-bb {background-position: -64px -32px}
.flag.flag-bd {background-position: -96px -32px}
.flag.flag-be {background-position: -128px -32px}
.flag.flag-bf {background-position: -160px -32px}
.flag.flag-bg {background-position: -192px -32px}
.flag.flag-bh {background-position: -224px -32px}
.flag.flag-bi {background-position: -256px -32px}
.flag.flag-bj {background-position: -288px -32px}
.flag.flag-bm {background-position: -320px -32px}
.flag.flag-bn {background-position: -352px -32px}
.flag.flag-bo {background-position: -384px -32px}
.flag.flag-br {background-position: -416px -32px}
.flag.flag-bs {background-position: -448px -32px}
.flag.flag-bt {background-position: 0 -64px}
.flag.flag-bw {background-position: -32px -64px}
.flag.flag-by {background-position: -64px -64px}
.flag.flag-bz {background-position: -96px -64px}
.flag.flag-ca {background-position: -128px -64px}
.flag.flag-cd {background-position: -160px -64px}
.flag.flag-cf {background-position: -192px -64px}
.flag.flag-cg {background-position: -224px -64px}
.flag.flag-ch {background-position: -256px -64px}
.flag.flag-ci {background-position: -288px -64px}
.flag.flag-ck {background-position: -320px -64px}
.flag.flag-cl {background-position: -352px -64px}
.flag.flag-cm {background-position: -384px -64px}
.flag.flag-cn {background-position: -416px -64px}
.flag.flag-co {background-position: -448px -64px}
.flag.flag-cr {background-position: 0 -96px}
.flag.flag-cu {background-position: -32px -96px}
.flag.flag-cv {background-position: -64px -96px}
.flag.flag-cy {background-position: -96px -96px}
.flag.flag-cz {background-position: -128px -96px}
.flag.flag-de {background-position: -160px -96px}
.flag.flag-dj {background-position: -192px -96px}
.flag.flag-dk {background-position: -224px -96px}
.flag.flag-dm {background-position: -256px -96px}
.flag.flag-do {background-position: -288px -96px}
.flag.flag-dz {background-position: -320px -96px}
.flag.flag-ec {background-position: -352px -96px}
.flag.flag-ee {background-position: -384px -96px}
.flag.flag-eg {background-position: -416px -96px}
.flag.flag-eh {background-position: -448px -96px}
.flag.flag-er {background-position: 0 -128px}
.flag.flag-es {background-position: -32px -128px}
.flag.flag-et {background-position: -64px -128px}
.flag.flag-fi {background-position: -96px -128px}
.flag.flag-fj {background-position: -128px -128px}
.flag.flag-fm {background-position: -160px -128px}
.flag.flag-fo {background-position: -192px -128px}
.flag.flag-fr {background-position: -224px -128px}
.flag.flag-ga {background-position: -256px -128px}
.flag.flag-gb {background-position: -288px -128px}
.flag.flag-gd {background-position: -320px -128px}
.flag.flag-ge {background-position: -352px -128px}
.flag.flag-gg {background-position: -384px -128px}
.flag.flag-gh {background-position: -416px -128px}
.flag.flag-gi {background-position: -448px -128px}
.flag.flag-gl {background-position: 0 -160px}
.flag.flag-gm {background-position: -32px -160px}
.flag.flag-gn {background-position: -64px -160px}
.flag.flag-gp {background-position: -96px -160px}
.flag.flag-gq {background-position: -128px -160px}
.flag.flag-gr {background-position: -160px -160px}
.flag.flag-gt {background-position: -192px -160px}
.flag.flag-gu {background-position: -224px -160px}
.flag.flag-gw {background-position: -256px -160px}
.flag.flag-gy {background-position: -288px -160px}
.flag.flag-hk {background-position: -320px -160px}
.flag.flag-hn {background-position: -352px -160px}
.flag.flag-hr {background-position: -384px -160px}
.flag.flag-ht {background-position: -416px -160px}
.flag.flag-hu {background-position: -448px -160px}
.flag.flag-id {background-position: 0 -192px}
.flag.flag-ie {background-position: -32px -192px}
.flag.flag-il {background-position: -64px -192px}
.flag.flag-im {background-position: -96px -192px}
.flag.flag-in {background-position: -128px -192px}
.flag.flag-iq {background-position: -160px -192px}
.flag.flag-ir {background-position: -192px -192px}
.flag.flag-is {background-position: -224px -192px}
.flag.flag-it {background-position: -256px -192px}
.flag.flag-je {background-position: -288px -192px}
.flag.flag-jm {background-position: -320px -192px}
.flag.flag-jo {background-position: -352px -192px}
.flag.flag-jp {background-position: -384px -192px}
.flag.flag-ke {background-position: -416px -192px}
.flag.flag-kg {background-position: -448px -192px}
.flag.flag-kh {background-position: 0 -224px}
.flag.flag-ki {background-position: -32px -224px}
.flag.flag-km {background-position: -64px -224px}
.flag.flag-kn {background-position: -96px -224px}
.flag.flag-kp {background-position: -128px -224px}
.flag.flag-kr {background-position: -160px -224px}
.flag.flag-kw {background-position: -192px -224px}
.flag.flag-ky {background-position: -224px -224px}
.flag.flag-kz {background-position: -256px -224px}
.flag.flag-la {background-position: -288px -224px}
.flag.flag-lb {background-position: -320px -224px}
.flag.flag-lc {background-position: -352px -224px}
.flag.flag-li {background-position: -384px -224px}
.flag.flag-lk {background-position: -416px -224px}
.flag.flag-lr {background-position: -448px -224px}
.flag.flag-ls {background-position: 0 -256px}
.flag.flag-lt {background-position: -32px -256px}
.flag.flag-lu {background-position: -64px -256px}
.flag.flag-lv {background-position: -96px -256px}
.flag.flag-ly {background-position: -128px -256px}
.flag.flag-ma {background-position: -160px -256px}
.flag.flag-mc {background-position: -192px -256px}
.flag.flag-md {background-position: -224px -256px}
.flag.flag-me {background-position: -256px -256px}
.flag.flag-mg {background-position: -288px -256px}
.flag.flag-mh {background-position: -320px -256px}
.flag.flag-mk {background-position: -352px -256px}
.flag.flag-ml {background-position: -384px -256px}
.flag.flag-mm {background-position: -416px -256px}
.flag.flag-mn {background-position: -448px -256px}
.flag.flag-mo {background-position: 0 -288px}
.flag.flag-mq {background-position: -32px -288px}
.flag.flag-mr {background-position: -64px -288px}
.flag.flag-ms {background-position: -96px -288px}
.flag.flag-mt {background-position: -128px -288px}
.flag.flag-mu {background-position: -160px -288px}
.flag.flag-mv {background-position: -192px -288px}
.flag.flag-mw {background-position: -224px -288px}
.flag.flag-mx {background-position: -256px -288px}
.flag.flag-my {background-position: -288px -288px}
.flag.flag-mz {background-position: -320px -288px}
.flag.flag-na {background-position: -352px -288px}
.flag.flag-nc {background-position: -384px -288px}
.flag.flag-ne {background-position: -416px -288px}
.flag.flag-ng {background-position: -448px -288px}
.flag.flag-ni {background-position: 0 -320px}
.flag.flag-nl {background-position: -32px -320px}
.flag.flag-no {background-position: -64px -320px}
.flag.flag-np {background-position: -96px -320px}
.flag.flag-nr {background-position: -128px -320px}
.flag.flag-nz {background-position: -160px -320px}
.flag.flag-om {background-position: -192px -320px}
.flag.flag-pa {background-position: -224px -320px}
.flag.flag-pe {background-position: -256px -320px}
.flag.flag-pf {background-position: -288px -320px}
.flag.flag-pg {background-position: -320px -320px}
.flag.flag-ph {background-position: -352px -320px}
.flag.flag-pk {background-position: -384px -320px}
.flag.flag-pl {background-position: -416px -320px}
.flag.flag-pr {background-position: -448px -320px}
.flag.flag-ps {background-position: 0 -352px}
.flag.flag-pt {background-position: -32px -352px}
.flag.flag-pw {background-position: -64px -352px}
.flag.flag-py {background-position: -96px -352px}
.flag.flag-qa {background-position: -128px -352px}
.flag.flag-re {background-position: -160px -352px}
.flag.flag-ro {background-position: -192px -352px}
.flag.flag-rs {background-position: -224px -352px}
.flag.flag-ru {background-position: -256px -352px}
.flag.flag-rw {background-position: -288px -352px}
.flag.flag-sa {background-position: -320px -352px}
.flag.flag-sb {background-position: -352px -352px}
.flag.flag-sc {background-position: -384px -352px}
.flag.flag-sd {background-position: -416px -352px}
.flag.flag-se {background-position: -448px -352px}
.flag.flag-sg {background-position: 0 -384px}
.flag.flag-si {background-position: -32px -384px}
.flag.flag-sk {background-position: -64px -384px}
.flag.flag-sl {background-position: -96px -384px}
.flag.flag-sm {background-position: -128px -384px}
.flag.flag-sn {background-position: -160px -384px}
.flag.flag-so {background-position: -192px -384px}
.flag.flag-sr {background-position: -224px -384px}
.flag.flag-st {background-position: -256px -384px}
.flag.flag-sv {background-position: -288px -384px}
.flag.flag-sy {background-position: -320px -384px}
.flag.flag-sz {background-position: -352px -384px}
.flag.flag-tc {background-position: -384px -384px}
.flag.flag-td {background-position: -416px -384px}
.flag.flag-tg {background-position: -448px -384px}
.flag.flag-th {background-position: 0 -416px}
.flag.flag-tj {background-position: -32px -416px}
.flag.flag-tl {background-position: -64px -416px}
.flag.flag-tm {background-position: -96px -416px}
.flag.flag-tn {background-position: -128px -416px}
.flag.flag-to {background-position: -160px -416px}
.flag.flag-tr {background-position: -192px -416px}
.flag.flag-tt {background-position: -224px -416px}
.flag.flag-tv {background-position: -256px -416px}
.flag.flag-tw {background-position: -288px -416px}
.flag.flag-tz {background-position: -320px -416px}
.flag.flag-ua {background-position: -352px -416px}
.flag.flag-ug {background-position: -384px -416px}
.flag.flag-us {background-position: -416px -416px}
.flag.flag-uy {background-position: -448px -416px}
.flag.flag-uz {background-position: 0 -448px}
.flag.flag-va {background-position: -32px -448px}
.flag.flag-vc {background-position: -64px -448px}
.flag.flag-ve {background-position: -96px -448px}
.flag.flag-vg {background-position: -128px -448px}
.flag.flag-vi {background-position: -160px -448px}
.flag.flag-vn {background-position: -192px -448px}
.flag.flag-vu {background-position: -224px -448px}
.flag.flag-ws {background-position: -256px -448px}
.flag.flag-ye {background-position: -288px -448px}
.flag.flag-za {background-position: -320px -448px}
.flag.flag-zm {background-position: -352px -448px}
.flag.flag-zw {background-position: -384px -448px}
.curncy_img {float: left;height: 30px;width: 30px;}
.signdivup{}

.name_currency {float: left;font-size: 14px;line-height: 30px;padding: 0 8px;font-weight: 500;}
.side_curency {display: block;
    line-height: 30px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 125px;}
.leftpul {display: table;margin: 0 auto;}
.facecolor {background: #3b5998 none repeat scroll 0 0;}
.logspecify {border-radius: 100%;display: table;float: left;height: 40px;margin: 8px;overflow: hidden;width: 40px;}
.logspecify .fa {color: #ffffff;float: left;font-size: 22px;line-height: 40px;text-align: center;width: 40px;}
.mensionsoc {color: #ffffff;display: block;font-size: 16px;line-height: 20px;overflow: hidden;text-align: center;}
.tweetcolor {background: #2aa9e0 none repeat scroll 0 0;}
.gpluses {background: #d3492c none repeat scroll 0 0;}
.centerpul {display: block;margin: 10px 0;overflow: hidden;position: relative;text-align: center;}
.centerpul::after {background: #dddddd none repeat scroll 0 0;content: "";height: 1px;left: 0;position: absolute;right: 0;top: 50%;}
.orbar {background: #cccccc none repeat scroll 0 0;border-radius: 30px;color: #333333;display: block;height: 30px;line-height: 30px;margin: 0 auto;overflow: hidden;position: relative;width: 30px;z-index: 10;}
.orbar strong {font-weight: 300;}
.ritpul {}
.rowput {float: left;margin-bottom: 15px;position: relative;width: 100%;}
.rowput .fa {background: #f5f5f5 none repeat scroll 0 0;border-radius: 3px 0 0 3px;color: #bbbbbb;font-size: 22px;left: 2px;line-height: 38px;position: absolute;text-align: center;top: 2px;width: 35px;}
.rowput input {padding: 6px 6px 6px 45px;}
input.logpadding {height: 45px;
    padding: 0 15px;
    text-align: center;}
.forgtpsw {color: #2aa9e0;float: right;line-height: 22px;}
.submitlogin {
    background: #f52007 none repeat scroll 0 0;
    border: 1px solid #f52007;
    border-radius: 3px;
    color: #ffffff;
    display: table;
    font-size: 18px;
    line-height: 20px;
    margin: 12px auto;
    overflow: hidden;
    padding: 15px 0;
    text-transform: uppercase;
    width: 200px;
    -webkit-transition:all 400ms ease-in-out 0s; -moz-transition:all 400ms ease-in-out 0s; -o-transition:all 400ms ease-in-out 0s;transition:all 400ms ease-in-out 0s;    box-shadow: none;}
.misclog {display: block;
    float: left;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
    width: 100%;}
.dntacnt {border: 1px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;
    display: table;
    font-size: 14px;
    line-height: 20px;
    margin: 10px auto auto;
    overflow: hidden;
    padding: 5px 10px;
    text-align: center;-webkit-transition:all 400ms ease-in-out 0s; -moz-transition:all 400ms ease-in-out 0s; -o-transition:all 400ms ease-in-out 0s;transition:all 400ms ease-in-out 0s;}
.dntacnt:hover{background: #ffffff none repeat scroll 0 0;
    color: #00a7ff;}

.nopad{ padding:0px;}
.topssec {background: #ffffff none repeat scroll 0 0;border-bottom: 1px solid #fff;box-shadow: 0 2px 8px -5px #000;float: left;height: 90px;position: relative;transition: all 400ms ease-in-out 0s;width: 100%;z-index: 10000000;}
.logo {float: left;/*padding: 8px 0; line-height:90px;  */width:180px;-webkit-transition:all 400ms ease-in-out 0s;-moz-transition:all 400ms ease-in-out 0s;-o-transition:all 400ms ease-in-out 0s;transition:all 400ms ease-in-out 0s;padding: 10px 3px;}
.tagline{font-size: 18px;font-weight: 500;line-height: 70px;margin: 0 10px; color:#2b2b2b;-webkit-transition:all 400ms ease-in-out 0s; -moz-transition:all 400ms ease-in-out 0s; -o-transition:all 400ms ease-in-out 0s;transition:all 400ms ease-in-out 0s;}
.logo img {-webkit-transition: all 400ms ease-in-out 0s;-moz-transition: all 400ms ease-in-out 0s;-o-transition: all 400ms ease-in-out 0s;transition: all 400ms ease-in-out 0s;max-height: 74px !important;width: 100%;max-width: 180px;margin: auto;}
.ritsude {
    float: right;
    padding: 0px;
    line-height: 60px;
    -webkit-transition: all 400ms ease-in-out 0s;
    -moz-transition: all 400ms ease-in-out 0s;
    -o-transition: all 400ms ease-in-out 0s;
    transition: all 400ms ease-in-out 0s;
    text-align: center;
}
.topssec.fixed { height: 75px;}
.topssec.fixed .logo{padding: 7px 0;}
.topssec.fixed .logo img{max-width: 90%;}
.topssec.fixed .tagline{line-height: 65px;}
.topssec.fixed .ritsude{ padding: 3px 0;}
.sidebtn {float: left;position: relative;}
.topa {float: left; padding:0 !important;margin-right: 50px;}
.nomargin{ margin-right:0px;}
.mysign1.dashmenus1{ width:200px;}
.firsttop .topa{ margin-right:15px;}
.mysign:before {background: rgba(0, 0, 0, 0) url("../images/sprite.png") no-repeat scroll -239px -52px;content: "";height: 15px;left: 50%;margin-left: -14px;position: absolute;top: -11px;width: 28px;}
.mysign1:before {background: rgba(0, 0, 0, 0) url("../images/sprite.png") no-repeat scroll -239px -87px;content: "";height: 15px;left: 50%;margin-left: 25px;position: absolute;top: -11px;width: 28px;}
.dropdown-menu.mysign1 > ul {max-height: 200px;overflow-y: auto;}
.mysign1.curency_full {
    width: 600px;
}
.dropdown-menu.mysign1.curency_full li {
    background: #f5f5f5 none repeat scroll 0 0;
    float: left;
    width: 31.33%;
}
.dropdown-menu.mysign1.curency_full li.active a, .dropdown-menu.mysign1.curency_full li.active a:focus, .dropdown-menu.mysign1.curency_full li.active a:hover{ padding:0;}
.dropdown-menu.mysign1.curency_full::before {
    left: auto;
    right: 40px;
}
.nav > li > a.topa:hover, .nav > li > a.topa:focus, .nav .open > a, .nav .open > a.topa:hover, .nav .open > a.topa:focus{ background:none;}
.reglognorml {display: block;overflow: hidden;position: relative;}
.reglog {display: block;overflow: hidden;position: relative;}
.userimage {float: left;margin: 0 10px 0 0;overflow: hidden;width: 35px;}
.userimage img{ max-height:35px; width:100%;}
.userimage.user_profimag{    border-radius: 100%;
    float: left;
    height: 25px;
    line-height: 0;
    margin: 12px 10px 0 0;
    overflow: hidden;
    width: 25px;}
.userimage.user_profimag img{ min-height:25px;}
.userorlogin {color: #fff;
    display: block;
    float: left;
    font-size: 14px;
    max-width: 105px;
    overflow: hidden;
    padding-right: 20px;
    position:relative;
    text-overflow: ellipsis;
    white-space: nowrap;}
.userorlogin strong{font-weight:normal;}
.userorlogin::after{content:"\f078";
    color: #fff;
    font-family: "FontAwesome";
    font-size:13px;
    position: absolute;
    right: 0;}
.nav > li > a.agent_login {
    border: 1px solid #ddd;
    line-height: 20px;
    margin: 10px 0 0 10px;
    padding: 10px;
}
.fa.cartdown {color: #8c8888; font-size:13px;margin: 5px;}
.flags {color: #ffffff;
    float: left;
    font-size: 14px;
    margin: 10px;}
.logo strong{ color:#666; font-size:20px;}
#fadeandscalereg {margin: 0 auto;min-width: auto;overflow: hidden;}
.wellme {background-color: #ffffff;border: 1px solid #e3e3e3;border-radius: 4px;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;margin-bottom: 20px;max-width: 640px;min-height: 20px;min-width: 400px;padding: 15px; width:400px;}
.centerload {background: #ffffff none repeat scroll 0 0;border-radius: 5px;box-shadow: 0 0 10px -5px #000000;display: block;margin: 0 auto;max-width: 100%;min-width: 100%;padding: 307px;text-align: center;height:100%;}
.rember {display: table;
    font-size: 14px;
    line-height: 20px;
    margin: 0 auto;}
.signupterms {color: #ffffff;
    display: block;
    font-size: 13px;
    font-weight: normal;
    line-height: 25px;}
.ritsude li:last-child .topa {
    margin-right: 0;
}
/*  Dropdown  */
.dropdown > a { -webkit-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in;transition: all 0.2s ease-in;}
.dropdown-menu.animated {-webkit-animation-duration: 0.55s;animation-duration: 0.55s; -webkit-animation-timing-function: ease;  animation-timing-function: ease;}
.dropdown-menu.animated.fadeIn {-webkit-animation-duration: 0.45s; animation-duration: 0.45s; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out;  }
/*  Dropdown End */
/*search_tab*/
.ui-autocomplete.ui-corner-all{ border-radius:0px !important; margin-top:-2px !important;overflow-y:auto;overflow-x: hidden;max-height:200px;  }
.ui-menu .ui-menu-item{ border-bottom:1px solid #eee;}
.ui-menu .ui-menu-item .ui-state-focus{ margin:0px !important;}
div#ui-datepicker-div.ui-datepicker {background: #ffffff none repeat scroll 0 0;border: 0 none;border-radius: 3px;box-shadow: 0 0 10px -5px #000;margin: 0;overflow: hidden;padding: 0;width: auto !important;z-index: 100000002 !important;}
.ui-datepicker.ui-widget .ui-datepicker-prev::after, .ui-datepicker.ui-widget .ui-datepicker-next::after {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: 1px solid #ddd;border-radius: 3px;bottom: 3px;color: #999;font-family: "FontAwesome";font-size: 18px;
height: 30px;line-height: 30px;position: absolute;text-align: center;top: 0;width: 40px;z-index: 100;}
.ui-datepicker-next.ui-state-hover, .ui-datepicker-prev.ui-state-hover{ background:none;}
.ui-datepicker.ui-widget .ui-datepicker-header {background: #fff none repeat scroll 0 0;border: 0 none;border-radius: 0;padding: 8px;}
.ui-datepicker.ui-widget .ui-datepicker-prev::after {content: "\f053";left: 0;}
/*#ui-datepicker-div.ui-datepicker .ui-datepicker-title {line-height: 35px;
    margin: 0 45px;}*/
#ui-datepicker-div.ui-datepicker .ui-datepicker-title {
  line-height: 35px;
  margin: 0 2.3em;
  text-align: center;
}
.ui-datepicker-title .ui-datepicker-month, .ui-datepicker-year {color: #444;font-size: 16px;font-weight: 600;}
.ui-datepicker-multi.ui-widget .ui-datepicker-group table {margin: 8px auto;}
/*.ui-datepicker.ui-widget td{border:0;}*/
.ui-datepicker.ui-widget td {
  border: 1px solid #eee;
  font-size: 14px;
  height: 40px;
  padding: 0;
  text-align: center;
  width: 40px;
}
#ui-datepicker-div .ui-state-default, #ui-datepicker-div .ui-widget-content .ui-state-default {
  background: #ffffff none repeat scroll 0 0;
  border: 0 none;
  line-height: 40px;
  margin: 0;
  padding: 0;
  text-align: center;
  color:#3f3731;   
}
#ui-datepicker-div .ui-state-default:hover, #ui-datepicker-div .ui-widget-content .ui-state-default:hover {
    color:#23527c;
}
.ui-datepicker.ui-widget .ui-datepicker-calendar th {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;color: #999;font-weight: 300;}
.ui-datepicker.ui-widget td.ui-datepicker-other-month {border: medium none;}
.ui-datepicker.ui-widget .ui-datepicker-next::after {content: "\f054";right: 0;}
.ui-datepicker.ui-widget .ui-datepicker-prev span, .ui-datepicker.ui-widget .ui-datepicker-next span {display: none;}
.ui-datepicker-calendar thead{ border:none;}
.ui-datepicker-title select.ui-datepicker-month, .ui-datepicker-title select.ui-datepicker-year {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    color: #666666 !important;
    font-weight: normal !important;
    position:relative;
}


.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight, .ui-state-hover{border-radius:100%;}
.ui-datepicker.ui-widget td span, .ui-datepicker.ui-widget td a {
    border-radius: 100%;
    display: block;
    font-size: 13px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    width: 40px;
}
.ui-datepicker-group.ui-datepicker-group-first{border-right: 0px solid #ddd;}
.ui-datepicker-multi-2 .ui-datepicker-group{padding:0px;}

.cmsoom{ color: #ffffff;display: block;font-size: 30px;padding: 30px;}
.searchtabs{display: block;float: left;overflow: visible;width: 100%;}
.backsliding{float: left;position: relative;width: 100%;}
.backtabslide{display: block;height: 500px;overflow: hidden;width: 100%;}
.backtabslide img{ width:100%; max-height:500px; height:500px;}
.outtabcontent{display: block;margin: 0 -15px;}
.totopp {display: block;}
.outsideserach{ margin: 0;}
.customtab .nav-tabs{border:0;}
.customtab .tab-content{float:left;width:100%;padding: 5px;}
.customtab .nav-tabs li a {    
    background: #d2d6de none repeat scroll 0 0;
    border-radius: 2px;
    color: #423f3f;
    font-size: 15px;
    line-height: 25px;
    margin: 0 8px 0px 0;
    padding: 3px 20px;
    text-transform: uppercase;
    position: relative;
    text-align: center;
min-height: 25px;}
.customtab .nav-tabs > li > a:hover{ border:1px solid #d2d6de;}
.customtab .nav-tabs > li.active > a, .customtab .nav-tabs > li.active > a:hover, .customtab .nav-tabs > li.active > a:focus{background:#198C8C;color: #fff;border:1px solid #198C8C;}
.customtab .nav-tabs > li.active > spanfa, .customtab .nav-tabs > li.active > spanfa:hover, .customtab .nav-tabs > li.active > spanfa:focus{background: rgba(0, 177, 255, 1) none no-repeat scroll 0 0;border: medium none;color: #fff;}
.afbf:after {background: rgba(249, 104, 0, 0.02) none repeat scroll 0 0;bottom: 0;content: "";left: 0;position: absolute;right: 0;top: 0;}
.afbf:before {background: rgba(29, 29, 31, 0.15) none repeat scroll 0 0;bottom: 0;content: "";left: 0;position: absolute;right: 0;top: 0;z-index: 1;}
.nav.nav-tabs > li:last-child {margin: 0;}
 .customtab .nav-tabs .spanfa {display: block;
    font-size: 22px;
    height: 25px;
    margin: 0 auto;
    position: relative;
    width: 40px;}
.customtab .nav-tabs .spanha{ background: rgba(0, 0, 0, 0.1) none no-repeat scroll 0 0;display: block;font-size: 18px;height: 100%;left: 0;padding: 15px 10px;position: absolute;text-align: center;top: 0;width: 60px;}
.tabbable.customtab ul{
    border-bottom: none;
    display: block;
    margin: 5px 5px 0;
    width: 100%;
    text-align: center;
    }
.mrgrgt{ margin-right:3px}
.sprite{background: rgba(0, 0, 0, 0) url("../images/sprite.png") no-repeat scroll 0 0;}
.sprite.chating{background-position: 0 0;height: 35px;margin: 12px 0;width: 40px;}
.customtab .nav-tabs .spanfa.faflight{background-position:-58px -4px;}
.customtab .nav-tabs>li.active>a .spanfa.faflight{background-position: -58px -39px;}

.customtab .nav-tabs .spanfa.fahotel{background-position:-124px -1px;}
.customtab .nav-tabs>li.active>a .spanfa.fahotel{background-position: -124px -37px;}

.customtab .nav-tabs .spanfa.fapack{background-position:-182px -1px;}
.customtab .nav-tabs>li.active>a .spanfa.fapack{background-position: -182px -37px;}
.customtab .nav-tabs .spanfa.faact{background-position:-235px 0px;}
.customtab .nav-tabs>li.active>a .spanfa.faact{background-position: -235px -37px;}
.customtab .nav-tabs .spanfa.farail{background-position:-285px 7px;}
.customtab .nav-tabs>li.active>a .spanfa.farail{background-position: -285px -37px;}
.customtab .nav-tabs .spanfa.facruise{background-position:-341px 0px;}
.customtab .nav-tabs>li.active>a .spanfa.facruise{background-position: -341px -37px;}
.customtab .nav-tabs .spanfa.facar{background-position:-395px -1px;}
.customtab .nav-tabs>li.active>a .spanfa.facar{background-position: -395px -37px;}
.customtab .nav-tabs .spanfa.fatrans{background-position:-448px -1px;}
.customtab .nav-tabs>li.active>a .spanfa.fatrans{background-position: -448px -37px;}
.customtab .nav-tabs .spanfa.fainsurance{background-position:-496px -1px;}
.customtab .nav-tabs>li.active>a .spanfa.fainsurance{background-position: -496px -37px;}
.customtab .nav-tabs .spanfa.fatour{background-position:-600px 1px;}
.customtab .nav-tabs>li.active>a .spanfa.fatour{background-position: -600px -37px;}
.customtab .nav-tabs .spanfa.favisa{background-position:-546px 1px;}
.customtab .nav-tabs>li.active>a .spanfa.favisa{background-position: -546px -37px;}
.customtab .nav-tabs > li{margin-bottom:0px;margin-right: 3px;float: none;display: inline-block;}
.intabs {float: left;padding: 10px 0 0;position: relative;width: 100%;}
.waywy {display: block;overflow: hidden;margin-bottom: 5px;}
.smalway {float: left;overflow: hidden;}
.wament.active {background: #198C8C none repeat scroll 0 0; color: #fff;}
.wament {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    cursor: pointer;
    color: #198C8C;
    float: left;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
    padding: 0 15px;
    font-weight: 500;
}
.wament:hover{ color:#fff;}
.marginbotom10 {float: left;
    margin-bottom: 10px;width:100%;}
.formlabel {
    color: #343437;
    display: block;
    font-size: 13px;
    margin: 4px 0;
    }
.relativemask {float: left;position: relative;width: 100%;}
.searchcon{
    background: #000;
}

.mfrom {background: rgba(0, 0, 0, 0) url("../images/sprite.png") no-repeat scroll -56px -30px;}
.hfrom{background: rgba(0, 0, 0, 0) url("../images/sprite.png") no-repeat scroll -449px -65px}
.hadult{background:rgba(0, 0, 0, 0) url("../images/sprite.png") no-repeat scroll -369px -34px;}
.hchild{background:rgba(0, 0, 0, 0) url("../images/sprite.png") no-repeat scroll -412px -34px;}
.ffrom {background: rgba(0, 0, 0, 0) url("../images/sprite.png") no-repeat scroll -114px -65px;}
.fto {background: rgba(0, 0, 0, 0) url("../images/sprite.png") no-repeat scroll -56px -65px;}
.newhpad{display: block;overflow: hidden;padding: 0 0 0 65px;}
.maskimg {height: 43px;left: 1px;position: absolute;top: 1px;width: 43px;}
.roomcount::before {color: #fff;content: "\f0d8";font-family: "FontAwesome";font-size: 45px;position: absolute;right: 50px;top:-30px;}
.roomcount.fadeinn {display: block;}
.roomcount {background: #fff none repeat scroll 0 0;border-radius: 3px;box-shadow: 0 0 10px -5px #000;display: none;line-height: normal;position: absolute;right: 0;top: 55px;transition: all 400ms ease-in-out 0s;width: auto;z-index: 10000;}
.inallsn {display: table;width: 100%;padding: 15px 0;}
.roomcount .formlabel{ color:#666;}
.roomcount .selectedwrap::after{ height:38px;line-height: 38px;}
.roomcount .flyinputsnor{ height:40px;}
.ft {border: 1px solid #dedfdf;color:#7f7f7f;float: left;font-size: 13px;height: 50px;padding: 0 8px 0 60px;width: 100%;border-radius: 3px;}
.mto {background: rgba(0, 0, 0, 0) url("../images/sprite.png") no-repeat scroll -110px -30px;}
.caln {background: rgba(0, 0, 0, 0) url("../images/sprite.png") no-repeat scroll -173px -67px;}
.forminput {border: 1px solid #dedfdf;color: #7f7f7f;float: left;height: 50px;padding: 10px 10px 10px 50px;width: 100%;font-size: 13px;border-radius: 3px;}
#returns input[disabled] {cursor: not-allowed;opacity: 0.5;}
.selectedwrap::after {background: #ffffff none repeat scroll 0 0;bottom: 1px;color: #999;content: "\f078";cursor: pointer;font-family: "FontAwesome";font-size: 13px;height: 43px;line-height: 45px;pointer-events: none;position: absolute;right: 1px;text-align: center;top: 1px;width: 25px;}
.selectedwrap {position: relative;}
.alladvnce .flyinputsnor {border: none;color: #333;display: block;height: 45px;overflow: hidden;padding: 5px;width: 100%;font-size: 13px;border-radius: 3px;background: none;box-shadow: none;}
.selectedwrap.registerselect .flyinputsnor{ height: 50px;}
.selectedwrap.registerselect:after{height: 48px;
    line-height: 48px;}
textarea.logpadding.txtregister{  height: 45px;
    text-align: center;}
.formsubmit {display: block;margin: 26px 0 0;overflow: hidden;}
.roomnum {float: left;height: 40px;width: 96%;margin: 2px 0;}
.roomnum, .numroom {background: rgba(0, 0, 0, 0) url("../images/room.png") no-repeat scroll left 0;}
.numroom {background-position: 102% -39px;color: #5f5757;display: block;float: right;font-size: 13px;font-weight: bold;height: 38px;line-height: 38px;margin-right: -18px;padding-right: 25px;text-align: center;width: 100%;}
.srchbutn { background: #F52007 none repeat scroll 0 0;height: 50px; border: 1px solid #F52007;border-radius: 2px;color: #ffffff;display: table;font-size: 14px !important;padding:10px 8%;position: relative;text-transform: uppercase;z-index: 1000; -webkit-transition:all 400ms ease-in-out 0s; -moz-transition:all 400ms ease-in-out 0s; -o-transition:all 400ms ease-in-out 0s;transition:all 400ms ease-in-out 0s; width:100%;}
.srchbutn:hover{ background:#F52007;border: 1px solid #F52007;}
.onlynumwrap {background:#ffffff none repeat scroll 0 0;border: 1px solid #dddddd;height:50px;position: relative;border-radius: 3px;}
.formlabel strong{ font-size: 10px;font-weight: normal;}
.onlynum {
    display: table;
    width: 100%;
}
.bg{ background: #fff;
    padding: 20px;
    /* box-shadow: 2px 2px 2px 2px #eee , 2px 2px 2px 2px #eee; */
    border-radius: 5px;

}
.onesetrow {
    display: block;
    float: left;
    width: 100%;
}
.onlynum .btn.btnpot {background: #ffffff none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    display: table-cell;
    float: none;
    height: 48px;
    text-align: center;
    vertical-align: top;
    width: 33.33%;}
.onlynum .input-number{ border: medium none;
    box-shadow: none;
    display: table-cell;
    float: none;
    font-size: 22px;
    font-weight: bold;
    height: 48px;
    line-height: normal;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: top;
    width: 33.33%;}
.banners {display: block;overflow: hidden;width: 100%;}
.banners img{ width:100%;}
.ui-autocomplete-category.City {
     background: #fafafa none repeat scroll 0 0;
    border-bottom: 1px solid #dddddd;
    color: #333333;
    font-size: 14px;
    padding: 5px 10px;
}
/*signupsec*/
.sinupsec { background: rgba(0, 0, 0, 0) url("../images/signback.jpg") no-repeat fixed center center / cover ;float: left;position: relative;width: 100%;}
.dealshaedow{background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;bottom: 0;left: 0;position: absolute;right: 0;top: 0;z-index: 0;}
.alllets {display: block;margin: 0 -12px;overflow: hidden;}
.inerlets {display: block;margin: 0 12px;overflow: hidden;padding: 30px 0;}
.letshed {color: #ffffff;display: block;font-size: 22px;margin: 0 0 10px;position: relative;text-align: center;}
.somecaptn {color: #ffffff;display: block;font-size: 14px;margin: 25px 0;overflow: hidden;text-align: center;}
.signupfm {display: block;margin: 0 auto;position: relative;width: 60%;}

.signinpt {border: 1px solid #eeeeee;color: #666666;display: block;font-size: 13px;height: 50px;overflow: hidden;padding: 0 10px;width: 100%;border-radius: 3px;}
.sbsrb {background: #ab2b33 none repeat scroll 0 0;border: 1px solid #9b1b23;color: #ffffff;font-size: 14px;height: 38px;margin: 1px 0 0 -1px;padding: 0 10px;}
.splfetpd {padding-left: 20px;}
.faftrsoc.fa { background: rgba(0, 0, 0, 0) url("../images/socialfoot.png") no-repeat scroll 0 0;
    color: #838383;
    float: left;
    font-size: 24px;
    height: 35px;
    margin: 0 15px;
    text-align: center;
    width: 35px;}
.faftrsoc.fa.qq {background-position: 4px 4px;
}
.faftrsoc.fa.weibo {background-position: -45px 6px;
}
.faftrsoc.fa.weixin {background-position: -93px 4px;
}
.faftrsoc.fa.facebook {background-position: -135px 4px;
}
.faftrsoc.fa.twitter {background-position: -173px 7px;
}
.faftrsoc.fa.instagram {background-position: -219px 4px;
}
.faftrsoc.fa.google-plus {background-position: -263px 8px;
}

.subtbtn{ background: #f52007 none repeat scroll 0 0;border:none; border-radius: 3px;color: #ffffff;font-size: 22px;height: 40px;line-height: 40px;position: absolute;right: -5px;text-align: center;top: 5px;width: 40px; cursor:pointer;}
/*offices*/
.offices{background: #efefef url("../images/officeback.png") repeat-x scroll center bottom;float: left;padding: 30px 0 80px;position: relative;width: 100%;}
.officeul{ display: block;overflow: hidden;text-align: center;}
.offli{ color: #3c3c3c;display: inline-block;font-size: 16px;margin: 10px 30px;}
.offices .pagehed{ font-size:18px;}
/*first_footer*/
.comonfooter{background:#f4f4f5;float: left;padding: 25px 0 ;position: relative;width: 100%;}
.footout{display: block;margin: 0 -15px;overflow: hidden;}
.futtrlogo{}
.scontone{  color: #e5e5e6;display: block;font-size: 13px;margin:20px 0;overflow: hidden;}

.footerlistblack li span.fa{color: #7c7e80;
    font-size: 16px;
    margin-right: 10px;}
.fa.fa-arrow-right{
    color: #f2733a !important;
    font-size: 12px !important;
    margin-right: 10px !important;
}
.addresof {
    color: #3a3c3e;
    float: left;
    font-size: 16px;
    line-height: 33px;
}
.scanimg {
    display: block;
    overflow: hidden;
}
.scanimg img{ max-width:100%;}
.ftitleblack{color: #3a3c3e;display: block;font-size: 22px;margin-bottom: 15px;overflow: hidden;}
.footerlistblack{}
.footerlistblack li{display: block;
    overflow: hidden;}
.footerlistblack li a{font-size: 16px;line-height: 33px;color: #25292c;}
.footerlistblack li:hover a{ color:#25292c;}
.linebraking{ height:2px; background:#383a3a; display:block; overflow:hidden; width:100%; border-bottom:1px solid #444747;}
.payments{ padding: 25px 0;text-align: center;}
.payments img{}
.cmnlast{color: #e5e5e6;display: block;overflow: hidden;padding:30px 0 10px;text-align: center;}
.lastcont{ font-size: 14px;}
.outerbtn{display: table;margin: 0 auto;}
.footerbtn{ background: #666666 none repeat scroll 0 0;border-radius: 3px;display: table;float: left;font-size: 14px;margin: 20px 10px;padding: 15px 25px; color:#e5e5e6; }
.footerbtn:hover{ color:#e5e5e6;}
.footerbotm{background: #f4f4f5 none repeat scroll 0 0;
    color: #25292c;
    float: left;
    font-size: 14px;
    padding: 20px 0;
    position:relative;
    text-align: center;
    width: 100%;}
.copurit {
    float: left;
}
.rgtlinks {
    float: right;
}
.rgtlinks > li {
    display: inline-block;
    padding: 0 0 0 30px;
}
.rgtlinks .fa{ color: #ff9000;
    font-size: 18px;}
.rgtlinks a {
    color: #25292c;
}
.arrowsetb .fa {
    color: #ff9000;
    font-size: 12px;
    margin-right: 10px;
}
.socialfootr{}
.socialfootr{background:#fff;float: left;padding: 25px 0 ;position: relative;width: 100%;}
.leftearn {
    float: left;
}
.earcont {
    color: #00a7ff;
    float: left;
    font-size: 18px;
    line-height: 20px;
    text-align: right;
}
.earcont strong {
    color: #ff9000;
    font-weight: normal;
}
.earnbuton {
    background: #ff9000 none repeat scroll 0 0;
    border-left: 5px solid #00a7ff;
    color: #ffffff;
    float: left;
    font-size: 15px;
    margin-left: 10px;
    padding: 8px 30px;
}
.earnbuton:hover{ color:#fff;}

/*agent logins*/
.agent_login_wrap {
    float: left;
    width: 100%;
}
.topb2b{margin-top:90px;}

.centerfix {background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px -5px #656565;
    display: block;
    margin: 30px auto;
    padding: 10px;
    width: 100%;}
.logpadding.error{border: 1px solid #ff928b;
    box-shadow: 0 0 10px -7px #dd2828 inset;}
label.error {
    color: #cd1818;
    display: block;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    margin: 4px 0 0;
    overflow: hidden;
    padding: 0;
}
label.success {
    color: #088637;
    display: block;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    margin: 4px 0 0;
    overflow: hidden;
    padding: 0;
}
.error {
    color: #cd1818;
    display: block;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    overflow: hidden;
    padding: 0;
}
.onlycontent {background: #fff none repeat scroll 0 0;min-height: 300px;}
.full {float: left;width: 100%;}
.agentsign{display: table;overflow: hidden;width: 100%;}
.agentsign .leftsignimage{display: table-cell;max-width: 320px;padding: 10px;vertical-align: top;}
.agentsign .leftsignimage img {border-radius: 3px;max-width: 300px;}
.agentsign .ritsform {display: table-cell;max-width: 320px;padding: 10px;vertical-align: top;}
.wrapdivs {background: #fff none repeat scroll 0 0;display: block;overflow: hidden;padding: 15px;position: relative;}
.popuperror {background: #de3c34 none repeat scroll 0 0;
    color: #ffffff;
    display: block;
    font-size: 13px;
    line-height: 12px;
    margin: -16px -16px 15px;
    overflow: hidden;
    padding: 10px;}
.pophed {border-bottom: 1px dotted #ddd;
    color: #444444;
    display: block;
    font-size: 18px;
    margin: -15px -15px 15px;
    overflow: hidden;
    padding: 10px;}
.wrapdivs .signdiv{ padding:0px;}
.agentsign .ritpul {min-width: 300px;}
.ritsform .rember {float: left;font-size: 14px;}
.forgota { color: #ffffff;
    display: block;
    float: left;
    font-size: 13px;
    line-height: 22px;
    overflow: hidden;
    text-align: center;
    width: 100%;}
.forgota:hover{ color:#fff;}
.mysign1 li a i{color: #999;
    float: left;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    width: 25px;}
.mysign1 li.log_out_li{border-radius: 0 0 5px 5px;
    margin: 0 0 -10px;
    overflow: hidden;
    padding: 0;}
.mysign1 li.log_out_li a{background: #e2e2e2 none repeat scroll 0 0;
    color: #333;
    font-size: 14px;
    padding: 10px 0;}
/*Common page heading and dots*/
.pagehed{color: #2b3c4e;
    display: block;
    font-size: 35px;
    font-weight: 400;
    margin: 0 0 10px;
    overflow: hidden;
    text-align: center;}
.subcaption{ color: #464446;display: block;font-size: 15px;margin: 10px 0 5px;overflow: hidden;position: relative;text-align: center;}
.centersep {color: #ffffff;display: block;font-size: 28px;margin: 0 0 15px;overflow: hidden;position: relative;text-align: center;}
.centersep img{ position:relative;} 
.comn_icons::before {left: -160px;}
.comn_icons::after {right: -160px;}
.comn_icons::before, .comn_icons::after {background: #727272 none repeat scroll 0 0;content: "";height: 2px;position: absolute;top: 50%;width: 160px;}
.comn_icons {display: table;margin: 0 auto;padding: 0 10px;position: relative;z-index: 1;}
/*Inner page Menu*/
/* General styles for all menus */
.in_page_menu{background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: 0 none;float: left;
     margin-right: 10px;}
.in_page_menu .fa{border: 1px solid #e8e8e8;border-radius: 3px;color: #666;font-size: 32px;line-height: 30px;margin: 15px 0 0;padding: 10px;transition:all 300ms ease-in-out;}
.topssec.fixed .in_page_menu .fa{margin: 10px 0 0;padding: 6px 10px;transition:all 300ms ease-in-out;}
.cbp-spmenu {background:#424a5d; border-right: 1px solid #4e5669;box-shadow: 2px 0 10px -5px #000;position: fixed;}
.cbp-spmenu-vertical {width: 240px;height: 100%;top: 0;z-index: 100000000;}
.cbp-spmenu-horizontal {width: 100%;height: 150px;left: 0;z-index: 1000;overflow: hidden;}
.cbp-spmenu-left {left: -270px;}
.cbp-spmenu-left.cbp-spmenu-open {left: 0px;}
.cbp-spmenu, .cbp-spmenu-push { -webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease;transition: all 0.3s ease;}
.page_menu{float: left;margin: 80px 0 0;width: 100%;}
.page_menu li{border-bottom: 1px solid #384053;border-top: 1px solid #4b5366;float: left;width: 100%;}
.page_menu li a{color: #c2c6cb;display: block;font-size: 14px;outline: medium none;padding: 15px 10px;text-decoration: none;transition: all 0.3s ease 0s;}
.page_menu li a .fa{font-size: 15px;padding: 0 10px;}
.page_menu li a:hover{color: #fff;}

.center_not {
    display: block;
    overflow: hidden;
    padding: 50px 0;
}
.image_not {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}
.four_nor{color: #004d85;
    display: block;
    font-size: 150px;
    line-height: 80px;
    overflow: hidden;
    text-align: center;}
.four_nor strong{color: #666;
    display: block;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;}
.cancel_search {
    display: table;
    font-size: 14px;
    margin: 0 auto;
}
.cancel_search .fa{margin-right:10px;}
.veri_msg{color: #666;
    display: block;
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 15px;
    overflow: hidden;}
.help_btn{background: #ff6633 none repeat scroll 0 0;
    border: 1px solid #ef5623;
    border-radius: 3px;
    box-shadow: 0 3px 0 0 #ef5623;
    color: #ffffff;
    display: block;
    font-size: 16px;
    line-height: 20px;
    margin: 10px auto;
    overflow: hidden;
    padding: 10px 0;
    transition: all 400ms ease-in-out 0s;
    width: 50%;}
.poplabel_msg{color: #666;
    display: block;
    font-size: 14px;
    margin: 0 0 5px;
    overflow: hidden;}
.simtextre{border: 1px solid #ddd;
    display: block;
    font-size: 14px;
    margin: 10px 0;
    max-width: 100%;
    min-height: 100px;
    overflow: hidden;
    padding: 10px;
    width: 100%;}

.inside_benefits{background: rgba(0, 0, 0, 0) url("../images/agent_login.png") no-repeat scroll left top;
    float: left;
    margin: 20px 0;
    min-height: 300px;
    padding: 0 0 0 260px;
    width: 100%;}
.benefits{display: block;
    overflow: hidden;
    padding: 15px 0;}
.bene_hd{color: #ef5623;
    display: block;
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 20px;
    overflow: hidden;
    padding: 5px 0;}
.ben_agent{}
.ben_agent li{color: #666;
    display: block;
    font-size: 14px;
    line-height: 22px;
    margin: 20px 0;
    overflow: hidden;}
.ben_agent li .fa{float: left;
    line-height: 22px;
    margin-right: 10px;}
.ben_agent li strong{display: block;
    font-weight: normal;
    overflow: hidden;}
.ui-autocomplete.ui-menu .ui-menu-item a {
    color: #333;
    font-size: 14px;
    line-height: normal;}
.formsubmit.downmrg{ margin:0;}

/*.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: #f2ccb1 none repeat scroll 0 0;}*/
.ui-widget-content a.ui-state-focus{background: rgb(159, 223, 251) none repeat scroll 0 0}
.nav_codesent{color: #666;
    display: block;
    font-size: 14px;
    margin: 0 0 15px;
    overflow: hidden;}
.thanks_msg{display:none;}
.thankudiv{background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 0 10px -5px #000;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    padding: 15px;
    position: relative;
    width: 35%;}
.thankudiv .fa{color: #008a00;
    float: left;
    font-size: 50px;
    margin-right: 15px;}
.messgae_thank {
    display: block;
    overflow: hidden;
}
.messgae_thank h3{display: block;
    margin: 0 0 5px;
    overflow: hidden;}
.messgae_thank p{color: #666;
    display: block;
    font-size: 13px;
    margin: 0;
    overflow: hidden;}
.login_confirm .thankudiv{box-shadow: none;
    margin: 0 0 30px;
    width: 100%;}



.modal{z-index: 10000050;}
.modal-backdrop{z-index: 10000040;}

/* Example media queries */
@media screen and (max-width: 55.1875em){
.cbp-spmenu-horizontal {font-size: 75%;height: 110px;}
}
@media screen and (max-height: 26.375em){
.cbp-spmenu-vertical {font-size: 90%;width: 190px;}
.cbp-spmenu-left, .cbp-spmenu-push-toleft {left: -190px;}
}


/**
 * Responsive Bootstrap Tabs 
 */
 
 @media screen and (max-width: 800px) {
    .mysign1.curency_full {
    width: 400px;
}
.dropdown-menu.mysign1.curency_full li {
    width: 46.33%;
}
 }
 
@media screen and (max-width: 768px) {
    
  .nav-tabs-responsive > li {
    display: none;
    width: 23%;
  }
  .onesetrow{ float:none;}
  .nav-tabs-responsive > li > a {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    width: 100%;
    text-align: center;
    vertical-align: top;
  }
  .nav-tabs-responsive > li.active {
    margin: 0;
    width: 54%;
  }
  .nav-tabs-responsive > li.active:first-child {
    margin-left: 23%;
  }
  .nav-tabs-responsive > li.active, .nav-tabs-responsive > li.prev, .nav-tabs-responsive > li.next {
    display: block;
  }
  .nav-tabs-responsive > li.prev, .nav-tabs-responsive > li.next {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    margin:0;
  }
  .nav-tabs-responsive > li.next > a, .nav-tabs-responsive > li.prev > a {
    -webkit-transition: none;
    transition: none;
  }
  .nav-tabs-responsive > li.next > a .text, .nav-tabs-responsive > li.prev > a .text {
    display: none;
  }
  .nav-tabs-responsive > li.next > a:after, .nav-tabs-responsive > li.next > a:after, .nav-tabs-responsive > li.prev > a:after, .nav-tabs-responsive > li.prev > a:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .nav-tabs-responsive > li.prev > a:after {
    content: "\e079";
  }
  .nav-tabs-responsive > li.next > a:after {
    content: "\e080";
  }
  .nav-tabs-responsive > li.dropdown > a > .caret {
    display: none;
  }
  .nav-tabs-responsive > li.dropdown > a:after {
    content: "\e114";
  }
  .nav-tabs-responsive > li.dropdown.active > a:after {
    display: none;
  }
  .nav-tabs-responsive > li.dropdown.active > a > .caret {
    display: inline-block;
  }
  .nav-tabs-responsive > li.dropdown .dropdown-menu.pull-xs-left {
    left: 0;
    right: auto;
  }
  .nav-tabs-responsive > li.dropdown .dropdown-menu.pull-xs-center {
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .nav-tabs-responsive > li.dropdown .dropdown-menu.pull-xs-right {
    left: auto;
    right: 0;
  }
}




.activation{background: #fff none repeat scroll 0 0;
    box-shadow: -10px 10px 0 0 rgba(0, 0, 0, 0.3);
    display: block;
    overflow: hidden;
    padding: 30px;
    position: relative;}
.close_activation.fa{border: 1px solid #ddd;
    border-radius: 100%;
    color: #666;
    cursor: pointer;
    font-size: 18px;
    height: 40px;
    line-height: 36px;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 15px;
    width: 40px;}
.activation_hd{color: #2b303d;
    display: block;
    font-size: 26px;
    font-weight: 500;
    margin: 25px 0;
    overflow: hidden;
    text-align: center;}
.round_acti.fa{border: 1px solid #51bf4b;
    border-radius: 100%;
    color: #51bf4b;
    display: block;
    font-size: 40px;
    height: 100px;
    line-height: 98px;
    margin: 20px auto;
    overflow: hidden;
    text-align: center;
    width: 100px;}
.active_acoounts{color: #666;
    display: block;
    font-size: 14px;
    overflow: hidden;
    text-align: center;}
.mail_active{color: #333;
    display: block;
    font-size: 20px;
    margin: 5px 0;
    overflow: hidden;
    text-align: center;}
.dont_get{color: #666;
    display: block;
    font-size: 14px;
    overflow: hidden;
    padding: 30px 0;
    text-align: center;}
.check_spam{border-top: 1px solid #ddd;
    display: block;
    font-size: 13px;
    margin: 20px 0 0;
    overflow: hidden;
    padding: 20px 0 0;
    text-align: center;}
    
    
.agent_registration {
    display: block;
    margin: 30px auto;
    overflow: hidden;
    padding: 10px;
    width: 100%;
}
.boxr {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 0 5px #e6e6e6;
    display: block;
    margin-bottom: 15px;
    overflow: hidden;
}
.allflds {
    display: block;
    overflow: hidden;
    padding: 10px;
}
.fldhd {
    color: #333;
    display: block;
    font-size: 18px;
    margin: 0 0 10px;
    overflow: hidden;
    padding: 5px 0;
}
.allfields .form-group{position:relative;}
.allfields .form-control{border: 1px solid #ddd;
    border-radius: 3px;
    color: #444;
    font-size: 14px;
    height: 50px;
    padding: 10px;}
.btn_comnbtns {background: #f88c3e none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    color: #ffffff;
    float: left;
    font-size: 16px;
    padding: 20px;
    text-align: center;
    width: 100%;
}
.iconft{display: block;
    overflow: hidden;
    padding: 15px 0;
    text-align: center;}

.logo_uploader{border-radius: 100%;
    display: block;
    height: 140px;
    margin: 20px auto 10px;
    overflow: hidden;
    position: relative;
    width: 140px;}
.default_upload{}
.hideid_upload{bottom: 0;
    cursor: pointer;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;}
.text_file{ color: #666;
    display: block;
    font-size: 15px;
    overflow: hidden;
    text-align: center;}
.boxr:nth-child(1){border-left: 6px solid #ffa28d;}
.boxr:nth-child(2){border-left: 6px solid #31cfff;}
.boxr:nth-child(3){border-left: 6px solid #f16362;}
.boxr:nth-child(4){border-left: 6px solid #4874a3;}
.mandatory{color: #f16362;
    font-size: 40px;
    line-height: 50px;
    position: absolute;
    right: 5px;
    top: 0;}
.agent_re{border-top: 1px solid #ddd;
    display: block;
    font-size: 14px;
    margin: 20px 0 0;
    overflow: hidden;
    padding: 20px 0 0;
    text-align: center;}
.null_effective {
    float: right;
}
.navbak.fa {
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 24px;
    left: 0;
    padding: 20px;
    position: absolute;
    top: 0;
}
.rit_agent{float:right;}

.in_page_menu{display:none;}

.squaredThree1 input[type="checkbox"], .squaredThree1 input[type="radio"] {
    visibility:hidden;
    margin:0
}
.squaredThree {
  float: left;
  padding: 2px 6px 2px 20px;
}
.squaredThree1 {
    float: left;
    margin-right: 8px;
    position: relative;
    width: 20px;z-index: 1;
}
.squaredThree1 label {
    background:#c4c3c2 none repeat scroll 0 0;border-radius: 3px;cursor: pointer;height: 20px;left: 0;position: absolute;top: 0;width: 20px;
}
.squaredThree1 label::after {
 -moz-border-bottom-colors: none;
 -moz-border-left-colors: none;
 -moz-border-right-colors: none;
 -moz-border-top-colors: none;
 border-color: #fcfff4;
 border-image: none;
 border-style: none none solid solid;
 border-width: medium medium 3px 3px;
 content: "";
 height: 7px;
 left: 5px;
 opacity: 0;
 position: absolute;
 top: 5px;
 transform: rotate(-45deg);
 -webkit-transform: rotate(-45deg);
 width: 11px;
}
.squaredThree1 label:hover::after {
 opacity: 0.3;
}
.squaredThree1 input[type="checkbox"]:checked + label::after, .squaredThree1 input[type="radio"]:checked + label::after {
 opacity: 1;
}
.squaredThree1 input[type="checkbox"]:checked + label, .squaredThree1 input[type="radio"]:checked + label {
    background:#198C8C;
}
.newradi > li {
    display: inline-block;
}
.remlabel {
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin:0 3px;
}
.dahbutons {
     display: table;
    float: right;
    overflow: hidden;
    padding: 16px 0;
    transition: all 400ms ease-in-out 0s;
}
.dahbutons > li {
    display: table-cell;
    float: none;
    overflow: hidden;
    vertical-align: middle;
}
.dashltmenus {
   background: #0e7ab1 none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    display: block;
    font-size: 15px;
    margin-right: 15px;
    padding: 10px 20px;
    position:relative;
}
.dahbutons > li:last-child .dashltmenus{ margin-right:0;}
.dashltmenus:hover{ color:#fff;}
.sprite.cartad{background-position: -504px -45px;
    display: block;
    height: 38px;
    width: 40px;}
.dashltmenus.cartadd{ background: #f26722 none repeat scroll 0 0;
    padding: 10px;}
.cartcnt {
    background: #0e7ab1 none repeat scroll 0 0;
    border: 1px solid #ffffff;
    border-radius: 30px;
    font-size: 11px;
    height: 20px;
    line-height: 18px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 7px;
    width: 20px;
}

.firsttop {
    background: #f3f3f3 none repeat scroll 0 0;
    float: left;
    height: 40px;
    width: 100%;
}
.firsttop .ritsude{ line-height: normal;
    padding: 5px 0;}
.rgbalace {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 30px 0 0 30px;
    color: #3d3939;
    display: block;
    float: left;
    font-size: 15px;
    padding: 5px 20px;
}
.ltbalece {
    background: #dfdfdf none repeat scroll 0 0;
    border-radius: 0 30px 30px 0;
    color: #3d3939;
    display: inline-block;
    font-size: 15px;
    padding: 5px 20px;
}
.firsttop a.topa {
    line-height: 30px;
}
.firsttop .mysign1 li.active a:hover, .firsttop .mysign1 li.active a:focus, .firsttop .mysign1 li.active a{ padding:5px 0;}
.secondtop {
    float: left;
    width: 100%;
}
.topsseclogon {background: #ffffff none repeat scroll 0 0;border-bottom: 1px solid #ffffff;/* box-shadow: 0 2px 2px #efefef; */float: left;/* height: 77px; */position: relative;transition: all 400ms ease-in-out 0s;width: 100%;z-index: 10000000;}
.topsseclogon.fixed{height: 85px;}
.topsseclogon.fixed .logo{ padding: 20px 0;
    width: 143px;}
.topsseclogon.fixed .dahbutons{padding: 6px 0;}



/*cart*/

.backshadow {
    background: rgba(67, 87, 121, 0.6) none repeat scroll 0 0;
    cursor: pointer;
    display: none;
    left: 0;
    min-height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000000;
}
.backshadow.active {
    display: block;
}
.rltvht {
    height: 100%;
    position: absolute;
}
.cartwrap {
    background: #ffffff none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 400px;
    z-index: 100000000;
}
.animwrap {
    transform: translateX(450px);
    transition: all 400ms ease-in-out 0s;
}
.animwrap.active {
    transform: translateX(0px);
}
.cartLoading {
    background: #ffffff url("../assets/images/loader.gif") no-repeat scroll center center;
    bottom: 60px;
    left: 0;
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 10;
}
.cartinr {
    display: block;
    height: 100%;
    overflow: hidden;
}
.cartclose.fa {
    background: #dddddd none repeat scroll 0 0;
    border-radius: 30px;
    color: #999999;
    cursor: pointer;
    font-size: 20px;
    height: 30px;
    line-height: 28px;
    margin: 5px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 30px;
}
.carthedng {
    background: #eeeeee none repeat scroll 0 0;
    color: #333333;
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    overflow: hidden;
    padding: 0 10px;
}
.cartitems {
    max-height: 200px;
    overflow: auto;
    position: relative;
}
.emptycrt {
    display: block;
    margin-top: 50px;
    overflow: hidden;
    text-align: center;
}
.emptymsg {
    font-size: 20px;
}

.comnbtncart {
    background: #f26722 none repeat scroll 0 0;
    border: 0 none;
    color: #ffffff;
    display: block;
    font-size: 16px;
    line-height: 60px;
    overflow: hidden;
    padding: 0 10px;
    text-align: center;
    width: 100%;
}
.comnbtncart:hover{ color:#fff;}
.contnueshp.comnbtncart {
    background: #7c7986 none repeat scroll 0 0;
}
.emptycrt .fa {
    color: #666666;
    font-size: 50px;
}

.itemsonly {
    display: block;
}
.itemrow {
    border-bottom: 1px solid #dddddd;
    display: table;
    padding: 8px 0;
    width: 100%;
}
.itemrow:last-child {
    border: medium none;
}
.itmcell {
    display: table-cell;
    float: none;
    vertical-align: middle;
}
.itemage {
    display: block;
    height: 30px;
    min-width: 30px;
    overflow: hidden;
}
.itemage img {
    height: 100%;
    width: 100%;
}
.htlname {
    color: #444444;
    display: block;
    font-size: 14px;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.htlcntry {
    display: table-cell;
    float: none;
    vertical-align: top;
}
.itmcell .htlprice {
    font-size: 12px;
}
.htlprice {
    color: #666666;
    float: left;
    font-size: 16px;
    font-weight: 700;
}
.trash.fa {
    color: #666666;
    cursor: pointer;
    float: right;
    font-size: 14px;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 14%;
}
.itelalprice {
    box-shadow: 0 0 10px -6px #000000;
}
.totlpo {
    padding: 10px 0;
}
.totalprice {
    font-size: 14px;
    text-align: right;
}
.pricamnt {
    color: #555555;
    display: block;
    font-size: 22px;
    overflow: hidden;
    text-align: center;
}
.pricamnt .amount {
    font-size: 22px;
}
.padtb{ padding:10px 0 0;}
.align .rember{ margin: 15px 0 23px;}
.submitlogin.lfbtn {
    margin: 0;
}
.percents .cmnper {
    color: #666666;
    display: inline-block;
    float: left;
    font-size: 13px;
    line-height: 45px;
    padding-right: 10px;
}
.rowput.percents{ margin-bottom: 10px;}




/*contact*/
.static_pages {
    float: left;
    width: 100%;
    margin-top:90px !important;
}
.top_static {
    display: block;
    font-size: 32px;
    margin: 10px 0;
    overflow: hidden;
    padding: 15px;
    text-align: center;
}

.inercols_contact {
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    float: left;
    margin-bottom: 30px;
    overflow: hidden;
    width: 100%;
}
.inside_form {
    display: block;
    overflow: hidden;
    padding: 20px;
}
.padmar {
    padding: 10px;
}
.conform {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #eeeeee;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    float: left;
    font-size: 16px;
    height: 45px;
    width: 100%;
}
.btn-myclr{background-color: #ef7e2c;
border: 1px solid #ef7e2c;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 20px;
    text-decoration: none;}
.areatxt {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #eeeeee;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    font-size: 16px;
    height: 80px;
    max-height: 80px;
    padding: 15px 0;
    width: 100%;
}
.set_contact {
    background: #fff9f1;
    display: block;
    min-height: 476px;
    overflow: hidden;
    padding: 25px 50px;
}
.contct_hdng {
    color: #333333;
    display: block;
    font-size: 24px;
    overflow: hidden;
}
.row_contacts {
    display: block;
    margin: 10px 0 0;
    overflow: hidden;
}
.icon_contact.fa {
    color: #50677f;
    float: left;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    width: 40px;
}
.line_desctn {
    color: #444444;
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    overflow: hidden;
}
.line_desctn.backshd {
    background: #fef8f3 none repeat scroll 0 0;
    border-radius: 30px;
    padding: 5px 15px;
}


.static_page_in{border: 1px solid #ffffff;
    float: left;
    margin-bottom: 20px;
    overflow: hidden;
    width: 100%;}
.static_page_in h1 {
    color: #333333;
    display: block;
    float: left;
    margin: 20px 0;
    overflow: hidden;
    width: 100%;
}
.static_page_in h2 {
    color: #333;
    display: block;
    float: left;
    margin: 20px 0;
    overflow: hidden;
    width: 100%;
}
.static_page_in p {
    color: #666666;
    display: block;
    /*float: left;*/
    font-size: 14px;
    line-height: 22px;
}
.aboutback {
    float: left;
    max-height: 400px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.aboutback > img {
    min-height: 150px;
    width: 100%;
}
.static_page_in ul {
    display: block;
    float: left;
    overflow: hidden;
}
.static_page_in ul li{color: #666666;
    float: left;
    font-size: 14px;
    width: 100%;}
.left_wy {
    float: left;
}
.partner_page {
    float: left;
    margin-bottom: 20px;
    width: 100%;
}
.partner_page > h1 {
    font-size: 30px;
    margin: 20px 0;
    padding-bottom: 15px;
}
.partner_page p {
    color: #666666;
    display: block;
    font-size: 14px;
    overflow: hidden;
}
.padrgt1 {
    padding: 0 20px 0 0;
}
.padrgt1 img {
    max-height: 160px;
    max-width: 100%;
    min-height: 160px;
}
.produconts h3{margin-top:0;}
.repetprod{ float:left; width:100%; margin-bottom:30px;}
.repetprod:last-child{ margin-bottom:0;}
.aboutback h1 {
    font-size: 50px;
    left: 20%;
    position: absolute;
    text-align: center;
    top: 30%;
    z-index: 1;
}
.rgt_wy{display: block;
    overflow: hidden;
    padding-left: 15px;}
.rgt_wy h3 {
    margin-top:0;
}
.repeatchoose {
    display: block;
    margin-bottom: 20px;
    overflow: hidden;
}
.dashtopmargin{ margin-top:130px !important;}
.taginput{color: #666666;
    display: block;
    font-size: 12px;
    line-height: normal;
    margin: 2px 0 0;
    overflow: hidden;}
.backblur{background: #eee;
    margin: 0 0 15px;
    border-radius: 3px;}
 .backblur1{background: #eee;
    margin:15px;
    border-radius: 3px;}
.centimag{ display:block; text-align:center;}
.loadcenter {
    left: 50%;
    margin-left: -32px;
    margin-top: -32px;
    position: absolute;
    top: 50%;
}
.loadcenter > img {
    border-radius: 5px;
}
table.dataTable > tbody > tr.child ul{ width:100%;}

a.paginate_button.previous.disabled, a.paginate_button.current, a.paginate_button.next.disabled {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
    border-color: #dddddd;
    color: #999999;
    cursor: not-allowed;
    line-height: 1.42857;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}
.caretdr .fa.cartdown{ display:none;float: left;
    margin: 10px 5px 5px;}
.filter_text {
    display: block;
    font-size: 16px;
    overflow: hidden;
    text-align: center;
}

td.child {
    padding: 0 !important;
} 
td.child li {
    padding: 0 !important;
}
table.dataTable > tbody > tr.child span { font-size: 14px;
    padding: 5px 10px;
    width: 50%;}
table.dataTable > tbody > tr.child span:first-child{ border-right:1px solid #ddd;}
table.dataTable > tbody > tr.child span p{ display: inline;margin: 0;}
    
.ritsude > li.login_after {
    background-color: #198C8C;
    padding: 13px 8px;
    display: block;
    float: right;
    transition: all 400ms ease-in-out 0s;
}
.topsseclogon.fixed .ritsude > li.login_after {
    padding: 19px 30px;
    transition: all 400ms ease-in-out 0s;
}
.header_top_bal{
    font-size: 15px;
    padding: 7px 8px;
    display: block;
    }
.tot_balance{font-size: 16px;color: #198C8C;margin: 0 0px 0 10px;}

.customtab {  background: rgba(30, 92, 169, 0.5) none repeat scroll 0 0; float: left; width:100%; padding:10px;}
.mainsearch .customtab .tab-content{
    float: left;
    
    width: 100%;
}
/* 
.mainsearch .customtab .nav-tabs .spanfa{
     float: left;
    height: 25px;
    margin-left: 10px;
    width: 40px;
}
.mainsearch .customtab .nav-tabs > li a .spanfa.faflight{
 background-position: -65px -39px;
}
.mainsearch .customtab .nav-tabs > li.active > a .spanfa.faflight{
     background-position: -65px -39px;
}
.mainsearch .customtab .nav-tabs > li a .spanfa.fahotel{
     background-position: -133px -37px;
}
.mainsearch .customtab .nav-tabs > li a .spanfa.fabus{
     background-position: -303px -39px;
}

.mainsearch .customtab .nav-tabs > li.active > a .spanfa.fahotel{
      background-position: -133px -37px;
}
.mainsearch .customtab .nav-tabs .spanfa.fatrans{
    background-position: -448px -37px;

}
.mainsearch .customtab .nav-tabs > li.active > a .spanfa.fatrans{
     background-position: -448px -37px;

    }
.mainsearch .wament{
    margin-right:0;
    border-radius: 0;

}

.mainsearch .customtab .nav-tabs li a{
 background: #198C8C none repeat scroll 0 0;
 border: 2px solid #198C8C;
 border-bottom: none !important;
 color: #fff; border-radius: 3px;
 padding: 8px;
}
.mainsearch .customtab .nav-tabs > li.active > a, .mainsearch .customtab .nav-tabs > li.active > a:hover, .mainsearch .customtab .nav-tabs > li.active > a:focus{
 background: #F52007 none repeat scroll 0 0;
 border: 2px solid #F52007;
 border-bottom: none !important;
}

.mainsearch .intabs{
    padding: 10px;
}
.mainsearch .wament.active{
   background: #fff none repeat scroll 0 0;
   color:black;

}
.mainsearch .wament:hover { color: #333; }
.mainsearch .hfrom{
    background: #f2f2f2 url("../images/sprite.png") no-repeat scroll -449px -65px;
    color:#fff;
}
.mainsearch .caln{
    background: #f2f2f2 url("../images/sprite.png") no-repeat scroll -170px -62px;


}
.mainsearch .formlabel{
    color:#fff;
}


.customtab .nav-tabs li a{} */
@media screen and (max-width: 1200px){
.captngrp{ display:none !important;}
.modifycontrolsno{display:none;}
}

@media screen and (max-width: 991px){
    .in_page_menu{
    display: block;
}
.nav-pills > li.csupport{display:none;}
.tagline{display:none;}

.customtab .nav-tabs li a{padding:10px 15px;}
.rit_agent{float:none;}
.ftitleblack{ margin-bottom:10px; font-size:20px;}
.footerlistblack {
    margin-bottom: 15px;
}
.earcont{ font-size:14px;}
.faftrsoc.fa{margin: 0 10px;}
.footerlistblack li a {
    font-size: 14px;
    line-height: 26px;
}
.dahbutons .nonineone{ display:none;}
}

@media screen and (max-width: 768px){
.curecyshown{display:block;}
.flagss.balancere{ display:none;}
.spanfa.sprite {
    float: left;
}
.tabbable.customtab .text {
    display: table;
    margin: 0 auto;
}
.customtab .nav-tabs li a{padding:10px 30px;}
.tagline{display:none;}


.in_page_menu .fa, .topssec.fixed .in_page_menu .fa{margin: 10px 0 0;
    padding: 6px 10px;}
.logo img, .topssec.fixed .logo img {
    max-width: 120px;}
.topssec .ritsude {
    padding: 3px 0;
}
.topssec {
    height: 70px;
}
.logo{ padding:10px;}
.topssec.fixed .logo {
    padding: 10px;
}
.topssec.fixed{ height:85px;}

.searchtabs{margin-top: 80px;}
.topa{margin:0;}
.payments img{max-width:100%;}
.footerbtn{float:none; margin:10px auto;}
.searchtabs{background:#fff;}


.top80 {
    margin-top: 90px;
}
.contentsdw{padding:0;}
.inside_benefits{background:none;padding:0;}
.fldhd{text-align:center;}
.faftrsoc.fa {
    margin: 0 5px;
}
.mysign1::before{ left:auto;right: 23px;}
.topsseclogon{ height:110px;}
.topsseclogon.fixed .logo {
    padding: 10px;}

}

@media screen and (max-width: 767px){
.inercols_contact .set_contact, .inercols_contact .inside_form{ padding:15px;}
}

@media screen and (max-width: 650px){
    .leftearn, .signupfm1{display: table;
    float: none;
    margin: 0 auto;}
    .signupfm1{ margin:15px auto auto;}
    .topsseclogon{ position:relative;}
.topssec, .topssec.fixed {
    height: auto;
    position:static;
}

.insigndiv {
    width: 100%;
}

.whenfixmar{margin:0;}
.fiveh {
    padding: 0 5px;
}
.top80{margin:0;}
.agent_login_wrap, .static_pages{ margin:0 !important;}
.newhpad{ padding:0;}
.onlynumwrap .maskimg.hadult, .onlynumwrap .maskimg.hchild{ display:none;}
.formlabel.padfive_child {
    padding: 0 5px;
}
.static_page_in h1, .aboutback h1, .partner_page > h1, .top_static{font-size: 26px;}
.repetprod .col-xs-3.padrgt1{margin-bottom: 15px;
    width: 100%;}
.repetprod .col-xs-9.produconts{
    width: 100%;}
.produconts h3, .rgt_wy h3 {
    font-size: 20px;}
}

@media screen and (max-width: 600px){
.mysign1.curency_full {
    width: 190px;
}
.dropdown-menu.mysign1.curency_full li {
   float: none;
    width: auto;
}
.copurit {
    width: 100%;
}
.rgtlinks {
    display: block;
    float: left;
    margin-top: 15px;
    width: 100%;
}
.upscroll {
    position: absolute;
    right: 15px;
    top: 45%;
}
}

@media screen and (max-width: 550px){
.userorlogin{ display:none;}
.caretdr .fa.cartdown{ display:block;}
.rgbalace{display:none;}
.ltbalece{ border-radius:30px;}
}

@media screen and (max-width: 500px){

.dropdown-menu.mysign1.curency_full::before {
    right: 23px;
}
 .fiftydiv{ width:50%;} 
.fulldiv{width: 100%;}
.notinh{ display:none;}
.roomnum, .numroom{ background:none;}
.roomnum {
    border-bottom: 1px solid #dddddd;}
.ltbalece, .flags{ font-size:13px}
.firsttop .topa {
    margin-right: 5px;
}
.ltbalece{ 
    padding: 5px 10px;}
    .fa.cartdown{margin: 5px 0 5px 5px;}
.numroom {
    color: #343437;
}
.fullfivn{ width:100%;}

}

@media screen and (max-width: 460px){
.flags, .userorlogin{font-size:13px;}
.flags{margin: 0 5px 0 0;}
.srchbutn{font-size:14px;}
.faftrsoc.fa{margin:5px;}
.nav-tabs-responsive > li.next a, .nav-tabs-responsive > li.prev a{padding: 10px 0;}

.inside_agent {
    display: block;
    margin: 0 -15px;
    overflow: hidden;
}
.left_wy {
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
}
.rgt_wy {
    text-align: center;
    width: 100%;
}
.partner_page > h1{ text-align:center;}

}


@media screen and (max-width: 400px){
#agent_signup {
    position: absolute;
    right: 10px;
    top: 0;
}
.earnbuton{ padding:8px 25px;}
.selectedwrap::after{ width:30px;}
.ltbalece {
    display: block;
    max-width: 114px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.percents .cmnper:first-child {
    display: block;
    width: 100%;
}
}





/*root application home page css*/

.cum_mrg{margin: 80px 0; }
.cum_intab{
    background-color: #fff;
    padding: 10px;
    margin: 5px 0 0;
}
.right_side_dash {
    margin: 108px 0px 0;
    padding: 0 15px 0 0;
}
.bannersrgt1 img{min-height: 345px;max-height: 345px;}
.menuandall {
    float: right;
    margin: 10px 0;
}
.col-lg-6.nopad.nocaptions {
    float: right;
}

#a_btn > a {
    color: #ffffff;
    line-height: 50px;
}
.segments {
    float: left;
    width: 100%;
}
#remove_city {
    color: #ffffff;
    display: block;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 100%;
}
.ui-autocomplete {
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}
/*.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.ui-datepicker-multi.ui-datepicker-multi-2{
    left:674.5px !important;
}*/
@media only screen and (max-width: 1200px) {
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.ui-datepicker-multi.ui-datepicker-multi-2{
    left:674.5px !important;
}
}
.mainsearch .customtab .nav-tabs > li a .spanfa.fahol{
  background-position: -186px -39px;
}
/*ul.hide_3 li:nth-child(3) {
   display:none; 
}*/


#currency_drop {
    display: none;
}

footer .copyrights {
    background-color: #3f4042;
    color: #fff;
}
footer .copyrights .copyin {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 9999;
    background-color: #3f4042;
    color: #fff;
}
.copyin {
    padding: 0 30px;
}
.copyin .row > div {
    padding: 0 7px;
}
.mar0 {
    margin: 0;
}
.fomid li, .folst li {
    display: inline-block;
    padding: 15px 0;
}
.fomid li {
    max-width: 25%;
}
.copyin li img {
    max-height: 23px;
    min-height: 23px;
}
.copyin li img {
    max-height: 23px;
    min-height: 23px;
}
.copyin .logpart li img {
    margin-top: -3px;
    max-height: 34px;
}
.fomid li, .folst li {
    display: inline-block;
    padding: 15px 0;
}
.folst img {
    max-height: 30px;
    max-width: 100%;
    padding: 0 3px;
}
.copyin li img {
    max-height: 23px;
    min-height: 23px;
}
#main-content > section.wrapper {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    float: none;
    background: transparent;
    border: none;
}
footer .copyrights p {
    margin: 0;
    font-size: 12px;
    line-height: 60px;
}
.fomid .logpart li:last-child p {
    line-height: normal;color: #fff;
}
.fomid .logpart li {
    max-width: 100%;
    padding: 5px 15px;
}
.fstfooter {
    margin-top: -67px;
    display: none;
}
.panel_ds .p-tb-5 {
    padding: 0;
}
.npadL { padding-left: 0 !important; }
.spllty .selectedwrap::after {    height: 43px;  line-height: 43px; }
.module_header .show {
    padding: 10px;
    color: #fff;
    border: 1px solid #198c8c;
    background: #198C8C !important;
    border-radius: 0;    margin: 0 0 1px;
}
.module_header .close {
    position: absolute;
    right: 8px;
    top: 6px;
    opacity: 0.75;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    font-size: 22px;
}
.module_header p {
    margin: 0;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
}
.module_header .close:hover, .module_header .close:focus { opacity: 1;}
img.flag_image {
    width: 27px;
    height: 18px;
    margin-right: 7px;
}
.org_row { margin:0 -15px; }
.fligthsdets .spllty .selectedwrap::after {
    height: 43px;
    line-height: 45px;
}
.text-uppercase { text-transform: uppercase; }
.loginsreset { max-width: 500px; margin: 0 auto;}
.pagesheading h1 {
    font-size: 22px;
    margin: 16px auto 2px;
    width: 100%;
    text-align: center;
}
