

/*top_deals*/

.owlindex2 .owl-buttons{bottom: 30px;
    left: 0px;
    margin: 0;
    position: absolute;
    right: 0px;}
.owlindex2.owl-theme .owl-controls .owl-buttons .owl-prev,
.owlindex2.owl-theme .owl-controls .owl-buttons .owl-next
{   border-radius: 100%;
    height: 40px;
    margin: 0 5px;
    padding: 0;
    text-align: center;
    width: 40px;
    z-index: 10; opacity:1;}
.owlindex2.owl-theme .owl-controls .owl-buttons .owl-prev{background:#f8f8f8 none repeat scroll 0 0; 
    left:0; position:absolute;}
.owlindex2.owl-theme .owl-controls .owl-buttons .owl-prev:after{background:#d2d2d4 none repeat scroll 0 0;border-radius: 100%;
    bottom: 0;
    color: #a1a1a1;
	content:"\f104";font-family: "FontAwesome";
    font-size: 25px;
    left: 0;
    line-height: 36px;
    position: absolute;
    right: 0;
    top: 0;
  }
 .owlindex2.owl-theme .owl-controls .owl-buttons .owl-next:after{background:#d2d2d4 none repeat scroll 0 0;border-radius: 100%;
    bottom: 0;
    color: #a1a1a1; content:"\f105";font-family: "FontAwesome";
    font-size: 25px;
    left: 0;
    line-height: 36px;
    position: absolute;
    right: 0;
    top: 0;}
.owlindex2.owl-theme .owl-controls .owl-buttons .owl-next{background:#f8f8f8 none repeat scroll 0 0;
    right:0; position:absolute;}
.owlindex2 .owl-pagination{background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: block;
    margin: 0;
    overflow: hidden;}
.owlindex2.owl-theme .owl-controls .owl-page span{height: 8px;
    margin: 0 5px 5px;
    width: 8px;}
.owl-theme .owl-controls .owl-page.active span{ background:#0e7ab1 !important;}

.owl-theme .owl-controls.clickable .owl-buttons div:hover.owl-next::after, .owl-theme .owl-controls.clickable .owl-buttons div:hover.owl-prev::after{background:#0e7ab1 !important; color:#fff;}
.outerfullfuture{background: #ffffff none repeat scroll 0 0;
    display: block;
    margin: 7px;}

.ourdest {
    display: block;
    max-height: 220px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}
.dealimage{text-align: center;}
.dealimage img{width: 90px;}
.ourdest img{
	min-height: 220px;
    width: 100%;}
.destplace {
    bottom: 0;
    color: #fff;
    font-size: 18px;
    left: 0;
    padding: 15px;
    position: absolute;
    right: 0;
    z-index: 1;
}
.destslider {
    margin: 0 -7px;
}
.pagehed > strong {
    color: #ff9900;
    font-weight: normal;
}
.comn_icons .fa.fa-star {
	    color: #ff9900;
    display: block;
    font-size: 15px;
}
.discrip_trip {
    color: #6f6f6f;
    display: block;
    font-size: 14px;
    overflow: hidden;
}
.tripcontent{background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    display: block;
    overflow: hidden;
    padding: 10px;
    width: 100%;}
.hotname{ color: #ffffff;
    font-size: 22px;
    padding: 10px 15px;
    position: absolute;
    top: 0;}	
.perfect_holiday{background: #fff none repeat scroll 0 0;
    float: left;
    padding: 25px 0;
    width: 100%;}
.destinations .featurehead{ color:#fff;}
.rgtplace{color: #3b3b3b;
    display: block;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;}
.bluprice{color: #6f6f6f;
    display: block;
    font-size: 14px;
    margin-top: 5px;
    overflow: hidden;}
.delas2 {
    left: 10px;
    position: absolute;
    top: 10px;
    z-index: 1;
}
.rmedium {
    color: #ffffff;
    display: block;
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    overflow: hidden;
}

.delas1 {
     background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    bottom: 0;
    color: #ffffff;
    font-size: 18px;
    left: 0;
    padding: 10px 0;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
}
.rsmall {
    color: #ffffff;
    display: block;
    font-size: 20px;
    overflow: hidden;
}
.rsmall strong {
    font-size: 40px;
    font-weight: normal;
}



/*top hotels*/
.popularhotel{background: #f4f4f5 none repeat scroll 0 0;
    float: left;
    padding: 25px 0;
    width: 100%;}
.stra_hotel{display: block;
    margin: 5px 0;
    overflow: hidden;}
.stra_hotel .fa{color: #ebebeb;font-size: 11px;margin: 5px 2px;}
.stra_hotel[data-star="5"] .fa:nth-child(1), 
.stra_hotel[data-star="5"] .fa:nth-child(2), 
.stra_hotel[data-star="5"] .fa:nth-child(3), 
.stra_hotel[data-star="5"] .fa:nth-child(4), 
.stra_hotel[data-star="5"] .fa:nth-child(5),
.stra_hotel[data-star="4"] .fa:nth-child(1), 
.stra_hotel[data-star="4"] .fa:nth-child(2), 
.stra_hotel[data-star="4"] .fa:nth-child(3), 
.stra_hotel[data-star="4"] .fa:nth-child(4),
.stra_hotel[data-star="3"] .fa:nth-child(1), 
.stra_hotel[data-star="3"] .fa:nth-child(2), 
.stra_hotel[data-star="3"] .fa:nth-child(3),
.stra_hotel[data-star="2"] .fa:nth-child(1), 
.stra_hotel[data-star="2"] .fa:nth-child(2),
.stra_hotel[data-star="1"] .fa:nth-child(1){ color:#717171;}	
.bluplace {
    color: #226cab;
    font-size: 14px;
    margin: 5px 0;
}
.tileprice {
    color: #f26722;
    display: block;
    font-size: 22px;
    font-weight: bold;
    text-align: right;
}


.customdeals{display: table;
    margin:0 auto 30px;}
.nav-tabs.customdeals {
    border: 0 none;
}
.nav-tabs.customdeals li {
    margin: 0 15px 0 0;
}
.nav-tabs.customdeals li.active a, .nav-tabs.customdeals li.active a:hover {
    background: #f26722 none repeat scroll 0 0;
    border: 0 none;
    color: #ffffff;
}
.nav-tabs.customdeals li a{
    background: none ;
	border:none !important;
    border-radius: 3px;
    color: #2e7ba4;
    font-size: 15px;
    margin: 0;
    padding: 10px 20px;
}
.nav-tabs.customdeals li a:hover{ border:1px solid #f4f4f5;}
.nav-tabs.customdeals .mysign1 li{ margin: 0;}
.nav-tabs.customdeals .dropdown-menu.mysign1{ padding:0;}



/*b2b home*/

.whenfixmar {
    display: block;
    float: left;
    margin: 50px 0;
    min-height: 450px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 10;
}
.captngrp {
   display: block;
    float: left;
    margin: 180px 0 0;
    overflow: hidden;
    padding: 0 0 0 50px;
    position: relative;
}
.bigcaption {
    color: #ffffff;
    display: block;
    font-size: 44px;
    font-weight: 500;
    overflow: hidden;
    text-transform: uppercase;
}
.smalcaptn {
    color: #ffffff;
    display: block;
    font-size: 20px;
    font-weight: normal;
    overflow: hidden;
}
.captngrp .smalcaptn:last-child{ text-align:right;}

.agenthed{ color:#666;}
.loginb2b {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    display: block;
    overflow: hidden;
}
.agenthed {
    color: #ffffff;
    font-size: 24px;
    padding: 10px 0 0;
    text-align: center;
}
.blocksone {
    background: #efefef none repeat scroll 0 0;
    float: left;
    padding: 70px 0 25px;
    position: relative;
    width: 100%;
}
/*.blocksone::after {
    background: #efefef none repeat scroll 0 0;
    bottom: -25px;
    content: "";
    height: 100px;
    left: 0;
    position: absolute;
    right: 0;
    transform: rotate(-2deg);
    z-index: -1;
}*/
.blockstwo {
    background: #fff none repeat scroll 0 0;
    float: left;
    padding: 70px 0 25px;
    position: relative;
    width: 100%;
}
/*.blockstwo::after {
    background: #fff none repeat scroll 0 0;
    bottom: -25px;
    content: "";
    height: 100px;
    left: 0;
    position: absolute;
    right: 0;
    transform: rotate(-2deg);
    z-index: -1;
}*/
.blocksthree {
    background: #efefef none repeat scroll 0 0;
    float: left;
    padding: 70px 0 25px;
    position: relative;
    width: 100%;
}
.blocksthree::after {
    background: #efefef none repeat scroll 0 0;
    bottom: -25px;
    content: "";
    height: 100px;
    left: 0;
    position: absolute;
    right: 0;
    transform: rotate(-2deg);
    z-index: -1;
}

.blocksfour {
    background: #fff none repeat scroll 0 0;
    float: left;
    padding: 70px 0 25px;
    position: relative;
    width: 100%;
}

.chcnt:nth-child(1) {
    z-index: 10;
}
.chcnt:nth-child(2) {
    z-index: 9;
}
.chcnt:nth-child(3) {
    z-index: 8;
}
.chcnt:nth-child(4) {
    z-index: 7;
}
.chcnt:nth-child(5) {
    z-index: 6;
}
.chcnt:nth-child(6) {
    z-index: 5;
}
.chcnt:nth-child(7) {
    z-index: 4;
}
.chcnt:nth-child(8) {
    z-index: 3;
}
.chcnt:nth-child(9) {
    z-index: 2;
}
.chcnt:nth-child(10) {
    z-index: 1;
}


.outblock {
    margin: 0 -15px;
}
.blockhesd {
    color: #161616;
    display: block;
    font-size: 30px;
    line-height: 37px;
    overflow: hidden;
    padding-bottom: 30px;
}
.blockul {
    color: #161616;
    display: block;
    font-size: 15px;
    overflow: hidden;
}
.blockul > li {
    display: block;
    margin: 0 0 15px;
    overflow: hidden;
}

.blocksimg {
    display: block;
    min-height: 300px;
    overflow: hidden;
    padding: 5px 0;
    text-align: center;
    width: 100%;
}
.blocksimg > img {
    max-height: 300px;
    max-width: 100%;
}
.lmoreblock {
    border: 1px solid #161616;
    border-radius: 3px;
    color: #161616;
    display: table;
    font-size: 15px;
    margin: 15px;
    padding: 10px 20px;
    text-align: center; transition:all 400ms ease-in-out 0s;
}
.lmoreblock:hover{ background:#0093de; border:1px solid #0093de; color:#fff;}


.loginsreset {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 0 10px -5px #656565;
    margin: 30px auto;
    width: 400px;
}
.loginsreset .agenthed{ color:#666;}
.parareserve {
    color: #666666;
    display: block;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
}
.loginsreset.thanklogin {
    width: 80%;
}

.loginsreset.registadd{ width:100%;}
.loginsreset.registadd .ritpul{ margin:0 -15px;}
.paylabel {
     color: #666666;
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    overflow: hidden;
}
.rerished {
    display: block;
    font-size: 18px;
    margin: 10px 0;
    overflow: hidden;
}
.regissubhed {
     display: block;
    float: left;
    font-size: 16px;
    margin: 10px 0 0;
    overflow: hidden;
}
.morecheck {
    display: block;
    float: left;
    width: 100%;
}
.morecheck > li {
    display: inline-block;
    margin: 10px 10px 10px 0;
}
.loginsreset.registadd .remlabel {
    color: #666666;
	display: block;
    overflow: hidden;
    text-align: left;
}
.centerchange.imagingblockright {
    float: right;
}
.outblock ul{ color: #161616;
    display: block;
    font-size: 15px;
    overflow: hidden;}
.outblock ul li{display: block;
    margin: 0 0 15px;
    overflow: hidden;
    padding-left: 20px;
    position: relative;}
.outblock ul li::after{content:"\f061";
	color: #f2733a;
    font-family: "FontAwesome";
	font-size: 12px;
    left: 0;
    position: absolute;
    top: 2px;}
.cmnper .paylabel{ margin-bottom:0;}

.book_us {padding: 6% 0;background-color: #fff;
    display: block;}
.copy_right{
    font-size: 15px;
    background-color: #f1f1f1;
    padding: 35px 0;
    color: #5b5c5e;
}
.txt_bookus {
    float: left;
    width: 100%;
    font-size: 18px;
}
.slide-button{border: 2px solid #0e73ba;padding: 3px 3px;}
.slide-button a {
    background: #0e73ba;
    color: #ffffff;
    float: left;
    font-family: raleway;
    height: 100%;
    line-height: inherit;
    text-align: center;
    width: 100%;
}

.sign_both {
    float: right;
}

.sign_both li {
    display: inline-block;
    list-style: none;
    line-height: 70px;
    font-size: 16px;
    padding: 10px 40px;
    cursor: pointer;
}
.sign_both li:last-child {
    background-color: #0e73ba;
    color: #fff;
}

.logo_index {
    float: left;
    width: 200px;
    margin: 12px 20px;
}
img {max-width: 100%;}
.reg_d2d{line-height: 56px !important;transition:all 300ms ease-in-out;}

.newconfadd {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    bottom: 20px;
    color: #ffffff;
	font-size: 16px;
    left: 20px;
    padding: 15px;
    position: absolute;
    right: 20px;
    transition: all 400ms ease-in-out 0s;
}
.clasdstntion {
    font-size: 22px;
}
.outerfullfuture1 {
   display: block;
    line-height: 130px;
    overflow: hidden;
	margin: 0 7px;
    text-align: center;
}
.outerfullfuture1 > img {
    max-width: 130px;
}
.outholids {
    margin: 0 -12px;
}



@media screen and (max-width: 1200px){
.smalcaptn{ font-size:18px;}
.bigcaption{ font-size:36px;}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.ui-datepicker-multi.ui-datepicker-multi-2{
	left:674.5px!important;
}

}


@media screen and (max-width: 991px){
	.smalcaptn { font-size: 16px;}
	.bigcaption{ font-size:20px;}
	.captngrp{padding: 0 0 0 20px;}
	.blockhesd{font-size: 20px;
    line-height: 27px; padding-bottom:15px;}
	.blockul{ font-size:14px;}
}


@media screen and (max-width: 768px){
.blocksimg{ min-height:250px; line-height:250px;}
.blocksimg > img{ max-height:250px;}	
}




@media screen and (max-width: 767px){.nocaptions{ display:none;}
.loginb2b{margin: 0 auto;
    width: 60%;}}
	
	
@media screen and (max-width: 650px){
	.col-xs-6.centerchange {
    width: 100%;
}
.chcnt{ padding:25px 0 !important;}
.chcnt:after{ display:none;}
.blocksimg{ line-height: 200px;
    margin-bottom: 20px;
    min-height: 200px;}
.blocksimg > img{ max-height:200px;}
}


@media screen and (max-width: 600px){

}


@media screen and (max-width: 550px){
.loginb2b {
    width: 80%;
}	
.signdiv{padding: 20px 15px;}
}

@media screen and (max-width: 500px){
.loginb2b {
    width: 100%;
}

	
}




/**************ss****************/

.section {
  padding-bottom: 50px;
  padding-top: 20px;
}
.description h1 {
  text-align: center;
  font-size: 2.5em;
  line-height: 1.25em;
}
div, a, ul, li, nav, input, select, button {
  outline: medium none;
}
article {
  margin-bottom: 20px;
}
.image-box.style5 figure a::before, .image-box.style9 figure a::before, .image-box.style11 figure a::before, .image-box.style10 figure a::before {
  background: rgba(1, 183, 242, 0.3) none repeat scroll 0 0;
  bottom: 0;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.4s ease-out 0s;
  width: 100%;
  z-index: 2;
}
.hover-effect:hover::after {
  opacity: 1;
  transform: rotateY(0deg) scale(1, 1);
  visibility: visible;
}
.hover-effect::after {
  background: rgba(1, 183, 242, 0.6) url("http://skysama.com/extras/system/template_list/template_v3/images/hover-effect.png") no-repeat scroll center center;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: rotateY(180deg) scale(0.5, 0.5);
  transition: all 0.4s ease-out 0s;
  visibility: hidden;
  width: 100%;
}
.hover-effect {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  overflow: hidden;
  position: relative;
  display:block;
}
a:hover, a:focus {
  color: #01b7f2;
  text-decoration: none;
}
.image-box.style5 figure a, .image-box.style9 figure a, .image-box.style11 figure a, .image-box.style10 figure a {
  display: block;
}
.hover-effect:hover img {
  transform: scale(1.2);
}
.sample a img {
  max-height: 300px;
  min-height: 300px;
  width: 100%;
}
.hover-effect img {
  position: relative;
  transition: all 0.4s ease-out 0s;
}
.details {
  background: #ffffff none repeat scroll 0 0;
}
.detail h4 {
  font-size: 12px;
}
.figcaption .details .detail, .figcaption .details .detail, .figcaption .details .detail, .figcaption .details .detail {
  margin: 0;
  padding: 10px 20px;
}
.box-title, .post-title, .post-meta, .author .name, .mile, .title, .s-title, .price, button, input.button[type="button"], a.button, dl, label, span.info, .price-wrapper, ul.tabs a, .icon-box.style1, .icon-box.style2, .icon-box.style3 .description, .icon-box.style5, .search-results-title, .breadcrumbs {
  letter-spacing: 0.04em;
}
.image-box.style5 .details .detail, .image-box.style9 .details .detail, .image-box.style11 .details .detail, .image-box.style10 .details .detail {
  margin: 0;
  padding: 10px 20px;
}
.image-box.style5 .details .detail .box-title, .image-box.style9 .details .detail .box-title, .image-box.style11 .details .detail .box-title, .image-box.style10 .details .detail .box-title {
  line-height: 40px;
  margin: 0;
}
.image-box.style5 .details .detail:first-child, .image-box.style9 .details .detail:first-child, .image-box.style11 .details .detail:first-child, .image-box.style10 .details .detail:first-child {
  border: medium none;
}
.image-box.style5 .details, .image-box.style9 .details, .image-box.style11 .details, .image-box.style10 .details {
  padding: 0;
}
.image-box.style5 .details .detail::after, .image-box.style9 .details .detail::after, .image-box.style11 .details .detail::after, .image-box.style10 .details .detail::after {
  clear: both;
  content: "";
  display: table;
}


.htldeals {
  background-image: url("http://skysama.com/extras/system/template_list/template_v3/images/bg-image1.png");
  float: left;
  padding: 30px 0;
  width: 100%;
}
.pagehdwrap {
  display: block;
  margin: 0 0 15px;
  overflow: hidden;
}
.pagehding {
  color: #fff;
  display: block;
  font-size: 32px;
  font-weight: 300;
  margin: 0 0 10px;
  overflow: hidden;
  text-align: center;
}
.tophtls {
  display: block;
  margin: 0 -4px;
}


.htlPckg {
  background: #f5f5f5 none repeat scroll 0 0;
  padding: 10px 0;
}
.image-box.style5 figure:hover a::before, .image-box.style9 figure:hover a::before, .image-box.style11 figure:hover a::before, .image-box.style10 figure:hover a::before {
  opacity: 1;
}
.image-box.style5 figure figcaption .caption-title, .image-box.style9 figure figcaption .caption-title, .image-box.style11 figure figcaption .caption-title, .image-box.style10 figure figcaption .caption-title {
  color: #fff;
  line-height: 1.1em;
  margin: 0;
  overflow: hidden;
  white-space: normal;
}
.image-box.style5 figure:hover figcaption, .image-box.style9 figure:hover figcaption, .image-box.style11 figure:hover figcaption, .image-box.style10 figure:hover figcaption {
  transform: translate3d(0px, 0px, 0px);
}
.image-box.style5 figure figcaption, .image-box.style11 figure figcaption, .image-box.style10 figure figcaption, .image-box.style9 figure figcaption {
  background: #2d3e52 none repeat scroll 0 0;
  left: 0;
  min-width: 130px;
  overflow: hidden;
  padding: 5px 20px;
  position: absolute;
  top: 10px;
  transform: translate3d(-100%, 0px, 0px);
  transition: transform 0.35s ease 0s;
  white-space: normal;
  z-index: 3;
}
.packdetis {
  background: #fff none repeat scroll 0 0;}
.tpcontent {
  display: block;
  overflow: hidden;
  padding:0 15px;
}
.tptitle {
  color: #444444;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  margin: 5px 0 0;
  overflow: hidden;
  padding: 10px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.htladrsxl {
  background: rgba(0, 0, 0, 0) url("../images/map.png") no-repeat scroll left 0;
  color: #666;
  display: block;
  margin: 0 0 5px;
  overflow: hidden;
  
}
.tpcontent p {
  color: #666666;
  display: block;
  line-height: 20px;
  margin: 0;
  overflow: hidden;
  white-space: normal;
  font-size:1.0833em;
}
.detail .price {
  color: #ff9900;
  display: block;
  float: none;
  font-size: 1.6667em;
  line-height: 2;
  text-align: center;
  text-transform: uppercase;
}
span:nth-child(2), span:nth-last-child(2) {
  animation-name: blur-2;
}
span:nth-child(-n+3) {
  animation-delay: -2.88s;
}
.detail .price small {
  color: #085e8e;
  display: block;
  font-size: 12px;
  overflow: hidden;
  text-align: center;
}
.packvew {
  margin-bottom: 30px;
}
.packvew a {
  background: #FF9900 none repeat scroll 0 0;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  line-height: 35px;
  padding: 0 15px;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
h3 {
  font-size: 1.5em;
}
/* .col-md-4.col-xs-12 img {
  height: 300px;
  width: 100%;
} */
.holiySlide .owl-prev::after {
  background: rgba(1, 183, 242, 0.6) url("../images/left-arrow.png") no-repeat scroll center center;
  border: 2px solid #ffffff;
  border-radius: 100%;
  bottom: 0;
  color: #ffffff;
  content: "";
  font-family: "FontAwesome";
  height: 45px;
  left: -2px;
  line-height: 41px;
  position: absolute;
  right: 0;
  top: -8px;
  width: 47px;
}
.holiySlide.owl-theme .owl-controls .owl-buttons div {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.holiySlide.owl-theme .owl-controls .owl-buttons div {
  border: 2px solid #fff;
  border-radius: 100%;
  position: absolute;
  top: 40%;
  z-index: 10000;
}
.holiySlide .owl-controls .owl-buttons .owl-prev {
  right: -65px;
}
.holiySlide .owl-next::after {
  background: rgba(1, 183, 242, 0.6) url("../images/right-arrow.png") no-repeat scroll center center;
  border: 2px solid #ffffff;
  border-radius: 100%;
  bottom: 0;
  color: #b3b3b3;
  content: "";
  font-family: "FontAwesome";
  height: 45px;
  left: -2px;
  line-height: 40px;
  position: absolute;
  right: 0;
  top: -9px;
  width: 47px;
}
.holiySlide.owl-theme .owl-controls .owl-buttons .owl-next {
  left: -65px;
}
.holiySlide.owl-theme .owl-controls .owl-buttons div {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.grid .lazy {
  height: 200px;
  width: 100%;
}
.lazy.lazy_loader {
  background: silver none repeat scroll 0 0;
  min-height: 195px;
}
.hover-effect img {
  backface-visibility: hidden;
  display: block;
  position: relative;
  transition: all 0.4s ease-out 0s;
}
.image-box.style5 figure, .image-box.style11 figure, .image-box.style10 figure, .image-box.style9 figure {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.image-box.style5 figure img, .image-box.style9 figure img, .image-box.style11 figure img, .image-box.style10 figure img {
  backface-visibility: hidden;
}
.footer {
  background: #ffffff none repeat scroll 0 0;
  display: block;
  float: left;
  overflow: hidden;
  padding: 5px 0 0;
  width: 100%;
}
.footer .footer-wrapper {
  padding: 30px 0;
}
.footer h2 {
  font-size: 1.6667em;
  line-height: 1.25em;
  margin-bottom: 20px;
}
ul.triangle li::before {
  color: #d9d9d9;
  content: "";
  display: block;
  float: left;
  font-size: 7px;
  margin-right: 10px;
}
ul.arrow li::before, ul.triangle li::before, ul.circle li::before, ul.check li::before, ul.chevron li::before, ul.arrow-square li::before, ul.check-square li::before, ul.check-circle li::before {
  font-family: "FontAwesome";
}
ul.triangle li::before {
  color: #d9d9d9;
  content: "";
  display: block;
  float: left;
  font-size: 7px;
  margin-right: 10px;
}
p, .footer a {
  color: #000000;
}
.frteli a {
  display: block;
  font-size: 14px;
  line-height: 27px;
  overflow: hidden;
  padding: 4px 0;
}
.adrsDtl {
  margin-top: 20px;
}
.footer p {
  font-size: 1.0833em;
  line-height: 1.6666;
  margin-bottom: 15px;
}
.adrsBr {
  padding: 0 0 0 45px;
  position: relative;
}
.adrsBr .cntntIcn {
  left: 0;
  position: absolute;
  top: 5px;
}
.cntntIcn {
  background: #d9d9d9 none repeat scroll 0 0;
  color: #ffffff;
  display: inline-block;
  font-size: 1.3333em;
  height: 30px;
  line-height: 32px;
  margin-right: 4px;
  position: relative;
  text-align: center;
  width: 30px;
}
.cntntIcn i {
  color: #0ab9f1;
  font-size: 1.12em;
  line-height: 30px;
}
.myFrm {
  background: #d9d9d9 none repeat scroll 0 0;
  margin: 0 0 10px;
  padding: 15px;
}
.myFrm h3 {
  border-bottom: 1px solid #c3c2c2;
  padding: 0 0 10px;
}
input.input-text, select, textarea, span.custom-select {
  background: #f5f5f5 none repeat scroll 0 0;
  border: medium none;
  line-height: normal;
}
input.input-text, textarea, span.custom-select {
  height: 34px;
  padding-left: 15px;
  padding-right: 15px;
}
.full-width {
  width: 100%;
}
.button {
  background: #01b7f2 none repeat scroll 0 0;
  border: medium none;
  border-radius: 3px;
  color: #ffffff;
  display: block;
  font-size: 1.833em;
  font-weight: 800;
  height: 35px;
  line-height: 0.833em;
  padding: 6px 10px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  width: 100%;
}
.footer .social-icons li a, .footer .copyright p {
  color: #ffffff;
}
.social-icons li a {
	background:#d9d9d9 none repeat scroll 0 0;
  display: inline-block;
  font-size: 1.3333em;
  height: 32px;
  line-height: 32px;
  margin-right: 4px;
  transition: opacity 0.3s ease-in 0s;
  width: 32px;
}
.social-icons li a:hover {
  background: #01b7f2 none repeat scroll 0 0;
}
.social-icons {
  margin-left: 50px;
}
.social-icons li {
  float: left;
  text-align: center;
   overflow: hidden;
}
.social-icons li:hover i {
  animation: 0.3s ease 0s normal forwards 1 running toRightFromLeft;
  display: block;
}
.insColr {
  background: #a4755d none repeat scroll 0 0;
}
.outrholiday {
  background: #fff none repeat scroll 0 0;
border-radius: 4px;
display: block;
line-height: 100px;
margin: 10px;
overflow: hidden;
text-align: center;
}
.outrholiday img {
  height: auto !important;
  width: 100px !important;
  min-height: auto !important;
  background: none  !important;
}