.sectns a { color: #ffffff !important;}

.socila .reglognorml {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 300;
    line-height: 36px;
    overflow: hidden;
    margin-left: 15px;
}
.logo img {
    -webkit-transition: all 400ms ease-in-out 0s;
    -moz-transition: all 400ms ease-in-out 0s;
    -o-transition: all 400ms ease-in-out 0s;
    transition: all 400ms ease-in-out 0s;
    max-height: 70px !important;
    width: 100%;
    max-width: 180px;
}
.flags { display: block;} 
.flags {margin: 0px 30px 0 10px;line-height: 50px;color: #2b3c4e !important}
.formlabel {margin: 4px 0;}
.fiveh {padding: 0 1px;}
.exploreall li a { line-height: 50px; }
/* .mainsearch .customtab .nav-tabs .spanfa {
    float: none;
    height: 25px;
    margin-left: 0;
    width: 30px;
    margin: 0 auto;
}
.mainsearch .customtab .nav-tabs > li a .spanfa.fahotel {
    background-position: -130px -37px;
}
.mainsearch .customtab .nav-tabs li a { background: #d2d6de none repeat scroll 0 0; } */
.topa {margin-right: 0;}
.grid .figure{background:none repeat scroll 0 0 #3085a3;cursor:pointer;display:block;margin:0px;height:300px;overflow:hidden;position:relative;text-align:center;}
.grid .figure img{position:relative;display:block;height:100%;width:100%;}
.grid .figure .figcaption{padding:2em;color:#fff;text-transform:uppercase;font-size:1.25em;-webkit-backface-visibility:hidden;backface-visibility:hidden;}
.grid .figure .figcaption::before,
.grid .figure .figcaption::after{pointer-events:none;}
.grid .figure .figcaption,
.grid .figure .figcaption > a{position:absolute;top:0;left:0;width:100%;height:100%;}
.grid .figure .figcaption > a{z-index:1000;text-indent:200%;white-space:nowrap;font-size:0;opacity:0;}
.grid .figure h3{word-spacing:-0.15em;font-weight:normal;}
.grid .figure h3,
.grid .figure p{margin:0;}
.grid .figure p{letter-spacing:1px;font-size:68.5%;}
.figure.effect-marley .figcaption{text-align:right;transition:all 400ms ease-in-out;}
.figure.effect-marley h3,
.figure.effect-marley p{position:absolute;right:30px;left:30px;padding:10px 0;}
.figure.effect-marley p{
    bottom: 30px;
    line-height: 1.5;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
    font-size: 13px;
    background: #198c8c;
    width: 130px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    border-radius: 4px;
    text-align: center;
    color: #fff;
}
.figure.effect-marley h3{top:30px;-webkit-transition:-webkit-transform 0.35s;transition:transform 0.35s;-webkit-transform:translate3d(0,20px,0);transform:translate3d(0,20px,0);font-size:26px;}
.figure.effect-marley:hover h3{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
.figure.effect-marley:hover .figcaption{background:rgba(0,0,0,.4)}
.figure.effect-marley h3::after{position:absolute;top:100%;left:0;width:100%;height:4px;background:#fff;content:'';-webkit-transform:translate3d(0,40px,0);transform:translate3d(0,40px,0);}
.figure.effect-marley h3::after,
.figure.effect-marley p{opacity:0;-webkit-transition:opacity 0.35s, -webkit-transform 0.35s;transition:opacity 0.35s, transform 0.35s;}
.figure.effect-marley:hover h3::after,
.figure.effect-marley:hover p{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
.nav-tabs.tabstab > li {
    background: none repeat scroll 0 0 rgba(25, 140, 140, 0.9);
    margin: 0px 5px;
    transition: all 400ms ease-in-out;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.nav-tabs.tabstab > li > a{border:medium none;border-radius:0;color:#fff;font-size:17px;line-height:25px;margin:0;padding:0 15px;text-align: center;background: transparent;}
.nav-tabs.tabstab li.active a, .nav-tabs.tabstab > li > a:hover, .nav-tabs.tabstab > li > a:focus{background:none;/* border:none; */color:#fff;cursor:pointer; text-decoration:none;}
.nav-tabs.tabstab li.active{
    background: none repeat scroll 0 0 rgba(46, 47, 49, 0.7);
    border:none;
    }
.nav-tabs.tabstab li:hover{}
.sprte.iconcmn{}
.sprte.icnhnflight{background-position:2px -66px;transition:all 400ms ease-in-out;}
.sprte.icnhtl{background-position:-133px 9px;transition:all 400ms ease-in-out;}
.sprte.icnhnbus{background-position:-273px 9px;transition:all 400ms ease-in-out;}
.sprte.icnhnhlydy{background-position:-401px 9px;transition:all 400ms ease-in-out;}
.nav-tabs.tabstab li:hover .sprte.icnhnflight,
.nav-tabs.tabstab li.active .sprte.icnhnflight{background-position:2px -66px;transition:all 500ms ease-in-out;}
.nav-tabs.tabstab li:hover .sprte.icnhtl,
.nav-tabs.tabstab li.active .sprte.icnhtl{background-position:-133px 9px;transition:all 500ms ease-in-out;}
.nav-tabs.tabstab li:hover .sprte.icnhnbus,
.nav-tabs.tabstab li.active .sprte.icnhnbus{background-position:-273px -71px;transition:all 500ms ease-in-out;}
.nav-tabs.tabstab li:hover .sprte.icnhnhlydy,
.nav-tabs.tabstab li.active .sprte.icnhnhlydy{background-position:-401px -71px;transition:all 500ms ease-in-out;}
.alladvnce{background: none repeat scroll 0 0 rgb(255, 255, 255);border-bottom:1px dashed #fff;color: #333;cursor:pointer;float:left;font-size:15px;height: 45px;line-height:42px;padding:0 10px;position:relative;width:96%;}
.alladvnce::after{content:"\f078";background: none repeat scroll 0 0 rgb(255, 255, 255);bottom:0;color: #999;font-family:"FontAwesome";font-size:12px;line-height: 45px;pointer-events:none;position:absolute;right:0;text-align:center;top:0;width:30px;height: 45px;}
.advncedown::before{content:"\f0d8";color:#fff;font-family:"FontAwesome";font-size:45px;position:absolute;right:50px;top:-30px;}
.advncedown{display:none;background:none repeat scroll 0 0 #fff;border-radius:3px;box-shadow:0 0 10px -5px #000;line-height:normal;position:absolute;right:0;top:55px;width:auto;transition:all 400ms ease-in-out;z-index:10000;}
.advncedown.fadeinn{display:block;}
.scroladvc{display:block;overflow:hidden;padding:10px;}
.adscrla{color:#444;display:block;overflow:hidden;padding:10px 15px;text-overflow:ellipsis;white-space:nowrap;width:100%;}
.advncedown.spladvnce{left:0;}
.iconcmn {
    display: block;
    height: 35px;
    width: 40px;
    margin: 10px auto 10px auto;
    padding: 0px;
    float: none;
}
.sectns {
    float: left;
    margin-right: 15px;
}
.mailadrs, .phnumr, .socila .reglognorml { line-height: 36px;}
.cum_mrg { margin: 18% 0 5%;}
.tabbable.customtab {background: transparent; padding: 0;}
.tabbable.customtab {
    background: transparent;
    padding: 0;
}
.tabbable.customtab ul {margin: 5px 5px 15px;}
.mainsearch .customtab .tab-content { background: none repeat scroll 0 0 rgba(39, 45, 45, 0.65); padding: 15px;}
.head_clr {color: #f52007;}
.customtab .nav-tabs > li > a:hover { border: none;}
.customtab .nav-tabs > li { float: none; display: inline-block; vertical-align: top;}
.formlabel, .lablform {color: #fff !important;}
.alladvnce .flyinputsnor, .pr_air .remngwd {color: #333 !important;}
.labladvnce { color: #fff ; line-height: 30px; overflow: hidden; }
/* .customtab .nav-tabs > li.active > a, .customtab .nav-tabs > li.active > a:hover, .customtab .nav-tabs > li.active > a:focus {
    background: transparent;
    border: none;
} */
footer .copyrights .copyin, footer {position: relative;}
.advsncerdch .marginbotom10 { margin-bottom: 10px; }
.labladvnce::after { color: #c7c7c7; }
.fstfooter { display: block; margin-top: 0;}  
footer .copyrights { display: none; }
.hedsprite {
    color: #f52007;
    display: block;
    font-size: 18px;
    font-weight: normal;
    margin: 10px 0 5px;
    overflow: hidden;
}
.pagehding1 { color: #484848; }
.pagebtm::before { background: #198c8c none repeat scroll 0 0; }
.pagebtm::after { background: #198c8c none repeat scroll 0 0; }
.folst li {padding: 0;}
.org_row { margin:0 -15px; }
.side_curency { text-align: center; width: 40px;line-height: 40px;}
.topAirlineOut {
    width: 100%;
    float: left;
    /* background: #3ecee9; */
    background: #fff;
    padding: 30px 0px 40px;
}
#TopAirLine .item {
    padding: 5px;
}
.airlinepart {
    background: #fff;
    display: block;
    overflow: hidden;
    height: 100px;
    width: 100%;
    line-height: 100px;
    border-radius: 3px;
    text-align: center;
}
.airlinepart img {
    max-width: 150px;
    display: inline-block;    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;    height: 100px;
}
#TopAirLine .owl-controls.clickable {
    /* position: absolute; */
    width: 100%;
    /* height: 100%; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
#TopAirLine .owl-prev {
    position: absolute;
    left: 0;
    top: 25px;
    text-indent: -999px;
    z-index: 0;
    zoom: normal !important;
}
/*#TopAirLine .owl-prev::before {
    content: "\f104";
    position: absolute;
    font-family: fontAwesome;
    font-size: 12px;
    color: #fff;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    z-index: 1000000;
}*/
#TopAirLine .owl-prev {
    background: #cfcfcf url(../images/left_arrow1.png) 15px 12px  no-repeat;
    width: 50px;
    height: 50px;
    opacity: 1;
    left: -50px;
}
#TopAirLine .owl-next {
    position: absolute;
    right: 0;
    top: 25px;
    text-indent: -99999px;
    z-index: 0;
    zoom: normal !important;
}
/*#TopAirLine .owl-next::before {
    content: "\f104";
    position: absolute;
    font-family: fontAwesome;
    font-size: 12px;
    color: #fff;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    z-index: 1000000;
}*/
#TopAirLine .owl-next{
    background: #cfcfcf url(../images/right_arrow1.png) 20px 12px no-repeat;
    width: 50px;
    height: 50px;
    opacity: 1;
    right: -55px;
}
#TopAirLine .owl-prev:hover {background-color: #0070d9;}
#TopAirLine .owl-next:hover {background-color: #0070d9;}
.topAirlineOut h2 span.blk {
    display: block;
    line-height: 1em;
    font-size: 34px;
    font-weight: 100;
    color: #484543;
}

.footertop {
    background: #198c8c;
    padding: 7px 0px 5px;
}
.footertop .row {
    margin-right: -15px;
    margin-left: -15px;
}
.footertop1.nopad {
    padding: 20px 0px 58px;
}
.footertoplft h3 {
    font-size: 24px;
    padding-bottom: 0;
    text-align: left;
    color: #fff;
    margin-top: 10px;
}
.footertoplft p {
    margin: 0 0 10px;
    color: #fff;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
}
.footertoplft input {
    line-height: normal;
    padding:5px 128px 4px 12px;
    margin-bottom: 22px;
    border: none;
    width: 100%;
    max-width: 460px;
    position: relative;
    outline: none;
}
.read img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    bottom: 24px;
    right: 105px;
}
.footertoprgt h3 {
    font-size: 24px;
    padding-bottom: 0;
    color: #fff;
    margin-top: 10px;
}
.footertoprgt p {
    margin: 0 0 15px;
    color: #fff;
}
.social1 li {
   /* border: 1px solid #eee;*/
    background: #ffffff;
    /* box-shadow:2px 2px 2px #ddd; */
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin: 0 8px;
    text-align: center;
}
.social1 li a {
    font-size: 1.65em;
    color: #fff;
}
.signfomup {
    float: left;
    padding: 0;
    width: 100%;
    position: relative;
    max-width: 460px;
}
.footertoplft .btn {padding: 6px 20px;}
li.face_book i.fa.fa-facebook {
    color: #385491;
    font-size: 22px;
}
li.twit i.fa.fa-twitter {
    color: #00aaf0;
    font-size: 22px;
}
li.pin i.fa.fa-pinterest {
    color: #c02102;
    font-size: 22px;
}
li.linked i.fa.fa-linkedin {
    color: #0073ab;
    font-size: 22px;
}
li.plus i.fa.fa-google-plus {
    color: #cb2a2a;
    font-size: 22px;
}
.ftr_logo img.ftr {
    margin-top: 30px;
}
.fulnine {
    margin-top: 5px;
}
.footertoplft .btn {
    padding: 6px 20px;
}
.btn.btn_sub.subsbtm {
    background: #ff2020 none repeat scroll 0 0;
    border: 1px solid #ff2020;
    color: #ffffff;
    line-height: 26px;
    position: absolute;
    right: 6px;
    top: 5px;
}
.footertoplft input {
    line-height: normal;
    padding: 5px 128px 4px 12px;
    margin-bottom: 22px;
    border: none;
    width: 100%;
    max-width: 460px;
    position: relative;
    outline: none;
}
.form-control.ft_subscribe {
    border: 1px solid #ddd !important;
    border-radius: 3px;
    box-shadow: none;
    height: 50px;
}
.footertoprgt.fwidth {
    padding-left: 13%;
}
.nopad {
    padding: 0!important;
}
.fstfooter {
    background: #f6f6f6 none repeat scroll 0 0;
    border-bottom: 1px solid #fff;
    float: left;
    margin: 0px 0 0;
    padding: 40px 0 95px;
    position: relative;
    width: 100%;
    border-top: 1px solid #ddd;
}
.fstfooter::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 2px;
    border-top: 1px solid #ffffff82;
    border-bottom: 1px solid #ffffff82;
}
.fstfooter::after {
    background: rgba(0, 0, 0, 0) url(../images/bk_bg.png) no-repeat scroll right 0;
    content: "";
    height: 137px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
}
.topssec { height: 70px; }

.sprte.aud{background-position:-791px -59px !important;}
.sprte.usd{background-position:-791px -227px !important;}
.sprte.sar{background-position:-791px -273px !important;}
.sprte.inr{background-position:-791px -142px !important;}
.sprte.gbp{background-position:-791px -99px !important;}
.sprte.aed{background-position:-791px -314px !important;}
.frteli a {
    display: block;
    font-size: 14px;
    line-height: 27px;
    overflow: hidden;
    padding: 4px 0;color: #262b2f;
}
.fstfooter .container {
    position: relative;
    z-index: 1000;
}
.htlPckg { padding: 10px 0 0;}
#flights_pre_booking {
    max-width: 1080px;
}
.advr a {
    display: block;
    margin-bottom: 40px;
}
.advr a img { max-width: 100% }
.booking_form.billing .section_bg fieldset .left {
    padding-left: 0;
    padding-right: 0;
}
.nopadR { padding-right: 3px; }
.nopadL { padding-left: 3px; }
@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}
.blink{
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
}