/* VPC Styles Start */

.c-media {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    background: whitesmoke;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #d1d1d1;
    border-bottom: 3px solid #d1d1d1;
}
.no-left-padding {
    padding-left: 0 !important;
}
.text-primary {
    color: #454545;
    font-weight: bold;
    margin-bottom: 5px !important;
}
h4.text-primary {
    color: #337ab7;
}
.carousel-inner figcaption p {
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 6px;
}
.c-social li a {
    color: white;
}
.c-social li a .fa-inverse {
    color: #00317a;
}
.c-gray-color {
    color: gray;
}
.c-padding-right-null {
    padding-right: 0 !important;
}
.c-padding-left-null {
    padding-left: 0 !important;
}
.c-margin-null {
    margin: 0 !important;
}
.c-margin-top-null {
    margin-top: 0 !important;
}
.c-margin-bottom-null {
    margin-bottom: 0 !important;
}
.c-lightback {
    background: white;
    padding: 10px 0;
}
#carousel-zingatripdeals figure {
    position: relative;
}
#carousel-zingatripdeals figcaption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    padding: 10px;
    background: rgba(255, 255, 255, .9);
    color: #333;
}
.fullbackblue hr {
    opacity: 0.2;
    margin-top: 9px !important;
}
.text-warning {
    color: #fb8602;
}
#carousel-zingatripdeals .carousel-control {
    width: 0;
    top: 50%;
    bottom: auto;
    width: 50px;
    height: 75px;
    margin-top: -25px;
    background: white;
    opacity: 1;
    color: silver;
    opacity: 0.8;
}
#carousel-zingatripdeals .carousel-control:hover {
    opacity: 1;
}
#carousel-zingatripdeals .carousel-control.left {
    border: 1px dashed #A6A6A6;
    border-left: 0;
    left: -2%;
    border-radius: 0 10% 10% 0;
}
#carousel-zingatripdeals .carousel-control.right {
    border: 1px dashed #A6A6A6;
    border-right: 0;
    right: -2%;
    border-radius: 10% 0 0 10%;
}
#carousel-zingatripdeals .carousel-control span {
    position: static;
    margin-top: 25px;
}
.home-main-head {
    color: #0da5e6;
    font-weight: normal;
    font-size: 26px;
}
#carousel-topattractions figcaption, #carousel-bestsellingdeals figcaption {
    background: #FFFFFF;
    padding: 10px;
    border: 1px solid #D8D8D8;
    border-top: 0;
}
#carousel-zingatripdeals .item.active figure img {
    height: 250px;
    width: 100%;
}
#carousel-topattractions figcaption {
    padding-top: 20px;
    padding-left: 10px;
}
#carousel-topattractions .carousel-indicators {
    bottom: 40px;
}
#carousel-zingatripdeals figure figcaption {
    border: 0;
    border-bottom: 1px dashed #fb8602;
}
#carousel-zingatripdeals figure figcaption h4 {
    color: #454545;
    font-size: 15px;
    font-weight: bold;
}
#carousel-zingatripdeals figure figcaption h4.text-warning {
    color: #fb8602;
    font-size: 17px;
}
#carousel-zingatripdeals figure figcaption .left {
    width: 70%;
    height: 43px;
    overflow: hidden;
}
#carousel-topattractions .carousel-indicators li {
    border-color: silver;
    background: #FFFFFF;
}
.media-heading {
    color: #000000;
}
#carousel-topattractions .carousel-indicators li.active {
    border-color: #fb8602;
    background: #FFFFFF;
}
#carousel-bestsellingdeals figure > img {
    height: 220px;
}
#carousel-flightdeals .carousel-control.left, #carousel-topattractions .carousel-control.left, #carousel-bestsellingdeals .carousel-control.left {
    top: -35px;
    bottom: auto;
    width: 0;
    left: auto;
    right: 50px;
    color: silver;
}
#carousel-flightdeals .carousel-control.right, #carousel-topattractions .carousel-control.right, #carousel-bestsellingdeals .carousel-control.right {
    top: -35px;
    bottom: auto;
    width: 0;
    left: auto;
    right: 15px;
    color: silver;
}
.carousel-control:hover, .carousel-control:focus {
    color: #fb8602;
}
.formsubmit .sfitlbl {
    background: #fb8602;
}
.formsubmit .srcharow {
    background-color: #fb8602;
}
/* end VPC Styles Start */

html, body {
    height: 100%;
}
body {
    background: #fff;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    overflow-x: hidden;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
div, a, ul, li, nav, input, select, button {
    outline: none !important;
}
a {
    cursor: pointer;
}
.img-portfolio {
    min-height: 200px;
}
.portimgwrap {
    border: 1px solid #ddd;
    display: block;
    margin: 0 8px;
    overflow: hidden;
}
.img-hover:hover {
    opacity: 0.8;
}
a:hover {
    text-decoration: none;
}
/* Home Page Carousel */

header.carousel {
    height: 500px;
}
header.carousel .item, header.carousel .item.active, header.carousel .carousel-inner {
    height: 100%;
}
header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}
/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}
.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}
.period {
    display: block;
    font-style: italic;
}
/* Footer Styles */

footer {
    margin: 50px 0 0;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald-Bold';
    src: url('../fonts/Oswald-Bold.eot');
    src: url('../fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Oswald-Bold.woff') format('woff'), url('../fonts/Oswald-Bold.ttf') format('truetype'), url('../fonts/Oswald-Bold.svg#Oswald-Bold') format('svg');
}
@font-face {
    font-family: 'Raleway-Medium';
    src: url('../fonts/Raleway-Medium.eot');
    src: url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Raleway-Medium.woff') format('woff'), url('../fonts/Raleway-Medium.ttf') format('truetype'), url('../fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
}
.mylogo {
    display: block;
    height: auto;
    max-width: 280px;
    margin: 4px 0 0 0;
    overflow: hidden;
}
.mylogo img {
    height: 75px;
}
.bannerbigcnt {
    background: none repeat scroll 0 0 rgba(6, 95, 142, 0.8);
    clear: both;
    color: #fff;
    float: left;
    font-family: lato, sans-serif;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 80px;
    overflow: hidden;
    padding: 5px 20px;
    text-align: left;
}
.bannersmlcnt {
    background: none repeat scroll 0 0 rgba(6, 95, 142, 0.8);
    clear: both;
    color: #fff;
    float: left;
    font-family: lato, sans-serif;
    font-size: 30px;
    overflow: hidden;
    padding: 5px 20px;
    text-align: left;
}
.colorwhite {
    background: #fff;
}
.navme {
    border: 0 none;
    box-shadow: 0 0 10px -5px #808080;
    -webkit-box-shadow: 0 0 10px -5px #808080;
    -moz-box-shadow: 0 0 10px -5px #808080;
    -o-box-shadow: 0 0 10px -5px #808080;
    border-radius: 0;
    margin: 0;
}
.fulsectin.fixed {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.topmenu {
    float: right;
}
.mytmenu {
    float: left;
}
.navme .navbar-toggle {
    background: #fff;
    border: 1px solid #none;
    float: right;
}
.navbar-toggle .icon-bar {
    background: #085e8e;
}
.navbar-header.myheder {
    float: left;
}
.topritsec {
    clear: both;
    float: right;
    padding: 10px 0;
    position: relative;
    width: 100%;
}
.spltop {
    border: 1px solid #eee;
    display: block;
    padding: 6px 10px;
}
.ritli {
    float: left;
}
.ritli:last-child {
    margin: 0;
    float: right;
}
.forlogin {
    background: none repeat scroll 0 0 #d84c37;
    border: 1px solid #e65a45;
    color: #fff;
    padding: 6px 20px;
}
.carousel-caption h2 {
    display: none;
}
.navbar-brand.mylogo {
    padding: 5px;
}
.ritdetmenu {
    float: right;
    margin-left: 20px;
}
/*Tab*/

.marginchange {
    margin-top: -100px;
}
.customtab {
    background: none;
}
.customtab .nav-tabs {
    background: rgba(251, 134, 2, 0.9);
    border: 0 none;
    height: auto;
    min-height: 400px;
}
.customtab .tab-content {
    background: rgba(0, 0, 0, .4);
    border-top: 0;
    min-height: 420px;
    padding: 10px;
    color: white;
    display: block;
    overflow: hidden;
}
.customtab .nav-tabs li {
    background: transparent;
    margin: 0;
    border: none;
    float: left;
    width: 100%;
}
.customtab .nav-tabs > li > a {
    border: medium none;
    color: #fff;
    font-family: open_sansregular;
}
.customtab .nav-tabs > li > a:hover {
    background: none;
}
.customtab .nav-tabs > li.active > a, .customtab .nav-tabs > li.active > a:hover, .customtab .nav-tabs > li.active > a:focus {
    background: black;
    border: medium none;
    color: #666;
}
.customtab .nav-tabs li a {
    border-radius: 0;
    margin: 0;
    padding: 0;
    background: transparent;
    width: 100%;
    display: block;
    overflow: hidden;
    height: 60px;
    border: 0;
    border-bottom: 1px solid #E47900;
}
.customtab .nav-tabs .spanfa {
    background: url("../images/menuiconhover.png") no-repeat scroll 0 0;
    float: left;
    height: 25px;
    margin: 17px 0 0 19px;
    width: 40px;
}
.customtab .nav-tabs .spanfa.faflight {
    background-position: -40px -59px;
}
.customtab .nav-tabs .spanfa.fahotel {
    background-position: -92px -59px;
}
.customtab .nav-tabs .spanfa.facar {
    background-position: -146px -59px;
}
.customtab .nav-tabs .spanfa.faholiday {
    background-position: -203px -57px;
}
.customtab .nav-tabs .spanfa.fabus {
    background-position: -254px -59px;
}
.customtab .nav-tabs .spanfa.facruise {
    background-position: -511px 0px;
}
.totopp {
    display: block;
    overflow: hidden;
}
.customtab .nav-tabs li.active a {
    background: #101010;
}
.customtab .nav-tabs li.active a .spanfa.faflight {
    background-position: -40px -3px;
}
.customtab .nav-tabs li.active a .spanfa.fahotel {
    background-position: -92px -3px;
}
.customtab .nav-tabs li.active a .spanfa.facar {
    background-position: -146px -3px;
}
.customtab .nav-tabs li.active a .spanfa.fabus {
    background-position: -254px -4px;
}
.customtab .nav-tabs li.active a .spanfa.faholiday {
    background-position: -203px -1px;
}
.field-type-icon i.fa {
    font-size: 20px;
    color: #454545;
    width: 15px;
    margin: 9px 0 0 13px;
}
.menunav.navbar-nav > li > a {
    color: #000;
    font-family: "open_sansregular";
    font-size: 13px;
    padding: 30px 15px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.menunav.navbar-nav > li > a:hover {
    background: none;
}
.menunav.navbar-nav > li > a:hover {
    color:rgba(234, 125, 18, 0.85);
}
.fullback {
    background: #fff;
    float: left;
    width: 100%;
}
.mintabht {
    min-height: 400px;
}
.famenu {
    background: url("../images/icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 38px;
    margin: 0 auto;
    overflow: hidden;
    width: 30px;
}
.mhome {
    background-position: -418px center;
}
.mflight {
    background-position: 0 4px;
}
.mhotel {
    background-position: -125px 7px;
}
.mcar {
    background-position: -235px 8px;
}
.mholyday {
    background-position: -335px 7px;
}
.myhomemenu.navbar-nav li {
    border-right: 1px solid #ededed;
    margin: 0;
}
.myhomemenu.navbar-nav li.active {
    background: none repeat scroll 0 0 #fb8602;
}
.mintabht > .row {
    padding: 30px 0;
}
.contactonly {
    color: #fff;
    float: left;
    font-family: open_sansregular;
    font-size: 14px;
    height: 30px;
    line-height: 34px;
    padding: 0 20px 0 0;
    font-weight: normal;
}
.contactonly .fa {
    background: none repeat scroll 0 0 #fb8602;
    float: left;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    padding: 0 10px;
}
.socials {
    float: left;
    margin-left: 10px;
}
.socials .fa {
    color: #fff;
    cursor: pointer;
    height: 35px;
    line-height: 28px;
    text-align: center;
    width: 37px;
    background: #fc9623;
    padding-top: 5px;
}
.tab-content {
    margin-bottom: 30px;
}
.intabs {
    float: left;
    padding: 15px 15px 0;
    width: 100%;
    position: relative;
}
.tabinhed {
    display: block;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    padding: 0 0 15px;
}
.tabinrow {} .formlabel {
    display: block;
    font-size: 14px;
    margin: 4px 0;
}
.multi-add-button-outer {
    position: absolute;
    width: auto;
    float: right;
    padding: 0px 15px;
}
.forminput {
    border: 1px solid #ddd;
    box-shadow: 0 0 10px -5px #ccc inset;
    color: #666;
    float: left;
    height: 40px;
    padding: 10px 10px 10px 41px;
    width: 100%;
}
p.multi-add-text {
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
    float: right;
    margin: 3px 0 0 8px;
}
.nopad {
    padding: 0;
}
.calendr {
    background: url(../images/cal.png) no-repeat right center #fff;
}
.marginbotom10 {
    margin-bottom: 15px;
}
.werego {
    background: url("../images/map.png") no-repeat scroll 12px center #fff;
    border: 1px solid #ddd;
    float: left;
    height: 38px;
    padding: 0 6px 0 40px;
    width: 100%;
}
.roomnum, .numroom {
    background: url(../images/room.png) no-repeat left 0;
}
.roomnum {
    float: left;
    height: 38px;
    width: 100%;
}
.numroom {
    background-position: right -39px;
    color: #fff;
    display: block;
    float: right;
    font-size: 13px;
    font-weight: bold;
    height: 38px;
    line-height: 38px;
    margin-right: -18px;
    padding-right: 25px;
    text-align: center;
    width: 100%;
}
.toglebtn .btn-default {
    background: #5e6e92;
    border-color: #5e6e92;
    color: #333;
}
.toglebtn .btn-primary:hover, .toglebtn .btn-primary:focus, .toglebtn .btn-primary:active, .toglebtn .btn-primary.active, .toglebtn .open > .dropdown-toggle.btn-primary {
    background-color: #fff;
    border-color: #fff;
    color: #333;
}
.mydropdown {
    border-radius: 0;
    height: 35px;
    padding: 0 6px;
}
.mydropdown {
    line-height: 35px;
}
.fullw {
    width: 100%;
}
.downsumbol {
    background: url("../images/down.png") no-repeat scroll 15px center rgba(0, 0, 0, 0);
    border-left: 1px solid #ddd;
    float: right;
    height: 100%;
    width: 35px;
}
.menunav.navbar-nav > li.active > a {
    color: #fff;
}
.navbar-fixed-top {
    border: none !important;
}
.ritalign {
    float: right;
}
.formsubmit {
    width: 100%;
    margin-top: 10px;
}
.search-button {
    padding: 8px 10px;
    text-align: center;
    min-width: 150px;
    float: left;
    background: #fb8602;
    border: 0;
    font-size: 16px;
    color: #fff;
}
.srchbutn {
    border: 1px solid #ef7d25;
    color: #fff;
    display: table;
    font-family: open_sansregular;
    font-size: 18px;
    margin: 0 auto;
    padding: 10px 80px 10px 30px;
    position: relative;
    text-transform: uppercase;
    z-index: 1000;
}
.srcharow {
    background: url("../images/smtip.png") no-repeat scroll center center #ce5c23;
    float: right;
    height: 50px;
    width: 50px;
}
.comncolor {
    background: none repeat scroll 0 0 #ef7d25;
}
.dealslider {} .dealimage {
    display: block;
    cursor: pointer;
    max-height: 200px;
    overflow: hidden;
    position: relative;
}
.dealimage img {
    width: 100%;
}
.ofrdiv {
    background: url("../images/ofr.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 102px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 102px;
}
.top1 {
    color: #fff;
    display: block;
    font-size: 15px;
    margin-top: 12px;
    text-align: center;
}
.top2 {
    color: #fff;
    display: block;
    font-family: oswald-bold;
    font-size: 22px;
    line-height: 14px;
    margin-top: 10px;
    text-align: center;
}
.top3 {
    color: #fff;
    display: block;
    font-size: 15px;
    line-height: 36px;
    overflow: hidden;
    text-align: center;
}
.imgname {
    background: none repeat scroll 0 0 #fff;
    display: block;
    overflow: hidden;
    z-index: 10;
}
.tile {
    color: #444;
    display: block;
    font-family: open_sansregular;
    font-size: 16px;
    font-weight: normal;
    overflow: hidden;
    padding: 15px 10px 5px;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
}
.noleftpad {
    padding: 0 10px 0 0;
}
.owlindex.owl-theme .owl-controls .owl-buttons .owl-prev, .owlindex.owl-theme .owl-controls .owl-buttons .owl-next {
    border-radius: 0;
    height: 69px;
    margin: -35px 0 0;
    padding: 0;
    position: absolute;
    text-indent: -99999px;
    top: 50%;
    width: 49px;
    z-index: 10;
}
.owlindex.owl-theme .owl-controls .owl-buttons .owl-prev {
    background: url(../images/prev2.png) no-repeat -1px center;
    left: 0;
}
.owlindex.owl-theme .owl-controls .owl-buttons .owl-next {
    background: url(../images/next2.png) no-repeat right center;
    right: 0;
}
.owlindex .owl-pagination {
    bottom: 0;
    left: 40%;
    position: absolute;
    width: 20%;
    z-index: 2;
}
.owlindex2 .owl-buttons {
    margin: 0;
    position: absolute;
    right: 0;
    top: -65px;
}
.owlindex2.owl-theme .owl-controls .owl-buttons .owl-prev, .owlindex2.owl-theme .owl-controls .owl-buttons .owl-next {
    border: 1px solid #ddd;
    border-radius: 0;
    height: 40px;
    margin: 0 5px;
    padding: 0;
    text-indent: -99999px;
    width: 40px;
    z-index: 10;
}
.owlindex2.owl-theme .owl-controls .owl-buttons .owl-prev {
    background: url(../images/prev3.png) no-repeat center center;
    left: 0;
}
.owlindex2.owl-theme .owl-controls .owl-buttons .owl-next {
    background: url(../images/next3.png) no-repeat center center;
    right: 0;
}
.owlindex2 .owl-pagination {
    background: none repeat scroll 0 0 #fff;
    display: block;
    margin-top: -10px;
    overflow: hidden;
}
.owlindex2.owl-theme .owl-controls .owl-page span {
    height: 8px;
    margin: 0 5px 5px;
    width: 8px;
}
.indexbaner2.owl-theme {
    box-shadow: 0 3px 0 0 #e3e3e3;
}
.smalbanr.topttr {
    display: block;
    max-height: 200px;
    min-height: 200px;
    overflow: hidden;
}
.smalbanr.topttr img {
    min-height: 200px;
}
.comercialad {
    display: block;
    margin: 20px 0 10px;
    max-height: 240px;
    overflow: hidden;
}
.ownadd {} .selplace {
    color: #666;
    display: block;
    max-height: 70px;
    min-height: 70px;
    overflow: hidden;
    padding: 5px 10px 10px;
}
.chinadel {
    display: block;
    overflow: hidden;
    margin: 1px;
    padding-bottom: 10px;
}
.from {
    background: url("../images/from.png") no-repeat scroll 0 center #fff;
}
.too {
    background: url("../images/too.png") no-repeat scroll 0 center #fff;
}
.delabl, .delprice {
    color: #666;
    display: block;
    line-height: 18px;
    overflow: hidden;
}
.pricecolor {
    color: #fb8602;
}
.delprice strong {
    font-size: 16px;
}
.radgrp {
    float: left;
    margin-right: 25px;
    padding: 10px 0;
}
.radgrp input {
    float: left;
    line-height: 22px;
    margin: 0;
}
.radgrp label {
    color: #666;
    float: left;
    line-height: 14px;
    margin: 0;
    padding-left: 10px;
}
.imgname2 {
    background: none repeat scroll 0 0 #f6f6f6;
    box-shadow: 0 3px 0 0 #e3e3e3;
    float: left;
    padding: 0 0 8px;
    width: 100%;
}
.fullgraybak {
    background: #f6f6f6;
    float: left;
    width: 100%;
}
.boxx {} .flightimage {
    display: block;
    max-height: 130px;
    overflow: hidden;
}
.rowflitdeal {
    border-bottom: 1px solid #eee;
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 6px 0;
}
.dealflit {
    display: block;
    padding: 10px 0;
    text-align: center
}
.fromto {
    color: #666;
    display: block;
    font-family: oswald-bold;
    font-size: 14px;
    letter-spacing: 1px;
    overflow: hidden;
    padding: 5px 0 2px;
    text-align: center;
}
.fromtodate {
    color: #666;
    display: block;
    overflow: hidden;
    text-align: center;
}
.flitamt {
    color: #065f8e;
    display: block;
    font-family: Oswald-Regular;
    font-size: 18px;
    line-height: 45px;
    text-align: center;
}
.pageheader {
    border-bottom: 1px solid #ddd;
    color: #085e8e;
    display: block;
    font-family: Raleway-Medium;
    font-size: 22px;
    margin: 20px 8px 15px;
    overflow: hidden;
    padding: 0 0 10px;
    text-transform: uppercase;
}
.pageheader strong {
    float: left;
    font-weight: normal;
}
.centralign {
    text-align: center;
}
.portimg {
    display: block;
    max-height: 200px;
    min-height: 200px;
    overflow: hidden;
    position: relative;
}
.portimg img {
    width: 100%;
}
.tile.nopdtitle {
    padding-bottom: 0;
}
.tile2 {
    color: #ed5565;
    display: block;
    font-size: 15px;
    font-weight: normal;
    overflow: hidden;
    padding: 5px 10px;
}
.tileprice {
    color: #085e8e;
    display: block;
    font-family: Oswald-Regular;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 22px;
    padding: 5px 10px 15px;
    text-align: left;
}
.tileprice strong {
    font-size: 18px;
    font-weight: normal;
    margin-right: 8px;
}
.tileprice b {
    font-size: 14px;
    font-weight: normal;
}
.padbotm20 {
    padding-bottom: 20px;
}
.flitow {
    display: block;
    margin: 0 5px;
    overflow: hidden;
}
.comonfooter {
    background: white;
    border-top: 1px solid #fff;
    float: left;
    padding: 20px 0 0;
    width: 100%;
}
.footerbotm {
    background: none repeat scroll 0 0 #2b2b2b;
    float: left;
    padding: 20px 0 5px;
    width: 100%;
}
.copurit a {
    color: #fff;
}
.copurit {
    float: left;
    color: #d1d1d1;
    font-size: 13px;
}
.futtrlogo {
    display: block;
    margin: 15px 0;
    overflow: hidden;
    text-align: left;
}
ul.footerlistblack li a {
    text-transform: capitalize;
    color: #454545;
}
ul.footerlistblack li a:hover {
    color: #fb8602;
}
.ftitleblack {
    color: #444;
    display: block;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
    overflow: hidden;
    text-transform: uppercase;
}
.footerlistblack a {
    color: #666;
    display: block;
    font-size: 13px;
    overflow: hidden;
    padding: 3px 0;
}
.homelinksftr {
    float: right;
    margin-right: 20px;
}
.homelinksftr a {
    color: #d1d1d1;
    font-size: 13px;
    padding: 0 5px;
}
a.gotop {
    background: url("../images/top.png") no-repeat scroll -1px -1px rgba(0, 0, 0, 0.5);
    border: 1px solid #3b3b3b;
    display: block;
    float: right;
    height: 36px;
    margin: -10px 0 0;
    text-align: center;
    width: 35px;
}
.starbook {
    display: block;
    margin-top: -5px;
    max-width: 80px;
    padding: 0 10px;
}
.starbook img {
    width: 100%;
}
.bookmr {
    background: none repeat scroll 0 0 #ed5565;
    color: #fff;
    float: right;
    margin: 10px 10px 0 0;
    padding: 10px 15px;
}
.relative {
    position: relative;
}
.form-control.fccustom2black {
    background: none repeat scroll 0 0 #fff;
    border: 0 none;
    border-radius: 0;
    color: #999 !important;
    height: 32px;
}
.btn-default.btncustom, .btncustom {
    background: url("../images/arrow.png") repeat scroll -5px -5px #0099cc;
    border: 0 none;
    border-radius: 0;
    color: #fff;
    height: 32px;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-indent: -100px;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 32px;
}
.grey2 {
    color: #fff;
    display: block;
    margin-top: 6px;
    overflow: hidden;
}
a.social1b {
    margin: 0 5px;
}
.scont {
    color: #999;
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: left;
}
.scont .fa {
    float: left;
    font-size: 18px;
    margin-right: 10px;
}
.addresof {
    color: #666;
    display: block;
    line-height: 20px;
    overflow: hidden;
}
.ft {
    border: 1px solid #eee;
    box-shadow: 0 0 10px -5px #ccc inset;
    color: #666;
    float: left;
    height: 40px;
    padding: 0 4px 0 36px;
    width: 100%;
}
.container.whenfixmar.adfix {
    margin-top: 50px;
}
.memer {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ddd;
    margin: 20px 0;
}
.tabpro {} .tabprocnt.tab-content {
    display: block;
    overflow: hidden;
    padding: 10px 0;
}
.tabpro .tab-content {
    background: none repeat scroll 0 0 rgba(44, 62, 80, 0.8);
    border-top: 4px solid #2e86ce;
    float: left;
    min-height: 200px;
    width: 100%;
}
.tabpro .nav-tabs > li {
    border-bottom: 1px solid #cacaca;
    border-radius: 0;
    border-top: 1px solid #eee;
    display: block;
    margin: 0;
    overflow: hidden;
    width: 100%;
}
.tabpro .nav-tabs > li:first-child {
    border-top: 0;
}
.tabpro .nav-tabs > li:last-child {
    border-bottom: 0;
}
.tabpro .nav-tabs > li > a {
    background: none repeat scroll 0 0 #ddd;
    border: medium none;
    border-radius: 0;
    color: #666;
    display: block;
    margin: 0;
    overflow: hidden;
    width: 100%;
    text-align: center;
}
.tabpro .nav-tabs > li > a .fa {
    color: #bbb;
    display: block;
    font-size: 30px;
    overflow: hidden;
    text-align: center;
}
.tabpro .nav-tabs > li.active > a, .tabpro .nav-tabs > li.active > a:hover, .tabpro .nav-tabs > li.active > a:focus {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    color: #333;
}
.tabpro .nav-tabs li a {
    font-size: 14px;
    line-height: 28px;
}
.tabpro .nav-tabs li a strong {
    font-weight: normal;
}
.userproimg {
    border: 1px solid #e5e5e5;
    float: left;
    margin-right: 15px;
    padding: 4px;
}
.prodets {
    display: block;
    overflow: hidden;
}
.namepro {
    color: #2e86ce;
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    overflow: hidden;
}
.norpro {
    color: #666;
    display: block;
    margin-bottom: 5px;
    overflow: hidden;
}
.tripc {
    float: left;
    width: 25%;
}
.trcount {
    color: #666;
    display: block;
    font-family: Oswald-Bold;
    font-size: 24px;
    letter-spacing: 1px;
    text-align: center;
}
.tripboxh {
    color: #666;
    display: block;
    font-size: 12px;
    margin-top: 10px;
    overflow: hidden;
    text-align: center;
}
.intrpx {
    background: none repeat scroll 0 0 #eee;
    display: block;
    margin: 5px;
    overflow: hidden;
    padding: 10px;
}
.proinhed {
    border-bottom: 1px solid #eee;
    color: #666;
    display: block;
    font-size: 22px;
    margin-bottom: 15px;
    overflow: hidden;
    padding-bottom: 8px;
}
.profileinput {
    border: 1px solid #ddd;
    color: #666;
    display: block;
    height: 35px;
    overflow: hidden;
    padding: 5px;
    width: 70%;
}
.lablnote {
    color: #666;
    display: block;
    margin-top: 5px;
    overflow: hidden;
}
.collabel {
    display: block;
    font-size: 14px;
    margin-top: 5px;
    text-align: right;
}
.detsrow {
    display: block;
    margin-bottom: 20px;
    overflow: hidden;
}
.proselect {
    border: 1px solid #ddd;
    color: #666;
    display: block;
    height: 35px;
    overflow: hidden;
    padding: 6px;
    width: 70%;
}
.paddivs {
    display: block;
    overflow: hidden;
    padding: 10px 0;
}
.cheklist {
    display: block;
    overflow: hidden;
    padding: 5px 10px;
}
.cheklist input[type="checkbox"] {
    float: left;
    margin: 1px 5px 0 0;
}
.cheklabl {
    color: #444;
    float: left;
}
.padlisting {
    padding: 0 0 0 30px;
}
.fulsectin {
    background: none repeat scroll 0 0 #00a8e9;
    float: left;
    width: 100%;
}
.tabinheder {
    border-bottom: 1px solid #eee;
    color: #666;
    display: block;
    font-size: 20px;
    margin: 0 0 15px;
    overflow: hidden;
    padding: 10px 0;
}
.bookimage {
    float: left;
    margin-right: 10px;
}
.bookmaindets {
    display: block;
    overflow: hidden;
}
.bookmainhed {
    color: #333;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 5px;
    overflow: hidden;
}
.bookads {
    color: #666;
    display: block;
    margin-bottom: 5px;
    overflow: hidden;
}
.ratebook {
    display: block;
    overflow: hidden;
}
.ratebook strong {
    color: #d84c37;
    float: left;
    font-size: 15px;
    margin-right: 5px;
}
.ratebook b {
    color: #666;
    float: left;
    font-weight: normal;
    margin-top: 3px;
}
.rateimage {
    display: block;
    overflow: hidden;
}
.bookdesc {
    color: #666;
    display: block;
    line-height: 20px;
    overflow: hidden;
}
.bookmore {
    background: #f2f2f2;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 3px 2px;
    color: #999999;
    display: table;
    font-size: 14px;
    margin: 0 auto;
    padding: 8px 20px;
    -webkit-transition: .3s;
    transition: .3s;
}
.bookmore:hover {
    color: #333;
    border: 1px solid #bababa;
    background: #f2f2f2;
    text-decoration: none;
}
.bookli {
    border-bottom: 1px dotted #ddd;
    display: block;
    overflow: hidden;
    padding: 15px 0;
}
.indexbaner {
    position: relative;
}
.smalbanr {
    max-height: 375px;
}
.indexbaner.owl-theme .owl-controls {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    margin: 0;
    padding-top: 5px;
    position: absolute;
    width: 100%;
}
.smalbanr img {
    width: 100%;
}
.incolwhy {
    display: block;
    overflow: hidden;
    padding: 20px;
}
.iconfor {
    display: block;
    min-height: 158px;
    padding: 20px 0;
    text-align: center;
}
.hedfrowhy {
    color: #fff;
    display: block;
    font-family: open_sansregular;
    font-size: 20px;
    margin: 8px 0 10px;
    overflow: hidden;
    padding: 5px 0;
    text-align: center;
}
.whypara {
    color: #fff;
    display: block;
    font-family: open_sansregular;
    font-size: 14px;
    line-height: 18px;
    min-height: 100px;
    text-align: center;
}
.ads {
    display: table;
    margin: 15px auto 5px;
}
.padbotom10 {
    padding-bottom: 10px;
}
.htlcal.fa {
    margin-right: 5px;
}
.dateandtimeyr strong {
    font-size: 20px;
}
.dateandtimeyr b {
    color: #666;
}
.htlboxhed strong {
    margin-left: 5px;
}
.deptypew {
    color: #666;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}
.modify.lesmargin {
    margin: 18px auto 0;
}
.facility {
    background: url("../images/hotelpref-ico.png") no-repeat scroll 0 0 #fff;
    border: 2px solid #ebebeb;
    border-radius: 4px;
    color: #999;
    float: left;
    height: 28px;
    margin-right: 4px;
    padding: 5px;
    width: 28px;
}
.facility strong {
    float: left;
    font-weight: normal;
    text-indent: -9999px;
}
.facility.wifi {
    background-position: -3px -3px;
}
.facility.aircondition {
    background-position: -3px -33px;
}
.facility.swimpol {
    background-position: -3px -63px;
}
.morefac {
    float: left;
}
.morefac a {
    color: #1e52a4;
    float: left;
    margin: 5px;
    text-decoration: underline;
}
.hotelistrow {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e9e9e9;
    display: table;
    margin-bottom: 15px;
    width: 100%;
}
.imagehotel {
    display: block;
    max-height: 200px;
    overflow: hidden;
}
.imagehotel img {
    width: 100%;
}
.padall10 {
    display: block;
    padding: 10px;
}
.hotelhed {
    color: #0088c7;
    display: block;
    font-size: 16px;
    overflow: hidden;
}
.singleadrs {
    color: #666;
    display: block;
    margin: 5px 0;
    overflow: hidden;
}
.strahtlrate {
    display: block;
    margin-bottom: 5px;
    overflow: hidden;
}
.somemoredesc {
    color: #666;
    display: block;
    line-height: 20px;
    margin-bottom: 5px;
    overflow: hidden;
}
.pricesec {} .pricehotel {
    color: #ef6d4c;
    display: block;
    font-size: 22px;
    overflow: hidden;
    text-align: center;
}
.smalper {
    color: #666;
    display: block;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: center;
}
.booknow {
    background: none repeat scroll 0 0 #01aaeb;
    border: 1px solid #009fe0;
    color: #fff;
    display: table;
    margin: 20px auto auto;
    padding: 10px;
    text-align: center;
    width: 90%;
}
.xcel {
    display: table-cell;
    float: none;
    vertical-align: top;
}
.xcel.bordrit {
    border-left: 1px dotted #eee;
    padding: 10px;
    vertical-align: middle;
}
.starimag {
    float: left;
    margin-top: -3px;
}
.padhtlname {
    display: block;
    overflow: hidden;
    padding: 15px 10px;
}
.namehotel {
    border: 1px solid #ddd;
    float: left;
    height: 40px;
    padding: 0 8px;
    width: 100%;
}
.contentpad {
    float: left;
    width: 100%;
    padding: 20px 0;
}
.bighotl {
    display: block;
    max-height: 350px;
    overflow: hidden;
}
.bighotl img {
    width: 100%;
}
.thumbimg {
    isplay: block;
    margin: 5px;
    max-height: 80px;
    overflow: hidden;
}
.thumbimg img {
    width: 100%;
}
/*  Carousel Ads  */

#carousel-ads {
    margin-bottom: 10px;
}
#carousel-ads .carousel-indicators {
    text-align: right;
    display: inline-block;
    top: 102.5%;
    left: 40%;
    margin: 0;
}
#carousel-ads .carousel-indicators li {
    border-color: #0060ba;
    background: #0060ba;
}
#carousel-ads .carousel-indicators li.active {
    border-color: #fb8602;
    background: #fb8602;
}
#carousel-ads .carousel-inner .item {
    height: auto;
    background: transparent;
}
#carousel-ads .carousel-inner .item img {
    min-height: 395px;
}
/*  end Carousel Ads  */

.owl-carousel.syncslide .owl-item {
    opacity: .6;
}
.owl-carousel.syncslide .owl-item.synced {
    background: none repeat scroll 0 0 #14b9d5;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s
}
.detowl.owl-theme .owl-controls .owl-buttons .owl-prev, .detowl.owl-theme .owl-controls .owl-buttons .owl-next {
    border-radius: 0;
    height: 49px;
    margin-top: -25px;
    position: absolute;
    text-indent: -99999px;
    top: 50%;
    width: 49px;
    z-index: 10;
}
.detowl.owl-theme .owl-controls .owl-buttons .owl-prev {
    background: url(../images/prev2.png) no-repeat center center;
    left: -5px;
}
.detowl.owl-theme .owl-controls .owl-buttons .owl-next {
    background: url(../images/next2.png) no-repeat center center;
    right: -5px;
}
.detowl.owl-theme .owl-controls {
    bottom: -80px;
    height: 80px;
    margin: 0;
    position: absolute;
    width: 100%;
}
.owl-carousel.syncslide {
    background: #ddd;
}
.desklarge {
    float: right;
}
.insidemaindets {
    background: none repeat scroll 0 0 #fff;
    display: block;
    min-height: 440px;
    overflow: hidden;
    padding: 10px 10px 10px 20px;
}
.srchhotl {
    color: #333;
    font-size: 18px;
    margin: 0 0 5px;
}
.htlstar {
    display: block;
    margin: 10px 0 15px;
    overflow: hidden;
}
.htladrs {
    background: url("../images/map.png") no-repeat scroll left 0 rgba(0, 0, 0, 0);
    color: #666;
    display: block;
    margin: 10px 0;
    overflow: hidden;
    padding-left: 20px;
}
.rowhtl {
    display: block;
    margin: 20px 0;
    overflow: hidden;
}
.inpadcol {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #eee;
    display: block;
    margin-right: 10px;
    overflow: hidden;
    padding: 10px;
}
.inpadcol p {
    color: #666;
    display: block;
    margin: 0;
}
.ratingful {
    color: #00a8e8;
    display: block;
    font-size: 34px;
    font-weight: bold;
    overflow: hidden;
}
.ratingful strong {
    color: #666;
    font-size: 16px;
    font-weight: normal;
    margin-left: 10px;
}
.htlbook {
    width: 100%;
    height: 52px;
    padding: 15px 10px 10px 10px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    border: 1px solid #e45221;
    background: url('../images/btn-book.png') #30c7fb no-repeat -5px 0;
    text-shadow: rgba(0, 0, 0, .4) 0 -1px 0;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 3px;
}
.htlbook:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: rgba(0, 0, 0, .4) 0 -1px 0;
    background: url('../images/btn-book.png') #30c7fb no-repeat -5px -50px;
}
.bokbtnwrap {} .majorfaci {
    display: block;
    margin-top: 20px;
    overflow: hidden;
}
.smalhotldesc {
    color: #666;
    display: block;
    line-height: 20px;
    margin-top: 20px;
    overflow: hidden;
}
.fulldetab {
    float: left;
    padding: 20px 0;
    width: 100%;
}
.fulldetab .nav-tabs {
    background: #085e8e;
    border: 0;
}
.fulldetab .nav-tabs > li {
    background: none repeat scroll 0 0 #085e8e;
    border-left: 1px solid #1a70a0;
    border-right: 1px solid #004c7c;
    margin: 0;
}
.fulldetab .nav-tabs > li > a {
    border: 0 none;
    border-radius: 0;
    color: #fff;
    font-size: 13px;
    margin: 0;
}
.fulldetab .nav-tabs > li > a:hover {
    background: none;
}
.fulldetab .nav-tabs > li.active {} .fulldetab .nav-tabs > li.active a {
    background: none repeat scroll 0 0 #fff;
    border: 0 none;
    color: #333;
}
.innertabs {
    background: none repeat scroll 0 0 #fff;
    float: left;
    padding: 10px;
    width: 100%;
}
.mensionspl {
    color: #666;
    display: block;
    overflow: hidden;
    padding: 5px 0;
}
.menlbl {
    float: left;
    margin-left: 5px;
}
.mensionspl strong {
    float: left;
}
.refundpol {
    color: #468833;
    display: block;
    font-size: 14px;
    margin: 10px 0 0;
    overflow: hidden;
}
.refundpol .fa {
    font-size: 16px;
    margin-right: 6px;
}
.hotelistrowhtl {
    background: none repeat scroll 0 0 #fff;
    display: table;
    width: 100%;
}
.htlrumrow {
    border: 1px solid #ddd;
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
.hotelistrowhtl .imagehotel {
    margin: 10px;
}
.allromdesc p {
    display: block;
    overflow: hidden;
    padding: 0 10px;
}
.sumtab {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: #666;
    display: block;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    padding: 10px 0;
    text-align: left;
    width: 100%;
}
.sumtab.collapsed span.collapsearrow {
    background: url("../images/collapsearrow.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 8px;
    margin-top: 10px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 9px;
}
.sumtab span.collapsearrow {
    background: url("../images/collapsearrow.png") no-repeat scroll 0 -8px rgba(0, 0, 0, 0);
    float: right;
    height: 8px;
    margin-top: 10px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 9px;
}
.parasub {
    clear: both;
    color: #666;
    line-height: 20px;
}
.comenhtlsum {
    color: #666;
    display: block;
    line-height: 20px;
    overflow: hidden;
    padding: 10px 0;
}
.linebrk {
    background: none repeat scroll 0 0 #e8e8e8;
    display: block;
    height: 1px;
    margin: 10px 0 15px;
    padding: 0;
}
.checklist {} .checklist li {
    background: url("../images/li.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    color: #666;
    display: block;
    line-height: 22px;
    overflow: hidden;
    padding: 5px 5px 5px 20px;
}
.ratingusr {} .ratingusr strong {} .ratingusr b {} .ratingimg {}
/*    BOOKING SECTION    */

.board {
    float: left;
    height: 100%;
    position: relative;
    width: 100%;
}
.board .nav-tabs {
    position: relative;
    margin: 0 auto;
    margin-bottom: 0;
    box-sizing: border-box;
}
.board-inner .nav-tabs li {
    width: 25%;
}
.board > div.board-inner {
    position: relative;
    height: 100%;
}
.onlyforcart {
    background: #fff;
    background-size: 30%;
}
.board p.narrow {
    width: 60%;
    margin: 10px auto;
}
.board .liner {
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}
.board .nav-tabs > li.active > a, .board .nav-tabs > li.active > a:hover, .board .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    /* background-color: #ffffff; */
    
    border: 0;
    border-bottom-color: transparent;
}
.board span.round-tabs {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
.board span.round-tabs.one {
    color: rgb(34, 194, 34);
    border: 2px solid rgb(34, 194, 34);
}
.board li.active span.round-tabs.one {
    background: #fff !important;
    border: 2px solid #ddd;
    color: rgb(34, 194, 34);
}
.board span.round-tabs.two {
    color: #febe29;
    border: 2px solid #febe29;
}
.board li.active span.round-tabs.two {
    background: #fff !important;
    border: 2px solid #ddd;
    color: #febe29;
}
.board span.round-tabs.three {
    color: #3e5e9a;
    border: 2px solid #3e5e9a;
}
.board li.active span.round-tabs.three {
    background: #fff !important;
    border: 2px solid #ddd;
    color: #3e5e9a;
}
.board span.round-tabs.four {
    color: #f1685e;
    border: 2px solid #f1685e;
}
.board li.active span.round-tabs.four {
    background: #fff !important;
    border: 2px solid #ddd;
    color: #f1685e;
}
.board span.round-tabs.five {
    color: #999;
    border: 2px solid #999;
}
.board li.active span.round-tabs.five {
    background: #fff !important;
    border: 2px solid #ddd;
    color: #999;
}
.board .nav-tabs > li.active > a span.round-tabs {
    background: #fafafa;
}
.board li.active:before {
    content: " ";
    position: absolute;
    left: 45%;
    /* right: 0; */
    
    margin: 0 auto;
    bottom: -2px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    z-index: 1;
}
.board li.active:after {
    content: " ";
    position: absolute;
    left: 45%;
    /* right: 0; */
    
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #ddd;
}
.board .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}
.board .nav-tabs > li a:hover {
    background: transparent;
}
.nopadding {
    padding: 0;
    margin: 0;
}
.board .tab-content {
    background: none repeat scroll 0 0 #fff;
}
.board .tab-pane {
    position: relative;
    padding-top: 20px;
}
.board .tab-content .head {
    border-bottom: 1px dotted #eee;
    font-size: 25px;
    margin: 0 0 20px;
    padding-bottom: 15px;
    text-transform: uppercase;
}
.board .rumli {
    border: none;
}
.board .btn-outline-rounded {
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}
.board .btn.green:hover {
    background: #419641;
}
.board .btn.green {
    background-color: #5cb85c;
    /*border: 2px solid #5cb85c;*/
    
    color: #ffffff;
}
.rumli {
    border-bottom: 1px dotted #BBBBBB;
    float: left;
    padding: 0;
    width: 100%;
}
.imgrum {
    float: left;
    width: 25%;
}
.inimgnum {
    display: block;
    margin-right: 10px;
    max-height: 1120px;
    overflow: hidden;
}
.inimgnum img {
    width: 100%;
}
.nxtrum {
    display: block;
    overflow: hidden;
}
.lefwid50 {
    width: 50%
}
.rumhed {
    color: #333333;
    display: block;
    font-size: 16px;
    margin: 0 0 5px;
    overflow: hidden;
}
.descs {
    color: #666;
    display: block;
    font-size: 13px;
    margin: 0 0 5px;
    overflow: hidden;
}
.avail {
    display: block;
    margin-bottom: 6px;
    overflow: hidden;
}
.avail li {
    float: left;
    margin-right: 4px;
}
.avail li div {
    border: 2px solid #ddd;
    border-radius: 2px;
    color: #999999;
    float: left;
    height: 28px;
    margin-top: 4px;
    padding: 5px;
    width: 28px;
    transform: perspective(1000);
    -webkit-transform: perspective(1000);
    -moz-transform: perspective(1000);
    -o-transform: perspective(1000);
    -ms-transform: perspective(1000);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
}
.avail li:hover div {
    background-color: #1bbc9b;
    border: 2px solid #1bbc9b;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}
.edittab {
    background: none repeat scroll 0 0 #1bbc9b;
    border: 1px solid #13b493;
    border-radius: 100%;
    color: #fff;
    cursor: pointer;
    height: 25px;
    line-height: 22px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 25px !important;
    z-index: 10;
}
.sevin {
    border-right: 1px dotted #BBBBBB;
    display: block;
    overflow: hidden;
    padding-right: 10px;
}
.wid25s {
    width: 25%;
}
.inrits {
    display: block;
    overflow: hidden;
    padding-left: 10px;
}
.cashs {
    color: #72BF66;
    display: block;
    font-size: 18px;
    line-height: 24px;
    overflow: hidden;
    text-align: center;
}
.cashs strong {
    color: #CCCCCC;
    font-size: 12px;
    line-height: 12px;
}
.statuss {
    display: block;
    margin: 10px 0;
    text-align: center;
}
.hleft {
    color: #FF9966;
}
.descimp {
    color: #333333;
    display: block;
    font-weight: 200;
    line-height: 14px;
    margin-bottom: 5px;
    overflow: hidden;
}
.alldesc {
    display: block;
    font-size: 12px;
    margin-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    white-space: nowrap;
}
.morles {
    color: #1e52a4;
    cursor: pointer;
    display: block;
    font-size: 12px;
    overflow: hidden;
}
.left {
    float: left;
}
.right {
    float: right;
}
.trans {
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.inoutdets {
    float: left;
    width: 100%;
}
.infifty {
    background: none repeat scroll 0 0 #eeeeee;
    border-left: 1px solid #fefefe;
    border-right: 1px solid #dcdcdc;
    display: block;
    overflow: hidden;
    padding: 10px;
}
.cheks {
    color: #333333;
    display: block;
    margin-bottom: 5px;
    overflow: hidden;
    text-transform: uppercase;
}
.date-txt-big {
    color: #555555;
    float: left;
    font-family: oswald;
    font-size: 48px;
    letter-spacing: 1px;
    line-height: 48px;
    padding: 0 10px;
    width: 50%;
}
.mnthndte {
    display: block;
    overflow: hidden;
}
.mnthndte article {
    color: #333333;
    display: block;
    line-height: 22px;
    overflow: hidden;
}
.infifty.noborlet {
    border-right: 0 none;
}
.nitmension {
    background: none repeat scroll 0 0 #eee;
    border-top: 1px solid #fefefe;
    box-shadow: 0 -4px 5px -6px #000;
    float: left;
    padding: 5px 0;
    text-align: center;
    width: 100%;
}
.fullcard {
    float: left;
    margin-top: 10px;
    width: 100%;
}
.incard {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #00a9ea;
    display: block;
    font-size: 12px;
    margin: 10px 15px;
    overflow: hidden;
    text-transform: uppercase;
}
.baseli.hedli {
    background: none repeat scroll 0 0 #00a9ea;
    color: #fff;
}
.wid10 {
    float: left;
    width: 10%;
}
.wid30 {
    float: left;
    width: 30%;
}
.wid20 {
    float: left;
    width: 20%;
}
.baselicenter {
    background: none repeat scroll 0 0 #f8f8f8;
    color: #555;
    float: left;
    font-size: 12px;
    padding: 10px;
    width: 100%;
}
.textrit {
    text-align: right;
}
.wid80 {
    float: left;
    width: 80%;
}
.colrdark {
    color: #333;
}
.bigtext {
    font-size: 15px;
}
.rscolor {
    color: #cb3904;
}
.indiscount {
    display: block;
    font-size: 12px;
    margin: 10px 15px;
    overflow: hidden;
}
.cashdisc {
    color: #666;
    display: block;
    font-size: 16px;
    margin: 10px 0 15px;
    overflow: hidden;
}
.form-control {
    background-color: #ffffff;
    border-radius: 4px;
    color: #999999;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 0 6px 12px;
    -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}
.fifty {
    float: left;
    width: 50%;
}
.baseli {
    border-bottom: 1px solid #f1f1f1;
    color: #555;
    float: left;
    padding: 10px;
    width: 100%;
}
.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075)
}
.btn-default {
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-linear-gradient(top, #fff 0, #e0e0e0 100%);
    background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
    background-repeat: repeat-x;
    border-color: #dbdbdb;
    border-color: #ccc;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false)
}
.inlogin {
    display: block;
    overflow: hidden;
    padding: 0 10px;
}
.rowlog {
    margin-bottom: 15px;
}
.input-group {
    border-collapse: separate;
    display: table;
    position: relative;
}
.folwrap {
    display: block;
    overflow: hidden;
}
.or {
    background: url("../images/rep.png") repeat-x scroll 0 center rgba(0, 0, 0, 0);
    float: left;
    width: 100%;
}
.or strong {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ddd;
    border-radius: 100%;
    box-shadow: 0 0 10px -6px #606060 inset;
    display: table;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}
.longlinehed {
    background: url("../images/rep.png") repeat-x scroll 0 bottom rgba(0, 0, 0, 0);
    color: #666;
    display: block;
    font-size: 16px;
    margin: 10px 0 15px;
    overflow: hidden;
    padding: 10px 0;
}
.martop {
    margin-top: 10px;
}
.bookhed {} .inersimilar {
    background: none repeat scroll 0 0 #fff;
    display: block;
    overflow: hidden;
    padding: 10px;
}
.maysimilr {
    border-bottom: 1px solid #eee;
    color: #069ebd;
    font-size: 16px;
    margin: 0;
    padding: 5px 0 10px;
}
.umayalso {
    border-bottom: 1px dotted #ddd;
    display: block;
    overflow: hidden;
    padding: 10px 0;
}
.htllikeimg {
    float: left;
    margin-right: 10px;
    max-width: 100px;
    overflow: hidden;
}
.htlimgonl {} .htlimgonl img {
    width: 100%;
}
.umaydesc {
    display: block;
    overflow: hidden;
}
.umnames {
    color: #333;
    display: block;
    font-size: 14px;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.umaystar {} .htladrsz {
    background: url("../images/map.png") no-repeat scroll left 0 rgba(0, 0, 0, 0);
    color: #666;
    display: block;
    margin: 5px 0 0;
    overflow: hidden;
    padding-left: 20px;
}
.actulpric {
    color: #064326;
    display: block;
    font-size: 18px;
}
.adultic {
    background: url("../images/cat.png") no-repeat scroll -1px -53px rgba(0, 0, 0, 0);
}
.adultic, .childic {
    height: 22px;
    margin: 0 4px;
    width: 11px;
}
.cunt {
    margin: 0 3px;
}
.childic {
    background: url("../images/cat.png") no-repeat scroll -12px -53px rgba(0, 0, 0, 0);
}
.fullgraybak.withdark {
    background: #d6d6d6;
}
.caln {
    background: url("../images/cal.png") no-repeat scroll center center;
}
.selectedwrapnum {
    border: 1px solid #ddd;
    box-shadow: 0 0 10px -5px #ccc inset;
    display: block;
    height: 40px;
    overflow: hidden;
    background: #FFFFFF;
}
.persnm {
    float: left;
    height: 40px;
    width: 40px;
}
.onlynum {
    display: table;
    width: 100%;
}
.cmnum {
    background: none repeat scroll 0 0 #eeeeee;
    border: 1px solid #eeeeee;
    color: #666;
    cursor: pointer;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    width: 30px;
}
.btnplus {
    float: left
}
.btnminus {
    float: right;
}
.padult {
    background: url("../images/adult.png") no-repeat scroll center center;
}
.pachildrn {
    background: url("../images/children.png") no-repeat scroll center center;
}
.painf {
    background: url("../images/infant.png") no-repeat scroll center center;
}
.onlynumwrap {
    display: block;
    overflow: hidden;
    padding: 4px;
}
.datemix {
    display: block;
    font-size: 18px;
    text-align: center;
    width: 40px;
}
.meex {
    display: table-cell;
    vertical-align: middle;
}
@media(max-width:992px) {
    .tabpro .nav-tabs li {
        border: medium none;
        float: left;
        width: auto;
    }
    .tabpro .nav-tabs {
        background: #ddd;
        border: medium none;
    }
    .collabel {
        text-align: left;
    }
    .clrf {
        clear: both;
    }
}
@media(max-width:768px) {
    .profileinput, .proselect {
        width: 100%;
    }
    .tabpro .nav-tabs li a strong {
        display: none;
    }
}
@media(max-width:400px) {
    .tabpro .nav-tabs > li > a .fa {
        font-size: 20px;
    }
    .userproimg {
        display: block;
        overflow: hidden;
        margin: 0 0 10px;
        width: 100%;
    }
    .userproimg img {
        width: 100%;
    }
    .tripc {
        width: 50%;
    }
}
.iconmenu {
    background: url(../images/menuiconhover.png) no-repeat 0 0;
    display: block;
    height: 30px;
    margin: auto auto 5px;
    width: 30px;
}
.iconmenu.ihome {
    background-position: 7px 0;
}
.iconmenu.iflight {
    background-position: -37px 0;
}
.iconmenu.ihotel {
    background-position: -80px 0;
}
.iconmenu.itransfer {
    background-position: -128px 0;
}
.iconmenu.itandp {
    background-position: -175px 0;
}
.iconmenu.iabtus {
    background-position: -229px 0;
}
.iconmenu.ijobs {
    background-position: -281px 0;
}
.iconmenu.ifaq {
    background-position: -328px 0;
}
.iconmenu.icontacts {
    background-position: -368px 0;
}
.myhomemenu.navbar-nav li.active a .iconmenu.ihome {
    background-position: 7px bottom;
}
.myhomemenu.navbar-nav li.active a .iconmenu.iflight {
    background-position: -37px bottom;
}
.myhomemenu.navbar-nav li.active a .iconmenu.iconmenu.ihotel {
    background-position: -80px bottom;
}
.myhomemenu.navbar-nav li.active a .iconmenu.iconmenu.itransfer {
    background-position: -128px bottom;
}
.myhomemenu.navbar-nav li.active a .iconmenu.iconmenu.itandp {
    background-position: -175px bottom;
}
.myhomemenu.navbar-nav li.active a .iconmenu.iconmenu.iabtus {
    background-position: -229px bottom;
}
.myhomemenu.navbar-nav li.active a .iconmenu.iconmenu.ijobs {
    background-position: -281px bottom;
}
.myhomemenu.navbar-nav li.active a .iconmenu.iconmenu.ifaq {
    background-position: -328px bottom;
}
.myhomemenu.navbar-nav li.active a .iconmenu.iconmenu.icontacts {
    background-position: -368px bottom;
}
.captiondiv {
    display: block;
    min-height: 400px;
    overflow: hidden;
}
.fullfield {
    background: none repeat scroll 0 0 #fff;
    padding: 50px 0 40px;
    float: left;
    width: 100%;
}
.banner-image {
    background: url(../images/zinga_banner.jpg) no-repeat center / cover;
}
.banner-image-flight {
    background: url(../images/b3.jpg) no-repeat center / cover !important;
}
.banner-image-hotel {
    background: url(../images/b11.jpg) no-repeat center / cover !important;
}
.banner-image-bus {
    background: url(../images/b12.jpg) no-repeat center / cover !important;
}
.banner-mobile-image {
    background: url(../images/b15.jpg) no-repeat center / cover !important;
}
.banner-dth-image {
    background: url(../images/b20.jpg) no-repeat center / cover !important;
}

.banner-transfer-image {
    background: url(../images/trans.jpg) no-repeat center / cover !important;
}
.relativemask {
    float: left;
    position: relative;
    width: 100%;
}
.maskimg {
    height: 40px;
    left: -4px;
    position: absolute;
    top: 0;
    width: 50px;
}
.mfrom {
    background: url(../images/departure.png) no-repeat center center;
}
.mto {
    background: url(../images/arrival.png) no-repeat center center;
}
.flyinputsnor {
    border: 1px solid #ddd;
    box-shadow: 0 0 10px -5px #ccc inset;
    display: block;
    height: 40px;
    overflow: hidden;
    padding: 10px;
    width: 100% !important;
    color: #454545;
}
.flyinputsnor > option {
    padding: 5px;
}
.centersmalcps {
    color: #ef7d25;
    display: block;
    font-family: open_sansregular;
    font-size: 16px;
    overflow: hidden;
    text-align: center;
}
.padtopalso {
    padding-top: 20px;
}
.blugrdient {
    background: #096394;
    /* Old browsers */
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    
    background: -webkit-linear-gradient(315deg, #096394 0%, #096394 50%, #085e8e 51%, #085e8e 100%);
    background: linear-gradient(135deg, #096394 0%, #096394 50%, #085e8e 51%, #085e8e 100%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#096394', endColorstr='#085e8e', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}
.orengeclr {
    background: #f18629;
    /* Old browsers */
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    
    background: -webkit-linear-gradient(315deg, #f18629 0%, #f18629 50%, #ef7d25 51%, #ef7d25 100%);
    background: linear-gradient(135deg, #f18629 0%, #f18629 50%, #ef7d25 51%, #ef7d25 100%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f18629', endColorstr='#ef7d25', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}
.baksupport {
    background: url("../images/support.jpg") no-repeat scroll center center / cover rgba(0, 0, 0, 0);
    position: relative;
}
.fadedback {
    background: url("../images/fadeback.png") no-repeat scroll center center / cover rgba(0, 0, 0, 0);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
a.topa:hover, a.topa:focus {
    color: #fff;
}
.margintopbotom {
    margin: 30px 0 10px;
}
.posrel {
    position: relative;
}
/*.topssec {
    background: none repeat scroll 0 0 #fb8602;
    float: left;
    position: relative;
    width: 100%;
    z-index: 10000;
    border: 0;
    border-bottom: 1px solid #FDA23B;
}*/
.wrapofa {
    float: right;
    margin-left: 2px;
    position: relative;
}
.topa {
    color: #FFFFFF;
    display: block;
    line-height: 34px;
    padding: 0 10px;
    font-size: 13px;
}
.aptnavv {
    font-size: 12px;
}
.wrapofa {
    border: 0;
    border-right: 1px dotted #FF9D2F;
}
.topa .caret {
    border-top: 4px solid #f6f6f6;
}
.topa:hover {
    color: #fff;
}
.customSelect {
    background: url("../images/sel.png") no-repeat scroll right center #fff;
}
.selectedwrap {
    position: relative;
}
.iconpsn {
    height: 38px;
    left: 0;
    position: absolute;
    top: 0;
    width: 38px;
}
.iconpsn.psn1 {
    background: url("../images/adult.png") no-repeat scroll 14px center #ecf0f1;
}
.iconpsn.psn2 {
    background: url(../images/children.png) no-repeat scroll 14px center #ecf0f1;
}
.iconpsn.psn3 {
    background: url(../images/cal.png) no-repeat scroll 9px center #ecf0f1;
}
.flyinputs {
    display: block;
    height: 38px;
    overflow: hidden;
    padding: 10px 10px 10px 50px;
    width: 100%;
}
.flyinputs.noleftpad {
    padding: 10px;
}
.fullbackblue {
    background: url("../../assets/images/email-bg.jpg");
    float: left;
    width: 100%;
}
.getns {
    display: block;
    overflow: hidden;
    padding: 15px 0 0;
}
.getns p {
    color: #fff;
    font-family: open_sansregular;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}
.cnctsocil {
    color: #fff;
    display: block;
    font-family: raleway-medium;
    font-size: 22px;
    margin: 0;
    overflow: hidden;
    padding: 5px 0;
}
.tablesign {
    display: table;
    margin: 15px 0 0;
    width: 100%;
}
.inputsign {
    display: table-cell;
    vertical-align: top;
    width: 100%;
}
.newslterinput {
    border: 1px solid #fff;
    font-size: 14px;
    height: 45px;
    padding: 10px;
    width: 100%;
}
.submitsign {} .subitleter {
    background: #fb8602;
    border: 0 none;
    box-shadow: 0 0 1px 0 #fff inset;
    color: #fff;
    font-size: 22px;
    height: 45px;
    padding: 0 10px;
}
.socialbtn {} .echsoc {
    float: left;
    margin-right: 15px;
}
.echsoc .fa {
    background: none repeat scroll 0 0 #fff;
    border-radius: 100%;
    color: #1371bf;
    float: left;
    font-size: 24px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    width: 45px;
}
.acceptedlink img {
    width: 100%;
}
.wrapmsg {
    background: none repeat scroll 0 0 #e6e6e6;
    border: 1px solid #ddd;
    display: block;
    margin: 10px 0 0;
    padding: 10px;
    text-align: center;
}
.wrapmsg strong {} .wrapmsg p {
    color: #666;
    margin: 0;
}
.addresof2 {
    color: #666;
    display: block;
    margin-bottom: 5px;
    overflow: hidden;
}
.scontre {
    display: block;
    max-width: 120px;
    overflow: hidden;
}
.scontre img {
    width: 100%;
}
/* 2-13-2015 vus start here */

.fadeandscale_open .fa {
    font-size: 15px;
    margin: 0px 6px;
    color: #FFFFFF;
}
.contactonly .fa {
    font-size: 30px;
    margin: 0px 6px;
    color: #FFB767;
}
.aptnavv a.topa:hover {
    text-shadow: 1px 1px 19px rgba(255, 255, 255, 1);
}
.search-engine-left-tab {
    float: left;
    width: 10%;
}
.search-engine-content {
    display: block;
    overflow: hidden;
    width: 90%;
}
.selectedwrapnum .datemix {
    color: #454545;
}
.passenger-form-outers {
    margin-bottom: 30px;
    box-shadow: inset 0 0 1px #000;
    padding-bottom: 20px;
}
.facebook-login {
    background: #3B5998;
    color: #FFFFFF;
    float: left;
    font-weight: normal;
    padding: 3px 15px;
    font-size: 16px;
    border-radius: 3px;
    min-width: 240px;
}
.gplus-login {
    background: #D34836;
    color: #FFFFFF;
    float: left;
    font-weight: normal;
    padding: 3px 15px;
    font-size: 16px;
    border-radius: 3px;
    min-width: 240px;
}
.passenger-socialmedia-login ul li span {
    font-size: 12px;
    color: #FFFFFF;
    font-weight: bold;
    width: auto;
    margin: 7px 0 0 0;
    float: left;
}
.passenger-socialmedia-login ul li .fa {
    float: left;
    margin: 0 6px;
    font-size: 30px;
}
.passenger-detail-head {
    background: #fb8602;
    padding: 8px 10px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    margin-top: 0;
}
.passenger-detail-head .fa {
    float: right;
    font-size: 18px;
    font-weight: normal;
    color: #FFFFFF;
}
#continue.paysubmit, .passenger-login {
    background: none repeat scroll 0 0 #fb8602;
    border: 1px solid #eb7600;
    box-shadow: none;
    border-radius: 0;
    color: #fff;
    float: right;
    font-size: 14px;
    padding: 8px 15px;
    text-align: center;
    min-width: 40%;
}
.payrowsubmt .verifycod {
    font-weight: bold;
    color: #454545;
    margin: 10px 10px 0;
}
.passenger-ac-login-outer ul li {
    margin: 8px 0px;
}
.passenger-login-option label {
    margin: 0;
    float: left;
    padding: 0;
    width: auto;
}
.passenger-login-option input[type="radio"] {
    margin: 1px 5px 0 0;
    float: left;
}
.passenger-socialmedia-login ul li {
    display: block;
    vertical-align: middle;
    margin-top: 3em;
}
.passenger-socialmedia-login {
    position: relative;
}
.passenger-socialmedia-login .or-sep-div {
    position: absolute;
    top: 46%;
    width: 40px;
    height: 40px;
    padding: 11px;
    text-align: center;
    font-weight: bold;
    color: #fb8602;
    left: -12px;
    background: #FFFFFF;
    border: 1px solid #fb8602;
    border-radius: 100%;
}
.passenger-login-option {
    border-bottom: 1px solid #ececec;
}
.padding-t-b {
    padding-bottom: 15px !important;
    padding-top: 15px !important;
}
.half-padding-t-b {
    padding-bottom: 7px !important;
    padding-top: 7px !important;
}
.margin-t-b {
    margin-bottom: 15px !important;
    margin-top: 15px !important;
}
.margin-bottom {
    margin-bottom: 15px
}
.passenger-form-outers .passenger-continue {
    padding: 5px 12px;
    min-width: 115px;
    background: #FFFFFF;
    color: #fb8602;
    border: 1px solid #fb8602;
    margin-top: 1em;
}
.passenger-Contact-outer ul li label {
    margin: 12px 0 2px 0;
    color: #454545;
    font-weight: bold;
}
.passenger-form-outers .customSelect {
    width: 100% !important;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px -5px #ccc inset;
    height: 40px;
    padding: 10px;
    width: 100%;
}
.fare-detail-outer li {
    width: 100%;
    float: left;
    margin: 5px 0px;
    border-bottom: 1px solid #ececec;
    padding: 6px 10px;
}
.fare-detail-outer li h4 {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: normal;
    color: #454545;
}
.fare-detail-outer li h4 span {
    width: auto;
    float: right;
    margin: 0 0 0 8px;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    color: #454545;
}
.booking-detail-panel {
    background: #FFFFFF;
    border: 1px solid #ececec;
    border-top: 0;
}
.booking-right-outer .passenger-detail-head {
    margin-bottom: 0;
    margin-top: 10px;
}
.fare-detail-outer {
    border: 1px solid #ececec;
}
.no-padding-b-t {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.total-fare-outer {
    border: 1px solid #fb8602;
    border-left: 0;
    border-right: 0;
    padding: 10px;
    margin-bottom: 20px;
}
.total-fare-outer h5 {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 14px;
    color: #454545;
}
.total-fare-outer h5 span {
    width: auto;
    float: right;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 18px;
    color: #0da5e6;
}
/* 2-13-2015 vus end here */

.test-marquee {
    background: #000000;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 14px 10px 4px;
}
.test-marquee marquee {
    background: #000000;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF
}
.test-marquee marquee span {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    color: #fb8602
}
