.text-left { text-align: left; }  
.text-right { text-align: right; }  
.selcetbtn:hover {
    background: #198c8c;
        border: 1px solid #198c8c;
}
  /*new design*/
  .nopadding, .nopad { padding: 0 !important }
.text-center { text-align: center; }
.flight_results, #cr_src #listings .hotel-wrap {
    background: #fbfcff none repeat scroll 0 0;
    border: 1px solid #c1c3c4;
    /* box-shadow: 0 0 5px #e6e6e6; */
    display: block;
    border-radius: 4px;
    float: left;
    margin: 5px 0;
    transition: all 400ms ease-in-out 0s;
    width: 100%;
}
.flight_results .segments:nth-child(even) {
    background: #fff;
}
.segments {
    border-bottom: 1px solid #ececec;
    display: block;
    float: left;
    width: 100%;
    padding: 10px 0;
}
.airline_div {
    width: 100%;
    background: #198c8c;
    height: 57px;
    padding: 10px;
    font-size: 20px;
    line-height: 34px;
    border-radius: 3px 0px 0px 3px;
    color: #fff;
}
.flimage {
    float: left;
    margin-right: 5px;
    width: 100%;
}
.flimage a {
    display: block;
    color: #333;
}
.fl_name {
    display: block;
    margin: 0 0 5px;
    font-size: 13px;
    overflow: hidden;
   /* white-space: nowrap;*/
    text-overflow: ellipsis;
}
.flimage img {
    max-width: 50px;
    height: auto;
}
.fltiming {
    margin: 3px 0px 0px 0px;
    line-height: normal;
    overflow: hidden;
    font-size: 17px;
    font-weight: 600;
    color: #333;
}
.fltiming strong{ font-size: 13px; }
.fltiming1 {
    display: block;
    clear: both;
    margin: 8px 0;
    font-size: 13px;
    color: #333;
     font-weight: 600;
}
.fl_time {
    color: #666;
    display: block;
    float: left;
    margin: 4px 0px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 13px;
    width: 100%;
}
.travel-stops {
    float: left;
    width: 100%;
}
.travel-stops .two_s {
    display: table;
    table-layout: fixed;
    color: #eaa816 !important;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;
    line-height: 1;
    width: 100%;
    margin: 5px 0;
    -webkit-font-smoothing: antialiased;
    speak: none;
    position: relative;
}
.travel-stops .stops {
    display: table;
    table-layout: fixed;
/*    color: #4ba3da;*/
    color: #27ae60;
    font-size: 12px;

    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;
    line-height: 1;
    width: 100%;
    margin: 5px 0;
    -webkit-font-smoothing: antialiased;
    speak: none;
    position: relative;
}
.two_s .o_stop {
    left: 30px !important;
    right: inherit !important;
    margin: 0px !important;
}
.travel-stops a {
    color: #fff;
}
.o_stop {
    position: absolute;
    left: 0px;
    right: 0px;
    text-align: center;
    color: #fff;
    margin: 0px auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #198c8c;
    margin: 0px auto;
    display: block;
    top: -9px;
    line-height: 30px;
    font-size: 11px;
    
}

.two_s .o_stop {
    position: absolute;
    text-align: center;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #be035c !important;
    display: block;
    top: -9px;
    line-height: 30px;
    font-size: 11px;
   
}
.travel-stops .stops.two_s:after{
    color: #be035c !important;
}
.two_s .o_stop:last-child {
    right: 30px !important;
    left: inherit !important;
    margin: 0px !important;
}
.frecance {
    color: #666;
    float: none;
}
.travel-stops .frecance {
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
    display: block;
    margin-top: 10px;
}
.travel-stops .frecance strong {
}
.travel-stops .stops:after {
    content: '\f068\f068\f068\f068\f068\f068\f068\f068\f068\f068\f068\f068';
    content: '\f068\f068\f068\f068\f068\f068\f068\f068\f068\f068\f068\f068';
    overflow: hidden;
    white-space: nowrap;
    font-family: fontAwesome;
    color: #198c8c;
}
.topprices {
    /* border-bottom: 1px solid #ddd; */
    display: block;
    overflow: hidden;
    padding: 10px 10px;
    min-height: 118px;
    background: #fbfcff;
}
.fullprice {
    color: #666;
    float: none;
    text-align: center;
    padding: 10% 0px;
}
.cmprice1 {    color: #198c8c;
    font-weight: bold;
    font-size: 20px;
    padding: 0 !important;
    display: block !important;
    text-align: center;
}
.selcetbtn {
    background: #be035c;/*
    background: -moz-linear-gradient(top,rgba(235,169,22,1) 0,rgba(211,131,14,1) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(235,169,22,1)),color-stop(100%,rgba(211,131,14,1)));
    background: -webkit-linear-gradient(top,rgba(235,169,22,1) 0,rgba(211,131,14,1) 100%);
    background: -o-linear-gradient(top,rgba(235,169,22,1) 0,rgba(211,131,14,1) 100%);
    background: -ms-linear-gradient(top,rgba(235,169,22,1) 0,rgba(211,131,14,1) 100%);
    background: linear-gradient(to bottom,rgba(235,169,22,1) 0,rgba(211,131,14,1) 100%);*/
    border: 1px solid #a2a4a8;
    border-radius:0;
    color: #fff;
    float: right;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding: 10px; 
    width: 100%
}
.detilsbtm {
    display: block;
    overflow: hidden;
    padding: 10px;
    background: #fff;
}
.detilsbtm1 {
    color: #666;
    float: left;
    font-size: 14px;
    margin-right: 9px;
}
.detilsbtm1 > a {
    padding: 4px 8px;
    border-radius: 2px;
    font-size: 13px;
    background: #eee;
    border: 2px solid #e0dddd;
    color: #333;
}
.centertext.col-md-12.text-center { padding: 0;padding-top: 10px;}
.moreoption a { color: #e33e8d !important; }
/**/
.dep_bg {
    background-color:#4ba3da;
    color: #fff;
    margin: 0px 0;
    line-height: 20px;
    padding: 4px 12px;
    height: auto;
    float: left;     border-radius: 7px 7px 0px 0px;
}
.dep_bg p{
  float: left; margin:4px 0px;
  text-align: center; font-size: 13px;
}
.dep_bg img { margin-right:10px;}
.mn-tab-content{
  float: left;
  width: 100%; background:#fff;
  padding: 15px 0px !important;
}
.Depfull_details {
    background-color: #f5f5f5;
    line-height: 25px;
    margin-top: 18px;
    padding: 10px 15px;
}
.priceTag {color: #ff9800; font-weight: bold ; margin-right: 15px;}
.dep_location { font-size: 13px; }
.stop_c {
    line-height: 30px; text-align: right;
    float: right; font-size: 15px !important;
}
.stop_c h4 { font-size: 18px; color: #ff9800; }
.show_details h4 {
    font-size: 15px;
    margin: 0px;
    margin-top: 10px;
}

.fromc {
    text-align: left;
    font-size: 13px; font-weight: 500;
    line-height: 30px; color: #000;
}

.total_duration {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #607d8b;
}

.total_duration .fa { width:25px; height: 25px; text-align: center; color: #fff !important; background: #00bcd4; border-radius: 50%; 
                      line-height: 25px; }

.toc {
    text-align: right;
    font-size: 14px; color: #2f2f2f;
    line-height: 20px;
}

.airlines_det {
    font-size: 11px;
    color: #929292;
}

.Depfull_details {
    background-color: #f5f5f5;
    line-height: 25px;
    margin-top: 5px;
    padding: 0px;
}
.box_w { width:100%; float: left; padding:10px; box-shadow: 0px 0px 2px 2px #eee; }
.pad9 { padding:7px !important; }
.pad0 { padding: 0px 0px !important; }
.day_t { font-size: 12.5px; text-align: right; line-height: 16px; font-weight: 500;}
.details_w { width: 100%; float: left; margin: 3px 0px; }
.f_s { font-size: 23px !important; padding:2px; font-weight: 500; }
.legPath {
    float: left;
    width: 20px;
    min-height: 2px;
}

.legConnector {
    width: 8px;
    height: 54px;
    margin: 8px 0;
    border: 1px solid #333;
    border-left-color: transparent;
}

.legFlight {
    float: left;
    width: 100%;
    min-height: 2px;
}

.bubGrey {
    color: black;
    background: #e6e6e6;
    background: #f5f5f5;
    background: -moz-linear-gradient(left,#e6e6e6,#f5f5f5);
    background: -webkit-gradient(linear,left top,right top,color-stop(0,#e6e6e6),color-stop(1,#f5f5f5));
    background: linear-gradient(left,#e6e6e6,#f5f5f5);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#f5f5f5, GradientType=1')";
}

.triBubble {
    position: relative;
    padding: 5px;
    margin: 10px 0 0 10px;
    height: auto;
}

.bubGrey:after {
    border-color: transparent #e6e6e6;
}

.triBubble:after {
    content: "";
    position: absolute;
    bottom: -15px;
    border-width: 10px 10px 0;
    border-style: solid;
    display: block;
    width: 0;
}

.triBubble:after {
    top: 18px;
    left: -10px;
    bottom: auto;
    border-width: 5px 10px 5px 0;
}

.legAirline {
    float: left;
    display: block;
    width: 32px !important;
    height: 20px;
    margin-right: 10px;
    margin-top: 7px;
}

.legPlane {
    float: left;
}

.legFlightTime {
    float: left;
    width: 60px;
    text-align: right;
    vertical-align: middle;
}

.legBigText {
    font-weight: bold;
    display: block;
    white-space: nowrap;
}

.legSmallText {
    font-size: 11px;
    display: block;
    line-height: 8px;
    padding-bottom: 4px;
    white-space: nowrap;
    min-height: 8px;
}

.legBigText {
    font-weight: bold;
    display: block; color: #263d71;
    white-space: nowrap;
}
.arr_d { font-size: 11px; font-weight: normal;}
.rbg { background: #0067a5; color: #fff; padding:5px 10px !important; font-size :13px;}
.rbg h4 { font-size: 14px; margin: 0;color: #fff; }

.bubRed {
    padding:3px 5px !important;
    background: #ffeebc; float: left; width:100%; margin: 5px 0px 0px 0px; font-size: 13px;
    background: -moz-linear-gradient(left,#ffeebc,#fff9ea);
    background: -webkit-gradient(linear,left top,right top,color-stop(0,#ffeebc),color-stop(1,#fff9ea));
    background: linear-gradient(left,#ffeebc,#fff6ed);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe3bd', endColorstr='#fff6ed, GradientType=1')";
}

.bubRed::after { display: none; }

.legWaitReason {
    float: left;
    width: 140px;
}

.legBigText {
    font-weight: bold;
    display: block;
    white-space: nowrap;
}
.legWaitTime {
    float: left;
    width: 60px;
    text-align: right;
    vertical-align: middle;
}

.flight_tabs input[type=radio]  { display:none;  margin:10px; }
.flight_tabs input[type=radio] + label:first-child { }
.flight_tabs input[type=radio] + label:last-child { border-top-right-radius:5px; border-bottom-right-radius:5px;}
.flight_tabs input[type=radio] + label 
{
display:inline-block; border-radius: 4px !important;
margin:0px;
padding: 2px 16px; font-size:12px; text-transform:uppercase;
background: #fcfcfc; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlN2U3ZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #3f5a96 0%, #6078ac 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f5a96), color-stop(100%,#6078ac)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #3f5a96 0%,#6078ac 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #3f5a96 0%,#6078ac 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #3f5a96 0%,#6078ac 100%); /* IE10+ */
background: linear-gradient(to bottom, #3f5a96 0%,#6078ac 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f5a96', endColorstr='#6078ac',GradientType=0 ); /* IE6-8 */
cursor:pointer; 
font-weight:normal;  border-bottom:3px solid #4d5d81;
}

.flight_tabs input[type=radio]:checked + label
{ 

background: #fff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3ZTdlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmY2ZjZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #ffffff 0%, #e4e4e4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e4e4e4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#e4e4e4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#e4e4e4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#e4e4e4 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#e4e4e4 100%); /* W3C */
color:#0d4e7b; border-bottom:3px solid #c1c1c1;
}

.resultpetty {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #c6c6c4;
    float: left;
    margin: 0 0 15px;
    padding-top: 10px;
    width: 100%;
    position: relative;
}

.morepack .resultpetty, #holiday_result .resultpetty {
    padding-bottom: 10px;
}
.topmisty { padding: 20px !important; }
.topmisty h1 { font-size: 25px; margin: 10px 0px; } 
.privacy { background: url(../../images/privacy.jpg) no-repeat; font-weight: normal; width: 100%; height: 220px; text-align: center; color: #e1e1e1; 
           font-size: 45px; letter-spacing: 1px; padding: 100px 0px; font-weight: 200;}

.terms { background: url(../../images/terms.jpg) no-repeat; font-weight: normal; width: 100%; height: 220px; text-align: center; color: #e1e1e1; 
           font-size: 45px; letter-spacing: 1px; padding: 100px 0px; font-weight: 200;}

.toc-content {
    margin-top: 20px; margin-bottom: 20px;
}

.toc-content h4 {
    font-size: 18px;
    color: #070707;
    line-height: 28px;
    font-weight: 300;
    margin: 0 0 20px 0px;
}

.toc-content p {
    color: #0067a5;
    line-height: 21px;
    margin-top: 0px; margin-bottom: 10px;
    font-weight: 400;
}

.toc-tabbing {
    overflow: hidden;
    margin: 20px 0 0 0px;
}

.toc-tab-list {
    overflow: hidden;
}

.toc-tab-list > ul {
    padding: 0px;
    margin: 0px;
}

.toc-tab-list > ul > li span {
    position: relative;

}

.toc-tab-list > ul > li span.quest-flights:after {
    content: '';
    position: absolute;
    background: url("//tjwlcdn.com/cms/assets/images/plane-icon-gray.png") 0px 0px no-repeat;
    height: 32px;
    width: 32px;
    top: 5px;
    left: -40px;
}

.toc-tab-list > ul > li.active span.quest-flights:after {
    content: '';
    position: absolute;
    background: url("//tjwlcdn.com/cms/assets/images/plane-icon-blue.png") 0px 0px no-repeat;

    top: 5px;
    left: -40px;
}

.toc-tab-list > ul > li span.quest-hotels:after {
    content: '';
    position: absolute;
    background: url("//tjwlcdn.com/cms/assets/images/hotel-icon-gray.png") 0px 0px no-repeat;
    height: 31px;
    width: 32px;
    top: 5px;
    left: -40px;
}

.pay_bg 
{ 
    -webkit-box-shadow: 1px 1px 0 0 #d1d1d1;
    -moz-box-shadow: 1px 1px 0 0 #d1d1d1;
    box-shadow: 1px 1px 0 0 #d1d1d1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 8px 10px;
    background-color: #eaeaea;  margin:1% 0%; 
    position: relative; float: left; width:100%; line-height: 40px;
}

.pay { margin-bottom: 0px !important; font-size: 14px !important; color: #123867 !important; font-weight: 500 !important; padding-left: 30px !important; }


.toc-tab-list > ul > li.active span.quest-hotels:after {
    content: '';
    position: absolute;
    background: url("//tjwlcdn.com/cms/assets/images/hotel-icon-blue.png") 0px 0px no-repeat;

    top: 5px;
    left: -40px;
}

.toc-tab-list > ul > li {
    float: left;
    margin: 0;
    cursor: pointer;
    width: 33%;
    padding: 15px 0px;
    font-size: 29px;
    border-bottom: 4px solid #e9e9e9;
    color: #ccc;
    position: relative;
    text-align: center;
    font-weight: 300;
    margin-right: 5px;
}

.rtl .toc-tab-list > ul > li{
    float: right;
}

.toc-tab-list > ul > li:last-child {
    margin-right: 0px;
}

.toc-tab-list > ul > li.active {
    border-color: #4ec1ea;
    color: #002d5b;
    border-bottom: 4px solid #4ec1ea;
    display: block;
}

.toc-tab-list > ul > li.active:after {
    content: '';
    background: url("//tjwlcdn.com/cms/assets/images/top-arrow-icon.png") 0px 0px no-repeat;
    width: 33px;
    height: 8px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}

.toc-tab-box {
    padding: 20px 0;
}

.toc-tab-box > ul {
    margin: 0px;
    padding: 0px;
}

.toc-tab-box > ul > li {
    margin: 0px;
    list-style: none;
    padding: 0px;
}

.toc-tab-box h2.acc-title {
    color: #0067a5;
    background: #FAFAFA;
    padding: 20px 0px;
    padding-left: 45px;
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
    margin-bottom: 4px;
    cursor: pointer;
    position: relative;
    transition: all 0.5s ease;
    width: 100%;
    float: left;
}



.toc-tab-box h2.acc-title:before {
    position: absolute;
    content: '';
    background: url("../../images/icon_arrow.png") 0px 0px no-repeat;
    width: 20px;
    height: 20px;
    top: 19px;
    left: 20px;
}



.toc-tab-box h2.acc-title.active, .toc-tab-box h2:hover {
    background: #4ba3da;
    transition: all 0.5s ease;
}



.rtl .toc-tab-box h2.acc-title{
    padding-left: 0px;
    padding-right: 70px;
}

.rtl .toc-tab-box h2.acc-title:before{
    background: url(//tjwlcdn.com/cms/assets/images/svg-icons/icon-arrow-left.svg) 0px 0px no-repeat;
    right: 25px;
    left: auto;
}

.rtl .toc-tab-box .acc-content{
    padding: 30px 60px 30px 30px;
}

.rtl .toc-tab-box .acc-content:before, .rtl .toc-tab-box .acc-content:after{
    left: auto;
    right: 39px;
}

.toc-tab-box h2.acc-title.active:before {
    background: url("//tjwlcdn.com/cms/assets/images/svg-icons/icon-arrow-down.svg") 0px 0px no-repeat;
    left: 14px;
}

.toc-tab-box .acc-content {
    background: #f9fdff;
    width: 100%;
    margin-bottom: 4px;
    float: left;
    padding: 30px 30px 30px 40px;
    color: #617693;
    font-size: 13px;
    position: relative; border-left: 3px solid #4ba3da;
    overflow: hidden;
}

/*.toc-tab-box .acc-content:before {
    content: "";
    border-left: 1px solid #4ba3da;
    position: absolute;
    width: 2px;
    left: 23px;
    top: 25px; bottom: 20px;
}
*/
.toc-tab-box .acc-content:after {
    content: "";
    border-left: 2px solid #F3FAFD;
    position: absolute;
    width: 2px;
    height: 20px;
    left: 28px;
    bottom: 0px;
}

.toc-tab-box .acc-content p {
    color: #0067a5;
    font-size: 13px;
}

ul.bullets li {
    font-weight: 400;
    margin-bottom: 10px;
    list-style: none;
}

ul.bullets li ul {
    margin: 10px 0;
}

ul.bullets li ul li {
    list-style: circle;
}

.toc-tab-box .accordionDiv .accordionContent h4 {
    color: #389AD8;
    font-size: 18px;
    transition: all 0.5s ease;
}

.acc-content > h3 {
    font-size: 22px;
    color: #2d84bb;
    line-height: 28px;
    font-weight: 300;
    margin: 12px 0 10px 0px;
}

.acc-content > h4 {
    font-size: 19px;
    color: #416385;
    line-height: 28px;
    font-weight: 300;
    margin: 22px 0 20px 0px;
}
.acc-content ul li { line-height: 20px; }

.privacy-policy h2.acc-title {
    color: #002d5b;
    background: #FAFAFA;
    padding: 30px 0px;
    padding-left: 60px;
    font-size: 20px;
    font-weight: 400;
    margin: 0px;
    margin-bottom: 4px;
    cursor: pointer;
    position: relative;
    transition: all 0.5s ease;
    width: 100%;
    float: left;
}

.rtl .privacy-policy h2.acc-title{
    padding-left: 0px;
    padding-right: 70px;
}

.privacy-policy h2.acc-title:before {
    position: absolute;
    content: '';
    background: url("//tjwlcdn.com/cms/assets/images/svg-icons/icon-arrow-right.svg") 0px 0px no-repeat;
    width: 30px;
    height: 30px;
    top: 26px;
    left: 25px;
}

.rtl .privacy-policy h2.acc-title:before{
    background: url(//tjwlcdn.com/cms/assets/images/svg-icons/icon-arrow-left.svg) 0px 0px no-repeat;
    right: 25px;
    left: auto;
}

.privacy-policy h2.acc-title.active, .toc-tab-box h2:hover {
    background: #4ba3da; color:#fff;
    transition: all 0s ease;
}

.privacy-policy h2.acc-title.active:before {
    background: url("//tjwlcdn.com/cms/assets/images/svg-icons/icon-arrow-down.svg") 0px 0px no-repeat;
    left: 14px;
}

.privacy-policy .acc-content {
    background: #F3FAFD;
    width: 100%;
    margin-bottom: 4px;
    float: left;
    padding: 30px 30px 30px 60px;
    color: #617693;
    font-size: 14px;
    position: relative;
    overflow: hidden;
}

.rtl .privacy-policy .acc-content{
    padding: 30px 60px 30px 30px;
}

.privacy-policy .acc-content:before {
    content: "";
    border-left: 2px solid #7AC9E8;
    position: absolute;
    width: 2px;
    height: 100%;
    left: 28px;
    top: 25px;
}

.rtl .privacy-policy .acc-content:before, .rtl .privacy-policy .acc-content:after{
    left: auto;
    right: 39px;
}

.privacy-policy .acc-content:after {
    content: "";
    border-left: 2px solid #F3FAFD;
    position: absolute;
    width: 2px;
    height: 20px;
    left: 28px;
    bottom: 0px;
}


.privacy-policy .acc-content p {
    color: #617693;
    font-size: 14px;
}

.terms-conditions .curr-page, .booking-policy .curr-page, .faq .curr-page, .privacy-policy .curr-page {
    background: #fff;
}

.tostext {
    font-size: 15px !important;
    margin: 20px 0;
}

.acc-content .quest {
    margin: 10px 0px;
}

.close1 .accordionItemHeading {
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.open .accordionItemHeading {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.open .answer {
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

}

.accordionItemHeading{
 cursor: pointer;
}

.accordionItemHeading h4 {
    color: #389AD8;
    font-size: 18px;
    transition: all 0.5s ease;
    line-height: 24px;
    font-weight: 400;    margin: 15px 0px;
}

.accordionItemHeading .circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    float: left;
    background: #122C5F;
    color: #fff;
    margin-right: 15px;
}

.rtl .accordionItemHeading .circle{
    margin-right: 0px;
    margin-left: 15px;
}

.accordionItemHeading .circle span {
    color: #fff;
    font-size: 21px;
    font-weight: 300;
    float: left;
    display: block;
    margin: 6px 14px;
}

.quest .answer {
    border-left: 1px solid #58ABDF;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 20px 10px 36px;
}

.rtl .quest .answer{
    padding: 10px 36px 10px 20px;
    margin-left: 0px;
    margin-right: 20px;
    border-right: 1px solid #58ABDF;
    border-left: 0px;
}

.prices { font-size: 13px; line-height: 40px; color: #0075c8; font-weight: 500; }
.pasngrinput1 { float: left; width: 100%; background: #f4f4f4; padding: 10px; }
.quest .answer p{
    color: #000;
}

.accordionItemHeading .circle.two span {
    margin: 6px 9px;
}

.faq .acc-content{
    padding: 30px 15px 30px 15px!important;
}
.faq .acc-content:before, .faq .acc-content:after{
    display: none!important;
} 
.mob_filt { display: none; }
.modal-header h3 label { margin-bottom: 0 }
#flight_view_details .modal-header { padding: 10px 15px; display: none;}
#Itenerary { margin: 0 -7px;}

/*home page search engine*/
.cycle-slideshow {
    width: 100%;
    height: 100%;
}
.slider-wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: -1;
}
.slider-wrapper img { height: 100%;width: 100%;}
.maincont {
    background: #fff;
    position: relative;
    z-index: 9;
}
.icns {
    margin-right: 5px;
    width: 29px;
    height: 29px;
    text-align: center;
    border-radius: 50%;
    background: rgb(255, 169, 0);
    line-height: 29px;
    float: left;
    padding: 5px;
    position: relative;
}

.search-box > ul.search-tabs li.active > a .icns { background: rgba(0,0,0,0.9); }

.hide { display: none !important; }

.whychse {
    background: #fff;
    position: relative;
}
.maincont h2 { padding-top: 25px; }

/*adult,child*/
.roomcount {
    display: none;
    background: none repeat scroll 0 0 #fff;
    line-height: normal;
    position: absolute;
    right: 0;
    top: 45px; border-radius: 4px;
    width: 263px;
    transition: all 400ms ease-in-out;
    z-index: 10000;
    box-shadow: 0 0 10px -3px #000;
}
#flights_modify_search .totlall .countmore.input-group .form-control {border-color: transparent !important; }
.roomcount.fadeinn {
    display: block;
}

.inallsn {
    display: table;
    width: 100%;
}

.oneroom {
    display: table-cell;
    width: 100%;
    padding: 10px;
    vertical-align: top;
}

.roomrow {
    display: table;
    width: 100%;
}

.celroe {
    display: table-cell;
    padding: 0px 4px !important;
    float: none;
    vertical-align: middle;
}

.agemns {
    color: #666;
    font-size: 11px;
    text-align: center;
}

.countmore {
    min-width: 120px;
}

.centertext {
    text-align: center;
}

.padselctsmal {
    
}

.chilagediv {
    display: block;
    margin: 10px 0 0;
    overflow: hidden;
}

.normalsel.padselctsmal {
    border: 1px solid #ddd;
    height: 30px;
    padding: 0 5px;
}

.chldrnage {
    color: #666;
    display: block;
    font-size: 13px;
    margin: 0 0 5px;
    overflow: hidden;
}

.selctmarksml::after {
    background: none repeat scroll 0 0 #fff;
    bottom: 1px;
    color: #999;
    content: "\f078";
    font-family: "FontAwesome";
    font-size: 12px;
    line-height: 25px;
    pointer-events: none;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 30px;
}
.dep {  height: 93px; border-radius: 3px;  }
.booking_box1 .checkbox-inline, .radio-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 15px;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
}
.f_adult_box {
    height:45px;
    width:100%;
    width:100%;
    background:#Fff;
    text-align:center;
    padding:0px;
    margin-top:5px;
}
.gender_box {
    padding:13.5px 30px;
    background:#ccc;
    text-align:center;
    font-size:15px;
    height:100%;
    width:100%;
    margin-left:-15px;
}
.gender_box1 {
    padding:13px 1px;
    color:#000;
}
.gender_box a {
    text-decoration:none;
    color:#000;
}
.gender_box:hover {
    background:#999;
}
.countmore .btn {
padding: 0px;
    color: #fff;
    background-color: #198c8c;
    text-align: center;
    border-radius: 50% !important;
    width: 22px !important;
    height: 22px;
    border: none;
    line-height: 12px;
    font-weight: normal !important;
    font-size: 16px;
    max-width: none;
}
.chldimg {
    height: 42px;
    left: 1px;
    position: absolute;
    top: 1px;
    width: 40px;
}
.totlall .countmore.input-group .form-control {
    height: 43px !important;
    background: transparent !important;
    box-shadow: none !important;
    border-color: transparent !important;
    padding: 6px !important;
}
.padselctsmal{}
.chilagediv{display:block;margin:10px 0 0;overflow:hidden;}
.normalsel.padselctsmal{border:1px solid #ddd;height:30px;padding:0 5px;}
.chldrnage{color:#666;display:block;font-size:13px;margin:0 0 5px 10px;overflow:hidden;}
.selctmarksml::after{content: "\f0d7";background: none repeat scroll 0 0 rgba(0, 0, 0, 0);bottom: 0;color: #acacac;
font-family: "FontAwesome";font-size: 16px;line-height: 29px;pointer-events: none;position: absolute;right: 0;text-align: center;top: 0;width: 20px;}
.addrooms{color:#bc760c;cursor:pointer;float:left;font-size:13px;margin:12px 0 0;}
.addrooms .fa{margin-right:6px;}
.roomone{background:none repeat scroll 0 0 #eee;border-radius:3px;display:block;overflow:hidden;padding:5px 10px;text-align:center;}
.roomcount::before{content:"\f0d8";color:#fff;font-family:"FontAwesome";font-size:45px;position:absolute;right:50px;top:-30px; display:none}
.chldimg {height: 42px;left: 1px;position: absolute;top: 1px;width: 40px;}
.mfrom {background: #ffb60c url("../../images/sprite2.png") no-repeat scroll 5px -325px;}
.mto {background: #c62355 url("../../images/sprite2.png") no-repeat scroll -51px -325px;}
.mdate {background: #ffb60c url("../images/sprite2.png") no-repeat scroll -107px -323px;}
.fladult{background: url("../../images/sprite2.png") no-repeat scroll -312px -325px; opacity: 0.4;}
.flchild{background: url("../../images/sprite2.png") no-repeat scroll -357px -325px; opacity: 0.4;}
.flinfant{background: url("../../images/sprite2.png") no-repeat scroll -404px -325px; opacity: 0.4;}
.maskimg {
    border-radius: 3px 0 0 3px;
    color: #fff;
    font-size: 14px;
    height: 100%;
    left: 0;
    line-height: 45px;
    padding: 0 5px;
    pointer-events: none;
    position: absolute;
    text-align: right;
    top: 0;
    width: 120px;
}
.maskimg {
    height: 41px;
    left: 2px;
    right: 0;
    position: absolute;
    top: 2px;
    width: 41px;
    z-index: 10;
}
.form-group.old-city {
    position: relative;
}
.maskimg1 {
    height: 24px;
    left: 8px;
    top: 12px;
    position: absolute;
    width: 24px;
}
.mfrom {
    background: url(../../images/sprite2.png) no-repeat scroll 5px -322px;
}
.mto {
    background: url(../../images/sprite2.png) no-repeat scroll -51px -322px;
}
.mdate {
    background: url(../../images/sprite2.png) no-repeat scroll -107px -320px;
}
.search-tab-content form .form-group { margin-bottom: 2px;position: relative;}
.full-width.orange i.fa { display: block; }
.totlall {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #fff;
    cursor: pointer;
    float: left;
    font-size: 13px;
    height: 45px;
    line-height: 45px;
    padding: 0 5px;
    border-radius: 3px;
    position: relative;
    width: 100%;
    margin-bottom: 2px;
}
.mdfsrch .totlall {
    height: 35px;
    line-height: 35px;border-radius: 0px;
}
.mdfsrch .totlall::after {line-height: 35px; }
#flights_search_inner input {
    box-shadow: 0 0 10px -5px #ccc inset;
    color: #333;
    float: left;
    font-size: 13px;
    height: 45px;
    padding: 0 8px 0 135px;
    width: 100%;
}
#flights_search_inner input { border: 1px solid #eee; }
button.orange.search_btn {
    height: 92px;
    width: 100%;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    padding: 3px 20px;
    /* margin: 22px -4px; */
    font-weight: normal;
    font-size: 15.5px;
    background: #eba916;
    background: -moz-linear-gradient(top,rgba(235,169,22,1) 0,rgba(211,131,14,1) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(235,169,22,1)),color-stop(100%,rgba(211,131,14,1)));
    background: -webkit-linear-gradient(top,rgba(235,169,22,1) 0,rgba(211,131,14,1) 100%);
    background: -o-linear-gradient(top,rgba(235,169,22,1) 0,rgba(211,131,14,1) 100%);
    background: -ms-linear-gradient(top,rgba(235,169,22,1) 0,rgba(211,131,14,1) 100%);
    background: linear-gradient(to bottom,rgba(235,169,22,1) 0,rgba(211,131,14,1) 100%);
}
button.orange.searchsbmt:hover {
    background: #bc760c;
}
.roe {
    color: #0067a5;
    margin-top: 16px;
    width: 125px;
    padding: 0 10px !important;
}
.countmore {
    width: 130px;
    padding-left: 40px;
    height: 45px;
    float: right;
}
.pad2 { padding-right: 2px !important; padding-left: 2px !important; }
.dep {
    height: 92px;
    border-radius: 3px;
}
.plcetogo {
    position: relative;
    margin: 1px 0px;
    width: 100%;
    float: left;
}
.f_book_box {
    height: 45px;
    text-align: center;
    width: 100%;
    background: #fff;
    /* margin: 5px 20px 10px -5px; */
    padding: 5px 15px 5px 45px;
    border-radius: 3px;
    border: none;
    color: #2c2c2c;
}
.dep_dat {
    padding: 0px !important;
    text-align: center;
    height: 100% !important;
    font-size: 16px;
    position: absolute;
    z-index: 10;
    background: none !important;
}
.changedate {
    padding: 0px !important;
    text-align: center;
    height: 100% !important;
    font-size: 16px;
    position: absolute;
    z-index: 10;
    background: none !important;
    width: 100%;
}
.change_date {
    width: 100%;
    position: relative;
    height: 100%;
    background: #fff;
    border-radius: 3px;
}
.dep .fa {
    font-size: 20px;
    text-align: left;
    display: block;
    color: #aeaeae;
}
.date_s {
    width: 100%;
    text-align: center;
    padding: 10px;
}
.month_p {
    font-size: 15px;
    color: #0067a5;
    margin-bottom: 10px;
}
.date_p {
    font-size: 32px !important;
    color: #0067a5;
    font-weight: bold;
    display: block;
}
.year_p {
    font-size: 15px;
    color: #0067a5;
    margin-top: 10px;
    display: block;
}
button.add_cty.button.btn-small.dark-blue1, button.re_cty.button.btn-small.red {
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 50%;
    text-align: center;
    padding: 0;
    font-weight: 300;
    margin: 2px 0;
}
button.add_cty.button.btn-small.dark-blue1 {
    background: #198c8c;
}
button.re_cty.button.btn-small.red {
    background: #198c8c;
}

/*progress bar*/
#progressbar {
    margin: 0px auto;
    display: table;
    width: 90%;
    padding: 20px 0;
        z-index: 0;
    position: relative; clear: both;
}

#progressbar li {
    list-style-type: none;
    color: #333;
    text-transform: uppercase;
    font-size: 13px;
    width: 20%;
    float: left; text-align: center;
    position: relative;
}
#progressbar li:before {
    content:"\f00c";
/*    counter-increment: step;*/
    width: 32px;
    font-family: FontAwesome;
    line-height: 32px;
    display: block;
    font-size: 12px;
    color: #dedbdb; z-index: 99;
    background: #be035c; position: relative;
    border-radius: 50%;
    margin: 0 auto 7px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #c1c1c1;
    position: absolute;
    left: -50%;
    top: 15px;
    z-index:1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #198c8c;
    color: white;
}
.search_flights section#container {
    margin-top: 0;
}
.mdfsrch {
    background: #0067a5 none repeat scroll 0 0;
    float: left;
    margin: 0 0 10px;
    width: 100%;
}
#flights_modify_search .nav li input[type=radio] + label {
    display: inline-block;
    border-radius: 4px !important;
    margin: 0px;
    padding: 2px 16px;
    font-size: 12px;
    text-transform: uppercase;
  /*  background: #fcfcfc;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #3f5a96 0%, #6078ac 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f5a96), color-stop(100%,#6078ac));
    background: -webkit-linear-gradient(top, #3f5a96 0%,#6078ac 100%);
    background: -o-linear-gradient(top, #3f5a96 0%,#6078ac 100%);
    background: -ms-linear-gradient(top, #3f5a96 0%,#6078ac 100%);
    background: linear-gradient(to bottom, #3f5a96 0%,#6078ac 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f5a96', endColorstr='#6078ac',GradientType=0 );*/
    background: #fff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffffff 0%, #e4e4e4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e4e4e4));
    background: -webkit-linear-gradient(top, #ffffff 0%,#e4e4e4 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#e4e4e4 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#e4e4e4 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#e4e4e4 100%);
    color: #0d4e7b;
    border-bottom: 3px solid #c1c1c1;
    cursor: pointer;
    font-weight: normal;
/*    border-bottom: 3px solid #4d5d81;
    color: #fff;*/
}
#flights_modify_search .nav li input[type="radio"]:checked + label {
   /*background: #eba916;
    background: -moz-linear-gradient(top,rgba(235,169,22,1) 0,rgba(211,131,14,1) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(235,169,22,1)),color-stop(100%,rgba(211,131,14,1)));
    background: -webkit-linear-gradient(top,rgba(235,169,22,1) 0,rgba(211,131,14,1) 100%);
    background: -o-linear-gradient(top,rgba(235,169,22,1) 0,rgba(211,131,14,1) 100%);
    background: -ms-linear-gradient(top,rgba(235,169,22,1) 0,rgba(211,131,14,1) 100%);*/
    background: #be035c;
    color: #fff;
    border-bottom: 3px solid #be035c;
    cursor: pointer;
    font-weight: normal;
}
.filters-container.toggle-container .panel.style1 { background: transparent !important;float: left; width: 100%;}
#flights_search_inner .nav li {
    float: left;
    margin-right: 2px;
    width: auto; 
}
#flights_search_inner label, #car_modify_search label {
    font-size: 11px;
    margin: 0 0 5px;
    color: #333;
    text-transform: uppercase;
    font-weight: normal; 
}
#flights_search_inner input, .select2-container .select2-selection--single {
    box-shadow: none;
    padding: 0 10px;
    height: 35px;
        border: 1px solid #eee !important;
}
#flights_search_inner button.btn.blue { border: 1px solid #fff; height: 35px; font-weight: 500;padding: .5rem; }
.remngwd {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;
}
.flight_results:hover {
    border: 1px solid #a2a4a8;
}
.select2-container--default .select2-selection--single .select2-selection__arrow { height: 33px; }
.search_flights >.row > .col-sm-12.col-md-3 {  }
.celsrch {
 /*   background: #0067a5 none repeat scroll 0 0;*/
    border-radius: 4px;
    font-size: 14px;
    position: relative;
    margin-bottom: 20px;
    padding: 0; color: #fff;
}
/*loader*/
.all_loading {
    background: rgba(0,0,0,0.6);
    bottom: 0;
    left: 0; width: 100%; height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100000000;
}
.load_inner {
    display: block;
    margin: 85px auto;
    max-width: 600px;
    min-width: 600px;
    padding: 30px; background:#fff; border-radius: 7px;
    text-align: center;
}
.relativetop {
    position: relative;
    z-index: 10;
}
.paraload {
    color: #333;
    display: block;
    font-size: 16px;
    font-weight: 300;
    overflow: hidden;
}
.sckintload::after {
 background: #fff none repeat scroll 0 0;
 border: 1px solid #ddd;
 border-radius: 30px;
 color: #E33E8D;
 content: "\f178";
 font-family: "FontAwesome";
 font-size: 20px;
 height: 30px;
 left: 50%;
 line-height: 28px;
 margin-left: -15px;
 position: absolute;
 text-align: center;
 top: 10px;
 width: 30px;
}
.sckintload.round_way::after{content:"\f0ec"}
.sckintload {
    background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
    border: 1px solid #eee;
    border-radius: 5px;
    display: block;
    overflow: hidden;
    position: relative;
}
.ffty {
    float: left;
    width: 50%;
}
.borddo {
    padding: 0 10px;
}
.lblbk {
    color: #464646;
    display: block;
    font-size: 15px;
    overflow: hidden;
    padding: 10px 10px 0;
    font-weight: 600;
}
.tabledates {
    display: block;
    overflow: hidden;
    width: 100%;
}
.round_way .tablecelfty{width: 50%;}
.round_way .borddo.brdrit {
    border-right: 1px solid #ddd;}

.tablecelfty {
    float: left;
    width: 100%;
}
.fuldate {
    display: block;
    overflow: hidden;
    padding: 10px;
}
.sckintload .fuldate {
    display: table;
    margin: 0 auto;
}

.normal_load{background: rgba(0, 0, 0, 0) url("../../images/preloader.gif") no-repeat scroll center center;
    display: block;
    height: 64px;
    margin: 0 auto;
    overflow: hidden;
    width: auto;}
.bigdate {
    color: #666;
    float: left;
    font-size: 40px;
    font-weight: bold;
    margin-right: 8px;
    line-height: 37px;
}
.biginre {
    color: #666;
    display: block;
    font-size: 14px;
    margin: 9px 0 0;
    overflow: hidden;
}
.sckintload .biginre {
    display: table-cell;
    vertical-align: middle;
}
.nigthcunt {
    border-top: 1px solid #eee;
    color: #666;
    display: block;
    font-size: 14px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
}
.flight_animation {
    display: block;
    margin: 0 0 20px;
    overflow: hidden;
}
.flight_window {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1880c8+0,ffffff+100 */
    background: #1880c8; /* Old browsers */
    background: -moz-linear-gradient(top, #1880c8 0%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1880c8 0%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1880c8 0%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1880c8', endColorstr='#ffffff', GradientType=0 ); /* IE6-9 */
    border-radius: 50px;
    box-shadow: 0 0 0 21px #fff inset;
    display: block;
    height: 260px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 193px;
}
.window_wrap {
    background: rgba(0, 0, 0, 0) url("../../images/flight_window.png") no-repeat scroll center center;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
}

.window_shadow {
    border-radius: 45px;
    bottom: 25px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.6) inset;
    left: 20px;
    position: absolute;
    right: 20px;
    top: 25px;
    z-index: 2;
}
.cloud_anim {
    background: rgba(0, 0, 0, 0) url("../../images/cloud_anim.png") repeat-x scroll 0 70px;
    bottom:0;
    left:0;
    position:absolute;
    top:0;
    transition:all 400ms cubic-bezier(0, 0, 0.59, 1) 0s;
    width:300%;
    z-index:0;
    transition:all 400ms cubic-bezier(0, 0, .59, 1);
    -webkit-animation:cloud_animation 5s linear infinite;
    -moz-animation:cloud_animation 5s linear infinite;
    -o-animation:cloud_animation 5s linear infinite;
    animation:cloud_animation 5s linear infinite;
}

@-webkit-keyframes cloud_animation {
0% {
left:0%;
}
100% {
left:-100%;
}
}
@-moz-keyframes cloud_animation {
0% {
left:0%;
}
100% {
left:-100%;
}
}
@-o-keyframes cloud_animation {
0% {
left:0%;
}
100% {
left:-100%;
}
}
@keyframes cloud_animation {
0% {
left:0%;
}
100% {
left:-100%;
}
}

.cancel_search{display: block;
    font-size: 14px;
    margin: 15px auto;
    overflow: hidden;}
.cancel_search .fa{margin-right:10px;}



/*Hotel Serach*/

.window_wrap_hotel {
    background: rgba(0, 0, 0, 0) url("../../images/hotel_window.png") no-repeat scroll center center;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
}
.hotel_window .flight_window{border-radius: 0;
    box-shadow: none;
    height: 235px;
    width: 214px;}
.hotel_window .window_shadow{border-radius: 0;
    bottom: 35px;
    left: 10px;
    right: 25px;
    top: 10px;}
.grass{background: rgba(0, 0, 0, 0) url("../../images/grass.jpg") no-repeat scroll center center;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;}
.cloud_anim_hotel{
    background: rgba(0, 0, 0, 0) url("../../images/cloud_anim.png") repeat-x scroll 0 -170px;
    bottom:0;
    left:0;
    position:absolute;
    top:0;
    transition:all 400ms cubic-bezier(0, 0, 0.59, 1) 0s;
    width:300%;
    z-index:1;
    transition:all 400ms cubic-bezier(0, 0, .59, 1);
    -webkit-animation:cloud_animation_hotel 5s linear infinite;
    -moz-animation:cloud_animation_hotel 5s linear infinite;
    -o-animation:cloud_animation_hotel 5s linear infinite;
    animation:cloud_animation_hotel 5s linear infinite;
}

@-webkit-keyframes cloud_animation_hotel {
0% {
left:0%;
}
100% {
left:-100%;
}
}
@-moz-keyframes cloud_animation_hotel {
0% {
left:0%;
}
100% {
left:-100%;
}
}
@-o-keyframes cloud_animation_hotel {
0% {
left:0%;
}
100% {
left:-100%;
}
}
@keyframes cloud_animation_hotel {
0% {
left:0%;
}
100% {
left:-100%;
}
}
.tabledates.for_hotel .tablecelfty{width:50%;}




@media screen and (max-width: 600px){
.load_inner{min-width:0;}
.load_inner{padding:10px;}
.flight_animation{display:none;}
}
.spinner{width:auto ;text-align:center; height:auto; margin:15px auto;}
    .spinner:after{content:"";display:block;/*background:center center no-repeat url("/assets/images/loading-gif.gif");*/left:0;top:0;position:relative;width:100%;/*height:100%*/}
    .spinner>div{width:27px;height:27px;background-color:#333;border-radius:100%;display:inline-block;-webkit-animation:sk-bouncedelay 1.4s infinite ease-in-out both;animation:sk-bouncedelay 1.4s infinite ease-in-out both}

    .spinner .bounce0{-webkit-animation-delay:-0.46s;animation-delay:-0.46s}
    .spinner .bounce1{-webkit-animation-delay:-0.32s;animation-delay:-0.32s}
    .spinner .bounce2{-webkit-animation-delay:-0.16s;animation-delay:-0.16s}
    .spinner .bounce0{background-color:#BE035C}
    .spinner .bounce1{background-color:#198c8c}
    .spinner .bounce2{background-color:#BE035C}
    .spinner .bounce3{background-color:#198c8c}
    @-webkit-keyframes sk-bouncedelay{0%,80%,100%{-webkit-transform:scale(0)}40%{-webkit-transform:scale(1)}}
    @keyframes sk-bouncedelay{0%,80%,100%{-webkit-transform:scale(0);transform:scale(0)}40%{-webkit-transform:scale(1);transform:scale(1)}}


.deptmg li:hover span, .deptmg li.active span {
    color: #0067a5;
}
.deptmg li:hover, .deptmg li.active {
    background-color: #fff;
    color: #0067a5;
}
.deptmg li {    height: 68px;
    vertical-align: top;    background: #fff;}
.deptmg span {
    padding: 7px 0;
        font-size: 12px;
}
#sidebar.flight .filter-checks li { font-weight: 400; }
div#price-filter {
    padding: 10px 10px !important;
    margin: 18px 0 10px;
}
.filter-checks b {
    font-weight: normal;
}
.mdfsrch .filters-container.toggle-container .panel.style1 .panel-content {
    padding: 0 15px !important;
}
.search-results-title {
    border-color: #198c8c !important;
}
.septor {
    border-bottom: 1px solid #3b5283;
    display: block;
    height: 2px;
    margin: 12px 0;
    overflow: hidden;
    width: 92%;
    margin: 12px auto;
}
.nrow {
    color: #fff;
    display: block;
    font-size: 16px;
    overflow: hidden;
    text-align: left;
}
.maintp { margin-top: 10px;  }
#sidebar.flight .filter-checks li > span {
    margin-left: 20px;
    color: #222;
}
.colr1 { 
    color: #000 !important;  
    margin-bottom: 5px;
    text-decoration: none !important;
}
/*slider*/
.ourdest1 > img {
    max-width: 100%;
    height: auto;
    width: 100%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100px;
    max-height: 45px;
}
.tripcontent1 {
display: inline-block;
    overflow: hidden;
    /* float: left; */
    padding: 6px 6px !important;
    width: 95px;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    text-align: left;
    white-space: nowrap;
    font-weight: normal !important;
}
.trip_head1 {
    color: #5f5e5f;
    display: block;
    font-size: 12px;
    overflow: hidden;
    font-weight: normal;
}
.trip_head1 b {
font-weight: normal;
    font-size: 13px !important;
    font-weight: 600;
    line-height: 21px;
    /* margin-top: 20px; */
    /* padding: 0px !important; */
    /* color: #908988 !important; */
}
.ourdest1 {
    display: inline-block;
    max-height: 240px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    padding: 10px 0;
    width: 55px;
    margin-left: 5px;
    padding: 0px !important;
}
.search_flights .sorting li small { display: none;}
.owlindex3.owl-theme .owl-controls .owl-buttons .owl-prev, .owlindex3.owl-theme .owl-controls .owl-buttons .owl-next {
    color: transparent;
}
.owlindex3 .owl-buttons .owl-next, .owlindex3 .owl-buttons .owl-prev {  top: 25%;}
.owlindex3.owl-theme .owl-controls .owl-buttons .owl-prev:after, .owlindex3.owl-theme .owl-controls .owl-buttons .owl-next:after {
    color: rgb(130, 143, 173);
}
.sorting-tpslider { padding: 0;    margin:0 0 20px; }
.airline_div span {
    font-size: 15px !important;
    
    font-weight: 700;
    color: #fff;
    margin-left: 10px;
    /* letter-spacing: 0.5px; */
}
.sorting.flight li { width: 25%; position: relative;}
.sorting li strong, .sorting li a {
    display: block;
    color: #fff;
    padding: 0 11px;
    font-weight: normal;
    line-height: 40px;
    font-size: 11px;
}
.sorting li a { border-right: 1px solid white;}
.sorting li.twostp a { border-right: 1px solid transparent;}
.sorting-top { display: none; }
.listins a{ font-size: 12px;
    float: left;
    padding: 11px 7px;
    color: #fff; text-align: center;
    min-width: 127px;background: #be035c;}
    .listins a i{
        padding-right: 5px !important;
    }
.listins a.active {background: #198c8c;    border-bottom: 1px solid #198c8c;}
.sorting.flight li.active, .sorting.flight li.active a:hover { background:rgba(234, 168, 22, 0.35); }
.sorting.flight li:first-child.active, .sorting.flight li:first-child.active a:hover { background: #be035c; }
.sorting.flight li:first-child.active a {color: #fff;}
.sorting.flight li.active a {}
.sorting.flight li {border-right: 1px solid #d2d0d0;}
.sorting.flight li.twostp {border-right: 1px solid transparent;}
.mrefun strong {
    font-weight: normal;
    font-size: 11px;
}
.fullprice .skin-color {
    color: #be035c;
    font-size: 12px;
    font-weight: 600;
}

/*Details page*/
.booking_form > h5 {color: #fff;
    display: block;
    font-size: 16px;
    margin: 0 0 0px;
    border-radius: 3px 3px 0px 0px;
    overflow: hidden;
    background: #123867 none repeat scroll 0 0;
    padding: 15px;}
.booking_form {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    overflow: hidden;
    display: block;
    float: left;
    width: 100%;
    margin: 0px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    border: none;
    padding-bottom: 20px;
}
.flights_banner { margin-bottom: 0; }
.booking_form .section_bg {
    
    overflow: hidden;
    display: block;
    float: left;
    font-size: 13px;
    width: 100%;
    background: #fff;
}
.booking_form h5 { background: #be035c }
.booking_form .booking_detail {
    background: rgba(0,178,246,0.1);
    padding: 15px;
    margin-bottom: 0px;
    overflow: hidden; border-bottom: 1px solid #eee;
    background: none repeat scroll 0 0 #fff;
    /* border: 1px solid #0067a5; *//*
    box-shadow: 0 0 5px rgba(153, 51, 62, 0.3);*/

    display: block;
    /* float: left; */
    width: 100%;
        color: #666;
    display: block;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
}
.mdetls{ width: 70%; }
.farelft { width: 30%; padding-left: 0; }
#sidebar {margin-top: 0 !important;/* background: #0067a5 none repeat scroll 0 0;border-radius: 0 0 3px 3px; */}
div#sidebar.farelft { background: #f0f0f0 !important;}
.booking_form .booking_detail .total_cost {
    color: #333;
    display: block;
    font-size: 15px;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: normal;
}
.booking_detail p >small {
    font-size: 80%;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: center;
}
#sidebar .booking_form {
    box-shadow: none;
    margin-bottom: 0px;    background: transparent;
}
#flights_pre_booking .booking_detail li:nth-child(1n) { font-weight: bold;
}
#flights_pre_booking .booking_detail li:nth-child(2n) {font-weight:normal;}
.fltbook {
    background: #f0f0f0 none repeat scroll 0 0;
}
.booking_form .booking_detail .total_cost strong, .mn_price {
    float: right;
    width: 100%;
    color: #198c8c;
    display: block;
    font-size: 28px;
    
    padding: 5px 0px;
    margin-top: 0;
    font-weight: 600 !important;
}
/*congrad*/
.congrad {
    color: #878787;
    display: block;
    border-radius: 3px;
    overflow: hidden;
    padding: 15px;
    margin: 10px 15px;
    background: #f9fdff;
    font-size: 16px;
}
.incongrad {
    font-size: 16px;
    margin-left: 10px;
}
.congrad strong {
    color: #0067a5;
}
.cons {
    padding: 10px;
    background: #4ba3da;
    border-radius: 50%;
    color: #fff;
    margin-right: 10px;
}
.flight_listings {
    font-weight: normal;
}
.congrad .popover {
    max-width: 500px;
}
.congrad a {color: #337ab7 !important;    text-decoration: none; }
.congrad a:focus, .congrad a:hover {color: #23527c !important;text-decoration: underline;}
/*.popover.right>.arrow:after {
    bottom: -10px;
    left: 1px;
    content: " ";
    border-right-color: #fff;
    border-left-width: 0;
}
.popover>.arrow:after {
    content: "";
    border-width: 10px;
}
.popover>.arrow, .popover>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}*/
.flight_listings .flight_item figure img {
    width: auto;
    max-width: 100% !important;
}
.mflimg {
    border-right: 1px dashed #d8d8d8;
}
#flights_pre_booking .booking_form .flight_listings .colored-title {
    padding: 0 15px;margin-bottom: 10px;
}
.flight_listings .flight_item figure span { text-align: left;font-size: 11px; color: #333 !important; margin-top: 0; margin-bottom: 5px; }
#flights_pre_booking .booking_form .flight_listings .flight_item {margin-bottom: 0;border: 1px solid transparent; padding: 10px 15px;}
small.ftdat { display: none;}
#flights_pre_booking .booking_form .flight_listings .flight_item .detilsbtm { padding-left: 0; border-top: 1px solid #ececec;}
#flights_pre_booking .booking_form .flight_listings #Itenerary { margin-top: 0 }
#flights_pre_booking .booking_form .flight_listings #Itenerary .Depfull_details { padding-left: 5px;padding-right: 5px;}
.flight_listings .flight_item .origin, .flight_listings .flight_item .destination {
    font-size: 1rem;
    float:none;
    font-weight: normal;
    color: #333;
    text-align: center;
    margin: 3px 0px 0px 0px;
    font-size: 13px;
    line-height: normal;
    overflow: hidden;
}
small.ftim {
    width: 100%;
    display: block;
    text-align: right;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
}
.destination small.ftim {text-align:left;}
.flight_listings .fltdep,.flight_listings .fltstp {
    border-right: 1px dashed #d8d8d8;
}
.colored-title small {font-size: 14px;font-weight: 500;color: #0067a5 !important;}
.booking_form .section_bg_alt { background: #fff;    padding: 15px 0px 10px; }
#flights_pre_booking .rooms_detail h6 {
    font-weight: bold;
    font-size: 14px;
    font-weight: 500;
    color: #0067a5 !important;
}
.booking_form label {font-size: 13px; margin-bottom: 6px;color: #a0a0a0;}
.booking_form fieldset {margin-bottom: 0;}
.selectpicker_custom .selectpicker, .tel_no .selectwrp.custombord select, .des_name {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    display: block;
    color: #3c3b3b;
    height: 42px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    overflow: hidden;
    margin-bottom: 7px;
    font-size: 13px;
    padding: 7px;
    width: 100%;
}
.booking_form input[type=password], .booking_form input[type=tel], .booking_form input[type=text], .booking_form input[type=email] {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    float: left;
/*    color: #a0a0a0;*/
    color: #3c3b3b;
    font-size: 13px !important;
    margin-bottom: 7px;
    height: 42px;
    padding: 0 10px;
    width: 100%;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.booking_form .alert i.fa {
    color: #607d8b;
}
.booking_form .alert {
    margin-bottom: 20px;
    padding: 10px 15px;
    background: #fff;
    border-color: #fff;
    border-bottom: 1px solid #dddddd;
}
.booking_form .alert p {
    color: #333333;
    /* float: left; */
    padding: 0 0 10px;
    font-size: 13px;
    margin-bottom: 0;
}
.booking_form .alert ul {
    padding: 0;
    margin: 0;
    color: #666666;
    /* float: left; */
    font-size: 13px;
    line-height: 24px;
}
.booking_form .alert li {
    list-style: none;
    margin: 0;
}
.booking_form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a0a0a0;
  opacity:1;
}
.booking_form ::-moz-placeholder { /* Firefox 19+ */
  color: #a0a0a0;
  opacity:1;
}
.booking_form :-ms-input-placeholder { /* IE 10+ */
  color: #a0a0a0;
  opacity:1;
}
.booking_form :-moz-placeholder { /* Firefox 18- */
  color: #a0a0a0;
  opacity:1;
}

.booking_form .selectwrp select, .booking_form .rooms_detail select {
    color: #3c3b3b;
}
.fare-book {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: none;
    display: block;
    float: left;
    width: 100%;
    font-size: 13px;
}
#fare_breakdown.section_bg {padding:15px;}
.detilsbtm3 {
    display: table-cell;
    float: none;
    padding: 5px 10px;
    width: 33.33%;
    font-weight: 600;
    color: #666;
}
.detilsbtm6 .detilsbtm5 {
    color: #666;
    float: left;
    font-size: 13px;
    width: 50%;
    font-weight: 600;
}
.detilsbtm6 {background: #eeeeee; }
#seat_selection_tabs .tabs li {
    font-size: 14px;
    background: #6f7789;
    border: 1px solid #6f7789;
    padding: 5px !important;
    margin: 0 3px 5px 0;
    border-radius: 3px;
    color: #fff;
}
#seat_selection_tabs .tabs img {margin-right: 7px; width: 40px;}
.booking_form .ui-tabs .ui-tabs-nav li a strong {font-weight: normal;}
.booking_form .ui-tabs .ui-tabs-nav li a {color: #fff;font-size: 13px;line-height: 25px; }
#seat_selection_tabs .tabs { padding: 0 10px;}
#seat_selection_tabs .tabs li:last-child{ margin-right: 0 }
#seat_selection_tabs .tabs li.ui-state-active {
    background: #eaa816;
    border-color: #eaa816;
}
.flight_listings .flight_item figure img.img-fluid {
    max-width: 50px !important;
    height: auto;
}
.pay_bg {
    -webkit-box-shadow: 1px 1px 0 0 #d1d1d1;
    -moz-box-shadow: 1px 1px 0 0 #d1d1d1;
    box-shadow: 1px 1px 0 0 #d1d1d1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 8px 10px;
    background-color: #eaeaea;
    margin: 1% 0%;
    position: relative;
    float: left;
    width: 100%;
    line-height: 40px;
}
section.booking_form.payments .section_bg {
    padding: 20px 15px;
}
.booking_form.payments fieldset label {
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 0px !important;
    font-size: 14px !important;
    color: #123867 !important;
    font-weight: 500 !important;
    padding-left: 0px !important;
}
.booking_form.payments fieldset label span {color: #198c8c;}
.insidebook.booking_form.last {margin-bottom: 15px;}
section.booking_form.payments { margin-bottom: 0;}
.make_payment {
    background-color: #EEEEEE;
    border: 2px solid transparent;
    border-radius: 25px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
    color: #fff !important;
    display: table;
    font-size: 16px;
    margin: 20px auto;
    overflow: hidden;
    padding: 10px 40px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    height: 46px;
}
.whychse .colored-title { margin-top: 20px;}
#flights_pre_booking .advance_passenger_details {
    font-size: 14px;
    font-weight: 500;
    color: #0067a5 !important;
}
.flight-routes.image-box.style13.block {
    margin-bottom: 20px;
}
.multi_flights_wrap { display: none; }
.booking_form .section_bg { padding: 20px 0 10px; }
.box.FlightInfoBox {margin-bottom: 15px;}
.centertext.col-md-12.text-center {
    padding: 0;
    top: 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 18px;
/*    bottom: 0;
    background: url(../images/more.png) no-repeat;
    background-position: center 4px;*/
}
.centertext.col-md-12.text-center a {
    padding: 0;
    top: -3px;
    position: absolute;
    left: 0;
    width: 100%;
    height: 18px;
    bottom: 0;
    background: url(../../images/more.png) no-repeat;
    background-position: center 4px;
    background-size: 399px !important;right: 0;margin: 0 auto;overflow: hidden;white-space: nowrap;
    text-overflow: ellipsis;max-width: 399px;
}
.moreoption {font-size: 11px; text-decoration: none !important;}
section.booking_form.payments.dethtl { margin-bottom: 20px; }
.dethtl.booking_form.payments .notice {margin-top: 15px;}
.farelft .booking_detail {
    box-shadow: 0 0 5px rgba(153, 51, 62, 0.3) !important;
    margin-bottom: 15px !important;
}
#multicitycntrls a {color: #ddd;}
.fltdetls ul li { padding-right: 10px; float: left;font-size: 13.5px; }
.fltdetls ul li:last-child { padding-right:0; }
#Itenerary { margin-top: 10px;}
.toggle-container .panel .panel-title a {font-weight: 600 !important;}
.fare_rules_toggle:before {
    content: "\f067";
    font-family: fontAwesome;
    line-height: 22px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    font-size: 16px;
    font-style: initial;
}
.fare_rules_toggle.active:before {
    content: "\f068";
    font-family: fontAwesome;
    line-height: 22px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    font-size: 16px;
    font-style: initial;
}
.fare_rules_toggle {
    position: absolute;
    display: inline-block;
    right: 4px;
    width: 22px;
    height: 22px;
    background: #999;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    color: white;
    top: 2px;
}
div#fare_rules {
    line-height: 1.5;
}
/*li.nonstp::before, li.onestp::before {
    content: "";
    position: absolute;
    width: 94%;
    left: 1%;
    right: 1%;
    top: 0;
    margin: 0 auto;
    height: 3px;
    background: #27ae60;
    border-radius: 10px;
}
li.twostp::before {
    content: "";
    position: absolute;
    width: 94%;
    left: 1%;
    right: 1%;
    top: 0;
    margin: 0 auto;
    height: 3px;
    background: #eaa816;
    border-radius: 10px;
}*/
/*.onestp {border-top: 2px solid #27ae60;  }*/
/*.onestp a span {
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    left: 0;
    right: 0;
    top: -35%;
    bottom: 0;
    margin: 0 auto;
    background: #27ae60;
    text-align: center;
    line-height: 30px;
    color: #fff;
}
.twostp a span {
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    left: 0;
    right: 0;
    top: -35%;
    bottom: 0;
    margin: 0 auto;
    background: #eaa816;
    text-align: center;
    line-height: 30px;
    color: #fff;
}
.twostp a span.srtbx1 {left: 30px;right: auto; }
.twostp a span.srtbx2 {right: 30px;left: auto;}
.mobflgt .sorting { overflow: visible !important;float: left; width: 100%;}*/
.srtfst { width: 40%; float: left; margin: 0;cursor: pointer;}
.nonstpin { width: 60%; float: left; position: relative; margin:0; overflow: hidden;cursor: pointer;}
/*.non_stop { content: '\f068\f068\f068\f068\f068\f068\f068\f068\f068\f068\f068\f068';
    content: '\f068\f068\f068\f068\f068\f068\f068\f068\f068\f068\f068\f068';
    overflow: hidden;
    white-space: nowrap;
    font-family: fontAwesome; }*/
label.nonstpin::before {
    content: '\f068\f068\f068\f068\f068\f068\f068\f068\f068\f068\f068\f068';
    overflow: hidden;
    white-space: nowrap;
    font-family: fontAwesome;
    color: #198c8c;
}
label.twostp::before {
    color: #be035c;
}
span.one_stop {
    position: absolute;
    left: 0px;
    right: 0px;
    text-align: center;
    color: #fff;
    margin: 0px auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #198c8c;
    margin: 0px auto;
    display: block;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 30px;
    font-size: 11px;
}
span.two_stop {
    position: absolute;
    left: 0px;
    right: 0px;
    text-align: center;
    color: #fff;
    margin: 0px auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #be035c;
    margin: 0px auto;
    display: block;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 30px;
    font-size: 11px;
}
span.two_stop { left: 17px; right: auto; }
span.two_stop1 { right: 17px; left: auto; }
.deptmg li:hover .splmrg_img.splnorm, .deptmg li.active:hover .splmrg_img.splhvr { display: block;}
.deptmg li:hover .splmrg_img.splhvr, .deptmg li.active:hover .splmrg_img.splnorm{ display:none;}
.celsrch .search-results-title {background: #0067a5 none repeat scroll 0 0 !important;border-radius: 3px 3px 0 0;}
#t_f_count { display: none !important; }
span#noresultfound {
    font-size: 15px !important;
    font-weight: 600;
    letter-spacing: 0.04em;
    color: #484844;
    text-align: center;
    width: 100%;
    float: left;
    padding: 40px 15px;
}
header .menu-top li.register a, header .menu-top li.login a, header .menu-top li a, header .menu-top li a{
    color:#ffffff;
    font-weight: 600;
}
header .menu-main li.on-support a {
    font-size: 14px;
}
.white-box h6{
    font-size: 1.5em;
}
header .menu-main li a{
    padding: 4px 0 4px 0px;
}
.total_flight_count{
    display: none;
}
form .radio label, form label.radio{
    font-weight: bold !important;
}
.ui-slider .ui-slider-handle {border: none !important;}
#SeatSelectModal{background: rgba(0,0,0,0.7);}
.warclr {font-size: 12px !important;white-space: pre-line;font-family: "verdana";line-height: 1.4em;}
/*Car module*/
#car_modify_search input, #car_modify_search select {padding: 7px 10px !important;    height: 35px;}
button.btn.blue.mn_top {border: 1px solid #fff;height: 35px;font-weight: 500;padding: .5rem;margin-top: 0;font-size: 13px;}
#sidebar h6 a {
    color: #fff;
    white-space: normal;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: 500;
    overflow: hidden;
    padding: 5px;
    position: relative;
    text-align: left;
    width: 100%;
    font-weight: 600 !important;
}
#car_search #normalsearch [class^="col-"], #car_search #normalsearch [class*=" col-"] {
    padding-left: 2px;
    padding-right: 2px;
}

/* 7.1. UI Slider ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#srchcar #sidebar .ui-slider {
  position: relative;
  text-align: left;
}
#srchcar #sidebar .ui-slider.ui-slider-horizontal {
  height: 3px;
}
#srchcar #sidebar .ui-slider.ui-slider-horizontal .ui-slider-range {
  height: 100%;
}
#srchcar #sidebar .ui-slider.ui-slider-horizontal .ui-slider-handle {
  margin-left: -14px;
  top: -11px;
}
#srchcar #sidebar .ui-slider.ui-widget-content {
  -webkit-border-radius: 5px 5px 5px 5px !important;
  -moz-border-radius: 5px 5px 5px 5px !important;
  -ms-border-radius: 5px 5px 5px 5px !important;
  border-radius: 5px 5px 5px 5px !important;
  background: #f5f5f5 !important;
  height: 3px !important;
}
#srchcar #sidebar .ui-slider .ui-slider-range {
  display: block;
  position: absolute;
  z-index: 1;
  border: none;
  background: #eaa816;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
#srchcar #sidebar .ui-slider.slider-color-yellow .ui-slider-range {
  background: #fdb714;
}
#srchcar #sidebar .ui-slider.slider-color-blue .ui-slider-range {
  background: #01b7f2;
}
#srchcar #sidebar .ui-slider.slider-color-green .ui-slider-range {
  background: #98ce44;
}
#srchcar #sidebar .ui-slider .ui-slider-handle {/*
background: rgba(0, 0, 0, 0) url(../images/tips.png) no-repeat scroll 0 0;*/
    cursor: pointer;
    height: 28px;
    margin-left: -14px;
    top: -11px;
    width: 28px;
    position: relative;
    z-index: 10000000;
    /* cursor: default; */
    position: absolute;
    outline: none !important;
}
#srchcar #sidebar .filters-container #rating {
  font-size: 24px;
}

#srchcar #sidebar .filters-container #rating, #sidebar .editable-rating {
  display: inline-block;
}
#srchcar #sidebar .filters-container #rating.ui-widget-content, #sidebar .editable-rating.ui-widget-content {
  background: none;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -ms-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
#srchcar #sidebar .filters-container #rating.ui-slider-horizontal, #sidebar .editable-rating.ui-slider-horizontal {
  height: auto;
}
#srchcar #sidebar .filters-container #rating.ui-slider-horizontal .ui-slider-handle, #sidebar .editable-rating.ui-slider-horizontal .ui-slider-handle {
  margin: 0;
  width: 0;
  height: 0;
  padding: 0;
  top: 0;
  visibility: hidden;
}
#srchcar #sidebar .widget {padding: 10px !important; }
#srchcar #sidebar .widget.pricerange .inner {padding: 5px 15px 0;}
.min-price-label, .max-price-label {color: #fff;margin: 5px 10px 15px;font-size: 12px;}
#srchcar #sidebar .widget li {color: #fff;line-height: 20px;}
.car_rslt img.hotel-right-logo { height: 25px;clear: both;}
.car_rslt .table-view { height: auto !important; }
.car_rslt .cruise-item { border: 1px solid #c1c3c4; margin-bottom: 12px;}
.car_rslt .title.cruise-middle.cell-view.mn_pad_list {
    border: none;
    border-right: 1px dashed #d8d8d8;
    border-left: 1px dashed #d8d8d8;
}
.car_rslt .cruise-item .title h4 b { display: block;}
.car_rslt .cruise-item .title h4 {
    font-size: 17px;
    color: #f9b932;
    margin: 3px 0px 10px;
    line-height: normal;
    overflow: hidden;
    font-size: 17px;
    font-weight: 600;
    color: #333;
}
.car_rslt .mn_mrgn {
    padding: 0 !important;
    font-weight: 600;margin: 0 !important;
}
.car_rslt .cruise-item .title p {
    color: #333;
}
.car_rslt .car_listings {
    margin-bottom: 20px;
    float: left;
    width: 100%;
}
.car_rslt .c-button.b-40.twitter.hv-transparent.fr.selcetbtn {
    margin-bottom: 0;
    background: #e33e8d;
    border: 1px solid #a2a4a8;
    border-radius: 0;
    color: #fff !important;
    font-size: 14px;
    font-weight: 500;
    padding: 0 5px;
}
.car_rslt .sorting li {width: 20% !important;}
.car_rslt .cruise-item .title { border: none;}
.car_rslt p#car a {
    padding: 4px 8px;
    border-radius: 2px;
    font-size: 13px;
    background: #eee;
    border: 1px solid #e0dddd;
    color: #333;
}
.car_rslt .cruise-item .title p { margin: 10px 0px 5px; padding: 0; text-align: left;}
.mnn_table .table td, .mnn_table .table th { padding: 5px; border:none; }
.mnn_table { background: #fff;}
#sidebar .car_details.booking_form {box-shadow: 0 2px 5px rgba(0,0,0,.1);}
.sidebar-body {padding: 10px 15px;}
.sidebar-item {background: #fff;}
.mn_pay, .mn_pa {color: #ff5722;}
.nobrd { border: none !important; }
.table-view.booking_form { margin: 0;}
.mn_incl.booking_form {padding: 0;}
.m_table.bg_head th {
    color: #fff;
    /* display: block; */
    font-size: 16px;
    margin: 0 0 0px;
    border-radius: 3px 3px 0px 0px;
    overflow: hidden;
    background: #123867 none repeat scroll 0 0;
    padding: 15px;
    font-weight: normal;
}
.m_table ul li { list-style: none; }
.checkbx { width: 15px !important;    margin: 5px 10px;}
#myModal.main_loader { background: rgba(0,0,0,0.5);}
span.color-blue.ng-binding {
    color: #1e1abd;
    font-weight: bold;
    font-size: 20px;
    padding: 0 !important;
    display: block !important;
    text-align: center;
}
a.c-button.b-40.twitter.hv-transparent.fr {color: #fff !important;}
.m_table th {font-size: 13px; padding: 8px 10px;}
.clear { clear:both;}
.font_norm { font-weight: normal !important;}
.flag.flag-24 {float: left;margin-right: 5px;margin-top: -2px;}
.wdt25 { width: 25%; }
.wdt20 { width: 20%; }
.wdt12, .livein { width: 12%; }
.wdt8, .drage { width: 8%; }
.cmnum {height: 45px; }
#car-tabs .searchsbmtfot { margin: 0; }
#car-tabs {overflow: hidden;}
#car_modify_search .carfltr > fieldset { margin-bottom: 10px;}
#car-tabs .padselct, #car-tabs .totlall {color: #333;}
.car_check label {font-size: 12px;color: #fff;margin: 0;display: inline-block;margin-right: 15px;}
/*Cruise*/
.eq_wdt { width: 16.666%; }
#cruise-tab .nopad.car_pad.eq_wdt { padding-top: 0 !important;}
#cruise-tab .searchsbmtfot, #changesearchblock .searchsbmtfot {margin-top: 0;}
#car-tabs .padselct, #car-tabs .normalinput, #cruise-tab .normalinput, #cruise-tab .normalsel {height: 45px !important; border-radius: 3px;}
.car_pad .searchsbmtfot { width: 100%;}
.searchsbmt {height: 45px !important;border-radius: 2px;}
.facility {
    border: 1px solid #d8d8d8;
    height: 26px;
    margin-right: 4px;
    padding: 5px;
    width: 26px;
    box-shadow: 1px 0px 3px #e6e6e6;
}
.twitter {
    background: #e33e8d;
    border: 1px solid #a2a4a8;
}
#car-tabs .cnty.car_pad, #car_search .cnty.car_pad { width: 20%; float: right;}
.drage, .livein { float: right; }
.target_location, select#age, #car-tabs .hasDatepicker {padding-left: 10px !important;padding-right: 10px;}
.filters-container.toggle-container { float: left;width: 100%;}
.drp.wdt25, .slcntry.wdt20 { clear: both; }


/*#round_trips { float: left; width: 100%;}*/
.normalsel, .datemark::before, .nitmark::before, .plcemark::before, .selctmark::after { height: 45px;border-radius: 0 3px 3px 0;}
#changesearchblock .eq_wdt { padding: 0 }
#changesearchblock .lablform { font-size: 11px;margin: 0 0 5px;color: #fff;text-transform: uppercase; font-weight: normal;}
#changesearchblock .normalsel {border-radius: 0;}
#changesearchblock .padselct {
    max-width: 100%;
    border: 1px solid #ccc !important;
    background: #fff !important;
    width: 100%;
    font-size: 12px;
    border-radius: 0;
    margin: 0px 0 0px 0 !important;
    height: 35px !important; color: #333;
}
#changesearchblock .normalinput { height: 35px; color: #333;    width: 100%;}
.btn.blue.mn_top {
    border: 1px solid #fff;
    height: 35px !important;
    font-weight: 500;
    padding: .5rem;
    border-radius: 0; margin: 0;
    width: 100%;
}
#changesearchblock .datemark::before, #changesearchblock .nitmark::before, #changesearchblock .plcemark::before, #changesearchblock .selctmark::after { line-height: 35px;height: 35px; border-radius: 0;}
.plcetogo {margin: 0px; }
#changesearchblock { margin-bottom: 10px;}
#changesearchblock.changecar {
    margin: 10px 0;
    width: 100%;
    float: left;
}
.load_inner img {max-height: 160px;}
.sorting .segmented_btn {
    font-weight: normal;
    border-right: 0;
    padding: 7px 8px;
     background: none; 
    font-size: 12px;
    display: block;
    text-align: left;
    color: #fff;
    border-bottom: none;
}
.sorting .segmented_btn strong { font-weight: normal;}
#listings .contact, #listings .description .messaging, #listings h3, .car_bk .resultc h3, .car_eco, .contact p, .cta, .cta:link, .cta:visited, .resultc p, .segmented_btn, a.cta {
    font-family: "verdana";
}
.sorting .segmented_btn i.fa{ margin-left: 5px; vertical-align: text-top; }
#cr_src .filters-summary { padding: 0;}
#cr_src .celsrch, #cr_src .filter_section, #cr_src #accordion-first .accordion-heading { background: #0067a5 none repeat scroll 0 0; }
#accordion-first .accordion-heading .accordion-toggle {
    white-space: normal;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: 500;
    overflow: hidden;
    padding: 5px;
    position: relative;
    text-align: left;
    width: 100%;
    font-weight: 600 !important;
}
#accordion-first .accordion-group {border-bottom: 1px solid transparent;border-top: 1px solid transparent;}
.check_box label span { color: #fff; }
#accordion-first .accordion-heading .accordion-toggle>em { color: #fff;font-size: 14px;}
#cr_src .pricerange p {display: none;}
#cr_src .pricerange {
     margin-top: 0px; 
    margin-bottom: 25px;
    padding: 10px;
    padding: 10px 15px 0;
}
#cr_src #accordion-first .accordion-heading { padding: 0 10px; }
b.pull-left.ng-binding, b.pull-right.ng-binding {margin-top: 15px;}
.check_box label {
    background: none;
    border-radius: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
    cursor: pointer;
    left: 0;
    height: 18px;
    position: absolute;
    top: 0;
    width: 18px;
    border: 1px solid #fff;
}
.check_box label::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #fcfff4 #fcfff4;
    border-image: none;
    border-style: none none solid solid;
    border-width: medium medium 3px 3px;
    content: "";
    height: 7px;
    left: 3px;
    opacity: 0;
    position: absolute;
    top: 3px;
    color: #fff;
    transform: rotate(-45deg);
    width: 11px;
    background: none;
    border-radius: 0;
}
div#accordion-first { padding: 10px 0;}
#cr_src #listings .description {background-color: #fff;}
#cr_src .character>div { border-left: 1px dashed #d8d8d8;}
.cruise-logo img { max-height: 57px;}
#cr_src #listings h3 a {font-weight: 600; color: #333;}


/*.centfulls { padding: 0 5px !important }*/
@media screen and (max-width: 1200px) { 
.two_s .o_stop:last-child {
    right: 15px !important;
 }
.two_s .o_stop {
    left: 15px !important; 
  }
  .centfulls { padding: 0 5px !important }
  .fl_name {white-space: normal; }

}

.booking_form h6{
    padding: 10px 15px;
    background: #e2e2e2;
    font-size: 14px;
    color: #f166a9;
}
.one .form-control{
    margin-bottom: 10px;
}
.one label{
    text-align: right;
}
.padL0{
    padding-left: 0;
}
.padR0{
    padding-right: 0;
}
.one .col-md-12 p{
    height: 42px;
    font-size: 13px;
}
.one .col-md-12 p.empty_tag{
        height: auto !important;
    margin-bottom: 0 !important;
}
.cmpny_bg{
    background: #ff960a;
    padding-bottom: 10px !important;
    margin-bottom: 15px;
    color: #fff;
    box-shadow: 0 0 7px #ccc;
}
.prfle_bg{
    background: #2898c6;
    padding-bottom: 10px !important;
    margin-bottom: 15px;
    color: #fff;
    box-shadow: 0 0 7px #ccc;
}
.prfle_bg .fa.fa-user{
    color: #2898c6;
}
.settings_bg{
    background: #01a292;
    padding-bottom: 10px !important;
    margin-bottom: 15px;
    color: #fff;
    box-shadow: 0 0 7px #ccc;
}
.settings_bg .fa.fa-cog{
    color: #01a292;
}
.deposit_bg{
    background: #e33e8d;
    padding-bottom: 10px !important;
    margin-bottom: 15px;
    color: #fff;
    box-shadow: 0 0 7px #ccc;
}
.booking_report_bg{
    /*background: #2898c6;*/
    background: #198c8c;
    padding-bottom:  10px !important;
    margin-bottom: 15px;
    color: #fff;
    box-shadow: 0 0 7px #ccc;
}
.cstm_ico{
    margin-top: 62px;
    /*margin-bottom: 0;
    color: #fff;*/
}
.cstm_ico i{
    border-radius: 50%;
    border: 5px solid #fff;
    padding: 20px;
    box-shadow: 0 0 7px #ccc;
    position: absolute;
    background: #e9e9e9;
    top: -35px;
    right: 32%;
    text-align: center;
    font-size: 50px;
}
.mTop40{
    margin-top: 40px;
}
.mTop20{
    margin-top: 20px;
}
.mBtm20{
    margin-bottom: 20px;
}
.topsec_agent{
    background: #f1f1f1 none repeat scroll 0 0;
    float: left;
    width: 100%;
    padding: 3px 0;
}
.toprit_agent {
    float: right;
}
.full_logout {
    color: #f41919 !important;
    font-size: 25px !important;
    padding: 12px 10px !important;
}
.cstm_nav li{
    display: inline-block;
    margin-left: 15px;
    line-height: 28px;
    font-size: 14px;
    border-right: 1px solid #ddd;
    padding-right: 15px;
    color: #000;
}
/* .booking_n_cancl_sec{
    background: #f9f9f9;
} */
.bg-blue {
    background-color: #198c8c !important;
}
.booking_n_cancl_sec .info-box {
    display: block;
    min-height: 50px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 15px;
    padding: 0 !important;
}
.booking_n_cancl_sec .info-box-content {
    padding: 15px 10px;
    margin-left: 50px;
}
.booking_n_cancl_sec .info-box-text {
    text-transform: uppercase;
}
.booking_n_cancl_sec .progress-description, .info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.booking_n_cancl_sec .bg-green{
    background-color: #f52007 !important;
}
.booking_n_cancl_sec .info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 35px;
    line-height: 50px;
    background: rgba(0, 0, 0, 0.2);
}
.booking_n_cancl_sec .info-box-icon i{
    color: #fff;
}
.mn-edit-tab .col-md-3{
    margin-bottom: 15px;
}
.mn-edit-tab .btn-primary, .col-md-12.mTop20 .btn-primary, .mBtm20.btn-primary{
    background: #be035c;
}
.mn-edit-tab .btn-warning{
    background: #198c8c;
}
.styl_p{
    border-bottom: 1px solid;
    padding-bottom: 5px;
}
.panel_agent.search-wrapper.flsearch{
        margin: 3% auto !important;
}
.bkng_cnt{
    color: red;
    float: right;
}
.badge{
    display: inline-block;
    min-width: 10px;
    padding: 3px 9px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #777;
    border-radius: 10px;
    float: right;
}
.booking_n_cancl_sec .widget.green {
    border: 1px solid #198c8c;
}
.booking_n_cancl_sec .widget {
    background: #fff;
    clear: both;
    margin-bottom: 20px;
    margin-top: 0;
    border: 1px solid #404040;
}
.booking_n_cancl_sec .widget.green .widget-title {
    background: #198c8c;
    height: 36px;
    color: #fff;
}
.booking_n_cancl_sec .widget-title > h4 {
    float: left;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 11px 10px 15px;
    line-height: 15px;
    margin: 0;
    /* font-family: 'MyriadPro-Regular'; */
    color: #fff;
}
.booking_n_cancl_sec .widget-body {
    padding: 15px 15px;
}
.booking_n_cancl_sec ul.item-list {
    margin: 0px;
    list-style: none;
}
.booking_n_cancl_sec .scroller {
    padding-right: 10px;
}
.booking_n_cancl_sec ul.item-list li:first-child {
    border-top: none;
    /* border-bottom: 1px solid #EBEBEB; */
}
.booking_n_cancl_sec ul.item-list li {
    /* padding: 11px 0; */
    list-style: none;
    border-top: 1px solid white;
    border-bottom: 10px solid #fff;
    font-size: 12px;
    background: #ededed;
    line-height: 40px;
}
.booking_n_cancl_sec ul.item-list li .label {
    margin-right: 5px;
    padding: 12px !important;    font-size: 12px;
}


.booking_n_cancl_sec .label-warning, .booking_n_cancl_sec .badge-warning {
    background-color: #fcb322;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcb322), color-stop(100%, #fcb322));
    background-image: -webkit-linear-gradient(top, #fcb322, #fcb322);
    background-image: -moz-linear-gradient(top, #fcb322, #fcb322);
    background-image: -ms-linear-gradient(top, #fcb322, #fcb322);
    background-image: -o-linear-gradient(top, #fcb322, #fcb322);
    background-image: linear-gradient(top, #fcb322, #fcb322);
}

.booking_n_cancl_sec .label {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    text-shadow: none !important;
    padding: 5px !important;
}
.booking_n_cancl_sec ul.item-list .pull-right span {
    padding-right: 9px !important;
    display: inline-block;
}
.booking_n_cancl_sec .italic {
    font-style: italic !important;
}
.booking_n_cancl_sec .small {
    font-size: 11px !important;
}
.booking_n_cancl_sec .label-success, .booking_n_cancl_sec .badge-success {
    background-color: #a5d16c;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a5d16c), color-stop(100%, #a5d16c));
    background-image: -webkit-linear-gradient(top, #a5d16c, #a5d16c);
    background-image: -moz-linear-gradient(top, #a5d16c, #a5d16c);
    background-image: -ms-linear-gradient(top, #a5d16c, #a5d16c);
    background-image: -o-linear-gradient(top, #a5d16c, #a5d16c);
    background-image: linear-gradient(top, #a5d16c, #a5d16c);
}
.economy_label{
    color: #fff;
    margin: 15px auto;
    text-transform: capitalize;
        margin: 5px 0 10px 0;
}
table.dataTable thead .sorting_asc{
    background: #198c8c !important;
}
.fade.in{
    background: rgba(0,0,0,0.4);
}
.booking_deposit1 table thead tr{
    background: #be035c !important;
}
.pay_now label{
    margin-top: 5px;
}
.form_mrgn{
    margin: 30px auto;
}
#airlines-filter_con ul.nav.filter-checks li, #airports-filter_con ul.nav.filter-checks li, #airlines-filter ul.nav.filter-checks li:first-child{
    padding-left: 8px !important;
    color: #222 !important;
    float: left !important;
    width: 100%;
}
#airlines-filter_con ul.nav.filter-checks, #airports-filter_con ul.nav.filter-checks{
    /*padding-left: 15px;*/
}
.all_inc{
    color: #be035c !important;
}
.postime {
    background: none repeat scroll 0 0 rgba(0,0,0,0.5);
    border-radius: 3px;
    display: block;
    left: 0;
    line-height: 24px;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    top: 54px;
    color: #fff;
}
.scrollup {
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 50px;
    right: 2px;
    display: none;
    /*text-indent: -9999px;*/
    background-color: #198c8c;
    color: #fff;
    text-align: center;
}
.scrollup i{
        font-size: 28px;
    line-height: 44px;
}
.detilsbtm1 a:hover{
    border: 2px solid #be035c;
    color: #be035c !important;
}
#color, #centered {
        padding: 0;
        float: left;
        width: 50%;
        box-sizing: border-box;
      }
      #color .nanobar, #centered .nanobar {
        margin-bottom: 2em;
      }

      #color .nanobar .bar {
        background: #38f;
        border-radius: 4px;
        box-shadow: 0 0 10px #59d;
        height: 6px;
        margin: 0 auto;
      }
      #centered .nanobar .bar {
        background: url('../../../images/rainbow.gif') 100% !important;
        height: 9px;
      }
      .cartsec1 {
    border-radius: 100%;
    height: 50px;
    position: fixed;
    right: 6px;
    text-align: center;
    top: 20px;
    width: 85px;
    z-index: 100;
}
.bar{
    background: transparent !important;
}
.ads_dsply{
    background: #198c8c;
}
.ads_dsply h3{
    margin-bottom: 5px;
    font-size: 15px;
    padding-top: 12px;
    text-align: center;
}
.ads_dsply h3 span button{
    text-align: center;
    padding-bottom: 22px;
}
.agent_cart{
    top: 50px;
}
.agent_cart1{
    top: 50px;
}
@keyframes loading {
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.loading_nano {
  position: absolute;
  left: 0;
  /*top: 50%;*/
  width: 100%;
  height: 5px;
  background: #198c8c;
  box-shadow: 0 2px 0 #eee;
}
.loading_nano:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background: #be035c;
  animation: loading 7s ease infinite;
}

.text_nano {
  position: absolute;
  top: -3rem;
  left: 1rem;
  color: #ccc;
  font: 3rem/1 monospace;
}
.text_corres h4{
    margin-bottom: 0;
}


.insidemyt {
    border: 1px solid #be035c;
    display: block;
    overflow: hidden;
    margin-bottom: 15px;
}
.sortul {
    background: #ffffff none repeat scroll 0 0;
    display: block;
    overflow: hidden;
}
.sortli {
    float: left;
    width: 20%;
}
.sorta {
    border-right: 1px solid #be035c;
    color: #474747;
    display: block;
    font-size: 14px;
    font-weight: 300;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    padding: 0 10px 0 0;
    position: relative;
}
.sirticon.sort1 {
    background-position: -100px -345px;
}

/*.sprite {
    background: rgba(0, 0, 0, 0) url(../../../images/sprite.png) no-repeat scroll 0 0;
}*/

.sirticon {
    float: left;
    height: 25px;
    margin: 5px 10px;
    width: 25px;
}
.sorta.asc::after {
    color: #999999;
    content: "\f0d7";
    font-family: "FontAwesome";
    margin-left: 10px;
    position: absolute;
    right: 15px;
}
.sorta.des::after {
    color: #999999;
    content: "\f0d8";
    font-family: "FontAwesome";
    margin-left: 10px;
    position: absolute;
    right: 15px;
}
.sirticon.sort2 {
    background-position: -227px -345px;
}
.sirticon.sort4 {
    background-position: -366px -347px;
}
.sirticon.sort3 {
    background-position: -298px -345px;
}
.sirticon.sort5 {
    background-position: -422px -347px;
}

.deptmg {
    margin-bottom: 12px;
}
header.mainhead #myNavbar .menu-top li a{
    font-size: 15px;
    padding: 15px 12px;
}

.htlloadimg {
    display: block;
    margin: 15px -15px;
    overflow: hidden;
}
.adimage {
    border-radius: 3px;
    display: block;
    overflow: hidden;
}
.adimage img {
    width: 100%;
}
.progress-bar.active, .progress.active .progress-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

.progress-bar-striped, .progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.paraload {
    color: #333333;
    display: block;
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 15px;
    overflow: hidden;
}
ul.sortul.flight_sort li.sortli:last-child .sorta{
    border-right: 0 !important;
}
.rset{
    color: #000 !important;
    float: right;
    text-decoration: underline;
}
.promo_banner{
    margin-bottom: 35px !important;
}
.service_sec{
    background: #be035c;
    padding: 30px 0;
        color: #fff;
}
.service_sec h3{
    color: #fff;
    margin-bottom: 5px;
}
.service_sec p{
    font-size: 12px;
}
.serv_ico span{
    width: 50px;
    height: 50px;
    font-size: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    line-height: 50px;
    padding: 15px 20px;
}
.serv_ico{
    margin-bottom: 20px;
}
ul.menu-top li a:hover i.fa-ticket{
    color: #198c8c;
}

.cstm_radio label{
    padding-left: 30px;
}
.service_sec_agent {
    background: #198c8c;
    padding: 30px 0;
    color: #fff;
    min-height: 181px;
    margin-bottom: 20px;
}
.service_sec_agent h3 {
    color: #fff;
    margin-bottom: 5px;
}
.service_sec_agent p {
    font-size: 12px; color: #fff;
}
.info-box {
    padding: 20px 25px;
    border: 1px solid #198C8C;
    position: relative;
}

.carousel-control .fa-chevron-right, .carousel-control .icon-next {
    margin-right: -10px;
}
.carousel-control .fa-chevron-left, .carousel-control .fa-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px;
}
.carousel-control .fa-chevron-right, .carousel-control .icon-next {
    right: 50%;
    margin-right: -10px;
}
.carousel-control .fa-chevron-left, .carousel-control .fa-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}
.zigzag {
  position: relative;
  width: 100%;
  height: 115px;
}
.zigzag:before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  width: 100%;
  height: 10px;
}

.zig-zag-top:before{
        background: 
                    linear-gradient(-45deg, #be035c 16px, #be035c 16px, #be035c 16px,  transparent 0), 
                    linear-gradient(45deg, #be035c 16px, transparent 0);
        background-position: left top;
        background-repeat: repeat-x;
        /*background-size: 22px 32px;*/
            background-size: 19px 38px;
        content: " ";
        display: block;

        height: 30px;
        width: 100%;

        position: relative;
        bottom: 29px;
        left:0;
    }


.zig-zag-bottom{
        margin: 32px 0;
        margin-top: 0;
        background: #be035c;
    }

.zig-zag-top{
        margin: 32px 0;
        margin-bottom: 0;
        background: #be035c;
    }

.zig-zag-bottom, .zig-zag-top{
       /*padding: 15px 0;*/
       height: 100px;
    }

.zig-zag-bottom:after{
        background: 
                    linear-gradient(-45deg, transparent 16px, #be035c 0), 
                    linear-gradient(45deg, transparent 16px, #be035c 0);
        background-repeat: repeat-x;
        background-position: left bottom;
        /*background-size: 22px 32px;*/
            background-size: 19px 21px;
        content: "";
        display: block;

        width: 100%;
        height: 30px;

        position: relative;
        top:61px;
        left:0px;
    }
.promo_banner h3{
    color: #fff;
        font-size: 17px;
        margin-bottom: 10px
}
.promo_banner h4{
    color: #fff;
}
#airlines-filter .filter-checks input#chkallairlines, #airlines-filter_con .filter-checks input#chkallconairlines, #airports-filter_con .filter-checks input#chkallconairports{
    margin-left: 5px;
}
.rslts_found{
        padding: 2px 8px;
    text-align: center;
}
.prog .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #be035c;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.prog .progress-bar-striped, .prog .progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}
.prog .progress-bar-success {
    background-color: #be035c;
}
.prog .progress {
    height: 4px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    margin: 5px 0;
}
.prog .progress-bar.active, .prog .progress.active .progress-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
header.mainhead #myNavbar .menu-top .currency li a {
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  padding: 0 15px;
}
.navigation .currency > ul {
  height: 290px;
  overflow-x: hidden;
  overflow-y: scroll;
  top: 50px;
}
