/*modify_search*/
.allpagewrp{ float:left; width:100%;margin-top: 0px;}
.newmodify {
  float: left;
  width: 100%;
  background: #e3f1f1;
}
.contentsdw {float: left;padding:0;width: 100%;
}
.pad_ten {float: left;padding: 8px 10px;width: 100%;text-align: center;}
.sprite.marker_icon {background-position: -97px -260px;
}
.sprite.calendar_icon {background-position: -181px -261px;
}
.sprite.pasnger_icon {background-position: -269px -261px;
}
.disabled {opacity: 0.2;
}
.left_icon {float: left;height: 40px;width: 40px;
}
.from_to_place {display: block;overflow: hidden;
}
.placename {color: #5f5f5f;display: block;font-size: 14px;margin: 0 0 8px;overflow: hidden; font-weight:normal;
}
.contryname {
  display: block;
  font-size: 14px;
  margin:0px 0 0;
  color:#666;
  font-weight:normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 22px;
}
.boxlabl {color: #666;display: block;font-size: 14px;margin: 3px 0 5px;overflow: hidden;}
.boxlabl strong{margin-right: 5px;}
.faldate.fa {margin-right: 6px;
}
.datein {color: #000;display: block;font-size: 14px;overflow: hidden;
  margin-top: -3px;
}
.countlbl {color: #000;display: block;font-size: 16px;overflow: hidden;margin-top: -3px;
}
/*.modifysrch {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: 1px solid #198c8c;border-radius: 3px;float: left;font-size: 16px;height: 50px;padding: 0 40px 0 12px;position: relative;width: 100%;
}*/
.modifysrch1 {
  background: #198C8C none repeat scroll 0 0;
  float: right;
  height: 60px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transition: all 300ms ease-in-out 0s;
  width: 50px;
}
.modifysrch2::after {
  bottom: 0;
  color: #fff;
  content: "";
  font-family: "FontAwesome";
  font-size: 34px;
  left: 0;
  line-height: 60px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}
.modifysrch2 {
  background: #198C8C none repeat scroll 0 0;
  float: right;
  height: 61px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transition: all 300ms ease-in-out 0s;
  width: 50px;
}
/*.modifysrch2{height:70px;}*/
.modifysrch,.modifysrch:hover{
  background: rgb(245, 32, 7) none repeat scroll 0 0;
  border: 1px solid #f52007;
  border-radius: 3px;
  float: right;
  font-size: 14px;
  color: #fff;
  height: 45px;
  padding: 10px;
  position: relative;
  width: 100%;
  max-width: 160px;   
  text-transform: uppercase;
  text-align: left;
}
.modifysrch i{margin-left: 5px;}


.modifysrch1::after {
  bottom: 0;
  color: #fff;
  content: "";
  font-family: "FontAwesome";
  font-size: 34px;
  left: 0;
  line-height: 60px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}
.modifysrch strong{font-weight:normal;color: #fff;}
.down_caret::after {color: #ffffff;content: "";font-family: "FontAwesome";font-size: 20px;position: absolute;right: 7px;top: 0px;line-height: 43px;}
.inmodify {background: #f2f2f2 none repeat scroll 0 0;display: block;overflow: hidden;
}
.modify_search_wrap .insplarea {
    background: #f4f4f4 none repeat scroll 0 0;
    border-radius: 3px;
    float: left;
    margin: 15px 0;
    padding: 10px 15px;
    width: 100%;
}
.modify_search_wrap{ float:left; width:100%;/* background: #dbdbdb; */background: url(../images/pattern1.png) repeat scroll 0 0 #333;}
.modify_search_wrap .modifycontrols{ width:100%;}
.modify_search_wrap .modifycontrolsno{ display:none;}
.modify_search_wrap .whenfixmar{ margin:0px;}
.modify_search_wrap .onlynum .btn.btnpot{ float:right;display: table-cell;}
.modify_search_wrap .onlynum .btn.btnpot:first-child{ float:left;}
.modify_search_wrap .onlynum .form-control{ display:table-cell; float:none;}
.modify_search_wrap #modify{ float: left;
    width: 100%;}
.modify_search_wrap .tab-content{ background:none;}
.hotels_results .center-responsive {
    width: auto !important;
}

/*flight_results*/
.contentsec {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  width: 100%;
  position:relative;
  padding-top: 12px;
}
.filtrsrch {
   float: left;margin: 0 0 20px;position: relative;width: 100%;
}
/*left_side*/
.col30 {float: left;width: 25%;
}
/*.celsrch {background: #ffffff none repeat scroll 0 0;
    border: 1px solid #e5e4e4;
    box-shadow: 0 0 8px #e5e4e4;
    float: left;
    margin: 15px 0 0;
    position: relative;
    width: 100%;
}*/
.celsrch {
  display: block;
  overflow: hidden;
  padding: 0 15px 15px;
}
.boxtop {background: #4e2b76 none repeat scroll 0 0;border-bottom: 1px solid #e5e4e4;color: #ffffff;float: left;padding: 0px;position: relative;width: 100%;
}

/*.filtersho { color: #eeeeee;display: block;font-size: 14px;margin: 0 0 20px;overflow: hidden;text-align: center;
}*/
.filtersho {
  background: #198C8C none repeat scroll 0 0;
  color: #fff;
  float: left;
  margin: 0 0 0px;
  padding: 10px;
  position: relative;
  width: 100%;
}
.filtersho::after {
  bottom: 0;
  color: #198C8C;
  content: "";
  font-family: "FontAwesome";
  font-size: 50px;
  left: 0;
  line-height: 0;
  position: absolute;
  right: 0;
  text-align: center;
}
.avlhtls {color: #ffffff;font-size: 16px;}
.avlhtls strong {
   
   font-weight: normal;
}
.placenamefil {color: #fff;display: block;font-size: 18px;margin: 5px 0;overflow: hidden;text-align: center;
}
.nrow {color: #eee;display: block;font-size: 13px;overflow: hidden;text-align: center;
}
.norfilterr { float: left;width: 100%; position:relative;
}
.norfilterr .placenamefil{
    font-size: 11px;
    line-height: 20px;
    position: absolute;
    right: 15px;
    top: 0;
    background: #999999;
    padding: 3px 5px;
    color: #fff;}
.waiting-loader span {
    font-size: 18px;
    text-align: center;
  background: #f1fbfe none repeat scroll 0 0;
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 5px #e6e6e6;
    display: block;
    float: left;
    margin: 5px 0;
    overflow: hidden;
  padding:15px;
    transition: all 400ms ease-in-out 0s;
    width: 100%;
}
.placenamefil .fa {
    color: #666;
    font-size: 14px;
}
.outbnd{display: block;overflow: hidden;padding: 0 15px 15px;}
/*.rangebox {display: block;margin: 0 0 15px;overflow: hidden;padding:0 15px;}*/
.ranghead {     color: #198c8c;
    cursor: pointer;
    display: block;
    font-size: 15px;
    overflow: hidden;
    position: relative;
}

.ranghead.collapsed::after{content:"\f078";
  }
.ranghead::after{content:"\f077";color: #8c8888;
    font-family: "FontAwesome";
  font-size:13px;
    position: absolute;
    right: 0;}

.price_slider1 {margin: 0 0 15px;padding: 10px 15px;
}
.stoprow {overflow: hidden;
}
.level {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: 0 none;color: #666;display: block;font-size: 14px;margin-bottom: 15px;overflow: hidden;text-align: center;width: 100%; 
}
.price_slider1 .ui-widget-content {background: #ccc none repeat scroll 0 0;border-radius: 30px !important;box-shadow: none;
}
.price_slider1 .ui-widget-header {background:#f52007 none repeat scroll 0 0;box-shadow:none;
}
/* .price_slider1 .ui-state-default, .price_slider1 .ui-widget-content .ui-state-default, .price_slider1 .ui-widget-header .ui-state-default {
  background: #198c8c none repeat scroll 0 0;border-radius: 50%;cursor: pointer;height: 20px;margin-left: -14px;top: -7px;width: 20px;
} */
.septor {background: #e2e2e2 none repeat scroll 0 0;border-bottom: 1px solid #fafafa;display: block;height: 2px;margin: 12px 0;overflow: hidden;
}
.boxins {
    display: block;
    overflow: hidden;
}
.stopone {float: left;position: relative;text-align: center;width: 33.333%;
}
.relatboxs{display: block;height: 25px;line-height: 25px;position: relative;width: 100%;}
.relatboxs::after {background: #ececec none repeat scroll 0 0;border-radius: 5px;content: "";height: 6px;left: 0;position: absolute;right: 0;top: 42%;z-index: 0;
}
.rounds {background: #c4c3c2 none repeat scroll 0 0;
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin: 0;
    position: relative;
    width: 20px;
    z-index: 1;
}
.sortli.highlight{background: #ededed none repeat scroll 0 0;
    color: #333333;}
.toglefil.active .rounds {background: #198c8c none repeat scroll 0 0;
}
.toglefil.active .rounds::after {color: #fff;content: "";display: block;font-family: fontawesome;font-size: 13px;font-weight: 100;left: 0;
  right:0; top:0;line-height: 20px;position: absolute;text-align: center;
}
.relatboxsone{display: block;position: relative;width: 100%; float:left;}

.starin {background: #fff none repeat scroll 0 0;display: block;font-size: 14px;overflow: hidden;text-align: center;
}
.stopbig {color: #353535;display: block;font-size: 18px;overflow: hidden; 
}
.stopsml {color: #999;font-size: 12px;
}
.htlcount {color: #525252;display: block;font-size: 13px;margin: 3px 0 0;overflow: hidden;padding: 2px 0; 
}
.locationul{display: block;overflow: hidden;position: relative; height:auto; transition:all 400ms ease-in-out 0s;}
.boxins.open .locationul {
    height: 120px;
  transition:all 400ms ease-in-out 0s;
}
.cmnact {color: #0e7ab1;
    display: block;
    font-size: 14px;
    text-align: right;
  padding-right:20px;
}
.cmnact:after{ content:"\f077";font-family: "FontAwesome";font-size: 13px;
    position: absolute;
    right: 15px;}
.boxins.open .cmnact:after{ content:"\f078";font-family: "FontAwesome";font-size: 13px;
    position: absolute;
    right: 15px;}

.padlow{ padding:10px 0;}
.timone {
  border-radius: 3px;
    float: left;
    padding: 0 1px;
    position: relative;
    text-align: center;
    width: 25%;
}
.sprte.png1 {background-position: -95px -459px;height: 40px;margin: 0 auto;width: 50px;
}
.sprte.png2 {background-position: -183px -459px;height: 40px;margin: 0 auto;width: 50px;
}
.sprte.png3 {background-position: -273px -459px;height: 40px;margin: 0 auto;width: 50px;
}
.sprte.png4 {background-position: -363px -459px;height: 40px;margin: 0 auto;width: 50px;
}
.locationul li {float: left;width: 100%; position:relative;
}
.countrgt {
    line-height: 25px;
    position: absolute;
    right: -40px;
    top: 0;
}
.squaredThree input[type="checkbox"] {
  visibility:hidden;
  margin:0
}
.squaredThree {
  float: left;
  margin-right: 8px;
  position: relative;
  width: 20px;z-index: 1;
}
.squaredThree label {
  background:#c4c3c2 none repeat scroll 0 0;border-radius: 3px;cursor: pointer;height: 20px;left: 0;position: absolute;top: 0;width: 20px;
}
.squaredThree label::after {
 -moz-border-bottom-colors: none;
 -moz-border-left-colors: none;
 -moz-border-right-colors: none;
 -moz-border-top-colors: none;
 border-color: #fcfff4;
 border-image: none;
 border-style: none none solid solid;
 border-width: medium medium 3px 3px;
 content: "";
 height: 7px;
 left: 5px;
 opacity: 0;
 position: absolute;
 top: 5px;
 transform: rotate(-45deg);
 width: 11px;
}
.squaredThree label:hover::after {
 opacity: 0.3;
}
.squaredThree input[type="checkbox"]:checked + label::after {
 opacity: 1;
}
.squaredThree input[type="checkbox"]:checked + label {
  background:#198c8c;
}
.locationul .stra_hotel .fa {
    margin: 0 2px;
}
.lbllbl {color: #666666;
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.filter_input{border: 1px solid #ddd;border-radius: 3px;color: #666;float: left;font-size: 16px;height: 45px;padding: 0 10px;width: 100%;}
.hotel_star_filter .timone{width:20%;}
.star_image{height: 40px;margin: 0 auto;width: 40px;}
.sprte.star_1{background-position: 15px -543px;}
.sprte.star_2{background-position: -35px -543px;}
.sprte.star_3{background-position: -85px -543px;}
.sprte.star_4{background-position: -140px -543px;}
.sprte.star_5{background-position: -185px -543px;}

/*right_side*/
.col70 {float: left;width: 75%;
}
.in70 {display: block;float: left;padding: 15px 0 0 15px;width: 100%;
}
.topmisty.hote_reslts .insidemyt{border:none;}
.topmisty.hote_reslts .sortul{border: 1px solid #ddd;float:left; width:100%;}
.topmisty.hote_reslts .sortli{width:33.33%;}
.rit_view{float: right;}
.view_type{border: 1px solid #ddd;border-radius: 2px;
  box-shadow: 0 0 10px -5px #000;color: #555;float: left;font-size: 14px;line-height: 35px;margin-left: 10px;padding: 0 10px;}
.view_type .fa{color: #91a9b1;margin-right: 8px;}
.view_type.active{background: #ededed none repeat scroll 0 0;box-shadow: none;color: #333;}
.topmisty {
   /* background: #ffffff none repeat scroll 0 0; */
   display: block;
   float: left;
   margin: 0 0 4px;
   width: 100%;
}

.insidemyt {border: 1px solid #ddd;display: block;overflow: hidden;
}

/*.priceflights{ text-align:left !important;}*/
.sirticon.fa {color: #999;
    float: left;
    font-size: 14px;
    line-height: 35px;
    margin: 0 10px;
    text-align: center;
    width: 25px;}
.sirticon.sort1{background-position: -100px -345px;}
.sirticon.sort2{background-position: -227px -345px;}
.sirticon.sort3{background-position: -298px -345px;}
.sirticon.sort4{background-position: -366px -347px;}
.sirticon.sort5{background-position: -422px -347px;}
.sorta.des::after {color: #999999;content: "";font-family: "FontAwesome";margin-left: 10px;position: absolute;right: 15px;
}
.sorta.asc::after {color: #999999;content:"\f0d7";font-family: "FontAwesome";margin-left: 10px;position: absolute;right: 15px;
}

.rowresult {display: block;position: relative;transition: all 400ms ease-in-out 0s;
}
.carttoloadr{background: rgba(255, 255, 255, 0.9) url("../images/preloader.gif") no-repeat scroll center center;border-radius: 10px;bottom: 0;box-shadow: 0 0 10px -5px #909090;display: none;left: 0;min-width: auto;position: fixed;right: 0;text-align: center;top: 0;z-index: 1000000;}
.carttoloadr strong {bottom: 40%;color: #333;display: block;font-size: 18px;font-weight: normal;left: 0;overflow: hidden;position: absolute;right: 0;text-align: center;
}

.madgrid:hover {
    border: 1px solid #198c8c;
    box-shadow: 0 0 5px #d6d6d6;
}
.madgrid .listfull {border-right: 1px solid #dddddd;
}
.nobord{ border-right:none;}
.rndplace {color: #60605f;display: block;font-size: 14px;overflow: hidden;
}
span.farrow {display: inline-block;font-size: 14px;height: 12px;position: relative;text-align: center;width: 30px;
}
.sidenamedesc {display: block;width: 100%;
}
.celhtl {float:left;
}

.width32 {width: 32%;}
.width50{width: 50%;}
.width18{width: 18%;}

.hotel_image::before{background: rgba(0, 0, 0, 0) url("../images/no_image.png") no-repeat scroll center center / 100% auto;bottom: 0;content: "";left: 0;position: absolute;right: 0;top: 0;z-index: 0;}
.hotel_image {border: 1px solid #eee;display: block;height: 160px;line-height: 80px;margin: 10px;overflow: hidden;
  position:relative;text-align: center;}
.hotel_image > img {min-height: 160px;position: relative;width: 100%;z-index: 1;}

.hotel_location.fa{background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    font-size: 24px;
    height: 50px;
    left: 0;
    line-height: 50px;
    margin: -25px auto auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 80px;
    -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);
    -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
    width: 50px;
    z-index: 10;}
.madgrid:hover .hotel_location.fa{-webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;}

.stra_hotel{display: block;
    margin: 5px 0;
    overflow: hidden;}
.stra_hotel .fa{color: #91a9b1;font-size: 13px;margin: 5px 2px;}
.stra_hotel[data-star="5"] .fa:nth-child(1), 
.stra_hotel[data-star="5"] .fa:nth-child(2), 
.stra_hotel[data-star="5"] .fa:nth-child(3), 
.stra_hotel[data-star="5"] .fa:nth-child(4), 
.stra_hotel[data-star="5"] .fa:nth-child(5),
.stra_hotel[data-star="4"] .fa:nth-child(1), 
.stra_hotel[data-star="4"] .fa:nth-child(2), 
.stra_hotel[data-star="4"] .fa:nth-child(3), 
.stra_hotel[data-star="4"] .fa:nth-child(4),
.stra_hotel[data-star="3"] .fa:nth-child(1), 
.stra_hotel[data-star="3"] .fa:nth-child(2), 
.stra_hotel[data-star="3"] .fa:nth-child(3),
.stra_hotel[data-star="2"] .fa:nth-child(1), 
.stra_hotel[data-star="2"] .fa:nth-child(2),
.stra_hotel[data-star="1"] .fa:nth-child(1){ color:#198c8c;}  
.locationul .stra_hotel{ margin:0;}     

.hotel_name{color: #07253f;display: block;font-size: 20px;font-weight: 500;overflow: hidden;}
.hotel_address{color: #666;display: block;font-size: 14px;overflow: hidden;padding: 4px 0;}
.hotel_addressmap{font-size: 14px;
    margin-left: 5px;
    overflow: hidden;}
.hotel_info{color: #666;display: block;font-size: 13px;height: 80px;line-height: 20px;overflow: hidden;}
.elipsetool{display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.stoprow .filter_input {
    margin: 10px 0;
}

.airlinename {
   color: #666;display: block;overflow: hidden;padding: 3px 15px;text-align: center; 
}
.width70 {width: 70%;
}
.sprite.reflone{background-position: -100px -404px;float: left;height: 30px;width: 40px; margin-right: 5px;}
.sprite.refltwo{background-position: -194px -404px;float: left;height: 30px;width: 40px; margin-right: 5px;}
.sprite.retime{background-position: -291px -404px;float: left;height: 20px;width: 20px;margin-right: 5px;}
.sprite.faredetail{background-position:-412px -403px;float: left;height: 25px;margin-right: 5px;width: 25px;}
.sprite.fldetail{background-position: -351px -404px;float: left;height: 25px;margin-right: 5px;width: 25px;}
.flname{font-size: 26px;}
.fltime{font-weight: 500;}
.right {float: right;
}
.left{ float:left;}
.waymensn {display: block;overflow: hidden;
}
.flitruo_hotel {display: block;margin: 10px 0;overflow: hidden;padding: 0 10px 0 0;
}
.ifroundway .flitruo {border-bottom: 1px dashed #ddd;
}
.ifroundway .flitruo:last-child{ border-bottom:none;}
.oneplus{ display:none;background: #e0e0e0 none repeat scroll 0 0;}
.oneonly{opacity:0;}
.plusone .oneplus{ display: inline-block;}
.morestop .oneonly{ opacity:1;}
.ifroundway .fligthsmll{margin: 90px 10px 10px;}
.hoteldist {display: block;overflow: hidden;
}
.modal-backdrop{z-index: 10000000;}
.modify_search_wrap .intabs{ padding:0;}
.fiveh {
    padding: 0 1px;
}
.modal{z-index: 100000000;}
.detlnavi .widfty:first-child {text-align: right;
}
.timlbl {
   color: #07253f;display: block;font-size: 20px;overflow: hidden;
   
}
.flitrlbl {color: #2d2b29;display: block;font-size: 14px;font-weight: 300;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; 
}
.flicent.fa {background: #b0cdee none repeat scroll 0 0;border-radius: 30px;color: #555555;display: table;font-size: 16px;height: 30px;line-height: 30px;margin: 8px auto;text-align: center;width: 30px;
}
.lyovrtime {display: block;text-align: center;width: 100%;
}
.flect {
  color: #2d2b29;display: table;font-size: 14px;margin: 0 auto auto;padding: 5px 10px; 
}
.flects {
   border: 1px solid #dddddd;color: #666666;display: table;font-size: 14px;margin: 8px auto auto;padding: 5px 10px; position:relative;
}
.instops{display: block;height: 25px;line-height: 25px;position: relative;width: 100%;}
.instops::after {background: #ececec none repeat scroll 0 0;border-radius: 5px;content: "";height: 6px;left: 30px;position: absolute;right: 30px;top: 30%;z-index: 0;
}
.instops .rounds{ width:20px; height:20px;}
.detailsflt:hover{color: #005858;}
.mrinfrmtn {background: #f6f6f6 none repeat scroll 0 0;display: block;float: left;overflow: hidden;width: 100%;
}
.detailsflt {    color: #198c8c;
    display: block;
    float: left;
    font-size: 13px;
    line-height: 25px;
    overflow: hidden;
    padding: 0px 10px;}
.flects::before {background: rgba(0, 0, 0, 0) url("../images/sprite.png") no-repeat scroll -239px -51px;content: "";height: 15px;left: 50%;margin-left: -14px;position: absolute;top: -11px;width: 28px;
}
.flightimage {display: block;max-height: 130px;overflow: hidden;
}
.sideprice_hotel > strong {
    color: #333333;
    display: block;
    font-size: 15px;
    font-weight: normal;
    line-height: normal;
    overflow: hidden;
}
.hotel_sideprice {background: #f6f6f6 none repeat scroll 0 0;
    border-left: 1px dashed #ddd;
    display: block;
    height: 180px;
    overflow: hidden;
    text-align: center;}
.sideprice_hotel {color: #0e7ab1;
    display: block;
    
    font-size: 22px;
    font-weight: 500;
    line-height: 43px;
    margin: 10px 0 0;
    padding: 0 5px;
}

.bookbtn_htl {
   border-radius: 3px;
    display: block;
    margin: 10px;
    overflow: hidden;
}
.bookbtn_htl1 {
   border-radius: 3px;
    display: none;
    margin:5px 0 10px;
    overflow: hidden;
}
.booknow {
   background: #0873ba none repeat scroll 0 0;transition: 500ms all ease-in-out; color: #fff;display: block;font-size: 16px;overflow: hidden;padding: 10px 0;text-align: center;
}
.booknow:hover{ color:#fff;background: #4e2b76 none repeat scroll 0 0;}
.bookbtn_htl1 .booknow{ font-size:14px;}


/*fare_calender*/
.farecaled {float: left;padding: 0 0 15px;width: 100%;
}
.farenewcal {background: #ffffff none repeat scroll 0 0;float: left;width: 100%;
}
.matrx {float: left;padding: 0 30px;width: 100%;
}
.pricedates {background: #f7f7f7 none repeat scroll 0 0;display: block;height: 60px;margin: 0 3px;overflow: hidden;padding: 10px 0;text-align: center;
}
.imgemtrx_plusmin {float: left;height: 40px;line-height: 40px;margin: -3px 0 0;overflow: hidden;padding: 0 5px;text-align: center;width: 60px;
}
.imgemtrx_plusmin img {width: 100%;
}
.alsmtrx strong {color: #6b6b6b;display: block;font-weight: normal;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;text-align: left;
}
.mtrxprice { color: #313131;display: block;font-size: 12px;overflow: hidden;text-align: left; 
}
.matrixcarsl.owl-theme .owl-controls .owl-buttons .owl-prev, .matrixcarsl.owl-theme .owl-controls .owl-buttons .owl-next { border-radius: 0;bottom: 0;margin: 0;padding: 0;position: absolute;text-indent: -99999px;top: 0;width: 35px;z-index: 10;
}
.matrixcarsl.owl-theme .owl-controls .owl-buttons .owl-prev {background:#f88c3e url("../images/sprite.png") no-repeat scroll -304px -26px; left: -31px;}
.matrixcarsl.owl-theme .owl-controls .owl-buttons .owl-next {background: #f88c3e url("../images/sprite.png") no-repeat scroll -336px -26px;right: -31px;}
.matrixcarsl .owl-controls.clickable{ margin-top:0px;}

/*flight_details*/
.modal .propopum{ display:block;}
.divinsidefltr{ border:none; box-shadow:none;}
.popuphed, .popconyent, .popfooter {float: left;width: 100%;
}
.popuphed .close{background: #000 none repeat scroll 0 0;border-radius: 30px;color: #fff;font-size: 20px;font-weight: normal;height: 30px;position: absolute;right: 10px;text-align: center;top: 10px;width: 30px;}
.hdngpops {background: #eee none repeat scroll 0 0;color: #333;display: block;font-size: 22px;font-weight: 300;overflow: hidden;padding: 10px 20px;
}
.hdngpops .fa {color: #999;font-weight: normal;margin: 0 10px;
}
.contfare {display: block;margin: 15px;overflow: hidden;
}
.nav-tabs.flittwifil {border: 0 none;margin: 0 -2px;
}
.contfare .nav-tabs.flittwifil {margin: 0;
}
.popconyent .nav-tabs > li {border-right: medium none;
}
.nav-tabs.flittwifil li {margin: 0 5px 0 0;width: auto;
}
/* .nav-tabs.flittwifil li.active::after {bottom: -3px;color: #ef7e2c;content: "";font-family: "FontAwesome";font-size: 30px;left: 0;line-height: 0;position: absolute;right: 0;text-align: center;
} */
.nav-tabs.flittwifil li a {    background: #e6e5e5 none repeat scroll 0 0;
    border-radius: 3px;
    color: #666;
    font-size: 14px;
    height: 42px;
    line-height: 42px;
    margin: 0;
    padding: 0 10px;
    text-align: center;
}
/* .nav-tabs.flittwifil li.active a, .nav-tabs.flittwifil li.active a:hover {
   background: #ef7e2c none repeat scroll 0 0;border: 0 none;color: #fff;
} */
.tab-content {box-shadow: none;margin-bottom: 30px;
}
.tabmarg {display: block;margin: 15px 0 0;overflow: hidden;
}
.alltwobnd {display: table;width: 100%;
}
.popconyent .cloroutbnd {background: #f0f2fe none repeat scroll 0 0;
}
.celion {display: table-cell;float: none;vertical-align: top;
}
.inboundiv {
   border: 1px solid #eee;border-radius: 3px;display: block;margin: 5px;overflow: hidden;padding: 10px;
}
.hedtowr {border-bottom: 1px dashed #ddd;color: #333;display: block;font-size: 16px;font-weight: 500;overflow: hidden;padding: 0 0 15px;
}
.hedtowr strong {color: #666;font-weight: 300;
}
.flitone {display: block;margin: 0 -15px;overflow: hidden;padding: 10px 0;
}
.imagesmflt {float: left;margin-right: 5px;
}
.flitsmdets {display: block;line-height: 14px;overflow: hidden;
}
.flitsmdets strong {color: #666;display: block;font-weight: 300;margin: 5px 0 0;overflow: hidden;
}
.dateone {display: block;font-size: 14px;font-weight: 500;overflow: hidden;
}
.termnl {color: #333;display: block;overflow: hidden;
}
.temnldr {color: #888;display: block;overflow: hidden;
}
.arocl.fa {color: #666;display: block;font-size: 14px;margin: 10px 0;overflow: hidden;text-align: center;
}
.ritstop {display: block;overflow: hidden;text-align: left;
}
.termnl1 {display: block;margin: 0 0 3px;overflow: hidden;
}
.farehdng {color: #666;display: block;font-size: 18px;margin: 0 0 15px;overflow: hidden;
}
.rowfare {border-bottom: 1px solid #eee;color: #666;display: block;font-size: 14px;overflow: hidden;padding: 10px 0;
}
.norpopbtn {
  border: 1px solid #ddd;
  border-radius: 3px;
  cursor: pointer;
  float: right;
  margin-left: 10px;
  padding: 6px 10px;
}
.futrcnt {
  background: none repeat scroll 0 0 #f9f9f9;
  display: block;
  overflow: hidden;
  padding: 10px;
}
.detail_section{}




.flight_datails .imagesmflt {display: block;float: none;margin-right: 0;overflow: hidden;text-align: center;
}
.flight_datails .flitsmdets{text-align:center;}
.detail_section .flname {font-size: 16px;
}
.detail_section .sprite.reflone{float:right;margin: 0;}
.centovr {background: #f4e4d8 none repeat scroll 0 0;border-radius: 30px;color: #333;display: block;font-size: 13px;margin: 5px 0;overflow: hidden;padding: 5px;text-align: center;
}
.flight_datails .alltwobnd {display: block;margin: 0 -5px;overflow: hidden;
}
.rowfare:last-child {border: 0 none;
}
.rowfare .pricelbl {color: #333;
}
.grandtl .infolbl{    color: #f52007;
    display: block;
    margin: 0;
    overflow: hidden;
    line-height: 25px;}
.grandtl .pricelbl{    color: #f52007;
    font-size: 18px;}
.inboundiv.grand_totall{background: #f2f2f2;}

.filter_show{ background: #198c8c none repeat scroll 0 0;border: 0 none;border-radius: 100%;box-shadow: 0 1px 3px -2px #000;color: #fff;
  display:none;font-size: 18px;height: 40px;left: 0;position: absolute;top: -2px;width: 40px;z-index: 99;}
.close_filter{background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: 0 none;color: #005a92;
  display:none;font-size: 18px;padding: 5px;position: absolute;right: 0;width: 40px;z-index: 10;}






.side_amnties{display: block;
    margin: 5px -5px 0;
    overflow: hidden;}
.hotel_fac li{background: #eaeaea url("../images/hotel_aminities.png") no-repeat scroll 0 0;
    border: 5px solid #eaeaea;
    border-radius: 30px;
    float: left;
    height: 35px;
    margin: 4px 5px;
    width: 35px;}
.htfiltefac {background: #ffffff url("../images/hotel_aminities.png") no-repeat scroll 0 0;
    float: left;
    height: 20px;
    width: 30px;}

.hotel_fac li.IN, .htfiltefac.IN {background-position: -58px -172px;}
.hotel_fac li.PA, .htfiltefac.PA {background-position: -32px -182px;}
.hotel_fac li.BF, .htfiltefac.BF {background-position: -58px -285px;}
.hotel_fac li.AS, .htfiltefac.AS {background-position: -58px -342px;}
.hotel_fac li.SP, .htfiltefac.SP {background-position: -115px -285px;}
.hotel_fac li.BC, .htfiltefac.BC {background-position: -3px -663px;}
.hotel_fac li.NS, .htfiltefac.NS {background-position: -115px -86px;}
.hotel_fac li.BP, .htfiltefac.BP {background-position: -58px -144px;}
.hotel_fac li.BQ, .htfiltefac.BQ {background-position: -58px -314px;}
.hotel_fac li.BS, .htfiltefac.BS {background-position: -114px -541px;}
.hotel_fac li.CP, .htfiltefac.CP {background-position: -58px -227px;}
.hotel_fac li.FL, .htfiltefac.FL {background-position: -114px -257px;}
.hotel_fac li.LS, .htfiltefac.LS {background-position: -58px -965px;}
.hotel_fac li.CR, .htfiltefac.CR {background-position: -58px -625px;}
.hotel_fac li.DF, .htfiltefac.DF {background-position: -58px -738px;}
.hotel_fac li.EC, .htfiltefac.EC {background-position: -58px -369px;}
.hotel_fac li.GF, .htfiltefac.GF {background-position: -58px -712px;}
.hotel_fac li.GY, .htfiltefac.GY {background-position: -57px -768px;}
.hotel_fac li.HP, .htfiltefac.HP {background-position: -58px -342px;}
.hotel_fac li.IP, .htfiltefac.IP{background-position: -114px -909px;}
.hotel_fac li.KP, .htfiltefac.KP {background-position: -113px -229px;}
.hotel_fac li.LF, .htfiltefac.LF {background-position: -58px -512px;}
.hotel_fac li.LY, .htfiltefac.LY {background-position: -115px -880px;}
.hotel_fac li.PT, .htfiltefac.PT{background-position: -115px -313px;}
.hotel_fac li.OP, .htfiltefac.OP {background-position: -114px -284px;}
.hotel_fac li.RS, .htfiltefac.RS {background-position: -114px -397px;}
.hotel_fac li.SA, .htfiltefac.SA {background-position: -114px -541px;}
.hotel_fac li.SH, .htfiltefac.SH {background-position: -114px -1164px;}
.hotel_fac li.SO, .htfiltefac.SO {background-position: -114px -456px;}
.hotel_fac li.TA, .htfiltefac.TA {background-position: -58px -625px;}
.hotel_fac li.TE, .htfiltefac.TE {background-position: -115px -739px;}
.hotel_fac li.AC, .htfiltefac.AC {background-position: -58px -2px;}
.hotel_fac li.AW, .htfiltefac.AW {background-position: -115px -201px;}
.hotel_fac li.DD, .htfiltefac.DD {background-position: -115px -201px;}
.hotel_fac li.FI, .htfiltefac.FI {background-position: -31px -512px;}
.hotel_fac li.HD, .htfiltefac.HD {background-position: -3px -273px;}
.hotel_fac li.LT, .htfiltefac.LT {background-position: -115px -30px;}
.hotel_fac li.MB, .htfiltefac.MB {background-position: -115px -341px;}
.hotel_fac li.RA, .htfiltefac.RA {background-position: -115px -796px;}
.hotel_fac li.SV, .htfiltefac.SV {background-position: -58px -30px;}
.hotel_fac li.TP, .htfiltefac.TP {background-position: -59px -86px;}
.hotel_fac li.TV, .htfiltefac.TV {background-position: -114px -823px;}
.hotel_fac li.VL, .htfiltefac.VL {background-position: -115px -968px;}
.hotel_fac li.VL2, .htfiltefac.VL2 {background-position: -114px -1023px;}
.hotel_fac li.CM, .htfiltefac.CM {background-position: -58px -400px;}



.hotel_map{float: left;
    height: 500px;
    margin: 5px 0;
    transition: all 300ms ease-in-out 0s;
    width: 0;}
.hotels_results{float:left;width:100%;transition:all 300ms ease-in-out;}
.map_hotel {
    background: none repeat scroll 0 0 #e5e3df;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 10;}
.hotel_sideprice .pricealso{
    color: #666666;
    display: none;
    font-size: 13px;
    overflow: hidden;
}
.mapinside .pricealso{
    color: #666666;
    display: block;
    font-size: 13px;
    margin: 0 0 5px;
    overflow: hidden;
}
.hotel_sideprice .pricealso strong, .mapinside .pricealso strong{
    color: #f96800;
    font-size: 16px;
    font-weight: 500;
}

.allresult.map_open .hotel_map{width:70%;transition:all 300ms ease-in-out;}
.allresult.map_open .hotels_results{height: 500px;
    overflow-y: scroll;
    transition: all 300ms ease-in-out 0s;
    width: 30%;}
.allresult.map_open .hotel_image{ height: 60px;
    margin: 15px 0 5px;}
.allresult.map_open .mapcnticon{ display:block;}
.allresult.map_open .hotel_sideprice .pricealso{ display:block;}
.allresult.map_open .sideprice_hotel, .allresult.map_open .side_amnties, .allresult.map_open .shrom,.allresult.map_open .bookbtn_htl,  .allresult.map_open .hotel_addressmap, .allresult.map_open .hotel_address.elipsetool, .allresult.map_open .revcount {display:none;}
.allresult.map_open .width32{ width: 40%;} 
.allresult.map_open .width50{ width:60%;}
.allresult.map_open .width18{width: 60%;}
.allresult.map_open .width32 .hotel_image > img{min-height: 85px;}
.allresult.map_open .flitruo_hotel {
    margin: 10px 0 0;
    padding: 0 10px;
}
.shrom img{ margin:0 auto;}
.allresult.map_open .stra_hotel{ margin:0;}
.mapinside .width32.midlbord{ display: block !important;
    width: 35%;} 
.mapinside .hotel_image {
    border: medium none;
    height: auto !important;
    margin: 5px 0 0 !important;
}
.mapinside .hotel_image > img {
    min-height: 100px;
  max-height:100px;
}
.mapinside .celhtl.width50 {
    width: 65%;
}
.mapinside .flitruo_hotel{ margin: 0 !important;
    text-align: left !important;}
.mapinside .bookbtn_htl{ display: block !important;
    margin: 0;}
.mapinside .booknow {
    border-radius: 3px;
    display: table;
    font-size: 14px;
    padding: 10px 15px;
}
.mapinside .sideprice_hotel{ float:left;}
.mapinside .stra_hotel{ margin:0;}
.mapinside .hotel_address{ padding:0;}

.allresult.map_open .stra_hotel .fa{ font-size:11px;}
.allresult.map_open .hotel_name {
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.allresult.map_open .triptxt{ margin:0;}
.allresult.map_open  .hotel_sideprice{ background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    height: auto; padding: 0 10px;text-align: left;}
.allresult.map_open .tripstar span{ margin: unset;}
.allresult.map_open .tripstar{ text-align:left;}
.allresult.map_open .sideprice_hotel{margin: 0; font-size:20px;}
.allresult.map_open .bookbtn_htl1{ display:block;}

.map_hotel_pop{float: left;
    height: 400px;
    width: 100%;}
  
.set_label_check {
    background: #f4f4f4 none repeat scroll 0 0;
    border-radius: 2px;
    cursor: pointer;
    float: left;
    font-weight: normal;
    width: 100%;
}
.hidecheck {
    
}
.set_check {
    float: left;
  margin: 0 0 5px;
    position: relative;
    width: 100%;
}
.mapcnticon {
    background: rgba(0, 0, 0, 0) url("../images/mapred.png") no-repeat scroll 0 0;
    color: #ffffff;
    display: none;
    float: left;
    font-size: 12px;
    height: 40px;
    line-height: 25px;
    margin: 15px 5px;
    text-align: center;
    width: 25px;
}


.shrom {
    border-top: 1px solid #e6e6e6;
    float: left;
    width: 100%;
}
.shrom .innertabs {
    float: left;
    width: 100%;
}
.shrom .hotel_list {
    border-bottom: 1px dashed #dddddd;
    float: left;
    padding: 10px 0;
    width: 100%;
}
.shrom .in_center_htl {
     display: block;
    float: left;
    padding: 0 15px;
    width: 100%;
}
.shrom .hotel_hed {
    color: #333333;
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 5px;
    overflow: hidden;
}
.shrom .hotel_sub_hed {
    color: #f96800;
    display: block;
    font-size: 14px;
    margin: 0 0 5px;
    overflow: hidden;
}
.shrom .mensionspl {
    color: #666666;
    display: block;
    font-size: 14px;
    margin: 0 0 5px;
    overflow: hidden;
}
.shrom .menlbl {
    color: #444444;
}
.shrom .morerombtn {
    color: #428bca;
    float: none;
    font-size: 14px;
    padding: 5px 0 0;
    display: block;
    overflow: hidden;
    text-align: center;
}
.shrom .morerombtn .fa {
    color: #666666;
    margin-right: 5px;
}
.shrom .sideprice {
    color: #f96800;
    display: block;
    
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    margin: 0 0 5px;
}
.shrom .avgper {
    color: #666666;
    display: block;
    font-size: 13px;
    font-weight: normal;
    overflow: hidden;
}
.shrom .bookbtn {
    display: block;
    margin: 5px;
    overflow: hidden;
}
.shrom .bookbtn .booknow {
    border-radius: 3px;
}

.shrom .rmdetails {
    color: #666666;
    display: block;
    font-size: 12px;
    overflow: hidden;
}
.shrom .rmdetails > li {
    display: block;
    float: left;
    margin: 0 5px 5px 0;
}
.shrom .rmdetails .fa {
    color: #999999;
    font-size: 14px;
    margin-right: 2px;
}
.shrom .nohd {
    color: #666666;
    font-size: 16px;
}
.shrom .checklist {
    float: left;
    width: 100%;
}
.shrom .popcheck.checklist li, .shrom .popcheck.checklist li a {
    color: #079911;
}
.shrom .popcheck.checklist li {
    margin: 0;
}
.shrom .checklist.popcheck > li {
    width: 100%;
}
.shrom .popcheck.checklist li .fa {
    color: #079911;
}
.popover-content{ color:#666;}
.arrow{ top:auto !important; bottom:-11px !important;}



.availcheck {
    color: #14b21f;
    display: block;
    text-align: center;
}
.availcheck .fa, .onrequest .fa {
    margin-right: 5px;
}
.conhead {
    display: block;
    font-size: 18px;
    margin: 10px 0;
}
.shrom .htl_rumrow:last-child .hotel_list{ border-bottom:none; }
.listcancel::before{content:"\f1ce";
  color: #198c8c;
    font-family: "FontAwesome";
    left: 0;
    position: absolute;
    top: 0;}
.listcancel{color: #333;
    display: block;
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 8px;
    overflow: hidden;
    padding: 0 0 0 25px;
    position: relative;}
.hotable {
   display: block;
    font-size: 14px;
    overflow: hidden;
}
.prbrhnam1 {
    background: #fafafa none repeat scroll 0 0;
    display: block;
    line-height: 23px;
    overflow: hidden;
    padding: 10px;
    width: 100%;
}
.pbcl1 {
    display: block;
    float: left;
    font-size: 14px;
    margin-bottom: 5px;
}
.clrprce {
    color: #ed5927;
    font-size: 15px;
    font-weight: 500;
}
.pbcl {
    display: block;
    float: right;
    font-size: 14px;
    margin-bottom: 5px;
}
.pbcl .fa {
    margin: 0 5px;
}
.prbrtb {
    display: block;
    margin: 1px auto;
    overflow: hidden;
    width: 100%;
}
.prbrhead {
    display: block;
    overflow: hidden;
}
.prbrhnam {
    background: #edefed none repeat scroll 0 0;
    color: #333333;
    display: block;
    font-weight: 500;
    line-height: 23px;
    overflow: hidden;
    padding: 10px;
    width: 100%;
}
.prbrhead.prbrheadtab {
    display: block;
    width: 100%;
}
.leftsecob {
    float: left;
    width: 14.28%;
}
.prbrhnam2 {
    background: #fafafa none repeat scroll 0 0;
    display: block;
    line-height: 23px;
    overflow: hidden;
    padding: 10px;
    width: 100%;
}
.nonefirst .prbrhnam {
    display: none;
}
.whitebgpr {
    background: #ffffff none repeat scroll 0 0 !important;
}
.prbrhnam2.clrne {
    color: #ed5927;
    font-size: 14px;
    font-weight: 500;
}
.faremodels{ width:90%;}
.pad_ten h3.h5{font-weight:300;color:#666;margin: 8px 0;}
/*.btn-toolbar div{padding:10px 5px;}*/
.adulticn {
  height: 40px;
  max-height: 40px;
  padding: 10px 7px !important;
}
.tripstar {
    display: block;
    margin: 5px 0;
    overflow: hidden;
    text-align: center;
}
.triptxt {
    color: #589442;
    display: block;
    font-size: 12px;
    margin-top: 15px;
    overflow: hidden;
}
.tripstar span{ background: rgba(0, 0, 0, 0) url("../images/trip_adviser.png") no-repeat scroll 0 0 / 100% auto;
    display: block;
    height: 14px;
    margin: 0 auto;
    width: 85px;}
.revcount {
      color: #666666;
    font-size: 12px;
    margin: 5px 0 0;
}
.tripstar .trip{background-position: 0 -157px;}
.tripstar .trip0{background-position: 0 -143px;}
.tripstar .trip05{background-position: 0 -129px;}
.tripstar .trip1{background-position: 0 -114px;}
.tripstar .trip15{background-position: 0 -100px;}
.tripstar .trip2{background-position: 0 -86px;}
.tripstar .trip25{background-position: 0 -71px;}
.tripstar .trip3{background-position: 0 -57px;}
.tripstar .trip35{background-position: 0 -43px;}
.tripstar .trip4{background-position: 0 -28px;}
.tripstar .trip45{background-position: 0 -14px;}
.tripstar .trip5{ background-position: 0 0;}




.advncebtn {
    float: left;
    /* padding: 10px 10px 10px 0; */
}
.togleadvnce.open .advncebtn {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    cursor: pointer;
    margin: 0 10px;
    padding: 6px 10px;
    text-align: center;
}
.togleadvnce.open .advncebtn::after {
    color: #ffffff;
    content: "\f053";
    font-family: "FontAwesome";
    font-size: 26px;
}
.togleadvnce.open .advncebtn .labladvnce {
    display: none;
}
.advsncerdch {
    /* display: block; */
    /* width: 100%; */
    /* float:left; */
}
.togleadvnce.open .advsncerdch {
    display: block;
}
.toghead{ color:#666; font-size:15px;}
.labladvnce {
    /* color: #ffffff; */
    /* cursor: pointer; */
    /* display: block; */
    /* font-size: 16px; */
    line-height: 28px;
    /* overflow: hidden; */
}
.labladvnce::after {
    /* color: #ffffff; */
    /* content: "\f0da"; */
    /* font-family: "FontAwesome"; */
    /* font-size: 12px; */
    /* margin-left: 10px; */
}
.seladvnce {
    display: block;
    margin-right: 5px;
    overflow: hidden;
    position: relative;
}
.seladvnce::after {
    background: #ffffff none repeat scroll 0 0;
    bottom: 0;
    color: #999999;
    content: "\f078";
    font-family: "FontAwesome";
    font-size: 12px;
    line-height: 40px;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 30px;
}
.advnceopton {
    background: #ffffff none repeat scroll 0 0;
    border: medium none;
    color: #666666;
    float: left;
    font-size: 15px;
    height: 40px;
    padding: 0 10px;
    width: 100%;
}

.alladvnce {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #343437;
    cursor: pointer;
    float: left;
    font-size: 15px;
    margin: 5px 0 0;
    padding: 0 10px;
    position: relative;
    width: 100%;
}
.alladvnce .remngwd {
    float: left;
    padding-right: 20px;
    position: relative;
    width: 100%;
}

.remngwd::after{content:"\f078";
  color: #343437;
    font-family: "FontAwesome";
  font-size:13px;
    position: absolute;
    right: 0; top:0;}
.remngwd.chageup::after{content:"\f077";}


.advncedown {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 0 10px -5px #000000;
    display: none;
    line-height: normal;
    position: absolute;
    right: 0;
    top: 35px;
    transition: all 400ms ease-in-out 0s;
    width: auto;
    z-index: 10000;
}
.advncedown.fadeinn {
    display: block;
}
.scroladvc {
   cursor: default;
    display: block;
    overflow: hidden;
    padding: 10px;
    position: relative;
}
.oncloset.fa {
   background: #aaaaaa none repeat scroll 0 0;
    border-radius: 30px;
    color: #6b6b6b;
    cursor: pointer;
    height: 25px;
    line-height: 25px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 25px;
}
.adscrla {
    color: #444444;
    display: block;
    overflow: hidden;
    padding: 10px 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.advncedown.spladvnce {
    left: 0;
}
.resultfilt {
    color: #198c8c;
    display: block;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 15px 10px 0px;
    width: 100%;
    margin-bottom: 5px;    opacity: 0;
}
.pad_ten .btn-toolbar {
    margin: 14px 0 0;
}
.filterforall.addtwofilter, .filterforall.addtwofilter .insidemyt{ margin:0;}
p.h6.m-b-0 {
    margin: 9px 0;
}
/*.tohide0{
display: none;  
}*/
@media screen and (max-width:1200px) {
  .propopum {
    width: 95%;
  }
  .faremodels{ width:95%;}
}

@media screen and (max-width: 991px) {
  .col30 {
    display: none;
    position: absolute;
    width: 45%;
    z-index: 100;
  }
  .col70 {
    width: 100%;
  }
  .in70 {
    padding: 20px 0 0;
  }
  .insidemyt {
    margin-left: 50px;
  }
  .filter_show,.close_filter {
    display: block;
  }
  .filtrsrch.open .col30 {
    display: block;
  }
}

@media screen and (max-width: 850px) {
  .alltwobnd .ways_one {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .shrom .bookbtn{ width:200px; margin: 5px auto;}
  .prbrtb.nonelast{ display:none;}
  .nonefirst .prbrhnam{ display:block;}
  .fullprbr{
    width: 100%;
}
  .sirticon {
    display: none;
  }
  .sorta {
    padding: 0 10px;
    text-align: center;
  }
  .flname {
    font-size: 16px;
  }
  .sprite.reflone,.sprite.refltwo {
    display: none;
  }
  .fare_flight {
    display: none;
  }
  .sideprice {
    font-size: 18px;
  }
  .fare_full {
    width: 100%;
  }
  
  .madgrid .sidenamedesc .celhtl.width32{ width: 40%;}
.madgrid .sidenamedesc .celhtl.width50{ width: 60%;}
.madgrid .sidenamedesc .celhtl.width18{ width: 100%;} 
.celhtl.width18 .hotel_sideprice{ border-left: medium none;
    height: auto;}
.celhtl.width18 .hotel_sideprice .sideprice_hotel{float: left;
    margin: 0;
    text-align: right;
    width: 60%;}
.celhtl.width18 .hotel_sideprice .bookbtn_htl{ border-radius: 0;
    margin: 0;
    width: 40%;}
.sideprice_hotel strong{ display:none;}
}

@media screen and (max-width: 650px) {
.fullshort{  width:100%;}
.noviews{ display:none;}
.singlecent {
    width: 100%;
}
.twocent{ width:50%; float:left;}
.modify_search_wrap .outsideserach {
    margin: 0 -5px;
}

}





@media screen and (max-width: 550px) {
  .col30 {
    width: 60%;
  }
  .fligthsmll {
    width: 60px;
  }
  .width20,.width80 {
    width: 100%;
  }
  .ifroundway .fligthsmll,.fligthsmll {
    float: left;
    height: auto;
    line-height: normal;
    margin: 5px;
    padding: 5px;
    width: auto;
  }
  .airlinename {
    line-height: 30px;
    padding: 5px;
  }
  .madgrid .sidenamedesc .celhtl.width32{ width: 100%;}
.madgrid .sidenamedesc .celhtl.width50{ padding: 0 15px;
    width: 100%;}
  
  .leftsecob {
    border-bottom: 1px solid #fdfdfd;
    width: 100%;
}
.leftsecob .prbrhnam {
    float: left;
    width: 50%;
}
.leftsecob .prbrhnam1 {
    background: #edefed none repeat scroll 0 0;
    float: left;
    width: 50%;
}
.twocent{ width:100%;}
}

@media screen and (max-width: 460px) {
  .hide_sort {
    display: none;
  }
  .sortul.flight_sort .sortli {
    width: 33.33%;
  }
  .col30 {
    width: 80%;
  }
  .booknow {
    padding: 10px 0;
  }
  .width_hundred {
    width: 100%;
  }
  .flight_datails .imagesmflt {
    float: left;
  }
}

@media screen and (max-width: 420px) {
  .modifysrch strong {
    display: none;
  }
  .modifysrch {
    float: right;
    width: 50px;
    padding: 0;
  }
  .sorta {
    font-size: 12px;
  }
  .fltime {
    margin-left: 2px;
  }
  .flname {
    font-size: 14px;
  }
}
#arlinemtrx1.matrixcarsl.owl-theme .owl-controls .owl-buttons .owl-prev {
    background: #f88c3e url(../images/sprite.png) no-repeat scroll -305px -65px;
    left: 2px;
}
#arlinemtrx1.matrixcarsl.owl-theme .owl-controls .owl-buttons .owl-next {
    background: #f88c3e url(../images/sprite.png) no-repeat scroll -340px -66px;
    right: 0;
}
#reset_filters{
  z-index: 1;
}
.inboundiv.noborder {
    border: 0;
}
.mgn_btm_45{
  margin-bottom: 45px;
}