html,
body {height: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
body {background:#fff;margin:0;font-family: 'Roboto', 'Open Sans', sans-serif;font-size:12px;
}
ul, li{list-style:none;margin:0; padding:0;}
div, a, ul, li, nav, input, select, button{outline:none !important;}
a{cursor:pointer;}
a:hover, a:focus{text-decoration:none;}

.nopad{padding: 0;}
img{max-width: 100%;}

/*header */
.top_header{
    background-color: #ffffff;
    width: 100%;
    overflow: hidden;
}
.sign_both li{
    display: inline-block;
    list-style: none;
    line-height: 50px;
    font-size: 16px;
    padding: 10px 40px;
    cursor: pointer;
}
.sign_both li:last-child{
    background-color: #0e73ba;
    color: #fff;
}
.logo {
    float: left;
    width: 200px;
    margin: 4px 20px;
}
.sign_both{float: right;}
.slide-button a {
    background: #0e73ba;
    color: #ffffff;
    float: left;
    font-family: raleway;
    height: 100%;
    line-height: inherit;
    text-align: center;
    width: 100%;
}
.slide-button{border: 2px solid #0e73ba;padding: 3px 3px;}
.our_prd {
    background-color: #f1f1f1;
    display: block;
    width: 100%;
    overflow: hidden;
    padding: 30px 0;
}
.adv_con{font-size: 40px;width: 100%;float: left;}
.com_pro_txt{padding: 8% 0;}
.com_pro_airlines{padding: 4% 0;}
.htl_online{font-size: 22px;}
.comm{margin-bottom: 18px;}
.best_price{
    display: block;
    width: 100%;
    overflow: hidden;
    padding: 30px 0;
}
.txt_bookus{
    float: left;
    width: 100%;
    font-size: 18px;
}
.book_us {margin: 6% 0;}
.copy_right{
    font-size: 15px;
    background-color: #f1f1f1;
    padding: 35px 0;
    color: #5b5c5e;
}



/*login section starts here*/
.log_section{background-color: #f1f1f1;overflow: hidden;}
.log_mem {
    width: 30%;
    margin: 25px auto;
}
.mem_section{background-color: #fff;padding: 10px 22px;box-shadow: 0px 0px 10px 3px #ccc;margin: 15px 0;}
.mem_log_txt {
    text-align: center;
    display: block;
    font-size: 24px;
    padding: 30px 0;
    color: #5e5858;
    font-weight: 300;
}
.log_ft {
    height: 45px;
    border-radius: 2px;
    background-color: #f1f1f1;
    border: 0;
    box-shadow: none;
    display: block;
    margin: 0 0 25px 0px;
}
.log_logo {text-align: center;margin: 0 0 30px 0;}
.log_ft::-webkit-input-placeholder {color: #5e5858;}
.remlabel{font-weight: normal;}
/*check box*/

.squared_check input[type="checkbox"], .squared_check input[type="radio"] {
    visibility:hidden;
    margin:0
}
.squared_check {
    float: left;
    margin-right: 8px;
    position: relative;
    width: 20px;z-index: 1;
}
.squared_check label {
    background:#c4c3c2 none repeat scroll 0 0;
    border-radius: 3px;
    cursor: pointer;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
}
.squared_check label::after {
 -moz-border-bottom-colors: none;
 -moz-border-left-colors: none;
 -moz-border-right-colors: none;
 -moz-border-top-colors: none;
 border-color: #fcfff4;
 border-image: none;
 border-style: none none solid solid;
 border-width: medium medium 3px 3px;
 content: "";
 height: 7px;
 left: 5px;
 opacity: 0;
 position: absolute;
 top: 5px;
 transform: rotate(-45deg);
 -webkit-transform: rotate(-45deg);
 width: 11px;
}
.squared_check label:hover::after {
 opacity: 0.3;
}
.squared_check input[type="checkbox"]:checked + label::after, .squared_check input[type="radio"]:checked + label::after {
 opacity: 1;
}
.squared_check input[type="checkbox"]:checked + label, .squared_check input[type="radio"]:checked + label {
    background:#46b6e8;
}
.for_get{font-size: 14px;}
.for_pass{color: #7e7c7c;cursor: pointer;}
.btn_logsub{width: 100%;background-color: #1275bb;color:#fff;font-size: 18px;margin: 20px 0;padding: 12px 0;}
.btn_logsub:hover{color: #fff;}
.reg_b{text-align: center;font-size: 15px;color: #477caa;display: block; margin:25px 0;}
.log_copy{border-top: 1px solid #ddd;}

