

/*top_deals*/

.owlindex2 .owl-buttons{bottom: 30px;
    left: 0px;
    margin: 0;
    position: absolute;
    right: 0px;}
.owlindex2.owl-theme .owl-controls .owl-buttons .owl-prev,
.owlindex2.owl-theme .owl-controls .owl-buttons .owl-next
{   border-radius: 100%;
    height: 40px;
    margin: 0 5px;
    padding: 0;
    text-align: center;
    width: 40px;
    z-index: 10; opacity:1;}
.owlindex2.owl-theme .owl-controls .owl-buttons .owl-prev{background:#f8f8f8 none repeat scroll 0 0; 
    left:0; position:absolute;}
.owlindex2.owl-theme .owl-controls .owl-buttons .owl-prev:after{background:#d2d2d4 none repeat scroll 0 0;border-radius: 100%;
    bottom: 0;
    color: #a1a1a1;
	content:"\f104";font-family: "FontAwesome";
    font-size: 25px;
    left: 0;
    line-height: 36px;
    position: absolute;
    right: 0;
    top: 0;
  }
 .owlindex2.owl-theme .owl-controls .owl-buttons .owl-next:after{background:#d2d2d4 none repeat scroll 0 0;border-radius: 100%;
    bottom: 0;
    color: #a1a1a1; content:"\f105";font-family: "FontAwesome";
    font-size: 25px;
    left: 0;
    line-height: 36px;
    position: absolute;
    right: 0;
    top: 0;}
.owlindex2.owl-theme .owl-controls .owl-buttons .owl-next{background:#f8f8f8 none repeat scroll 0 0;
    right:0; position:absolute;}
.owlindex2 .owl-pagination{background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: block;
    margin: 30px 0 10px;
    overflow: hidden;}
.owlindex2.owl-theme .owl-controls .owl-page span{height: 8px;
    margin: 0 5px 5px;
    width: 8px;}
.owl-theme .owl-controls .owl-page.active span{ background:#0e7ab1 !important;}

.owl-theme .owl-controls.clickable .owl-buttons div:hover.owl-next::after, .owl-theme .owl-controls.clickable .owl-buttons div:hover.owl-prev::after{background:#0e7ab1 !important; color:#fff;}
.outerfullfuture{background: #ffffff none repeat scroll 0 0;
    display: block;
    margin: 7px;}

.ourdest {
    display: block;
    max-height: 178px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}
.dealimage{text-align: center;}
.dealimage img{width: 90px;}
.ourdest img{
	min-height: 178px;
    width: 100%;}
.destplace {
    bottom: 0;
    color: #fff;
    font-size: 18px;
    left: 0;
    padding: 15px;
    position: absolute;
    right: 0;
    z-index: 1;
}
.destslider {
    margin: 25px -7px 0;
}
.discrip_trip {
    color: #6f6f6f;
    display: block;
    font-size: 14px;
    overflow: hidden;
}
.tripcontent{background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    display: block;
    overflow: hidden;
    padding: 10px;
    width: 100%;}
.hotname{ color: #ffffff;
    font-size: 22px;
    padding: 10px 15px;
    position: absolute;
    top: 0;}	
.perfect_holiday{background: #fff none repeat scroll 0 0;
    float: left;
    padding: 25px 0;
    width: 100%;}
.destinations .featurehead{ color:#fff;}
.rgtplace{color: #3b3b3b;
    display: block;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;}
.bluprice{color: #6f6f6f;
    display: block;
    font-size: 14px;
    margin-top: 5px;
    overflow: hidden;}
.delas2 {
    left: 10px;
    position: absolute;
    top: 10px;
    z-index: 1;
}
.rmedium {
    color: #ffffff;
    display: block;
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    overflow: hidden;
}

.delas1 {
    left: 10px;
    position: absolute;
    bottom: 10px;
    z-index: 1;
}
.rsmall {
    color: #ffffff;
    display: block;
    font-size: 20px;
    overflow: hidden;
}
.rsmall strong {
    font-size: 40px;
    font-weight: normal;
}



/*top hotels*/
.popularhotel{background: #f4f4f5 none repeat scroll 0 0;
    float: left;
    padding: 25px 0;
    width: 100%;}
.stra_hotel{display: block;
    margin: 5px 0;
    overflow: hidden;}
.stra_hotel .fa{color: #ebebeb;font-size: 11px;margin: 5px 2px;}
.stra_hotel[data-star="5"] .fa:nth-child(1), 
.stra_hotel[data-star="5"] .fa:nth-child(2), 
.stra_hotel[data-star="5"] .fa:nth-child(3), 
.stra_hotel[data-star="5"] .fa:nth-child(4), 
.stra_hotel[data-star="5"] .fa:nth-child(5),
.stra_hotel[data-star="4"] .fa:nth-child(1), 
.stra_hotel[data-star="4"] .fa:nth-child(2), 
.stra_hotel[data-star="4"] .fa:nth-child(3), 
.stra_hotel[data-star="4"] .fa:nth-child(4),
.stra_hotel[data-star="3"] .fa:nth-child(1), 
.stra_hotel[data-star="3"] .fa:nth-child(2), 
.stra_hotel[data-star="3"] .fa:nth-child(3),
.stra_hotel[data-star="2"] .fa:nth-child(1), 
.stra_hotel[data-star="2"] .fa:nth-child(2),
.stra_hotel[data-star="1"] .fa:nth-child(1){ color:#717171;}	
.bluplace {
    color: #226cab;
    font-size: 14px;
    margin: 5px 0;
}
.tileprice {
    color: #f26722;
    display: block;
    font-size: 22px;
    font-weight: bold;
    text-align: right;
}


.customdeals{display: table;
    margin:0 auto 30px;}
.nav-tabs.customdeals {
    border: 0 none;
}
.nav-tabs.customdeals li {
    margin: 0 15px 0 0;
}
.nav-tabs.customdeals li.active a, .nav-tabs.customdeals li.active a:hover {
    background: #f26722 none repeat scroll 0 0;
    border: 0 none;
    color: #ffffff;
}
.nav-tabs.customdeals li a{
    background: none ;
	border:none !important;
    border-radius: 3px;
    color: #2e7ba4;
    font-size: 15px;
    margin: 0;
    padding: 10px 20px;
}
.nav-tabs.customdeals li a:hover{ border:1px solid #f4f4f5;}
.nav-tabs.customdeals .mysign1 li{ margin: 0;}
.nav-tabs.customdeals .dropdown-menu.mysign1{ padding:0;}



/*b2b home*/

.whenfixmar {
    display: block;
    float: left;
    margin: 50px 0;
    min-height: 450px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 10;
}
.captngrp {
   display: block;
    float: left;
    margin: 180px 0 0;
    overflow: hidden;
    padding: 0 0 0 50px;
    position: relative;
}
.bigcaption {
    color: #ffffff;
    display: block;
    font-size: 44px;
    font-weight: 500;
    overflow: hidden;
    text-transform: uppercase;
}
.smalcaptn {
    color: #ffffff;
    display: block;
    font-size: 20px;
    font-weight: normal;
    overflow: hidden;
}
.captngrp .smalcaptn:last-child{ text-align:right;}

.agenthed{ color:#666;}
.loginb2b {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    display: block;
    overflow: hidden;
}
.agenthed {
    color: #ffffff;
    font-size: 24px;
    padding: 10px 0 0;
    text-align: center;
}
.blocksone {
    background: #efefef none repeat scroll 0 0;
    float: left;
    padding: 70px 0 25px;
    position: relative;
    width: 100%;
}
/*.blocksone::after {
    background: #efefef none repeat scroll 0 0;
    bottom: -25px;
    content: "";
    height: 100px;
    left: 0;
    position: absolute;
    right: 0;
    transform: rotate(-2deg);
    z-index: -1;
}*/
.blockstwo {
    background: #fff none repeat scroll 0 0;
    float: left;
    padding: 70px 0 25px;
    position: relative;
    width: 100%;
}
/*.blockstwo::after {
    background: #fff none repeat scroll 0 0;
    bottom: -25px;
    content: "";
    height: 100px;
    left: 0;
    position: absolute;
    right: 0;
    transform: rotate(-2deg);
    z-index: -1;
}*/
.blocksthree {
    background: #efefef none repeat scroll 0 0;
    float: left;
    padding: 70px 0 25px;
    position: relative;
    width: 100%;
}
.blocksthree::after {
    background: #efefef none repeat scroll 0 0;
    bottom: -25px;
    content: "";
    height: 100px;
    left: 0;
    position: absolute;
    right: 0;
    transform: rotate(-2deg);
    z-index: -1;
}

.blocksfour {
    background: #fff none repeat scroll 0 0;
    float: left;
    padding: 70px 0 25px;
    position: relative;
    width: 100%;
}

.chcnt:nth-child(1) {
    z-index: 10;
}
.chcnt:nth-child(2) {
    z-index: 9;
}
.chcnt:nth-child(3) {
    z-index: 8;
}
.chcnt:nth-child(4) {
    z-index: 7;
}
.chcnt:nth-child(5) {
    z-index: 6;
}
.chcnt:nth-child(6) {
    z-index: 5;
}
.chcnt:nth-child(7) {
    z-index: 4;
}
.chcnt:nth-child(8) {
    z-index: 3;
}
.chcnt:nth-child(9) {
    z-index: 2;
}
.chcnt:nth-child(10) {
    z-index: 1;
}


.outblock {
    margin: 0 -15px;
}
.blockhesd {
    color: #161616;
    display: block;
    font-size: 30px;
    line-height: 37px;
    overflow: hidden;
    padding-bottom: 30px;
}
.blockul {
    color: #161616;
    display: block;
    font-size: 15px;
    overflow: hidden;
}
.blockul > li {
    display: block;
    margin: 0 0 15px;
    overflow: hidden;
}

.blocksimg {
    display: block;
    min-height: 300px;
    overflow: hidden;
    padding: 5px 0;
    text-align: center;
    width: 100%;
}
.blocksimg > img {
    max-height: 300px;
    max-width: 100%;
}
.lmoreblock {
    border: 1px solid #161616;
    border-radius: 3px;
    color: #161616;
    display: table;
    font-size: 15px;
    margin: 15px;
    padding: 10px 20px;
    text-align: center; transition:all 400ms ease-in-out 0s;
}
.lmoreblock:hover{ background:#0093de; border:1px solid #0093de; color:#fff;}


.loginsreset {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 0 10px -5px #656565;
    margin: 30px auto;
    width: 400px;
}
.loginsreset .agenthed{ color:#666;}
.parareserve {
    color: #666666;
    display: block;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
}
.loginsreset.thanklogin {
    width: 80%;
}

.loginsreset.registadd{ width:100%;}
.loginsreset.registadd .ritpul{ margin:0 -15px;}
.paylabel {
     color: #666666;
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    overflow: hidden;
}
.rerished {
    display: block;
    font-size: 18px;
    margin: 10px 0;
    overflow: hidden;
}
.regissubhed {
     display: block;
    float: left;
    font-size: 16px;
    margin: 10px 0 0;
    overflow: hidden;
}
.morecheck {
    display: block;
    float: left;
    width: 100%;
}
.morecheck > li {
    display: inline-block;
    margin: 10px 10px 10px 0;
}
.loginsreset.registadd .remlabel {
    color: #666666;
	display: block;
    overflow: hidden;
    text-align: left;
}
.centerchange.imagingblockright {
    float: right;
}
.outblock ul{ color: #161616;
    display: block;
    font-size: 15px;
    overflow: hidden;}
.outblock ul li{display: block;
    margin: 0 0 15px;
    overflow: hidden;
    padding-left: 20px;
    position: relative;}
.outblock ul li::after{content:"\f061";
	color: #f2733a;
    font-family: "FontAwesome";
	font-size: 12px;
    left: 0;
    position: absolute;
    top: 2px;}
.cmnper .paylabel{ margin-bottom:0;}

.book_us {padding: 6% 0;background-color: #fff;
    display: block;}
.copy_right{
    font-size: 15px;
    background-color: #f1f1f1;
    padding: 35px 0;
    color: #5b5c5e;
}
.txt_bookus {
    float: left;
    width: 100%;
    font-size: 18px;
}
.slide-button{border: 2px solid #0e73ba;padding: 3px 3px;}
.slide-button a {
    background: #0e73ba;
    color: #ffffff;
    float: left;
    font-family: raleway;
    height: 100%;
    line-height: inherit;
    text-align: center;
    width: 100%;
}

.sign_both {
    float: right;
}

.sign_both li {
    display: inline-block;
    list-style: none;
    line-height: 70px;
    font-size: 16px;
    padding: 10px 40px;
    cursor: pointer;
}
.sign_both li:last-child {
    background-color: #0e73ba;
    color: #fff;
}

.logo_index {
    float: left;
    width: 200px;
    margin: 12px 20px;
}
img {max-width: 100%;}
.reg_d2d{line-height: 56px !important;transition:all 300ms ease-in-out;}



@media screen and (max-width: 1200px){
.smalcaptn{ font-size:18px;}
.bigcaption{ font-size:36px;}

}


@media screen and (max-width: 991px){
	.smalcaptn { font-size: 16px;}
	.bigcaption{ font-size:20px;}
	.captngrp{padding: 0 0 0 20px;}
	.blockhesd{font-size: 20px;
    line-height: 27px; padding-bottom:15px;}
	.blockul{ font-size:14px;}
}


@media screen and (max-width: 768px){
.blocksimg{ min-height:250px; line-height:250px;}
.blocksimg > img{ max-height:250px;}	
}




@media screen and (max-width: 767px){.nocaptions{ display:none;}
.loginb2b{margin: 0 auto;
    width: 60%;}}
	
	
@media screen and (max-width: 650px){
	.col-xs-6.centerchange {
    width: 100%;
}
.chcnt{ padding:25px 0 !important;}
.chcnt:after{ display:none;}
.blocksimg{ line-height: 200px;
    margin-bottom: 20px;
    min-height: 200px;}
.blocksimg > img{ max-height:200px;}
}


@media screen and (max-width: 600px){

}


@media screen and (max-width: 550px){
.loginb2b {
    width: 80%;
}	
.signdiv{padding: 20px 15px;}
}

@media screen and (max-width: 500px){
.loginb2b {
    width: 100%;
}

	
}








