.all_loading {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100000000;
}
.centerload.cityload1{ background: #198C8C none repeat scroll 0 0;
padding: 60px 0 0;}
.all_loading.imgLoader{/* background: #198C8C none repeat scroll 0 0; */padding: 60px 0 0;}
.fulloading .loadmask1{background: #198C8C none repeat scroll 0 0;}
.load_inner {
   background: #fff none repeat scroll 0 0;
   border-radius: 3px;
   display: block;
   margin: 0px auto;
   max-width: 600px;
   min-width: 600px;
   text-align: center;
   position: relative;
   overflow: hidden;
   /* height:100%; */
   padding: 20px;
}
.relativetop {
  position: relative;
  z-index: 10;
}
.paraload {
  color: #333;
  display: block;
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
}
.sckintload::after {
 background: #fff none repeat scroll 0 0;
 border: 1px solid #ddd;
 border-radius: 30px;
 color: #d21904;
 content: "\f178";
 font-family: "FontAwesome";
 font-size: 20px;
 height: 30px;
 left: 50%;
 line-height: 28px;
 margin-left: -15px;
 position: absolute;
 text-align: center;
 top: 10px;
 width: 30px;
}
.sckintload.round_way::after{content:"\f0ec"}
.sckintload {
  /* background: #fff; */
  /* border: 1px solid #eee; */
  /* border-radius: 5px; */
  /* display: block; */
  /* overflow: hidden; */
  /* position: relative; */
  /* margin: 60px 0 0; */
  /* width:50%; */
  /* left:25%; */
}
.loader-wrap {
  height: 150px;
  position: relative;
}
.ffty {
  float: left;
  width: 50%;
}
.borddo {
  padding: 0 10px;
}
.lblbk {
  color: #666;
  display: block;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 10px 0;
}
.tabledates {
  display: block;
  overflow: hidden;
  width: 100%;
}
.round_way .tablecelfty{width: 50%;}
.round_way .borddo.brdrit {
  border-right: 1px solid #ddd;}

.tablecelfty {
  float: left;
  width: 100%;
}
.fuldate {
  display: block;
  overflow: hidden;
  padding: 10px;
}
.sckintload .fuldate {
  display: table;
  margin: 0 auto;
}

.normal_load{
   /* background: rgba(0, 0, 0, 0) url("../images/loader.gif") no-repeat scroll center center; */
    display: block;
    height: 90px;
    margin: 0 auto;
    overflow: hidden;
    width: 300px;}
.bigdate {
  color: #666;
  float: left;
  font-size: 40px;
  font-weight: bold;
  margin-right: 8px;
}
.biginre {
  color: #666;
  display: block;
  font-size: 14px;
  margin: 9px 0 0;
  overflow: hidden;
}
.sckintload .biginre {
  display: table-cell;
  vertical-align: middle;
}
.nigthcunt {
  border-top: 1px solid #eee;
  color: #666;
  display: block;
  font-size: 14px;
  overflow: hidden;
  padding: 10px;
  text-align: center;
}
.flight_animation {
  display: block;
    margin: 0 0 20px;
    overflow: hidden;
}
.flight_window {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1880c8+0,ffffff+100 */
  background: #1880c8; /* Old browsers */
  background: -moz-linear-gradient(top, #1880c8 0%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1880c8 0%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1880c8 0%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1880c8', endColorstr='#ffffff', GradientType=0 ); /* IE6-9 */
  border-radius: 50px;
    box-shadow: 0 0 0 21px #fff inset;
    display: block;
    height: 260px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 193px;
}
.window_wrap {
  background: rgba(0, 0, 0, 0) url("../images/flight_window.png") no-repeat scroll center center;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}

.window_shadow {
  border-radius: 45px;
  bottom: 25px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.6) inset;
  left: 20px;
  position: absolute;
  right: 20px;
  top: 25px;
  z-index: 2;
}
.cloud_anim {
  background: rgba(0, 0, 0, 0) url("../images/cloud_anim.png") repeat-x scroll 0 70px;
  bottom:0;
  left:0;
  position:absolute;
  top:0;
  transition:all 400ms cubic-bezier(0, 0, 0.59, 1) 0s;
  width:300%;
  z-index:0;
  transition:all 400ms cubic-bezier(0, 0, .59, 1);
  -webkit-animation:cloud_animation 5s linear infinite;
  -moz-animation:cloud_animation 5s linear infinite;
  -o-animation:cloud_animation 5s linear infinite;
  animation:cloud_animation 5s linear infinite;
}

@-webkit-keyframes cloud_animation {
0% {
left:0%;
}
100% {
left:-100%;
}
}
@-moz-keyframes cloud_animation {
0% {
left:0%;
}
100% {
left:-100%;
}
}
@-o-keyframes cloud_animation {
0% {
left:0%;
}
100% {
left:-100%;
}
}
@keyframes cloud_animation {
0% {
left:0%;
}
100% {
left:-100%;
}
}

.cancel_search{display: block;
    font-size: 14px;
    margin: 15px auto;
    overflow: hidden;}
.cancel_search .fa{margin-right:10px;}



/*Hotel Serach*/

.window_wrap_hotel {
    background: rgba(0, 0, 0, 0) url("../images/hotel_window.png") no-repeat scroll center center;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
}
.hotel_window .flight_window{border-radius: 0;
    box-shadow: none;
    height: 235px;
    width: 214px;}
.hotel_window .window_shadow{border-radius: 0;
    bottom: 35px;
    left: 10px;
    right: 25px;
    top: 10px;}
.grass{background: rgba(0, 0, 0, 0) url("../images/grass.jpg") no-repeat scroll center center;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;}
.cloud_anim_hotel{
  background: rgba(0, 0, 0, 0) url("../images/cloud_anim.png") repeat-x scroll 0 -170px;
  bottom:0;
  left:0;
  position:absolute;
  top:0;
  transition:all 400ms cubic-bezier(0, 0, 0.59, 1) 0s;
  width:300%;
  z-index:1;
  transition:all 400ms cubic-bezier(0, 0, .59, 1);
  -webkit-animation:cloud_animation_hotel 5s linear infinite;
  -moz-animation:cloud_animation_hotel 5s linear infinite;
  -o-animation:cloud_animation_hotel 5s linear infinite;
  animation:cloud_animation_hotel 5s linear infinite;
}

@-webkit-keyframes cloud_animation_hotel {
0% {
left:0%;
}
100% {
left:-100%;
}
}
@-moz-keyframes cloud_animation_hotel {
0% {
left:0%;
}
100% {
left:-100%;
}
}
@-o-keyframes cloud_animation_hotel {
0% {
left:0%;
}
100% {
left:-100%;
}
}
@keyframes cloud_animation_hotel {
0% {
left:0%;
}
100% {
left:-100%;
}
}


.tabledates.for_hotel .tablecelfty{width:50%;}













.rail_wrap {
    background: #fff url("../images/hill.png") repeat-x scroll center bottom;
    border-bottom: 15px solid #333;
    display: block;
    height: 260px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 250px;
}


.rail_anim {
  background: rgba(0, 0, 0, 0) url("../images/rail.png") no-repeat scroll 0 bottom ;
    bottom: 0;
    left: -370px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 400ms cubic-bezier(0, 0, 0.59, 1) 0s;
    z-index: 0;
  transition:all 400ms cubic-bezier(0, 0, .59, 1);
  -webkit-animation:rail_anim 8s linear infinite;
  -moz-animation:rail_anim 8s linear infinite;
  -o-animation:rail_anim 8s linear infinite;
  animation:rail_anim 8s linear infinite;
}

@-webkit-keyframes rail_anim {
0% {
left:-440px;
}
100% {
left:250px;
}
}
@-moz-keyframes rail_anim {
0% {
left:-440px;
}
100% {
left:250px;
}
}

@keyframes rail_anim {
0% {
left:-440px;
}
100% {
left:250px;
}
}







/*car Serach*/






.car_anim {
  background: rgba(0, 0, 0, 0) url("../images/car_load.png") no-repeat scroll 0 bottom ;
    bottom: 0;
    left: -100px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 400ms cubic-bezier(0, 0, 0.59, 1) 0s;
    z-index: 0;
  transition:all 400ms cubic-bezier(0, 0, .59, 1);
  -webkit-animation:car_anim 4s linear infinite;
  -moz-animation:car_anim 4s linear infinite;
  -o-animation:car_anim 4s linear infinite;
  animation:car_anim 4s linear infinite;
}



@-webkit-keyframes car_anim {
0% {
left:-100px;
}
100% {
left:250px;
}
}
@-moz-keyframes car_anim {
0% {
left:-100px;
}
100% {
left:250px;
}
}

@keyframes car_anim {
0% {
left:-100px;
}
100% {
left:250px;
}
}




.car_anim1 {
  background: rgba(0, 0, 0, 0) url("../images/car_load1.png") no-repeat scroll 0 bottom ;
    bottom: 0;
    right:0;
    position: absolute;
    left: 250px;
    top: 0;
    transition: all 400ms cubic-bezier(0, 0, 0.59, 1) 0s;
    z-index: 0;
  transition:all 400ms cubic-bezier(0, 0, .59, 1);
  -webkit-animation:car_anim1 3s linear infinite;
  -moz-animation:car_anim1 3s linear infinite;
  -o-animation:car_anim1 3s linear infinite;
  animation:car_anim1 3s linear infinite;
}



@-webkit-keyframes car_anim1 {
0% {
left:250px;
}
100% {
left:-100px;
}
}
@-moz-keyframes car_anim1 {
0% {
left:250px;
}
100% {
left:-100px;
}
}
@keyframes car_anim1 {
0% {
left:250px;
}
100% {
left:-100px;
}
}













@media screen and (max-width: 600px){
.load_inner{min-width:0;}
.load_inner{padding:10px;}
}





.loader-svg {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0px);
  width: 18%;
}

@-webkit-keyframes loader {
  33% {
    -webkit-transform: translate3d(0, -95px, 0);
  }
  66% {
    -webkit-transform: translate3d(-95px, -95px, 0);
  }
  100% {
    -webkit-transform: translate3d(-194px, -95px, 0);
  }
}
@keyframes loader {
  33% {
    transform: translate3d(0, -95px, 0);
  }
  66% {
    transform: translate3d(-95px, -95px, 0);
  }
  100% {
    transform: translate3d(-194px, -95px, 0);
  }
}
@-moz-keyframes loader {
  33% {
    transform: translate3d(0, -95px, 0);
  }
  66% {
    transform: translate3d(-95px, -95px, 0);
  }
  100% {
    transform: translate3d(-194px, -95px, 0);
  }
}
@-ms-keyframes loader {
  33% {
    transform: translate3d(0, -95px, 0);
  }
  66% {
    transform: translate3d(-95px, -95px, 0);
  }
  100% {
    transform: translate3d(-194px, -95px, 0);
  }
}
@-webkit-keyframes loader-rotate {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes loader-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-moz-keyframes loader-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-ms-keyframes loader-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}


