
/*login section starts here*/
.log_section{background-color: #fbfbfb;overflow: hidden;}
.log_mem{
  background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
  border-radius: 6px;
  box-shadow: 0 0 10px -5px #000;
  display: block;
  overflow: hidden;
  position: relative;
  width: 50%;
    margin: 5% auto;
    max-width: 500px;
}
.log_logo img {
    max-width: 200px; max-height: 80px;
} 
.mem_section{background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;padding: 10px 22px;box-shadow: 0 0 1px 0 #ccc;;margin: 12px 0;}
.mem_log_txt {
    text-align: center;
    display: block;
    font-size: 24px;
    padding: 10px 0;
    color: #5e5858;
    font-weight: 300;
}

.log_logo {text-align: center;margin: 12px 0 0;}
.log_ft::-webkit-input-placeholder {color: #5e5858;}
.remlabel_q {
    font-weight: normal;
    margin: 0 5px 0 0;
    line-height: 20px;
}
.log_ft.form-control {
    height: 45px;
    border-radius: 2px;
    border: 1px solid #eee !important;
    border: 0;
    box-shadow: none;
    display: block;
    margin: 10px 0;
    padding: 0 55px 0 12px;
}
.mycent {
    display: table;
    margin: 0 auto !important;
    width: 260px;
}
.orcent {
    border: 1px solid #eee;
    border-radius: 50px;
    font-size: 16px;
    height: 50px;
    line-height: 48px;
    margin: 15px auto;
    text-align: center;
    width: 50px;
}

.selectmask.msg {
    background: rgba(0, 0, 0, 0) url(../images/sprite.png) no-repeat scroll 5px -198px;
}
.pass {
    background: rgba(0, 0, 0, 0) url(../images/sprite.png) no-repeat scroll -38px -198px;
}
.selectmask {
    height: 43px;
    right: 1px;
    position: absolute;
    top: 1px;
    width: 48px;
}
.selectft {
    position: relative;
    width: 100%;
}
.for_get {
    font-size: 14px;
}
.btn_logsub {
    width: 40%;
    background-color: #F52007;
    color: #fff !important;
    font-size: 18px;
    margin: 10px 29%;
    padding: 7px 0;
    transition:  500ms all ease-in-out;
}
.btn_logsub:hover {
    color: #fff;
    background-color: #de2c17;
}
/*check box*/

.squared_check input[type="checkbox"], .squared_check input[type="radio"] {
    visibility:hidden;
    margin:0
}
.squared_check {
    float: left;
    margin-right: 8px;
    position: relative;
    width: 20px;z-index: 1;
}
.squared_check label {
    background:#c4c3c2 none repeat scroll 0 0;
    border-radius: 3px;
    cursor: pointer;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
}
.squared_check label::after {
 -moz-border-bottom-colors: none;
 -moz-border-left-colors: none;
 -moz-border-right-colors: none;
 -moz-border-top-colors: none;
 border-color: #fcfff4;
 border-image: none;
 border-style: none none solid solid;
 border-width: medium medium 3px 3px;
 content: "";
 height: 7px;
 left: 5px;
 opacity: 0;
 position: absolute;
 top: 5px;
 transform: rotate(-45deg);
 -webkit-transform: rotate(-45deg);
 width: 11px;
}
.squared_check label:hover::after {
 opacity: 0.3;
}
.squared_check input[type="checkbox"]:checked + label::after, .squared_check input[type="radio"]:checked + label::after {
 opacity: 1;
}
.squared_check input[type="checkbox"]:checked + label, .squared_check input[type="radio"]:checked + label {
    background:#198C8C;
}
.reg_b {
    text-align: center;
    font-size: 15px;
    color: #477caa;
    display: block;
    margin: 10px 0;
}