body{
    margin:0px;
    padding:0px;
    background: #fff;
}
.row{margin:0px;}
.pr0 { padding-right:0px; }
.pl0 { padding-left:0px; }
.jumbotron{padding-top:4px;padding-bottom: 0px;}
.carousel-control{display: none;}
.navbar-inverse{background-color:transparent;border-color:inherit;background-image:inherit;}
.navbar-static-top{border-width: 0px 0px 0px;}
.wsa_tab{margin-top:-10px;}
.navbar-inverse .navbar-nav > li > a{color:#000;}
.caret{border-top: 5px dashed #000; display: none;}
.navbar-inverse .navbar-nav > .open > a{background-color:transparent;background-image:inherit;box-shadow:inherit;}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus
{background-color:transparent;}
.carousel-indicators .active{background-color:#3ca7be;width: 22px;
    height: 22px;}
.carousel-indicators li {
    border: 2px solid #3ca7be;
    width: 22px;
    height: 22px;
}
.main-tabs-sec{border-bottom-left-radius:15px;border-bottom-right-radius:15px;}
.slider_tabs .wsa_tab ul li a {text-align: center;}
.slider_tabs .wsa_tab ul li a span{display:block;}
.radio-section-grp {
    margin-top: 34px;
    float: left;
    background: #fff;
    padding: 12px;
    border-radius: 10px 10px 0px 0px;
}
span.radiotext { position:relative; top:-3px; margin-right:20px; font-family:sans-serif; font-size:15px;color:#000;}
.arrow-changer{position: relative;}
.arrow-change-image {
    position: absolute;
    top: 45px;
    left: 229px;
    z-index: 999;
    cursor: pointer;
}
.bootstrap-select > .dropdown-toggle{border-color:#fff;}
.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus
{border-color:#fff!important;}
.navbar-nav > li > a{padding-top:10px;padding-bottom:9px;}
.packages_heading_para{text-align: center;}




.alladvnce{background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px dashed #fff;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 15px;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    position: relative;
    width: 96%;}
.alladvnce::after{content:"\f078";
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 0;
    color: #fff;
    font-family: "FontAwesome";
    font-size: 12px;
    line-height: 50px;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 30px;}
.advncedown::before{content:"\f0d8";
    color: #fff;
    font-family: "FontAwesome";
    font-size: 45px;
    position: absolute;
    right: 50px;
    top: -30px;}
.advncedown{display:none;
    background: none repeat scroll 0 0 #fff;
    border-radius: 3px;
    box-shadow: 0 0 10px -5px #000;
    line-height:normal;
    position: absolute;
    right: 0;
    top:55px;
    width: auto;
    transition:all 400ms ease-in-out;
    z-index:10000;
}
.advncedown.fadeinn{display:block;}
.scroladvc{display: block;
    overflow: hidden;
    padding: 10px;}
.adscrla{color: #444;
    display: block;
    overflow: hidden;
    padding: 10px 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;}
.advncedown.spladvnce{left:0;}

.iconcmn{float: left;
    height: 60px;
    width: 40px;}
.nopad{padding:0;}
.tabspl{float: left;
    padding: 20px 0;
    width: 100%;}
.tabrow{}
.lablform{color: #fff;
    font-size: 14px;
    margin: 0 0 5px;}
    
.deprtures::before{content:"\f072"; 
    bottom: 0;
    color: #d1bd9c;
    font-family: "FontAwesome";
    font-size: 18px;
    left: 0;
    line-height: 50px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 40px;}
.destinatios::before{content:"\f072"; 
    bottom: 0;
    color: #d1bd9c;
    font-family: "FontAwesome";
    font-size: 18px;
    left: 0;
    line-height: 50px;
    position: absolute;
    text-align: center;
    top: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 40px;}


.plcetogo{position:relative;}

.plcemark::before{content:"\f041"; 
    bottom: 0;
    color: #d1bd9c;
    font-family: "FontAwesome";
    font-size: 18px;
    left: 0;
    line-height: 50px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 40px;}
    
.datemark::before{content:"\f073";
    bottom: 0;
    color: #d1bd9c;
    font-family: "FontAwesome";
    font-size: 18px;
    left: 0;
    line-height: 50px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 40px;}
.nitmark::before{content:"\f186";
    bottom: 0;
    color: #d1bd9c;
    font-family: "FontAwesome";
    font-size: 18px;
    left: 0;
    line-height: 50px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 40px;}
.selctmark::after{content:"\f078";
    background: none repeat scroll 0 0 #fff;
    bottom: 0;
    color: #999;
    font-family: "FontAwesome";
    font-size: 12px;
    line-height: 50px;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 30px;}

.normalsel{border: 1px solid #fff;
    display: block;
    height: 50px;
    overflow: hidden;
    width: 100%;}

.normalinput::-webkit-input-placeholder { /* Safari, Chrome and Opera */
  color: #000;
}

.normalinput:-moz-placeholder { /* Firefox 18- */
  color: #000;
}

.normalinput::-moz-placeholder { /* Firefox 19+ */
  color: #000;
}

.normalinput:-ms-input-placeholder { /* IE 10+ */
  color: #000;
}

.normalinput::-ms-input-placeholder { /* Edge */
  color: #000;
}

.normalinput:placeholder-shown { /* Standard one last! */
  color: #000;
}   


.padselct{color:#666; font-size: 15px;
    padding: 0 20px 0 40px;
    text-align: center;}
.normalinput{border: 1px solid #fff;
    color: #333;
    display: block;
    font-size: 16px;
    height: 50px;
    overflow: hidden;
    padding: 0 10px 0 40px;
    width: 100%;}
.tab-content.custmtab{float: left;
    width: 100%;}
.padfive{padding:0;}

.totlall {
    background: none repeat scroll 0 0 #ffffff03;
    border: 1px solid #fff;
    cursor: pointer;
    float: left;
    font-size: 14px;
    height: auto;
    line-height: 50px;
    padding: 10px 10px;
    position: relative;
    width: 100%;
}
.btn-group.bootstrap-select.form-control {
    padding: 10px 0;
    box-shadow: none;
}
/* .totlall::after{content:"\f078";
    background: none repeat scroll 0 0 #fff;
    bottom: 0;
    color: #999;
    font-family: "FontAwesome";
    font-size: 12px;
    line-height: 50px;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 30px;} */
    .remngwd {
        margin-top: -6px;
        float: left;
        font-size: 30px;
        color: #101010;
    }

.roomcount{display:none;
    background: none repeat scroll 0 0 #fff;
    border-radius: 3px;
    box-shadow: 0 0 10px -5px #000;
    line-height:normal;
    position: absolute;
    right: 0;
    top:55px;
    width: auto;
    transition:all 400ms ease-in-out;
    z-index:10000;
}
.roomcount.fadeinn{display:block;}

.inallsn {
  
    width: 100%;
}
.oneroom {display: table-cell;
    min-width: 250px;
    padding: 14px;
    vertical-align: top;}

.oneroom.fltravlr{}
.oneroom.fltravlr .roomrow{}
.oneroom.fltravlr .celroe{}

.roomrow {
    display: table;
    width: 100%;
    margin: 12px 0;
}
.celroe{display: table-cell;
    padding: 0px;
    float:none;
    vertical-align: middle;}
.agemns{color: #666;
    display: block;
    font-size: 11px;
    overflow: hidden;}
.countmore{min-width:130px;}
.centertext{text-align:center;}
.padselctsmal{}
.chilagediv{display: block;
    margin: 10px 0 0;
    overflow: hidden;}
.normalsel.padselctsmal{border: 1px solid #ddd;
    height: 30px;
    padding: 0 5px;}
.chldrnage{color: #666;
    display: block;
    font-size: 13px;
    margin: 0 0 5px;
    overflow: hidden;}
.selctmarksml::after {background: none repeat scroll 0 0 #fff;
    bottom: 1px;
    color: #999;
    content:"\f078";
    font-family: "FontAwesome";
    font-size: 12px;
    line-height: 25px;
    pointer-events: none;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 30px;
}
.addrooms{color: #bc760c;
    cursor: pointer;
    float: left;
    font-size: 13px;
    margin: 12px 0 0;}
.addrooms .fa{margin-right:6px;}
.roomone {
    background: none repeat scroll 0 0 #eee;
    border-radius: 3px;
    display: block;
    overflow: hidden;
    padding: 5px 10px;
    text-align: center;
}
.roomcount::before{content:"\f0d8";
    color: #fff;
    font-family: "FontAwesome";
    font-size: 45px;
    position: absolute;
    right: 50px;
    top: -30px;}
.nav-tabs.customtab li .dropdown-menu{left: auto;
    right: 0;}
.nav-tabs.customtab li .dropdown-menu li{display: block;
    overflow: hidden;}
.nav-tabs.customtab li .dropdown-menu li a{height: auto;
    line-height: 35px;
    width: 100%;}
.searchsbmt{
background: rgb(235,169,22);
background: -moz-linear-gradient(top,  rgba(235,169,22,1) 0%, rgba(211,131,14,1) 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,169,22,1)), color-stop(100%,rgba(211,131,14,1))); 
background: -webkit-linear-gradient(top,  rgba(235,169,22,1) 0%,rgba(211,131,14,1) 100%);
background: -o-linear-gradient(top,  rgba(235,169,22,1) 0%,rgba(211,131,14,1) 100%); 
background: -ms-linear-gradient(top,  rgba(235,169,22,1) 0%,rgba(211,131,14,1) 100%); 
background: linear-gradient(to bottom,  rgba(235,169,22,1) 0%,rgba(211,131,14,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eba916', endColorstr='#d3830e',GradientType=0 ); 
    border: medium none;
    color: #fff;
    font-size: 16px;
    line-height: 50px;
    padding: 0 20px 0 0;
    position: relative;
    text-transform: uppercase;
    width: 100%;}
.searchsbmtfot{position:relative;}
.searchsbmtfot::after{content:"\f054";
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    bottom: 0;
    color: #fff;
    font-family: "FontAwesome";
    line-height: 50px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 30px;}

.searchsbmt:hover{background:#bc760c;}


.contentarae{background: none repeat scroll 0 0 #fff;
    float: left;
    position:relative;
    width: 100%;}
.sectionone{}
.relfst{position:relative;height:100%;}


.cmsun {
    color: #fff;
    display: block;
    font-size: 20px;
    overflow: hidden;
    padding: 20px;
}

.advncebtn {
    float: left;
    padding: 10px 20px 0 0;
}
.togleadvnce.open .advncebtn{background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin: 0px 10px 0 0;
    padding: 6px 10px;
    text-align: center;}
.togleadvnce.open .advncebtn::after{content:"\f053";
    color: #fff;
    font-family: "FontAwesome";
    font-size: 26px;}
.togleadvnce.open .advncebtn .labladvnce{display:none;}
.advsncerdch{display:none;
    margin: 10px 0 0;
    width: 100%;}
.togleadvnce.open .advsncerdch{display:block;}



.labladvnce{color: #fff;
    cursor: pointer;
    display: block;
    font-size: 14px;
    line-height: 48px;
    overflow: hidden;}
.labladvnce::after{content:"\f054";
    color: #999;
    font-family: "FontAwesome";
    font-size: 11px;
    margin-left: 5px;}

.seladvnce{display: block;
    margin-right: 5px;
    overflow: hidden;
    position: relative;}
.seladvnce::after{content:"\f078";
    background: none repeat scroll 0 0 #fff;
    bottom: 0;
    color: #999;
    font-family: "FontAwesome";
    font-size: 12px;
    line-height: 40px;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 30px;}
.advnceopton{ background: none repeat scroll 0 0 #fff;
    border: medium none;
    color: #666;
    float: left;
    font-size: 15px;
    height: 40px;
    padding: 0 10px;
    width: 100%;}


/*Search end*/


/* 21st oct car_home css start */

/*switch component*/

.el-switch,
.el-switch-style,
.el-switch-style:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.el-switch {
  display: inline-block;
  font-size: 100%;
  height: 1.6em;
  position: relative;
  margin-top: -41px;
  padding: 0px;
}
.el-switch .el-switch-style {
  height: 1.6em;
  left: 0;
  background: #fff;
  -webkit-border-radius: 0.8em;
  border-radius: 0.8em;
  display: inline-block;
  position: relative;
  top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 3em;
  cursor: pointer;
}
.el-switch .el-switch-style:before {
  display: block;
  content: '';
  height: 1.4em;
  position: absolute;
  width: 1.4em;
  background-color: #d22027;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  left: 0.1em;
  top: 0.1em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.el-switch > input[type="checkbox"] {
  display: none;
}
.el-switch > input[type="checkbox"][disabled] + .el-switch-style {
  cursor: not-allowed;
  background-color: #D3DCE6;
}
.el-switch > input[type="checkbox"]:checked + .el-switch-style {
  background-color: #fff;
}
.el-switch > input[type="checkbox"]:checked + .el-switch-style:before {
  left: 50%;
}
.el-switch > input[type="checkbox"]:checked[disabled] + .el-switch-style {
  background-color: #b0d7f5;
}
.el-switch.el-switch-blue > input[type="checkbox"]:checked + .el-switch-style {
  background-color: #20a0ff;
}
.el-switch.el-switch-blue > input[type="checkbox"]:checked[disabled] + .el-switch-style {
  background-color: #b0d7f5;
}
.el-switch.el-switch-green > input[type="checkbox"]:checked + .el-switch-style {
  background-color: #13ce66;
}
.el-switch.el-switch-green > input[type="checkbox"]:checked[disabled] + .el-switch-style {
  background-color: #a1efc4;
}
.el-switch.el-switch-red > input[type="checkbox"]:checked + .el-switch-style {
  background-color: #ff4949;
}
.el-switch.el-switch-red > input[type="checkbox"]:checked[disabled] + .el-switch-style {
  background-color: #f9b3b3;
}
.el-switch.el-switch-yellow > input[type="checkbox"]:checked + .el-switch-style {
  background-color: #f7ba2a;
}
.el-switch.el-switch-yellow > input[type="checkbox"]:checked[disabled] + .el-switch-style {
  background-color: #fbeac1;
}
.margin-r{
        margin-right:10px;
        vertical-align: top;
        line-height:1.6;
        color:#fff;
    }
.destination_field-car input[disabled] {
    cursor: default;
    background: transparent;}
.destination_field-car input[disabled]::placeholder{color:#d0d0d0!important;}
.destination_field-car input[type="text"]::placeholder{
    color:#000;
}

.check_in_field-car{ width: 260px; padding: 4px 4px 3px 3px;}
.check_in_field-car:last-child{border-right: 0px solid #fff!important;}
.destination_field-car {width: 280px;padding: 4px 4px 3px 3px;}
.slider_content_wrap .car-form-main {
    border-radius: 0px 0px 0px 0px;
    padding: 0;
    margin: 0;
    height: auto;
}
.arrow-changer-for-car{position: relative;}
.arrow-change-image-for-car{position: absolute; top: 45px;left: 264px;z-index: 999;cursor: pointer;}

.option-heading:after           { content: "\25bc"; color:#fff;}
.option-heading.is-active:after { content: "\25b2";color:#fff; }

/* Helpers */
.is-hidden {display: none;}
.option-heading a{color:#fff;line-height:45px;font-weight:600;font-size: 16px;}
.option-content{
    background: #fff;
    padding: 30px 15px;
    width: 100%;
}
.form-horizontal .form-group{margin-left:0px;margin-right:0px;}

.main_content_form select {
    box-shadow: 0px 2px 2px #bcbcbc;
}
.select-box-input input{ box-shadow: 0px 2px 2px #bcbcbc;}
.select_box{
 position: relative;
}
.select_box:after{
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #d22027;
  position: absolute;
  top: 40%;
  right: 5px;
  content: "";
  z-index: 98;
 }
.select_box select{
  width: 100%;
  border: 0;
  position: relative;
  z-index: 99;
  background: none;
  appearance:none;
  -webkit-appearance: none; 
}
label.control-label{padding-bottom: 10px;color:#000000;font-size:16px;}
.circle_icon_top_left{position:relative;}
.circle_icon_top_left a{ position: absolute;top:258px;left:-18px;width: 44px;height: 44px;line-height: 38px;
font-size: 16px;background: #d22027;color:#fff;text-align: center;border-radius: 50px;border: 3px solid #fff; }
.circle_icon_top_right_top{position:relative;}
.circle_icon_top_right_top a{position: absolute;top:150px;right:-18px;width: 44px;height: 44px;line-height: 38px;
font-size: 16px;background: #d22027;color:#fff;text-align: center;border-radius: 50px;border: 3px solid #fff; }
.circle_icon_top_right_bottom{position:relative;}
.circle_icon_top_right_bottom a{position: absolute;top:471px;right:-18px;width: 44px;height: 44px;line-height: 38px;
font-size: 16px;background: #d22027;color:#fff;text-align: center;border-radius: 50px;border: 3px solid #fff; }
.disabled_sec,.disabled_sec label{
    color: #d0d0d0 !important;
    cursor: default;
}
#ip1 {
   /*  border-radius: 40px; */
    background:url(../images/submit.png) 94% 42% no-repeat #ebebeb;
    padding: 10px;
    width:100%;
    height: 45px;
    border: 1px solid #fff;
    outline: none !important;
    border-color: #ec2028;
}


.car-date-box{
    float: left;
    width: 24%;
    border-right: 1px solid #999;
    margin-right: 20px;
}
.car-date-box.date {
    float: left;
    width: 22%;
}
.car-date-box.date {
    float: left;
    width: 22%;
}
.car-date-box:last-child {
    border: none;
}
.car-date-box p {
    font-size: 20px;
    float: left;
    width: 100%;
    margin: 0;
    color: #000;
}
.car-date-box h3 {
    font-size: 32px;
    float: left;
    margin: 10px 0;
    width: 100%;
    color: #000;
}
.car-date-box span {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #000;
}

.adverisement{text-align: center;padding:60px 0px 30px 0px;}


.car_list_box{
    padding: 11px; background:#FFF;-webkit-box-shadow: 0 0 5px 3px rgba(0,0,0,.1);
box-shadow: 0 0 5px 3px rgba(0,0,0,.1); margin-bottom:24px;display: flex;
  align-items: center;
  justify-content: left;}
.car_thumb{width: 169px;height: 166px;}
.car_thumb h1{font-size:15px;margin:0px 0px;color:#000;}
.car-detalis-list{float:left;width:170px;}

/* css end */
