@media(max-width:1200px) {
    .logo {
        min-width: auto;
        padding: 15px 0
    }
    .topssec.fixed .logo {
        padding: 9px 0
    }
    .logo img,
    .topssec.fixed .logo img {
        max-width: 200px
    }
    .fixincrmnt.fixed {
        width: 685px
    }
}
@media(max-width:1199px)
{
    .clientSayOuterPart{margin-left:0;}
}
@media(max-width:1100px) {
    .propopum {
        width: 991px
    }
}
@media(min-width:992px) {
    .coleft, .sepmenus {
        display: block!important
    }
    .dropdown-menu.mysign{left:auto;right:0;}
    .sidebtn .dropdown-menu.exploreul::before{left:75%;}
    .dropdown-menu.explorecntry{left:auto;right:0;}
}
@media(max-width:991px) {
    .propopum {
        width: 768px;
        min-width: 300px
    }
   /* .full_clear {
        padding: 0 0 10px
    }*/
    .sidebtn .dropdown-menu.exploreul {
        left: auto;
        margin: 0;
        right: 0
    }
    .sidebtn .dropdown-menu.exploreul::before {
        left: auto;
        margin: 0;
        right: 20px
    }
    .ful_logo {
        display: none
    }
    .tab_logo {
        display: block
    }
    .logo,
    .topssec.fixed .logo {
        padding: 7px 0
    }
    .topssec.fixed .cmnexplor {
        height: 40px;
        opacity: 1
    }
    .exploreall li a {
        padding: 10px
    }
    .topssec .cmnexplor {
        display: block;
        opacity: 1
    }
 /*   .topssec {
        height: 60px
    }*/
    /*.topssec .ritsude {
        padding: 5px 0
    }*/
    .logo {
        max-width: 150px;
        min-width: 0
    }
   /* .userorlogin {
        display: none
    }*/
    .reglog {
        min-width: 0
    }
    .caret.cartdown {
        right: 0
    }
    .topa {
        margin-left: 5px
    }
    .flags {
        margin: 0px 15px 0 0
    }
    .captngrp {
        margin: 30px 0
    }
    .bigcaption {
        font-size: 38px
    }
    .smalcaptn {
        font-size: 20px
    }
    .advsncerdch .col-xs-3 {
        width: 33.333%
    }
    .fulnine {
        width: 100%
    }
    .centertio {
        display: table;
        margin: 0 auto
    }
    .centertio .ftrhd {
        display: none
    }
    .centertio .signupfm > li {
        float: left
    }
    .placerows,
    .secndates,
    .thrdtraveller {
        float: left;
        width: 100%
    }
   /* .placerows .col-xs-6 {
        padding: 0 0 10px
    }*/
    .modfictions.fixd {
        position: static
    }
    .search-result.flightresltpage,
    .search-result.flightresltpage.onlyfrflty {
        margin: 0
    }
    .search-result.flightresltpage::before {
        display: none
    }
    .coleft {
        display: none
    }
    .colrit {
        width: 100%
    }
    .coleft {
        background: #fff none repeat scroll 0 0;
        box-shadow: 0 0 10px -5px #000;
        display: block;
        left: 0;
        position: absolute;
        top: 40px;
        width: 50%;
        z-index: 100
    }
    .resultalls.open .colrit .vluendsort,
    .resultalls.open .colrit .result_srch_htl,
    .resultalls.open .colrit .filterforall,
    .resultalls.open .colrit .allresult .row,
    .resultalls.open .allbusresult {
        opacity: .2
    }
    .filter_tab {
        display: block
    }
    .none_mody {
        display: none
    }
    .calandcal,
    .airlinrmatrix {
        display: none
    }
    .topmisty {
        margin: 0 0 10px
    }
    .insidebosc {
        padding: 0
    }
    .filterforall {
        display: block;
        overflow: hidden
    }
    .modfictions.fixd .modinew {
        padding: 0
    }
    .full_wher {
        width: 100%
    }
/*    .bars_menu.fa {
        display: block
    }*/
    .sepmenus {
        background: #fff none repeat scroll 0 0;
        border-radius: 3px;
        box-shadow: 0 4px 10px -3px #000;
        padding: 0;
        position: absolute;
        top: 60px;
        z-index: 1000
    }
    .exploreall {
        border-radius: 3px;
        float: left;
        min-width: 200px;
        overflow: hidden
    }
    .exploreall li {
        border-bottom: 1px solid #eee;
        display: block;
        float: none;
        overflow: hidden
    }
    .topssec .cmnexplor {
        display: block;
        float: left;
        margin-right: 10px;
        opacity: 1
    }
    .exploreall li a strong {
        line-height: 40px;
        text-align: left
    }
    .sepmenus::before {
        background: url(../images/sprite1.png) no-repeat scroll -525px 0 rgba(0, 0, 0, 0);
        content: "";
        height: 15px;
        left: 2px;
        position: absolute;
        top: -11px;
        width: 28px
    }
    .sepmenus {
        display: none
    }
    .flag_images {
        margin: 8px 10px 0 0
    }
    .userimage {
        height: 32px;
        margin: 8px 20px 0 0;
        width: 32px
    }
    .userimage img {
        min-height: 32px
    }
    .sorta strong {
        display: block;
        font-size: 11px;
        font-weight: 400;
        line-height: 8px;
        margin: 0;
        text-align: center
    }
    .sorta .fa {
        color: #999;
        display: block;
        line-height: 20px;
        margin: 0;
        overflow: hidden
    }
    .fixincrmnt,
    .fixincrmnt.fixed {
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: auto;
        width: 100%;
        z-index: 99
    }
    .filterforall.addtwofilter.fixed {
        margin-top: 0
    }
    .insidecurent {
        margin: 0 auto;
        padding: 0 10px;
        width: 750px
    }
    .insidecurent .outbound-details,
    .insidecurent .inbound-details {
        display: none
    }
    .insidecurent .flect.stop-count {
        display: none
    }
    .insidecurent .flightimage {
        width: 100%
    }
    .insidecurent .selctarln {
        padding: 0
    }
    .insidecurent .sidepricewrp .col-xs-7,
    .insidecurent .sidepricewrp .col-xs-5 {
        width: 100%
    }
    .insidecurent .sidepricebig {
        font-size: 18px;
        padding: 0
    }
    .insidecurent .padflt.nonefity {
        font-size: 11px;
        padding: 0
    }
    .round-domestk .priceflights {
        font-size: 15px
    }
    .amnterbig {
        color: #333;
        font-size: 14px
    }
    .farestybig {
        font-size: 14px;
        line-height: 20px
    }
    .topalldesc .jetimg,
    .ontyp .jetimg {
        margin: 0;
        text-align: center;
        width: 100%
    }
    .topalldesc .alldiscrpo,
    .ontyp .alldiscrpo {
        text-align: center;
        width: 100%
    }
    .celtbcel {
        float: left;
        width: 100%
    }
    .international_passport_content_div {
        float: left;
        width: 100%
    }
    .vluendsort {
        display: block;
        float: none;
        overflow: hidden;
        width: auto
    }
    .modal-body > iframe {
        width: 100%!important
    }
    .bigdate_book {
        font-size: 20px
    }
    .biginre_book {
        font-size: 12px
    }
    .fuldate_book {
        height: 40px
    }
    .priceflights.eachroomprice {
        font-size: 18px
    }
    .full_nty,
    .paspolbl {
        width: 100%
    }
    .cellpas {
        display: block
    }
    .paspertedit .margpas {
        margin: 5px 0;
        padding: 0 5px
    }
    .topbokro {
        height: auto
    }
    .pnrnum {
        float: left
    }
}
@media(max-width:768px) {
    .threey{border:0px;}
    .insidecurent {
        width: 100%
    }
    .popconyent .imagesmflt {
        display: block;
        float: none;
        margin-right: 0;
        overflow: hidden;
        width: 100%
    }
    .popconyent .flitsmdets {
        display: block;
        line-height: 14px;
        overflow: hidden
    }
    .round-domestk .bigtimef {
        font-size: 15px
    }
    .round-domestk .smalairport {
        display: none
    }
    .round-domestk .airlinename {
        line-height: 11px;
        padding: 0
    }
    .round-domestk .m-b-0.text-center > strong {
        font-size: 11px;
        line-height: 0
    }
   /* .full_smal_tab {
        padding: 0 0 10px
    }*/
    .exploreall li a {
        padding: 10px
    }
    .nav-tabs.tabstab > li > a {
        padding: 0 15px
    }
    .allys .col-xs-4 {
        width: 100%
    }
    .threey {
        margin: 5px 0
    }
    .centerload {
        min-width: 0;
        width: 95%;
        padding: 10px
    }
    .propopum {
        width: 450px
    }
    .padflt.widfty {
        padding: 0;
        text-align: center
    }
    .rit_summery,
    .full_summery_tab {
        width: 100%
    }
    .insiefare {
        padding: 0
    }
    .allboxflt .airlblxl {
        font-size: 14px
    }
    .tab_pasnger {
        width: 100%
    }
    .ontyp {
        padding: 0
    }
    .fligthsdets {
        margin: 10px 0
    }
    .logininwrap {
        margin: 20px 0
    }
    .madgrid.forhtlpopover {
        margin: 5px 0;
        width: 100%
    }
    .mapviewhtlhotl.fa {
        transform: scale(1)
    }
    .map_mobile_dets {
        display: block;
        float: left;
        margin: 20px 0 0;
        overflow: hidden;
        width: 100%
    }
    .tab_htl_detail {
        width: 100%
    }
    .padritside {
        float: left;
        margin: 15px 0 0;
        padding-left: 0;
        width: 100%
    }
    .fulldetab.shdoww {
        box-shadow: none
    }
    .romlistnh {
        background: none;
        padding: 0
    }
    .colrumpad .bookallbtn {
        width: 100%
    }
    .priceflights.smalwise {
        font-size: 13px
    }
    .full_log_tab {
        width: 100%
    }
    .bustprice {
        font-size: 16px
    }
    .timelabelf {
        font-size: 14px
    }
    .durtnlabls,
    .bookbuss .bookallbtn {
        font-size: 12px
    }
    .bus_preloader .relativetop {
        margin: 100px 0 0
    }
    .only_bus_book .alldiscrpo {
        text-align: left
    }
    .bokinstts .col-xs-3 {
        width: 33.33%
    }
    .useralldets .rowother {
        width: 100%
    }
    .trow.tblhd {
        display: none
    }
    .trow .tblpad {
        display: block;
        float: left;
        padding: 5px;
        width: 100%
    }
    .lavltr_mgc {
        color: #666;
        display: block;
        font-size: 12px
    }
    .lavltr {
        color: #333
    }
}
@media(max-width:650px) {
    .bookallbtn {
        font-size: 12px
    }
    .addtwofilter .hide_lines {
        display: none
    }
    .addtwofilter .sortli {
        width: 33.333%
    }
    .topalldesc .allboxflt .airlblxl {
        font-size: 12px
    }
    .full_dets_aps {
        width: 100%
    }
    .newloginsectn .celoty {
        display: block;
        float: left;
        vertical-align: middle;
        width: 100%
    }
    .orround {
        margin: 20px auto
    }
    .leftde_flt {
        float: left;
        width: auto
    }
    .none_rit {
        float: right;
        width: auto
    }
    .customteam2.nav-tabs.customteam li a strong {
        display: none
    }
    .nav-tabs.customteam.customteam2 {
        max-width: 50px
    }
    .customteam2.nav-tabs.customteam li a {
        padding: 10px
    }
    .pxconf {
        font-size: 12px
    }
    .bokrname {
        font-size: 16px
    }
}
@media(max-width:600px) {
    .placenameflt {
        font-size: 14px
    }
    .smal_udayp {
        display: block;
        margin-top: -20px;
        overflow: hidden;
        width: 100%
    }
    .smal_udayp .insidesame {
        display: block;
        padding: 0;
        text-align: right
    }
    .smal_udayp .durtntime {
        font-size: 13px;
        line-height: 12px
    }
    .round-domestk .wayeght {
        width: 70%
    }
    .round-domestk .wayfour {
        width: 30%
    }
    .quarter_wdth {
        width: 33.33%
    }
    .detailsflt {
        font-size: 12px
    }
    .hotel_search_results .priceflights {
        font-size: 16px
    }
    .prcstrtingt {
        font-size: 12px
    }
    .hoteldetsname {
        font-size: 15px
    }
    .fifty_rums {
        width: 50%
    }
    .hundrd_rums {
        width: 100%
    }
    .padinnerntb {
        padding: 0
    }
    .canrumpoly {
        margin: 0
    }
    .lettrfty,
    .padinnerntb.htlfac_lity,
    .hote_plcys {
        padding: 10px
    }
    .htlfac_lity .col-xs-4 {
        width: 100%
    }
    .full_room_buk {
        width: 100%
    }
    .sckint {
        margin: 0
    }
    .layoutonly {
        display: block;
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 0;
        width: 600px
    }
    .full_fiftys {
        margin: 0 0 10px;
        width: 100%
    }
    .qurter_wdth {
        width: 75%
    }
    .smal_width_hr {
        width: 25%
    }
    .paspertedit .margpas {
        width: 100%
    }
    .xlbook {
        display: block;
        float: left;
        padding: 10px;
        width: 100%
    }
    .xlbook.htlimage_xl {
        width: auto
    }
}
@media(max-width:550px) {
    .fulnine .col-xs-3 {
        width: 50%
    }
    .hidesocial {
        display: none
    }
    .nav-tabs.tabstab > li {
        float: left;
        margin: 0;
        width: 25%
    }
    .topa {
        border: 0 none;
        margin-left: 10px;
        
    }
    .nav-tabs.tabstab > li > a {
        float: left;
        line-height: 30px;
        padding: 0 10px 10px;
        text-align: center;
        width: 100%
    }
    .sprte.iconcmn {
        margin: 0 auto
    }
    .iconcmn {
        display: table;
        float: none;
        height: 50px;
        margin: 0 auto;
        overflow: hidden;
        width: 40px
    }
    .roomcount {
        left: 0;
        right: auto
    }
    .roomcount::before {
        right: auto;
        left: 10%
    }
    .alltwobnd .imagesmflt {
        margin-right: 0;
        text-align: center;
        width: 100%
    }
    .alltwobnd .flitsmdets {
        text-align: center;
        width: 100%
    }
    .inboundiv.seg-1 {
        padding: 0
    }
    .inboundiv.sidefare {
        background: #f6f6f6 none repeat scroll 0 0;
        margin: 20px 0 0
    }
    .register-box-body {
        width: 100%;
        padding: 0
    }
    .altpopup {
        width: 420px
    }
    .round-domestk .madgrid {
        margin: 2px
    }
    .round-domestk .insidecurent .sidepricebig {
        font-size: 13px
    }
    .round-domestk .sidepricebig strong {
        font-size: 12px;
        margin-right: 0
    }
    .international_passport_content_div .spllty {
        width: 100%
    }
    .spllty.infant_dob_div {
        width: 100%
    }
    .sidenamedesc {
        display: block
    }
    .celhtl {
        float: left;
        width: 100%
    }
    .hotel_search_results .innd {
        max-height: none;
        min-height: 0
    }
    .adreshotle {
        display: none
    }
    .hotel_search_results .bookallbtn.splhotltoy {
        float: right;
        margin: 0;
        width: auto
    }
    .hotel_search_results .priceflights {
        float: left
    }
    .imagehtldis img {
        min-height: 120px
    }
    .innd {
        padding: 10px 10px 0
    }
    .vlulike {
        font-size: 12px
    }
    .sidepricewrp {
        margin: 10px 0;
        padding: 0 10px
    }
    .priceflights.eachroomprice {
        font-size: 14px
    }
    .full_bus_sec,
    .fiftywirdt {
        width: 50%
    }
    .full_bus_none {
        display: none
    }
    .full_bus_prices {
        width: 100%
    }
    .pasngrinput_enter {
        display: none
    }
    .pasngrinput_secnrews {
        display: block;
        margin-bottom: 10px;
        overflow: hidden
    }
    .flling_name .col-xs-5 {
        width: 60%
    }
    .flling_name .col-xs-4 {
        width: 40%
    }
    .flling_name .col-xs-3 {
        width: 40%
    }
    .nav-tabs.tabssyb li a {
        font-size: 12px;
        padding: 0 10px
    }
}
@media(max-width:500px) {
    .round-domestk .bigtimef {
        font-size: 12px
    }
    .round-domestk .airlinename {
        font-size: 10px
    }
    .round-domestk .m-b-0.text-center > strong {
        font-size: 9px
    }
    .round-domestk .insidecurent .sidepricebig {
        font-size: 14px
    }
    .round-domestk .sidepricebig strong {
        font-size: 12px;
        margin-right: 0
    }
    .sepmenus {
        top: 100px
    }
    .full_smal_tab {
        width: 100%
    }
    .fromtopmargin.set_up {
        margin: 0
    }
    .togleadvnce.open .advncebtn::after {
        content: "\f077"
    }
    .advsncerdch {
        float: left
    }
    .advsncerdch .col-xs-3 {
        width: 50%
    }
    .bigcaption {
        font-size: 28px
    }
    .smalcaptn {
        font-size: 18px
    }
    .fromtopmargin {
        margin-top: 0
    }
    .topssec.fixed,
    .topssec {
        height: auto;
        position: static
    }
    .topssec::after {
        display: none
    }
    .full_clear {
        width: 100%
    }
    .none_boil {
        display: none
    }
    .none_boil_full {
        width: 100%
    }
    .coleft {
        width: 70%
    }
    .full_same {
        width: 100%
    }
    .modifysrch {
        height: 59px
    }
    body {
        overflow-x: hidden
    }
    .insidemyt {
        width: 100%
    }
    .insidecurent .padflt.nonefity {
        display: none
    }
    .insidecurent .padflt.widfty {
        width: 50%;
        text-align: center
    }
    .insidecurent .timlbl {
        font-size: 12px
    }
    .insidecurent .sidepricebig {
        font-size: 13px
    }
    .insidecurent .sidepricebig strong {
        font-size: 12px
    }
    .segment_seg .width_adjst,
    .ontyp .width_adjst {
        width: 100%
    }
    .segment_seg .allboxflt {
        border-bottom: 1px dashed #ddd
    }
    .full_smal_forty {
        width: 100%
    }
    .for_hotel_modi .modifysrch {
        height: 43px
    }
    .for_hotel_modi .modifysrch::after {
        line-height: 42px
    }
    .smal_udayp {
        margin-top: 0
    }
    .smal_udayp .insidesame {
        text-align: center
    }
    .tonavtorum {
        width: 100%
    }
    .innerdetspad {
        padding: 0 0 0 10px
    }
    .butnbigs {
        margin: 10px 0 0
    }
    .baseli.hedli {
        display: none
    }
    .responsive_li li {
        border-bottom: 1px dashed #ddd;
        padding: 5px 0;
        width: 100%!important
    }
    .res_op {
        color: #999;
        display: block;
        float: left;
        margin-right: 10px
    }
    .price_cet .wid80 {
        width: auto
    }
    .price_cet .wid20 {
        float: right;
        width: auto
    }
    .bus_sorting.sortul .sortli {
        width: 20%!important
    }
    .staffareadash {
        padding: 20px 0
    }
}
@media(max-width:450px) {
    .normalinput {
        font-size: 14px
    }
    .placerows .col-xs-6 {
        width: 100%
    }
    .propopum {
        width: 320px
    }
    .bokinstts .col-xs-3 {
        width: 100%
    }
    .nav-tabs.customteam.customteam2 {
        max-width: none;
        width: 100%
    }
    .nav-tabs.customteam li {
        margin: 0 5px 0 0;
        width: auto
    }
    .tab-content.sidewise_tab {
        clear: both
    }
    .yrtogo2,
    .noticemsg2 {
        font-size: 14px
    }
    .yrtogo {
        font-size: 12px;
        line-height: 14px
    }
    .noticemsg {
        line-height: 20px
    }
    .spl_box {
        padding: 10px
    }
    .colusrdash {
        width: 100%;
        height: auto
    }
    .useralldets {
        clear: both
    }
}
@media(max-width:420px) {
    .sidebtn .dropdown-menu.exploreul::before{right:40%;}
   
    .figure.effect-marley h3 {
        font-size: 18px
    }
    .sidebtn {
        position: static
    }
    .sidebtn .dropdown-menu.exploreul {
        left: 5%;
        margin: 0;
        position: absolute;
        right: 0;
        top: 100px;
        width: 90%
    }
    .sidebtn .dropdown-menu.exploreul.mysign::before {
        right: 82px
    }
    .full_mobile {
        width: 100%
    }
    .altpopup {
        width: 96%
    }
    .round-domestk .wayeght {
        width: 100%
    }
    .round-domestk .wayfour {
        width: 100%
    }
    .round-domestk .quarter_wdth {
        width: 25%
    }
    .round-domestk .smal_udayp {
        margin-top: 0;
        width: 25%
    }
    .smal_udayp .insidesame {
        padding: 10px 5px
    }
    .round-domestk .bigtimef {
        line-height: 12px
    }
    .round-domestk .priceanbook .insidesame {
        padding: 0
    }
    .round-domestk .priceanbook {
        margin: -25px 0 0
    }
    .round-domestk .waybook {
        bottom: -36px;
        display: block;
        left: auto;
        position: absolute;
        right: 0;
        width: 70px
    }
    .round-domestk .insidecurent .padflt.nonefity {
        display: none
    }
    .round-domestk .padflt.widfty {
        width: 50%
    }
    .round-domestk .padflt.widfty .timlbl {
        font-size: 12px
    }
    .insidecurent .sidepricewrp {
        padding: 2px 0
    }
    .labltowr {
        font-size: 14px;
        color: #333
    }
    .full_smal_forty {
        width: 100%
    }
    .tonavtorum,
    .hoteldetsname,
    .shtlnamehotl {
        font-size: 14px
    }
    .hoteloctnf {
        font-size: 12px
    }
    .sidepricewrp {
        margin: 0
    }
    .sortli.oprtrli {
        display: none
    }
    .bus_sorting.sortul .sortli {
        width: 25%!important
    }
    .busername,
    .seatcnt {
        font-size: 14px
    }
    .bustype,
    .timelabelf {
        font-size: 12px
    }
    .duration {
        font-size: 10px
    }
    .contbk,
    .temsandcndtn {
        padding: 10px 0
    }
    .infowone {
        padding: 0
    }
    .alldasbord {
        padding: 10px
    }
    .nav-tabs.central_tab li a {
        padding: 0 10px
    }
}
@media(max-width:360px) {
    .sepmenus {
        top: 60px
    }
    /*.section_top,
    .flags {
        display: none
    }*/
    .flag_images {
        margin: 8px 20px 0 0
    }
   /* .sidebtn .dropdown-menu.exploreul {
        top: 60px
    }*/
    .sidebtn .dropdown-menu.exploreul.mysign::before {
        right: 72px
    }
    .coleft {
        width: 80%
    }
    .filterforall.addtwofilter .sorta strong {
        font-size: 9px
    }
    .portnme {
        font-size: 10px
    }
    .selectedwrap::after {
        font-size: 8px;
        width: 18px
    }
    .starrtinghotl.rating-no {
        margin: 0;
        position: static
    }
    .shtlnamehotl {
        padding-right: 0
    }
    .imagehtldis img {
        max-height: 100px;
        min-height: auto
    }
    .none_rit {
        width: 100%
    }
    .fifty_rums {
        width: 100%
    }
    .canrumpoly {
        display: none
    }
    .arowwspr {
        padding: 5px 0
    }
    .flling_name .col-xs-5,
    .flling_name .col-xs-4,
    .flling_name .col-xs-3 {
        width: 100%
    }
}
.responsive-tabs-container[class*="accordion-"] .tab-pane {
    margin-bottom: 15px
}
.responsive-tabs-container[class*="accordion-"] .accordion-link {
    background-color: #595959;
    border-radius: 3px;
    color: #fff;
    display: none;
    float: left;
    margin-bottom: 10px;
    padding: 15px;
    width: 100%
}
@media (max-width: 767px) {
    .responsive-tabs-container.accordion-xs .nav-tabs {
        display: none
    }
    .responsive-tabs-container.accordion-xs .accordion-link {
        display: block
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .responsive-tabs-container.accordion-sm .nav-tabs {
        display: none
    }
    .responsive-tabs-container.accordion-sm .accordion-link {
        display: block
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .responsive-tabs-container.accordion-md .nav-tabs {
        display: none
    }
    .responsive-tabs-container.accordion-md .accordion-link {
        display: block
    }
}
@media (min-width: 1200px) {
    .responsive-tabs-container.accordion-lg .nav-tabs {
        display: none
    }
    .responsive-tabs-container.accordion-lg .accordion-link {
        display: block
    }
}