.customtab .nav-tabs > li.active > a, .customtab .nav-tabs > li.active > a:hover, .customtab .nav-tabs > li.active > a:focus {
    background: rgb(208, 4, 12);
    color: #fff;
    border: 1px solid #d0040c;
}
.wament.active {
    background: #ff343c none repeat scroll 0 0;
}
.ritsude > li.login_after {
    background-color: #d0040c;
}
.mysign1 li.active a, .mysign1 li:hover a{
    background: #ff2f38 none repeat scroll 0 0;
}
.srchbutn{
    background: #d0040c none repeat scroll 0 0;
    border: 1px solid #d0040c;
}
.srchbutn:hover {
    background: #ff3f46;
    border: 1px solid #ff3f46;
}
.ui-widget-content a.ui-state-focus {
    background: rgb(251, 159, 159) none repeat scroll 0 0;
}

.boxtop {
    background: #a50e14 none repeat scroll 0 0;
    border-bottom: 1px solid #a50e14;
}