.ui-datepicker-title {
    color: #0F0F0F
}
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden
}
.domain_logo_align {
    margin-top: 30px
}
.bus-booking {
    background-color: #dd4b39!important;
    color: #FFF!important;
    border: 1px solid #dd4b39!important
}
.hotel-booking {
    background-color: #00a65a!important;
    color: #FFF!important;
    border: 1px solid #00a65a!important
}
.flight-booking {
    background-color: #0073b7!important;
    color: #FFF!important;
    border: 1px solid #0073b7!important
}
.bus-l-bg {
    background-color: #dd4b39!important;
    color: #000!important;
    border: 1px solid #dd4b39!important
}
.hotel-l-bg {
    background-color: #00a65a!important;
    color: #000!important;
    border: 1px solid #00a65a!important
}
.flight-l-bg {
    background-color: #0073b7!important;
    color: #000!important;
    border: 1px solid #0073b7!important
}
.package-l-bg {
    background-color: #f39c12!important;
    color: #000!important;
    border: 1px solid #f39c12!important
}
.bg-attractive {
    background-color: #4dd0e1!important;
    color: #000!important
}
.active-event {
    background-color: #0d47a1!important;
    color: #FFF!important;
    border: 1px solid #0d47a1!important
}
.inactive-event {
    background-color: #2196f3!important;
    color: #FFF!important;
    border: 1px solid #2196f3!important
}
.white-text {
    color: #FFF!important
}
.bg-white {
    background-color: #fff!important
}
.login-ip {
    width: 200px
}
.mini-info-box {
    background: #fff none repeat scroll 0 0;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    display: block;
    margin-bottom: 3px;
    min-height: 60px;
    width: 100%
}
.mini-info-box-icon {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    border-radius: 2px 0 0 2px;
    display: block;
    float: left;
    font-size: 29px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 85px
}
.mini-info-box-content {
    margin-left: 90px;
    padding: 5px
}
.bg-gray {
    background-color: #d2d6de!important;
    color: #000
}
.bg-black {
    background-color: #111!important
}
.bg-red,
.callout.callout-danger,
.alert-danger,
.alert-error,
.label-danger,
.modal-danger .modal-body {
    background-color: #dd4b39!important
}
.bg-yellow,
.callout.callout-warning,
.alert-warning,
.label-waring,
.modal-warning .modal-body {
    background-color: #f39c12!important
}
.bg-aqua,
.callout.callout-info,
.alert-info,
.label-info,
.modal-info .modal-body {
    background-color: #00c0ef!important
}
.bg-blue {
    background-color: #0073b7!important
}
.bg-light-blue,
.label-primary,
.modal-primary .modal-body {
    background-color: #3c8dbc!important
}
.bg-green,
.callout.callout-success,
.alert-success,
.label-success,
.modal-success .modal-body {
    background-color: #00a65a!important
}
.bg-navy {
    background-color: #001f3f!important
}
.bg-teal {
    background-color: #39cccc!important
}
.bg-olive {
    background-color: #3d9970!important
}
.bg-lime {
    background-color: #01ff70!important
}
.bg-orange {
    background-color: #ff851b!important
}
.bg-fuchsia {
    background-color: #f012be!important
}
.bg-purple {
    background-color: #605ca8!important
}
.bg-maroon {
    background-color: #d81b60!important
}
.bg-gray-active {
    background-color: #b5bbc8!important;
    color: #000
}
.bg-black-active {
    background-color: #000!important
}
.bg-red-active,
.modal-danger .modal-header,
.modal-danger .modal-footer {
    background-color: #d33724!important
}
.bg-yellow-active,
.modal-warning .modal-header,
.modal-warning .modal-footer {
    background-color: #db8b0b!important
}
.bg-aqua-active,
.modal-info .modal-header,
.modal-info .modal-footer {
    background-color: #00a7d0!important
}
.bg-blue-active {
    background-color: #005384!important
}
.bg-light-blue-active,
.modal-primary .modal-header,
.modal-primary .modal-footer {
    background-color: #357ca5!important
}
.bg-green-active,
.modal-success .modal-header,
.modal-success .modal-footer {
    background-color: #008d4c!important
}
.bg-navy-active {
    background-color: #001a35!important
}
.bg-teal-active {
    background-color: #30bbbb!important
}
.bg-olive-active {
    background-color: #368763!important
}
.bg-lime-active {
    background-color: #00e765!important
}
.bg-orange-active {
    background-color: #ff7701!important
}
.bg-fuchsia-active {
    background-color: #db0ead!important
}
.bg-purple-active {
    background-color: #555299!important
}
.bg-maroon-active {
    background-color: #ca195a!important
}
.disabled[class ^="bg-"] {
    opacity: .65
}
.text-red {
    color: #dd4b39!important
}
.text-yellow {
    color: #f39c12!important
}
.text-aqua {
    color: #00c0ef!important
}
.text-blue {
    color: #0073b7!important
}
.text-black {
    color: #111!important
}
.text-light-blue {
    color: #3c8dbc!important
}
.text-green {
    color: #00a65a!important
}
.text-gray {
    color: #d2d6de!important
}
.text-navy {
    color: #001f3f!important
}
.text-teal {
    color: #39cccc!important
}
.text-olive {
    color: #3d9970!important
}
.text-lime {
    color: #01ff70!important
}
.text-orange {
    color: #ff851b!important
}
.text-fuchsia {
    color: #f012be!important
}
.text-purple {
    color: #605ca8!important
}
.text-maroon {
    color: #d81b60!important
}
.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black,
.bg-red-active,
.bg-yellow-active,
.bg-aqua-active,
.bg-blue-active,
.bg-light-blue-active,
.bg-green-active,
.bg-navy-active,
.bg-teal-active,
.bg-olive-active,
.bg-lime-active,
.bg-orange-active,
.bg-fuchsia-active,
.bg-purple-active,
.bg-maroon-active,
.bg-black-active,
.callout.callout-danger,
.callout.callout-warning,
.callout.callout-info,
.callout.callout-success,
.alert-success,
.alert-danger,
.alert-error,
.alert-warning,
.alert-info,
.label-danger,
.label-info,
.label-waring,
.label-primary,
.label-success,
.modal-primary .modal-body,
.modal-primary .modal-header,
.modal-primary .modal-footer,
.modal-warning .modal-body,
.modal-warning .modal-header,
.modal-warning .modal-footer,
.modal-info .modal-body,
.modal-info .modal-header,
.modal-info .modal-footer,
.modal-success .modal-body,
.modal-success .modal-header,
.modal-success .modal-footer,
.modal-danger .modal-body,
.modal-danger .modal-header,
.modal-danger .modal-footer {
    color: #fff!important
}
.result-pre-loader-container .progress {
    height: 27px
}
.result-pre-loader-container .progress .progress-bar-color {
    padding: 2px 0 0
}
.result-pre-loader-container .progress-bar-striped,
.result-pre-loader-container .progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(45deg, rgba(99, 200, 0, 0.8) 25%, transparent 25%, transparent 50%, rgba(99, 200, 0, 0.8) 50%, rgba(99, 200, 0, 0.8) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(99, 200, 0, 0.8) 25%, transparent 25%, transparent 50%, rgba(99, 200, 0, 0.8) 50%, rgba(99, 200, 0, 0.8) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(99, 200, 0, 0.8) 25%, transparent 25%, transparent 50%, rgba(99, 200, 0, 0.8) 50%, rgba(99, 200, 0, 0.8) 75%, transparent 75%, transparent);
    -webkit-background-size: 10px 10px;
    background-size: 10px 10px;
    width: 100%;
    font-size: 0!important;
    color: #FFF
}
.result-pre-loader-container .progress-bar {
    text-shadow: -2px -1px 0 #fff;
    background-color: #EFEFEF;
    color: #222;
    font-size: 13px;
    font-weight: 700
}
.result-pre-loader {
    opacity: .99;
    background: #fff none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    background: #fff none repeat scroll 0 0
}
.result-pre-loader-container {
    bottom: 0;
    height: 200px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 600px
}
.result-pre-loader-container i.icn {
    float: left;
    width: 50px
}
.result-pre-loader-container i.icn img {
    float: left;
    width: 100%
}
.result-pre-loader-container h3 {
    color: #909090;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    margin: 15px 0;
    text-align: center;
    width: 100%
}
.result-pre-loader-container h4 {
    color: #bc1323;
    float: right;
    font-size: 30px;
    font-weight: 700;
    line-height: 25px;
    margin: 0;
    text-align: left;
    text-transform: uppercase;
    width: 100%
}
.result-pre-loader-container h5 {
    color: #454545;
    float: right;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin: 0;
    text-align: left;
    text-transform: capitalize;
    width: 100%
}
.flag {
    width: 16px;
    height: 11px;
    display: inline-block;
    background: url(../images/flags.png) no-repeat
}
.flag.flag-ad {
    background-position: -16px 0
}
.flag.flag-ae {
    background-position: -32px 0
}
.flag.flag-af {
    background-position: -48px 0
}
.flag.flag-ag {
    background-position: -64px 0
}
.flag.flag-ai {
    background-position: -80px 0
}
.flag.flag-al {
    background-position: -96px 0
}
.flag.flag-am {
    background-position: -112px 0
}
.flag.flag-an {
    background-position: -128px 0
}
.flag.flag-ao {
    background-position: -144px 0
}
.flag.flag-ar {
    background-position: -160px 0
}
.flag.flag-as {
    background-position: -176px 0
}
.flag.flag-at {
    background-position: -192px 0
}
.flag.flag-au {
    background-position: -208px 0
}
.flag.flag-aw {
    background-position: -224px 0
}
.flag.flag-az {
    background-position: -240px 0
}
.flag.flag-ba {
    background-position: 0 -11px
}
.flag.flag-bb {
    background-position: -16px -11px
}
.flag.flag-bd {
    background-position: -32px -11px
}
.flag.flag-be {
    background-position: -48px -11px
}
.flag.flag-bf {
    background-position: -64px -11px
}
.flag.flag-bg {
    background-position: -80px -11px
}
.flag.flag-bh {
    background-position: -96px -11px
}
.flag.flag-bi {
    background-position: -112px -11px
}
.flag.flag-bj {
    background-position: -128px -11px
}
.flag.flag-bm {
    background-position: -144px -11px
}
.flag.flag-bn {
    background-position: -160px -11px
}
.flag.flag-bo {
    background-position: -176px -11px
}
.flag.flag-br {
    background-position: -192px -11px
}
.flag.flag-bs {
    background-position: -208px -11px
}
.flag.flag-bt {
    background-position: -224px -11px
}
.flag.flag-bv {
    background-position: -240px -11px
}
.flag.flag-bw {
    background-position: 0 -22px
}
.flag.flag-by {
    background-position: -16px -22px
}
.flag.flag-bz {
    background-position: -32px -22px
}
.flag.flag-ca {
    background-position: -48px -22px
}
.flag.flag-catalonia {
    background-position: -64px -22px
}
.flag.flag-cd {
    background-position: -80px -22px
}
.flag.flag-cf {
    background-position: -96px -22px
}
.flag.flag-cg {
    background-position: -112px -22px
}
.flag.flag-ch {
    background-position: -128px -22px
}
.flag.flag-ci {
    background-position: -144px -22px
}
.flag.flag-ck {
    background-position: -160px -22px
}
.flag.flag-cl {
    background-position: -176px -22px
}
.flag.flag-cm {
    background-position: -192px -22px
}
.flag.flag-cn {
    background-position: -208px -22px
}
.flag.flag-co {
    background-position: -224px -22px
}
.flag.flag-cr {
    background-position: -240px -22px
}
.flag.flag-cu {
    background-position: 0 -33px
}
.flag.flag-cv {
    background-position: -16px -33px
}
.flag.flag-cw {
    background-position: -32px -33px
}
.flag.flag-cy {
    background-position: -48px -33px
}
.flag.flag-cz {
    background-position: -64px -33px
}
.flag.flag-de {
    background-position: -80px -33px
}
.flag.flag-dj {
    background-position: -96px -33px
}
.flag.flag-dk {
    background-position: -112px -33px
}
.flag.flag-dm {
    background-position: -128px -33px
}
.flag.flag-do {
    background-position: -144px -33px
}
.flag.flag-dz {
    background-position: -160px -33px
}
.flag.flag-ec {
    background-position: -176px -33px
}
.flag.flag-ee {
    background-position: -192px -33px
}
.flag.flag-eg {
    background-position: -208px -33px
}
.flag.flag-eh {
    background-position: -224px -33px
}
.flag.flag-england {
    background-position: -240px -33px
}
.flag.flag-er {
    background-position: 0 -44px
}
.flag.flag-es {
    background-position: -16px -44px
}
.flag.flag-et {
    background-position: -32px -44px
}
.flag.flag-eu {
    background-position: -48px -44px
}
.flag.flag-fi {
    background-position: -64px -44px
}
.flag.flag-fj {
    background-position: -80px -44px
}
.flag.flag-fk {
    background-position: -96px -44px
}
.flag.flag-fm {
    background-position: -112px -44px
}
.flag.flag-fo {
    background-position: -128px -44px
}
.flag.flag-fr {
    background-position: -144px -44px
}
.flag.flag-ga {
    background-position: -160px -44px
}
.flag.flag-gb {
    background-position: -176px -44px
}
.flag.flag-gd {
    background-position: -192px -44px
}
.flag.flag-ge {
    background-position: -208px -44px
}
.flag.flag-gf {
    background-position: -224px -44px
}
.flag.flag-gg {
    background-position: -240px -44px
}
.flag.flag-gh {
    background-position: 0 -55px
}
.flag.flag-gi {
    background-position: -16px -55px
}
.flag.flag-gl {
    background-position: -32px -55px
}
.flag.flag-gm {
    background-position: -48px -55px
}
.flag.flag-gn {
    background-position: -64px -55px
}
.flag.flag-gp {
    background-position: -80px -55px
}
.flag.flag-gq {
    background-position: -96px -55px
}
.flag.flag-gr {
    background-position: -112px -55px
}
.flag.flag-gs {
    background-position: -128px -55px
}
.flag.flag-gt {
    background-position: -144px -55px
}
.flag.flag-gu {
    background-position: -160px -55px
}
.flag.flag-gw {
    background-position: -176px -55px
}
.flag.flag-gy {
    background-position: -192px -55px
}
.flag.flag-hk {
    background-position: -208px -55px
}
.flag.flag-hm {
    background-position: -224px -55px
}
.flag.flag-hn {
    background-position: -240px -55px
}
.flag.flag-hr {
    background-position: 0 -66px
}
.flag.flag-ht {
    background-position: -16px -66px
}
.flag.flag-hu {
    background-position: -32px -66px
}
.flag.flag-ic {
    background-position: -48px -66px
}
.flag.flag-id {
    background-position: -64px -66px
}
.flag.flag-ie {
    background-position: -80px -66px
}
.flag.flag-il {
    background-position: -96px -66px
}
.flag.flag-im {
    background-position: -112px -66px
}
.flag.flag-in {
    background-position: -128px -66px
}
.flag.flag-io {
    background-position: -144px -66px
}
.flag.flag-iq {
    background-position: -160px -66px
}
.flag.flag-ir {
    background-position: -176px -66px
}
.flag.flag-is {
    background-position: -192px -66px
}
.flag.flag-it {
    background-position: -208px -66px
}
.flag.flag-je {
    background-position: -224px -66px
}
.flag.flag-jm {
    background-position: -240px -66px
}
.flag.flag-jo {
    background-position: 0 -77px
}
.flag.flag-jp {
    background-position: -16px -77px
}
.flag.flag-ke {
    background-position: -32px -77px
}
.flag.flag-kg {
    background-position: -48px -77px
}
.flag.flag-kh {
    background-position: -64px -77px
}
.flag.flag-ki {
    background-position: -80px -77px
}
.flag.flag-km {
    background-position: -96px -77px
}
.flag.flag-kn {
    background-position: -112px -77px
}
.flag.flag-kp {
    background-position: -128px -77px
}
.flag.flag-kr {
    background-position: -144px -77px
}
.flag.flag-kurdistan {
    background-position: -160px -77px
}
.flag.flag-kw {
    background-position: -176px -77px
}
.flag.flag-ky {
    background-position: -192px -77px
}
.flag.flag-kz {
    background-position: -208px -77px
}
.flag.flag-la {
    background-position: -224px -77px
}
.flag.flag-lb {
    background-position: -240px -77px
}
.flag.flag-lc {
    background-position: 0 -88px
}
.flag.flag-li {
    background-position: -16px -88px
}
.flag.flag-lk {
    background-position: -32px -88px
}
.flag.flag-lr {
    background-position: -48px -88px
}
.flag.flag-ls {
    background-position: -64px -88px
}
.flag.flag-lt {
    background-position: -80px -88px
}
.flag.flag-lu {
    background-position: -96px -88px
}
.flag.flag-lv {
    background-position: -112px -88px
}
.flag.flag-ly {
    background-position: -128px -88px
}
.flag.flag-ma {
    background-position: -144px -88px
}
.flag.flag-mc {
    background-position: -160px -88px
}
.flag.flag-md {
    background-position: -176px -88px
}
.flag.flag-me {
    background-position: -192px -88px
}
.flag.flag-mg {
    background-position: -208px -88px
}
.flag.flag-mh {
    background-position: -224px -88px
}
.flag.flag-mk {
    background-position: -240px -88px
}
.flag.flag-ml {
    background-position: 0 -99px
}
.flag.flag-mm {
    background-position: -16px -99px
}
.flag.flag-mn {
    background-position: -32px -99px
}
.flag.flag-mo {
    background-position: -48px -99px
}
.flag.flag-mp {
    background-position: -64px -99px
}
.flag.flag-mq {
    background-position: -80px -99px
}
.flag.flag-mr {
    background-position: -96px -99px
}
.flag.flag-ms {
    background-position: -112px -99px
}
.flag.flag-mt {
    background-position: -128px -99px
}
.flag.flag-mu {
    background-position: -144px -99px
}
.flag.flag-mv {
    background-position: -160px -99px
}
.flag.flag-mw {
    background-position: -176px -99px
}
.flag.flag-mx {
    background-position: -192px -99px
}
.flag.flag-my {
    background-position: -208px -99px
}
.flag.flag-mz {
    background-position: -224px -99px
}
.flag.flag-na {
    background-position: -240px -99px
}
.flag.flag-nc {
    background-position: 0 -110px
}
.flag.flag-ne {
    background-position: -16px -110px
}
.flag.flag-nf {
    background-position: -32px -110px
}
.flag.flag-ng {
    background-position: -48px -110px
}
.flag.flag-ni {
    background-position: -64px -110px
}
.flag.flag-nl {
    background-position: -80px -110px
}
.flag.flag-no {
    background-position: -96px -110px
}
.flag.flag-np {
    background-position: -112px -110px
}
.flag.flag-nr {
    background-position: -128px -110px
}
.flag.flag-nu {
    background-position: -144px -110px
}
.flag.flag-nz {
    background-position: -160px -110px
}
.flag.flag-om {
    background-position: -176px -110px
}
.flag.flag-pa {
    background-position: -192px -110px
}
.flag.flag-pe {
    background-position: -208px -110px
}
.flag.flag-pf {
    background-position: -224px -110px
}
.flag.flag-pg {
    background-position: -240px -110px
}
.flag.flag-ph {
    background-position: 0 -121px
}
.flag.flag-pk {
    background-position: -16px -121px
}
.flag.flag-pl {
    background-position: -32px -121px
}
.flag.flag-pm {
    background-position: -48px -121px
}
.flag.flag-pn {
    background-position: -64px -121px
}
.flag.flag-pr {
    background-position: -80px -121px
}
.flag.flag-ps {
    background-position: -96px -121px
}
.flag.flag-pt {
    background-position: -112px -121px
}
.flag.flag-pw {
    background-position: -128px -121px
}
.flag.flag-py {
    background-position: -144px -121px
}
.flag.flag-qa {
    background-position: -160px -121px
}
.flag.flag-re {
    background-position: -176px -121px
}
.flag.flag-ro {
    background-position: -192px -121px
}
.flag.flag-rs {
    background-position: -208px -121px
}
.flag.flag-ru {
    background-position: -224px -121px
}
.flag.flag-rw {
    background-position: -240px -121px
}
.flag.flag-sa {
    background-position: 0 -132px
}
.flag.flag-sb {
    background-position: -16px -132px
}
.flag.flag-sc {
    background-position: -32px -132px
}
.flag.flag-scotland {
    background-position: -48px -132px
}
.flag.flag-sd {
    background-position: -64px -132px
}
.flag.flag-se {
    background-position: -80px -132px
}
.flag.flag-sg {
    background-position: -96px -132px
}
.flag.flag-sh {
    background-position: -112px -132px
}
.flag.flag-si {
    background-position: -128px -132px
}
.flag.flag-sk {
    background-position: -144px -132px
}
.flag.flag-sl {
    background-position: -160px -132px
}
.flag.flag-sm {
    background-position: -176px -132px
}
.flag.flag-sn {
    background-position: -192px -132px
}
.flag.flag-so {
    background-position: -208px -132px
}
.flag.flag-somaliland {
    background-position: -224px -132px
}
.flag.flag-sr {
    background-position: -240px -132px
}
.flag.flag-ss {
    background-position: 0 -143px
}
.flag.flag-st {
    background-position: -16px -143px
}
.flag.flag-sv {
    background-position: -32px -143px
}
.flag.flag-sx {
    background-position: -48px -143px
}
.flag.flag-sy {
    background-position: -64px -143px
}
.flag.flag-sz {
    background-position: -80px -143px
}
.flag.flag-tc {
    background-position: -96px -143px
}
.flag.flag-td {
    background-position: -112px -143px
}
.flag.flag-tf {
    background-position: -128px -143px
}
.flag.flag-tg {
    background-position: -144px -143px
}
.flag.flag-th {
    background-position: -160px -143px
}
.flag.flag-tibet {
    background-position: -176px -143px
}
.flag.flag-tj {
    background-position: -192px -143px
}
.flag.flag-tk {
    background-position: -208px -143px
}
.flag.flag-tl {
    background-position: -224px -143px
}
.flag.flag-tm {
    background-position: -240px -143px
}
.flag.flag-tn {
    background-position: 0 -154px
}
.flag.flag-to {
    background-position: -16px -154px
}
.flag.flag-tr {
    background-position: -32px -154px
}
.flag.flag-tt {
    background-position: -48px -154px
}
.flag.flag-tv {
    background-position: -64px -154px
}
.flag.flag-tw {
    background-position: -80px -154px
}
.flag.flag-tz {
    background-position: -96px -154px
}
.flag.flag-ua {
    background-position: -112px -154px
}
.flag.flag-ug {
    background-position: -128px -154px
}
.flag.flag-um {
    background-position: -144px -154px
}
.flag.flag-us {
    background-position: -160px -154px
}
.flag.flag-uy {
    background-position: -176px -154px
}
.flag.flag-uz {
    background-position: -192px -154px
}
.flag.flag-va {
    background-position: -208px -154px
}
.flag.flag-vc {
    background-position: -224px -154px
}
.flag.flag-ve {
    background-position: -240px -154px
}
.flag.flag-vg {
    background-position: 0 -165px
}
.flag.flag-vi {
    background-position: -16px -165px
}
.flag.flag-vn {
    background-position: -32px -165px
}
.flag.flag-vu {
    background-position: -48px -165px
}
.flag.flag-wales {
    background-position: -64px -165px
}
.flag.flag-wf {
    background-position: -80px -165px
}
.flag.flag-ws {
    background-position: -96px -165px
}
.flag.flag-xk {
    background-position: -112px -165px
}
.flag.flag-ye {
    background-position: -128px -165px
}
.flag.flag-yt {
    background-position: -144px -165px
}
.flag.flag-za {
    background-position: -160px -165px
}
.flag.flag-zanzibar {
    background-position: -176px -165px
}
.flag.flag-zm {
    background-position: -192px -165px
}
.flag.flag-zw {
    background-position: -208px -165px
}
.invalid-ip {
    border: 1px solid #ff5b5b
}
.brdlbl {
    color: #555;
    display: block;
    font-size: 14px;
    margin: 10px 0 20px;
    overflow: hidden;
    text-align: center
}
.bokratinghotl {
    display: block;
    float: left;
    margin: 0 0 4px;
    overflow: hidden;
    direction: rtl;
}
.insidebook {
    background: none repeat scroll 0 0 #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.13);
    display: block;
    overflow: hidden
}
.bukhead {
    color: #666;
    display: block;
    font-size: 28px;
    font-weight: 500;
    margin: 0 0 10px;
    overflow: hidden;
    padding: 18px 10px 10px;
    text-align: center
}
.toprom {
    display: block;
    margin: 30px 0 0;
    overflow: hidden;
    padding: 0;
}
.topalldesc .bookcol {
    border:none;
    display: block;
    overflow: hidden
}
.bookcol {
    border: 1px solid #ddd;
    display: block;
    overflow: hidden
}
/*.bookcol:hover{
border: 1px solid #fc901b;
box-shadow: 0 0 10px -5px #fc901b;
}*/
.sckint {
    background: none repeat scroll 0 0 #fff;
    /* border: 1px solid #ddd; */
    display: block;
    /* margin: 0 0 0 20px; */
    overflow: hidden;
    padding: 5px 0 0 0;
}
.ffty {
    float: left;
    width: 50%
}
.lblbk {
    color: #666;
    display: block;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 10px 0
}
.fuldate {
    display: block;
    overflow: hidden;
    padding: 10px
}
.bigdate {
    color: #666;
    float: left;
    font-size: 40px;
    font-weight: 700;
    margin-right: 8px
}
.biginre {
    color: #666;
    display: block;
    font-size: 14px;
    margin: 9px 0 0;
    overflow: hidden
}
.nigthcunt {
    /*border-top: 1px solid #eee;*/
    color: #666;
    display: block;
    font-size: 14px;
    overflow: hidden;
    padding:0 10px;
    text-align: center
}
/*.borddo.brdrit {
    border-right: 1px solid #ddd;
    padding: 0 10px
}*/
/*.borddo {
    padding: 0 10px
}*/
.fuldate_book {
    display: block;
    height: 64px;
    /* margin: 0 auto; */
    overflow: hidden;
    text-align: left;
}
.lblbk_book .fa {
    font-size: 20px;
    padding: 0 5px 0 0;
    color: #fc901b;
}
.bigdate_book {
    color: #3a8bc1;
    display: table-cell;
    font-size: 40px;
    font-weight: 700;
    margin-right: 8px;
    padding: 0 10px;
    vertical-align: middle;
}
.biginre_book {
    color: #666;
    display: table-cell;
    font-size: 14px;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
}
.lblbk_book {
    color: #666;
    display: table;
    font-size: 14px;
    overflow: hidden;
    padding: 20px 10px 0 0;
    text-align: left;
    float: left;
}
.hotelistrowhtl .imagehotel {
    margin: 10px
}
.imagehotel {
    display: block;
    max-height: 115px;
    overflow: hidden
}
.imagehotel img {
    width: 100%;
    min-height: 115px
}
.padall10 {
    padding: 10px
}
.hotelhed {
    color: #198c8c;
    display: block;
    font-size: 24px;
    margin: 0;
    overflow: hidden;
}
.mensionspl {
    color: #333;
    display: block;
    margin: 2px 0 0;
    overflow: hidden;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
}
.padpaspotr .fligthsdets {
    display: block;
    margin: 0;
    overflow: hidden;
    padding:10px;
    background: #fff;
    border: 1px solid #ebebeb;
}
.mensionspl strong {
    float: left;
    font-weight: 400
}
.rating span.star::before, .rating-no span.star::before {
    font-size: 21px;
    margin: 0 6px 0 0;
}
.hotelistrowhtl .imagehotel {
    margin: 10px;
    height: 220px;
    max-height: 220px;
}
.imagehotel {
    display: block;
    max-height: 115px;
    overflow: hidden
}
.imagehotel img {
    width: 100%;
    min-height: 220px;
    height: 220px;
}
.agntigcs .imagehotel img {
    width: 100%;
    min-height: 240px;
    height: 240px;
}
.agntigcs .imagehotel {
    margin: 10px;
    height: 240px;
    max-height: 240px;
}