/*modify_search*/
.allpagewrp{ float:left; width:100%;}
.newmodify {background: #ffffff none repeat scroll 0 0;
    border-bottom: 1px solid #eee;
    float: left;
    width: 100%;
}
.contentsdw {float: left;padding: 15px 0;width: 100%;
}
.pad_ten {float: left;padding: 10px;width: 100%;
}
.sprite.marker_icon {background-position: -97px -260px;
}
.sprite.calendar_icon {background-position: -181px -261px;
}
.sprite.pasnger_icon {background-position: -269px -261px;
}
.disabled {opacity: 0.2;
}
.left_icon {float: left;height: 40px;width: 40px;
}
.from_to_place {display: block;overflow: hidden;padding-left: 10px;
}
.placename {color: #5f5f5f;display: block;font-size: 14px;margin: 0 0 8px;overflow: hidden; font-weight:normal;
}
.contryname {display: block;font-size: 16px;margin: 0;overflow: hidden;
	color:#000000; font-weight:normal;
}
.boxlabl {color: #5f5f5f;display: block;font-size: 14px;margin: 0 0 5px;overflow: hidden;
}
.boxlabl strong{margin-right: 5px;}
.faldate.fa {margin-right: 6px;
}
.datein {color: #000;display: block;font-size: 16px;overflow: hidden;
	 font-family: roboto;margin-top: -3px;
}
.countlbl {color: #000;display: block;font-size: 16px;overflow: hidden;margin-top: -3px;
}
.modifysrch {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: 1px solid #f88c3e;border-radius: 3px;float: left;font-size: 16px;height: 50px;padding: 0 40px 0 12px;position: relative;width: 100%;
}
.modifysrch strong{font-weight:normal;}
.down_caret::after {color: #f96800;content: "";font-family: "FontAwesome";font-size: 30px;position: absolute;right: 10px;top: 3px;
}
.inmodify {background: #f2f2f2 none repeat scroll 0 0;display: block;overflow: hidden;
}
.modify_search_wrap{ float:left; width:100%;background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;}
.modify_search_wrap .modifycontrols{ width:100%;}
.modify_search_wrap .modifycontrolsno{ display:none;}
.modify_search_wrap .whenfixmar{ margin:0px;}
.modify_search_wrap .onlynum .btn.btnpot{ float:right;display: table-cell;}
.modify_search_wrap .onlynum .btn.btnpot:first-child{ float:left;}
.modify_search_wrap .onlynum .form-control{ display:table-cell; float:none;}
.modify_search_wrap #modify{ overflow:hidden;}
.modify_search_wrap .tab-content{ background:none;}

/*flight_results*/
.contentsec {float: left;width: 100%;
	position:relative;
}
.filtrsrch {
   float: left;margin: 0 0 20px;position: relative;width: 100%;
}
/*left_side*/
.col30 {float: left;width: 25%;
}
.celsrch {background: #ffffff none repeat scroll 0 0;
    border: 1px solid #ffcc7e;
    float: left;
    margin: 20px 0 0;
    position: relative;
    width: 100%;
}
.boxtop {background: #f88c3e none repeat scroll 0 0;border-bottom: 1px solid #e5e4e4;color: #ffffff;float: left;margin: 0 0 30px;padding: 15px 15px 25px;position: relative;width: 100%;
}
.boxtop::after {background: #f96800 url("../../images/sprite.png") no-repeat scroll -152px -339px;border: 5px solid #ffffff;border-radius: 30px;bottom: -30px;content: "";height: 50px;left: 40%;position: absolute;width: 50px;
}
.filtersho { color: #eeeeee;display: block;font-size: 14px;margin: 4px 0;overflow: hidden;text-align: center;
}
.avlhtls {color: #ffffff;font-size: 18px;
}
.avlhtls strong {
   font-family:roboto;
   font-weight: normal;
}
.placenamefil {color: #fff;display: block;font-size: 18px;margin: 5px 0;overflow: hidden;text-align: center;
}
.nrow {color: #eee;display: block;font-size: 13px;overflow: hidden;text-align: center;
}
.norfilterr { float: left;width: 100%; position:relative;
}
.norfilterr .placenamefil{color: #353535;
    font-size: 15px;
    position: absolute;
    right: 15px;
    top: -30px;}
.placenamefil .fa {
    color: #666;
    font-size: 14px;
}
.outbnd{display: block;overflow: hidden;padding: 0 15px 15px;}
.rangebox {border-bottom: 1px dashed #dddddd;display: block;margin: 0 0 15px;overflow: hidden;
}
.ranghead {color: #353535;display: block;font-size: 18px;overflow: hidden;
}

.price_slider1 {margin: 0 0 15px;padding: 10px 15px;
}
.stoprow {display: block;overflow: hidden;padding: 20px 0;
}
.level {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: 0 none;color: #666;display: block;font-size: 14px;margin-bottom: 15px;overflow: hidden;text-align: center;width: 100%; font-family: roboto;
}
.price_slider1 .ui-widget-content {background: #ccc none repeat scroll 0 0;border-radius: 30px !important;box-shadow: none;
}
.price_slider1 .ui-widget-header {background:#fec933 none repeat scroll 0 0;box-shadow:none;
}
.price_slider1 .ui-state-default, .price_slider1 .ui-widget-content .ui-state-default, .price_slider1 .ui-widget-header .ui-state-default {
  background: #f88c3e none repeat scroll 0 0;border-radius: 50%;cursor: pointer;height: 20px;margin-left: -14px;top: -7px;width: 20px;
}
.septor {background: #e2e2e2 none repeat scroll 0 0;border-bottom: 1px solid #fafafa;display: block;height: 2px;margin: 12px 0;overflow: hidden;
}

.boxins {
}
.stopone {float: left;position: relative;text-align: center;width: 33.333%;
}
.relatboxs{display: block;height: 25px;line-height: 25px;position: relative;width: 100%;}
.relatboxs::after {background: #ececec none repeat scroll 0 0;border-radius: 5px;content: "";height: 6px;left: 0;position: absolute;right: 0;top: 42%;z-index: 0;
}
.rounds {background: #c4c3c2 none repeat scroll 0 0;border: 3px solid #ffffff;border-radius: 30px;cursor: pointer;height: 25px;position: relative;width: 25px;z-index: 1; margin:0px;
}
.toglefil.active .rounds {background: #f88c3e none repeat scroll 0 0;
}
.toglefil.active .rounds::after {color: #fff;content: "";display: block;font-family: fontawesome;font-size: 12px;font-weight: 100;left: 0;
	right:0; top:0;line-height: 18px;position: absolute;text-align: center;
}
.relatboxsone{display: block;position: relative;width: 100%; float:left;}

.starin {background: #fff none repeat scroll 0 0;display: block;font-size: 14px;overflow: hidden;text-align: center;
}
.stopbig {color: #353535;display: block;font-size: 18px;overflow: hidden; font-family: roboto;
}
.stopsml {color: #999;font-size: 12px;
}
.htlcount {color: #525252;display: block;font-size: 13px;margin: 3px 0 0;overflow: hidden;padding: 2px 0; font-family: roboto;
}
.locationul{display: block;overflow: hidden;position: relative; padding: 10px 0;}
.locationul::after {background: #ececec none repeat scroll 0 0;border-radius: 5px;bottom: 0;content: "";left: 10px;position: absolute;top:0;width: 6px;z-index: 0;
}

.padlow{ padding:10px 0;}
.timone {
   float: left;position: relative;text-align: center;width: 25%;
}
.sprte.png1 {background-position: -95px -459px;height: 40px;margin: 0 auto;width: 50px;
}
.sprte.png2 {background-position: -183px -459px;height: 40px;margin: 0 auto;width: 50px;
}
.sprte.png3 {background-position: -273px -459px;height: 40px;margin: 0 auto;width: 50px;
}
.sprte.png4 {background-position: -363px -459px;height: 40px;margin: 0 auto;width: 50px;
}
.locationul li {float: left;margin: 0 0 8px;width: 100%;
}
.squaredThree input[type="checkbox"] {
	visibility:hidden;
	margin:0
}
.squaredThree {
	float: left;
	margin-right: 8px;
	position: relative;
	width: 25px;z-index: 1;
}
.squaredThree label {
	background:#c4c3c2 none repeat scroll 0 0;border: 3px solid #fff;border-radius: 30px;cursor: pointer;height: 25px;left: 0;position: absolute;top: 0;width: 25px;
}
.squaredThree label::after {
 -moz-border-bottom-colors: none;
 -moz-border-left-colors: none;
 -moz-border-right-colors: none;
 -moz-border-top-colors: none;
 border-color: -moz-use-text-color -moz-use-text-color #fcfff4 #fcfff4;
 border-image: none;
 border-style: none none solid solid;
 border-width: medium medium 3px 3px;
 content: "";
 height: 7px;
 left: 5px;
 opacity: 0;
 position: absolute;
 top: 5px;
 transform: rotate(-45deg);
 width: 11px;
}
.squaredThree label:hover::after {
 opacity: 0.3;
}
.squaredThree input[type="checkbox"]:checked + label::after {
 opacity: 1;
}
.squaredThree input[type="checkbox"]:checked + label {
	background:#f88c3e;
}
.lbllbl {color: #666;display: block;font-size: 14px;font-weight: normal;
	line-height: 26px;margin: 0;overflow: hidden;
}
.filter_input{border: 1px solid #ddd;border-radius: 3px;color: #666;float: left;font-size: 16px;height: 50px;padding: 0 10px;width: 100%;}
.hotel_star_filter .timone{width:20%;}
.star_image{height: 40px;margin: 0 auto;width: 40px;}
.sprte.star_1{background-position: 15px -543px;}
.sprte.star_2{background-position: -35px -543px;}
.sprte.star_3{background-position: -85px -543px;}
.sprte.star_4{background-position: -140px -543px;}
.sprte.star_5{background-position: -185px -543px;}

/*right_side*/
.col70 {float: left;width: 75%;
}
.in70 {display: block;float: left;padding: 20px 0 0 20px;width: 100%;
}
.topmisty.hote_reslts .insidemyt{border:none;}
.topmisty.hote_reslts .sortul{background: #ffffff none repeat scroll 0 0;border: 1px solid #f88c3e;float:left; width:100%;}
.topmisty.hote_reslts .sortli{width:50%;}
.rit_view{float: right;}
.view_type{background: #ffffff none repeat scroll 0 0;border:1px solid #f88c3e;border-radius: 2px;
	box-shadow: 0 0 10px -5px #000;color: #555;float: left;font-size: 14px;line-height: 35px;margin-left: 10px;padding: 0 10px;}
.view_type .fa{color: #91a9b1;margin-right: 8px;}
.view_type.active{background: #ededed none repeat scroll 0 0;box-shadow: none;color: #333;}
.topmisty {
   display: block;float: left;margin: 0 0 10px;width: 100%;
}

.insidemyt {border: 1px solid #ddd;display: block;overflow: hidden;
}
.sortul {display: block;overflow: hidden;
}
.sortli {float: left;width: 20%;
}
.sorta {border-right: 1px solid #f88c3e;color: #474747;display: block;font-size: 14px;font-weight: 300;height: 35px;line-height: 35px;overflow: hidden;padding: 0 10px 0 0;position: relative;
}
.sorta:hover{color: #474747;}
.sirticon.fa {color: #999;
    float: left;
    font-size: 14px;
    line-height: 35px;
    margin: 0 10px;
    text-align: center;
    width: 25px;}
.sirticon.sort1{background-position: -100px -345px;}
.sirticon.sort2{background-position: -227px -345px;}
.sirticon.sort3{background-position: -298px -345px;}
.sirticon.sort4{background-position: -366px -347px;}
.sirticon.sort5{background-position: -422px -347px;}
.sorta.des::after {color: #999999;content: "";font-family: "FontAwesome";margin-left: 10px;position: absolute;right: 15px;
}
.sorta.ase::after {color: #999999;content:"\f0d7";font-family: "FontAwesome";margin-left: 10px;position: absolute;right: 15px;
}
.allresult {display: block;margin: 10px 0 0;min-height: 395px;position: relative;
	float:left; width:100%;
}
.rowresult {display: block;position: relative;transition: all 400ms ease-in-out 0s;
}
.carttoloadr{background: rgba(255, 255, 255, 0.9) url("../../images/preloader.gif") no-repeat scroll center center;border-radius: 10px;bottom: 0;box-shadow: 0 0 10px -5px #909090;display: none;left: 0;min-width: auto;position: fixed;right: 0;text-align: center;top: 0;z-index: 1000000;}
.carttoloadr strong {bottom: 40%;color: #333;display: block;font-size: 18px;font-weight: normal;left: 0;overflow: hidden;position: absolute;right: 0;text-align: center;
}
.madgrid {background: #ffffff none repeat scroll 0 0;border: 1px solid #e6e6e6;box-shadow: 0 0 5px #e6e6e6;display: block;float: left;margin: 5px 0;overflow: hidden;transition: all 300ms ease-in-out 0s;width: 100%;
}
.madgrid:hover {
    border: 1px solid #f88c3e;
    box-shadow: 0 0 5px #d6d6d6;
}
.madgrid .listfull {border-right: 1px solid #dddddd;
}
.nobord{ border-right:none;}
.rndplace {color: #60605f;display: block;font-size: 14px;overflow: hidden;
}
span.farrow {display: inline-block;font-size: 14px;height: 12px;position: relative;text-align: center;width: 30px;
}
.sidenamedesc {display: block;width: 100%;
}
.celhtl {float:left;
}

.width32 {width: 32%;}
.width50{width: 50%;}
.width18{width: 18%;}

.hotel_image::before{background: rgba(0, 0, 0, 0) url("../../images/no_image.png") no-repeat scroll center center;bottom: 0;content: "";left: 0;position: absolute;right: 0;top: 0;z-index: 0;}
.hotel_image {border: 1px solid #eee;display: block;height: 160px;line-height: 80px;margin: 15px;overflow: hidden;
	position:relative;text-align: center;}
.hotel_image > img {min-height: 160px;position: relative;width: 100%;z-index: 1;}

.hotel_location.fa{background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    font-size: 24px;
    height: 50px;
    left: 0;
    line-height: 50px;
    margin: -25px auto auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 80px;
    -webkit-transform: scale(0);
	-moz-transform: scale(0);
	transform: scale(0);
    -webkit-transition: all 300ms ease-in-out 0s;
	-moz-transition: all 300ms ease-in-out 0s;
	transition: all 300ms ease-in-out 0s;
    width: 50px;
    z-index: 10;}
.madgrid:hover .hotel_location.fa{-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 300ms ease-in-out 0s;
	-moz-transition: all 300ms ease-in-out 0s;
	transition: all 300ms ease-in-out 0s;}

.stra_hotel{display: block;
    margin: 5px 0;
    overflow: hidden;}
.stra_hotel .fa{color: #91a9b1;font-size: 13px;margin: 5px 2px;}
.stra_hotel[data-star="5"] .fa:nth-child(1), 
.stra_hotel[data-star="5"] .fa:nth-child(2), 
.stra_hotel[data-star="5"] .fa:nth-child(3), 
.stra_hotel[data-star="5"] .fa:nth-child(4), 
.stra_hotel[data-star="5"] .fa:nth-child(5),
.stra_hotel[data-star="4"] .fa:nth-child(1), 
.stra_hotel[data-star="4"] .fa:nth-child(2), 
.stra_hotel[data-star="4"] .fa:nth-child(3), 
.stra_hotel[data-star="4"] .fa:nth-child(4),
.stra_hotel[data-star="3"] .fa:nth-child(1), 
.stra_hotel[data-star="3"] .fa:nth-child(2), 
.stra_hotel[data-star="3"] .fa:nth-child(3),
.stra_hotel[data-star="2"] .fa:nth-child(1), 
.stra_hotel[data-star="2"] .fa:nth-child(2),
.stra_hotel[data-star="1"] .fa:nth-child(1){ color:#f88c3e;}	 	 	 	

.hotel_name{color: #07253f;display: block;font-size: 20px;font-weight: 500;overflow: hidden;}
.hotel_address{color: #666;display: block;font-size: 14px;overflow: hidden;padding: 4px 0;}
.hotel_info{color: #666;display: block;font-size: 13px;height: 80px;line-height: 20px;overflow: hidden;}
.elipsetool{color: #333;
    display: block;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;}


.airlinename {
   color: #666;display: block;overflow: hidden;padding: 3px 15px;text-align: left; font-family:roboto;
}
.width70 {width: 70%;
}
.sprite.reflone{background-position: -100px -404px;float: left;height: 30px;width: 40px; margin-right: 5px;}
.sprite.refltwo{background-position: -194px -404px;float: left;height: 30px;width: 40px; margin-right: 5px;}
.sprite.retime{background-position: -291px -404px;float: left;height: 20px;width: 20px;margin-right: 5px;}
.sprite.faredetail{background-position:-412px -403px;float: left;height: 25px;margin-right: 5px;width: 25px;}
.sprite.fldetail{background-position: -351px -404px;float: left;height: 25px;margin-right: 5px;width: 25px;}
.flname{font-size: 26px;}
.fltime{font-family: roboto;font-weight: 500;margin-left: 10px;}
.right {float: right;
}
.left{ float:left;}
.waymensn {display: block;overflow: hidden;
}
.flitruo_hotel {display: block;margin: 15px 0;overflow: hidden;padding: 0 10px 0 0;
}
.ifroundway .flitruo {border-bottom: 1px dashed #ddd;
}
.ifroundway .flitruo:last-child{ border-bottom:none;}
.oneplus{ display:none;background: #e0e0e0 none repeat scroll 0 0;}
.oneonly{opacity:0;}
.plusone .oneplus{ display: inline-block;}
.morestop .oneonly{ opacity:1;}
.ifroundway .fligthsmll{margin: 90px 10px 10px;}
.hoteldist {display: block;overflow: hidden;
}
.modal-backdrop{z-index: 10000000;}
.modal{z-index: 100000000;}
.detlnavi .widfty:first-child {text-align: right;
}
.timlbl {
   color: #07253f;display: block;font-size: 20px;overflow: hidden;
	 font-family: roboto;
}
.flitrlbl {color: #2d2b29;display: block;font-size: 14px;font-weight: 300;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; font-family:roboto;
}
.flicent.fa {background: #b0cdee none repeat scroll 0 0;border-radius: 30px;color: #555555;display: table;font-size: 16px;height: 30px;line-height: 30px;margin: 8px auto;text-align: center;width: 30px;
}
.lyovrtime {display: block;text-align: center;width: 100%;
}
.flect {
	color: #2d2b29;display: table;font-size: 14px;margin: 0 auto auto;padding: 5px 10px; font-family: roboto;
}
.flects {
   border: 1px solid #dddddd;color: #666666;display: table;font-size: 14px;margin: 8px auto auto;padding: 5px 10px; position:relative;
}
.instops{display: block;height: 25px;line-height: 25px;position: relative;width: 100%;}
.instops::after {background: #ececec none repeat scroll 0 0;border-radius: 5px;content: "";height: 6px;left: 30px;position: absolute;right: 30px;top: 30%;z-index: 0;
}
.instops .rounds{ width:20px; height:20px;}
.detailsflt:hover{color: #07253f;}
.mrinfrmtn {background: #f6f6f6 none repeat scroll 0 0;display: block;float: left;overflow: hidden;width: 100%;
}
.detailsflt {color: #07253f;display: block;float: left;font-size: 14px;line-height: 25px;overflow: hidden;padding: 9px 10px;
}
.flects::before {background: rgba(0, 0, 0, 0) url("../../images/sprite.png") no-repeat scroll -239px -51px;content: "";height: 15px;left: 50%;margin-left: -14px;position: absolute;top: -11px;width: 28px;
}
.flightimage {display: block;max-height: 130px;overflow: hidden;
}
.hotel_sideprice {background: #f6f6f6 none repeat scroll 0 0;
    border-left: 1px dashed #ddd;
    display: block;
    height: 190px;
    overflow: hidden;
    text-align: center;}
.sideprice_hotel {color: #f96800;
    display: block;
    font-family: roboto;
    font-size: 22px;
    font-weight: 500;
    line-height: 43px;
    margin: 10px 0 0;
    padding: 0 5px;
}
.bookbtn_htl {
   border-radius: 3px;
    display: block;
    margin: 10px;
    overflow: hidden;
}
.booknow {
   background: #f88c3e none repeat scroll 0 0;border: 1px solid #f88c3e;color: #fff;display: block;font-size: 16px;overflow: hidden;padding: 10px 35px;text-align: center;
}
.booknow:hover{ color:#fff;}

.filter_show{ background: #f96800 none repeat scroll 0 0;border: 0 none;border-radius: 100%;box-shadow: 0 1px 3px -2px #000;color: #fff;
	display:none;font-size: 18px;height: 40px;left: 0;position: absolute;top: -2px;width: 40px;z-index: 99;}
.close_filter{background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: 0 none;color: #c85c10;
	display:none;font-size: 18px;padding: 5px;position: absolute;right: 0;width: 40px;z-index: 10;}




.hotel_address .fa{color: #999999;
    margin-right: 5px;}
.side_amnties1{display: block;
    margin: 0 -2px;
    overflow: hidden;}
.hotel_fac1{  display: block;
    margin: 5px 0;
    overflow: hidden;}
.hotel_fac1 li{background: #efefef none repeat scroll 0 0;
    border-radius: 3px;
    display: table;
    float: left;
    font-size: 13px;
    margin: 2px;
    padding: 5px 10px;}



.hotel_map{float: left;
    height: 500px;
    margin: 5px 0;
    transition: all 300ms ease-in-out 0s;
    width: 0;}
.hotels_results{float:left;width:100%;transition:all 300ms ease-in-out;}
.map_hotel {
    background: none repeat scroll 0 0 #e5e3df;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 10;}


.allresult.map_open .hotel_map{width:80%;transition:all 300ms ease-in-out;}
.allresult.map_open .hotels_results{height: 500px;
    overflow-y: scroll;
    transition: all 300ms ease-in-out 0s;
    width: 20%;}

.allresult.map_open .stra_hotel, .allresult.map_open .hotel_address, .allresult.map_open .side_amnties, .allresult.map_open .width18{display:none;}
.allresult.map_open .width32, .allresult.map_open .width50{width:100%;}
.allresult.map_open .width32 .hotel_image > img{max-width: 250px;}
.allresult.map_open .flitruo_hotel {
    margin: 0 0 10px;
    padding: 0 10px;
    text-align: center;
}
.allresult.map_open .hotel_name {
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.map_hotel_pop{float: left;
    height: 400px;
    width: 100%;}

.set_trans_back{background: rgba(0, 0, 0, 0) url("../../images/trans_6.jpg") no-repeat center center;
	background-attachment:fixed;
	background-size:cover;
    bottom: 0;
    left: 0;
    opacity: 0.1;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;}
.sideprice_hotel span small {
    display: block;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    overflow: hidden;
}

@media screen and (max-width:1200px){
.propopum{width:95%;}
}


@media screen and (max-width: 991px){
.col30 {display:none;position: absolute;width: 45%;z-index: 100;
}
.col70{width:100%;}
.in70{padding:20px 0 0;}
.insidemyt {margin-left: 50px;}
.filter_show, .close_filter{display:block;}
.filtrsrch.open .col30{display:block;}
}

@media screen and (max-width: 850px){
.alltwobnd .ways_one{width:100%;}

}



@media screen and (max-width: 768px){
.sirticon{display:none;}
.sorta{padding:0 10px; text-align:center;}
.flname {font-size: 16px;
}
.sprite.reflone, .sprite.refltwo{display:none;}
.fare_flight{display:none;}
.sideprice{font-size:18px;}
.fare_full{width:100%;}
.madgrid .sidenamedesc .celhtl.width32{ width: 40%;}
.madgrid .sidenamedesc .celhtl.width50{ width: 60%;}
.madgrid .sidenamedesc .celhtl.width18{ width: 100%;}	
.celhtl.width18 .hotel_sideprice{ border-left: medium none;
    height: auto;}
.celhtl.width18 .hotel_sideprice .sideprice_hotel{float: left;
    margin: 0;
    text-align: right;
    width: 60%;}
.celhtl.width18 .hotel_sideprice .bookbtn_htl{ border-radius: 0;
    margin: 0;
    width: 40%;}
}
@media screen and (max-width: 650px) {
.fullshort{  width:100%;}
.noviews{ display:none;}
	
}

@media screen and (max-width: 550px){
.col30{width: 60%;}
.fligthsmll{width:60px;}
.width20, .width80{width:100%;}
.ifroundway .fligthsmll, .fligthsmll {float: left;height: auto;line-height: normal;margin: 5px;padding: 5px;width: auto;
}
.airlinename {line-height: 30px;padding: 5px;
}

	.madgrid .sidenamedesc .celhtl.width32{ width: 100%;}
.madgrid .sidenamedesc .celhtl.width50{ padding: 0 15px;
    width: 100%;}
}

@media screen and (max-width: 460px){
.hide_sort{display:none;}
.sortul.flight_sort .sortli{width:33.33%;}
.col30{width: 80%;}
.booknow{padding: 10px 15px;}
.width_hundred{width:100%;}
.flight_datails .imagesmflt{float:left;}
}

@media screen and (max-width: 420px){
.modifysrch strong{display:none;}
.modifysrch{float:right;width:50px;padding:0;}
.sorta{font-size:12px;}
.fltime{margin-left: 2px;}
.flname {font-size: 14px;
}
}
