.detail_htlname{color: #07253f;
    float: left;
    font-size: 22px;
    font-weight: 500;
    margin-right: 10px;}
.star_detail{float: left;}
.detal_htladrs{color: #414141;
    display: block;
    font-size: 16px;
    overflow: hidden; text-transform: capitalize;}
.view_map_dets{ border: 1px solid #16abde;text-transform: uppercase;
    border-radius: 5px;
    color: #fff !important;
    display: block;
    float: right;
    font-size: 15px;
    overflow: hidden; 
    padding:5px 15px; 
    margin: 4px 0px; 
    background: #16abde;
    text-align: center; text-decoration: none !important;}

.view_map_dets .fa{background: #f96800 none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    margin: 0 10px 0 0;
    text-align: center;
    width: 24px;}

.view_map_dets strong{font-weight: normal;}



.dets_section{float: left;
    /* padding: 25px 0; */ /* background: #ebebeb; */
    width: 100%;}

.fromtopmargin .dets_section .container {
    background: #ebebeb none repeat scroll 0 0;padding: 25px 15px;
}
.leftslider{float:left;width:100%;}
.bighotl {
    display: block;
    max-height: 235px;
    overflow: hidden;
}
.thumbimg{float: left;
    margin: 10px;
    max-height: 60px;
    overflow: hidden;}
.thumbimg img {
    min-height: 60px;
    min-width: 100%;
    width: 100%;
}
.bighotl img {
    width: 100%;

}

.hotel_fac li {
    background: url("../../images/hotel_aminities.png") no-repeat
        scroll 0 0;
    border: 3px solid #ebebeb !important;
    border-radius: 30px;
    float: left;
    height: 35px;
    margin: 4px;
    width: 35px;
}

.detowl.owl-theme .owl-controls{
    height: 80px;
    margin: 0;
    position: absolute;
    width: 100%;}
#sync2 {padding: 0 50px;}
.detowl.owl-theme .owl-controls .owl-buttons .owl-prev, .detowl.owl-theme .owl-controls .owl-buttons .owl-next {
    border-radius: 0;
    height: 60px;
    margin: 0;
    position: absolute;
    text-indent: -99999px;
    top: 10px;
    width: 40px;
    z-index: 10;
}
#sync1.detowl.owl-theme .owl-controls .owl-buttons .owl-prev {
    background: url("../../images/prev11.png") no-repeat scroll center center #2e3033;
    left: 0;
}
#sync1.detowl.owl-theme .owl-controls .owl-buttons .owl-next {
    background: url("../../images/next11.png") no-repeat scroll center center #2e3033;
    right: 0;
}
.detowl.owl-theme .owl-controls .owl-buttons .owl-prev {
    background: url("../../images/prev.png") no-repeat scroll center center #2e3033;
    left: 0;
}
.detowl.owl-theme .owl-controls .owl-buttons .owl-next {
    background: url("../../images/next.png") no-repeat scroll center center #2e3033;
    right: 0;
}
#owl_demo_1.owlindex3.owl-theme .owl-controls .owl-buttons .owl-next {
    background: url(../../images/next.png) no-repeat scroll center center !important;
    right: -120px;
    position: relative;
   
}
#owl_demo_1.owlindex3.owl-theme .owl-controls .owl-buttons .owl-prev {
    background: url(../../images/prev.png) no-repeat scroll center center !important;
    left: -120px;
    
    }
#owl_demo_1.owlindex3.owl-theme .owl-controls .owl-buttons .owl-prev, #owl_demo_1.owlindex3.owl-theme .owl-controls .owl-buttons .owl-next {
    height: 50px;
    opacity: 0.9;
}

.inside_detsy{display: block;
    margin: 0 15px;
    overflow: hidden;}
.dets_hotel {
    border-bottom: 1px dashed #ddd;
    display: block;
    overflow: hidden;
    padding: 0 0 0px;
}
.dets_hotel .hotel_address {font-weight: 500; color:#20364f;}
.price_strts{}
.price_froms{color: #666;
    display: block;
    font-size: 13px;
    overflow: hidden;
    padding: 15px 0;}
.price_froms strong{ color: #f96800;
    display: block;
    font-family: roboto;
    font-size: 22px;
    font-weight: 500;}
.room_select{background: #f58830 none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    display: block;
    font-size: 16px;
    line-height: 52px;
    overflow: hidden;
    padding: 0 10px;
    text-align: center;
    width: 80%;}
.room_select:hover{color:#333;}
.contact_hotel{/* background: #fff none repeat scroll 0 0;
    border: 1px solid #e6e6e6;*/
    border-radius: 3px;
    /*box-shadow: 0 0 5px #e6e6e6;*/
    float: left;
    font-size: 14px;
    overflow: hidden;
    width: 100%; margin-top: -40px;}

.head_hotel{background: none;
    color: #07253f;
    display: block;
    font-size: 18px;
    margin: 0;
    overflow: hidden;
    padding: 18px 0px 5px 0px;}
.dealday .contact_hotel {
    margin-top: -20px;
}
.inside_contact{display: block;
    overflow: hidden;
    padding: 20px 10px 10px;}
.row_contact,.row_terminal{display: block;
    font-size: 16px;
    margin: 15px 0;
    overflow: hidden;}
.row_contact .fa, .row_terminal .fa{color: #666;
    float: left;
	 margin: 5px 0 0;
    text-align: center;
    width: 50px;}
.row_contact strong{display: block;
    font-weight: normal;
    overflow: hidden;}
.roboto{font-family:roboto;}

.map_contact{background: rgba(0, 0, 0, 0) url("../../images/map_test.jpg") no-repeat scroll center center / cover ;
    display: block;
    height: 100px;
    margin: 15px 0 0;
    overflow: hidden;}
.map_contact .row_contact{background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
    line-height: 24px;
    margin: 0;
    padding: 20px 0;}

.shdoww {
    display: block;
    margin: 0 30px 0 0;
    overflow: hidden;
}
.hotel_detailtab{}
.htl_bigtab.nav-tabs{border-bottom: 3px solid #dadada;
    height: 70px;}
.htl_bigtab.nav-tabs li{}
.htl_bigtab.nav-tabs li a{border: 0 none;
    border-radius: 0;
    color: #666;
    font-size: 15px;
    height: 70px;
    padding: 10px 30px 0;}
.htl_bigtab.nav-tabs > li.active > a, .htl_bigtab.nav-tabs > li.active > a:hover, .htl_bigtab.nav-tabs > li.active > a:focus
{border:0;background:none; border-bottom: 3px solid #0b8378; color:#333;}
.htl_bigtab.nav-tabs > li a:hover{background:none;}

.htl_bigtab.nav-tabs li a .fa{color: #666;
    display: block;
    font-size: 18px;
    margin: 0 0 10px;
    overflow: hidden;
    text-align: center;}
.innertabs {
    float: left;
    width: 100%;
}
.htl_rumrow{}
.hotel_list{background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #ddd;
    float: left;
    padding: 10px 0;
    width: 100%;}
.imagehotel{display: block;
    overflow: hidden;}
.imagehotel img{width: 100%;max-height:110px;}
.in_center_htl{display: block;
    overflow: hidden;
    padding: 0 15px;}
.hotel_hed{color: #333;
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 5px;
    overflow: hidden;}
.hotel_sub_hed{color: #f96800;
    display: block;
    font-size: 14px;
    margin: 0 0 5px;
    overflow: hidden;}
.mensionspl{color: #666;
    display: block;
    font-size: 14px;
    margin: 0 0 5px;
    overflow: hidden;}
.menlbl{color:#444;}

.down_hotel {/* background: #f9f9f9; */
    float: left;
    /* padding: 30px 0; */
    width: 100%;}
.fromtopmargin .down_hotel .container {
    background: #f9f9f9 none repeat scroll 0 0;padding: 30px 15px;
}
.morerombtn{color: #428bca;
    float: left;
    font-size: 14px;
    padding: 5px;}
.morerombtn .fa{color:#666;margin-right:5px;}
.lyovrtime {
    display: block;
    text-align: center;
    width: 100%; padding: 15px;
}
.bordrit{}
.pricesec{float: right; width: 100%;}
.sideprice{color: #f96800;
    display: block;
    font-family: roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    margin: 10px 0 0;
    padding: 0 5px;
    text-align: center;}
.avgper{color: #666;
    display: block;
    font-size: 13px;
    font-weight: normal;
    overflow: hidden;}
.bookbtn{display: block;
    margin: 5px;
    overflow: hidden;}
.bookbtn .booknow{border-radius:3px;text-transform: uppercase;}
.list_popup{}
.listcancel::before{content:"\f1ce";
	color: #f88c3e;
    font-family: "FontAwesome";
    left: 0;
    position: absolute;
    top: 0;}
.listcancel{color: #333;
    display: block;
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 8px;
    overflow: hidden;
    padding: 0 0 0 25px;
    position: relative;}


.comenhtlsum {
    color: #666;
    display: block;
    font-size: 14px;
    line-height: 22px;
    overflow: hidden;
	text-align: justify;
}
.sumtab.collapsed::after{content:"\f078";}
.sumtab::after{content:"\f077";
	color: #bbb;
    font-family: "FontAwesome";
    font-size: 12px;
    position: absolute;
    right: 15px;}
	
.sumtab{background: #eee none repeat scroll 0 0;
    border: 0 none;
    color: #333;
    display: block;
    font-size: 15px;
    font-weight: 500;
    overflow: hidden;
    padding: 10px;
    position: relative;
    text-align: left;
    width: 100%;}
.parasub{ color: #666;
    display: block;
    font-size: 14px;
    line-height: 22px;
    overflow: hidden;
    padding: 10px 0;}
.linebrk{background: #fff none repeat scroll 0 0;
    display: block;
    height: 1px;
    margin: 5px 0;
    overflow: hidden;}
.checklist{float: left;
    width: 100%;}
.checklist li{color: #666;
    float: left;
    font-size: 14px;
    margin: 5px 0;
    width: 33.33%;}
.checklist li .fa{color:#f88c3e; margin-right:5px;}
.list_detail_tab{float: left;
    padding: 20px 0;
    width: 100%;}


.umay_also{}
.rowlikes{border-bottom: 1px dashed #ddd;
    display: block;
    margin: 0 0 10px;
    overflow: hidden;
    padding: 10px;}
.hotlealso{float: left;
    overflow: hidden;
    width: 80px;}
.hotlealso img{max-height: 100px;
    min-height: 80px;
    width: 100%;}
.alsodets{display: block;
    overflow: hidden;
    padding: 0 0 0 10px;}
.alsohed{color: #07253f;
    display: block;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;}
.pricealso{color: #666;
    display: block;
    font-size: 13px;
    overflow: hidden;}
.pricealso strong{color: #f96800;
    font-family: roboto;
    font-size: 16px;
    font-weight: 500;}
    
.address-suggested {font-size:11px;}
.dets_hotels{background: #fff none repeat scroll 0 0;
    float: left;
    padding: 20px;
    width: 100%;}
.mb10 { margin-bottom: 10px !important; }




/*slideshow*/
 	.provabslideshow-open {  }
 	.provabslideshow-lock { overflow: hidden !important; }

 	#provabslideshow-overlay {
		-webkit-transition: opacity 0.25s linear;
		   	 	transition: opacity 0.25s linear;
	}

	#provabslideshow * {
		-webkit-transition: none;
		   	 	transition: none;
	}

	#provabslideshow.animating {
		-webkit-transition: left 0.25s ease, opacity 0.25s linear, top 0.25s ease;
		   	 	transition: left 0.25s ease, opacity 0.25s linear, top 0.25s ease;}
	
	#provabslideshow.animating .provabslideshow-container {
		-webkit-transition: height 0.25s ease, width 0.25s ease;
		   	 	transition: height 0.25s ease, width 0.25s ease;}
	

 	#provabslideshow.animating .provabslideshow-content {
		-webkit-transition: opacity 0.25s linear;
		   	 	transition: opacity 0.25s linear;}
	

	#provabslideshow-overlay { background: #000; height: 100%; left: 0; opacity: 0; position: fixed; top: 0; width: 100%; z-index: 105; }
	#provabslideshow { background: #fff; border-radius: 3px; box-shadow: 0 0 25px #000; opacity: 0; padding: 10px; position: absolute; z-index: 105; }
	#provabslideshow.inline { padding: 30px; }


	.provabslideshow-open #provabslideshow-overlay  { opacity: 0.75; }
	.provabslideshow-open #provabslideshow,
	.provabslideshow-open #provabslideshow .provabslideshow-content { opacity:1;}  

	.provabslideshow-open #provabslideshow.loading .provabslideshow-content { opacity: 0; }


	#provabslideshow .provabslideshow-close { background: #fff url(../../images/jquery.fs.provabslideshow-icons.png) no-repeat -70px 10px; border-radius: 100%; cursor: pointer; display: block; height: 30px; position: absolute; padding: 0; right: -8px; top: -8px; width: 30px; text-indent: -99999px; z-index: 106; }

	#provabslideshow .provabslideshow-container { background: #fff; height: 100%; overflow: hidden; position: relative; width: 100%; z-index: 105; zoom: 1; }
	#provabslideshow .provabslideshow-content { background: #fff; opacity: 0; overflow: hidden; padding: 0; width: 10000px; }
	#provabslideshow .provabslideshow-image { float: left; }
	#provabslideshow .provabslideshow-video { height: 100%; width: 100%; }
	#provabslideshow .provabslideshow-iframe { border: none; float: left; height: 100%; overflow: auto; width: 100%; }
	#provabslideshow .provabslideshow-meta { clear: both; }

	#provabslideshow .provabslideshow-control { background: #fff url(../../images/jquery.fs.provabslideshow-icons.png) no-repeat 0 0; border-radius: 100%; box-shadow: 0 0 6px rgba(0, 0, 0, 0.4); cursor: pointer; display: block; height: 40px; margin-right: auto; margin-left: auto; position: absolute; text-indent: -99999px; top: 0; width: 40px;
		-webkit-transition: opacity 0.25s linear;
		   	 	transition: opacity 0.25s linear;
	}
	#provabslideshow .provabslideshow-control.previous { left: 20px; }
	#provabslideshow .provabslideshow-control.next { background-position: -40px 0; right: 20px; }
	#provabslideshow .provabslideshow-control.disabled { opacity: 0.3; }

	#provabslideshow .provabslideshow-position { color: #999; font-size: 11px; margin: 0; padding: 15px 10px 5px; }
	#provabslideshow .provabslideshow-caption p { margin: 0; padding: 15px 10px 10px 10px; }
	#provabslideshow .provabslideshow-caption.gallery p { padding-top: 0; }

	#provabslideshow.loading .provabslideshow-container { background: #fff url(../../images/jquery.fs.provabslideshow-loading.gif) no-repeat center; }

	/* Mobile */
	#provabslideshow.mobile { background:none repeat scroll 0 0 rgba(0, 0, 0, 0.9); border-radius: 0; height: 100%; left: 0; padding: 30px 0 0; position: fixed; top: 0; width: 100%;z-index:1000000000; }
	#provabslideshow.mobile .provabslideshow-close { background-color: transparent; background-position: -70px -60px; border-radius: 0; right: 0; top: 0; }
	#provabslideshow.mobile .provabslideshow-container { background: transparent; position: relative; }
	#provabslideshow.mobile .provabslideshow-content { background-color:transparent; }
	#provabslideshow.mobile .provabslideshow-control { background-color: transparent; border-radius: 0; box-shadow: none; margin: -20px 0 0; top: 50%; }
	#provabslideshow.mobile .provabslideshow-control.previous { background-position: 0 -40px; float: left; left: 0; }
	#provabslideshow.mobile .provabslideshow-control.next { background-position: -40px -40px; float: right; right: 0; }
	#provabslideshow.mobile .provabslideshow-control.disabled { opacity: 0.3; }

	#provabslideshow.mobile .provabslideshow-meta { bottom: 0; background-color: rgba(0, 0, 0, 0.75); left: 0; padding: 15px 50px 10px; position: absolute; width: 100%; }
	#provabslideshow.mobile .provabslideshow-position { padding: 0; }
	#provabslideshow.mobile .provabslideshow-caption p { color: #eee; padding: 10px 0 0; }

	#provabslideshow.mobile .provabslideshow-image {
		-webkit-transition: none !important;
		        transition: none !important;
		-webkit-transform: translate(0px, 0px);
		    -ms-transform: translate(0px, 0px);
		        transform: translate(0px, 0px);
	}
	#provabslideshow.mobile.animated .provabslideshow-image {
		-webkit-transition: -webkit-transform 0.25s ease-out !important;
		        transition: 		transform 0.25s ease-out !important;
	}

	#provabslideshow.mobile.loading .provabslideshow-container { background: #000 url(../../images/jquery.fs.provabslideshow-loading-dark.gif) no-repeat center; }

	#provabslideshow.mobile.inline .provabslideshow-content,
	#provabslideshow.mobile.iframe .provabslideshow-content { overflow-x: hidden; overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
@media screen and (max-width: 991px) {
		/*.view_map_dets strong{display:none;}*/
		.view_map_dets .fa{ margin:0;}
		.inside_detsy{ margin:15px 15px 0 0;}
		.contact_hotel{margin:15px 0 0 0;}
		.shdoww{ margin:0;}
#map-box-frame{width:100% !important; height:300px !important;}
    }
	@media screen and (min-width: 980px) {
		#provabslideshow .provabslideshow-close:hover { background-position: -70px -60px; }

		#provabslideshow .provabslideshow-control,
		#provabslideshow .provabslideshow-control.disabled { opacity: 0; }
		#provabslideshow .provabslideshow-content:hover .provabslideshow-control { opacity: 0.75; }

		#provabslideshow .provabslideshow-content:hover .provabslideshow-control:hover { opacity: 1; }
		#provabslideshow .provabslideshow-content:hover .provabslideshow-control.disabled { opacity: 0.3; cursor: default !important; }

		#provabslideshow.mobile .provabslideshow-control { opacity: 1 !important; }
		#provabslideshow.mobile .provabslideshow-control.disabled { opacity: 0.3 !important; }
	}

	@media screen and (max-width: 980px) {
		#provabslideshow.mobile { position: fixed; }
		/*.view_map_dets strong{display:none;}*/
    }
	
	@media screen and (max-width: 650px) {
	.checklist li{ width:50%;}
	}
	
	
	@media screen and (max-width: 500px) {
		.fullfives{ width: 100%;}
		.fullfives .pricesec{display: block;
    float: left;
    overflow: hidden;
    width: 100%;}
.htl_bigtab.nav-tabs li a{padding: 5px 5px 0;}
.in_center_htl{ padding: 0 10px;}
	.checklist li{ width:100%;}	.pers { padding: 0 10px;}
	}
	
.pers .fa {
    width: 32px;
    height: 32px;
    background: #f0f0f0;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    font-size: 18px;
    margin: 2px 5px;
}

.owlindex3 .owl-buttons{margin: 0;
    }
 .contact_hotel .owl-theme .owl-controls { position: absolute; left: 0px; right: 0px; top:100px;  }   
.owlindex3.owl-theme .owl-controls .owl-buttons .owl-prev,
.owlindex3.owl-theme .owl-controls .owl-buttons .owl-next
{   border-radius: 5px;
    height: 41px;
    margin: 0 2px;
    padding: 0;
    text-align: center;
    width: 41px;
    z-index: 10;    text-indent: -9999px;}
.owlindex3.owl-theme .owl-controls .owl-buttons .owl-prev{background:url("../../images/prev.png") no-repeat scroll center center !important;
    left:-123px; position:relative;}

.owlindex3.owl-theme .owl-controls .owl-buttons .owl-next{background:url("../../images/next.png") no-repeat scroll center center !important;
    right:-124px; position:relative;}
.owlindex2 .owl-pagination{
    display: block;
    margin-top: 20px;
    overflow: hidden;}
.owlindex3.owl-theme .owl-controls .owl-page span{height: 15px;
    margin: 0 5px 5px;
    width: 15px;}
.contact_hotel #owl_demo_1 .surbtm1 {
    float: left;
    width: 60%;
}
.contact_hotel #owl_demo_1 .bk_btn {
    background: #f58830 none repeat scroll 0 0;
    border: 1px solid #f58830;
    color: #fff;
    display: block;
    font-size: 15px;
    overflow: hidden;
    padding: 7px 0;
    text-align: center;
    width: 100%;
    border-radius: 3px;
    text-transform: uppercase;
}

p.mar_t20 {
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
}
#nearby-hotels img { width: 100%;}
.morerumdesc b {
    font-weight: normal;
    font-size: 14px;
}
.morerumdesc {
    clear: both;
    display: block;
}
.morerumdesc .fa {
    font-size: 15px;
    color: #666;
    margin-right: 5px;
}
.morerumdesc .htl_offr {
    background: #9ce0da;
    padding: 4px 8px;
    /* font-size: 8px; */
    width: auto;
    float: left;
        margin-bottom: 4px;
}
.morerumdesc .htl_offr b {
    font-weight: 500;
    font-size: 12px;
}
b.ht_amt {
    font-weight: 500;
    font-size: 13px;
}
.htl_rm {margin-top: 0; margin-bottom: 5px;}


/*responsive*/
@media ( max-width :767px) {

}
@media ( max-width :480px) {
.elipsetool { font-size: 13px; font-weight: normal !important;}
.detail_htlname { font-size: 16px; line-height: 18px; }
.detal_htladrs,.view_map_dets { font-size: 13px; }
.htl_bigtab.nav-tabs li a { padding: 5px 3px 0;}
.htl_bigtab.nav-tabs li a { font-size: 12px; }
.comenhtlsum {font-size: 12px; line-height: 20px; }
.hotel_hed {font-size: 14px; }
.morerombtn { font-size: 12px; }
.pers .fa { margin: 5px 0;} 
.hotel_list .fullfives {padding: 0 10px;}
.hotel_list .sideprice { margin: 0;line-height: 18px !important;}
}
@media ( min-width :481px) and (max-width:767px) {
 .htl_bigtab.nav-tabs li a {padding: 10px 15px 0; }
.in_center_htl {padding: 0 10px;}
.pers .fa {margin: 5px 3px;} 
.hotel_list .sideprice {  margin: 0; }
}
@media ( min-width :768px) and (max-width:991px) {
.flitrlbl {font-size: 13px; font-weight: normal;}
.detlnavi .padflt.widfty {  padding: 0 5px; font-size: 12px;}
.pre_summery .flname { font-size: 13px;}
}
@media ( min-width :992px) and (max-width:1199px) {
.destbtm2 {width: 36% !important; margin: 15px 0 !important;}
.hotel_fac a { line-height: 20px !important;}
#owl_demo_1.owlindex3.owl-theme .owl-controls .owl-buttons .owl-next {right: -120px; }
#owl_demo_1.owlindex3.owl-theme .owl-controls .owl-buttons .owl-prev { left: -120px; }
}