/*modify_search*/
.allpagewrp {
	float: left;
	width: 100%;
}

.newmodify {
	/* background: #dadada none repeat scroll 0 0; */
    /* border-bottom: 1px solid #eee; */
    float: left;
    width: 100%;
}
.fromtopmargin .newmodify .container {
    background: #dadada none repeat scroll 0 0;    border-bottom: 1px solid #eee;
}
.contentsdw {
	float: left;
	/*padding: 15px 0;*/
	width: 100%;
}

.pad_ten {
	float: left;
	padding: 10px;
	width: 100%;
}

.sprite.marker_icon {
	background-position: -97px -260px;
}

.sprite.calendar_icon {
	background-position: -181px -261px;
}

.sprite.pasnger_icon {
	background-position: -269px -261px;
}

.disabled {
	opacity: 0.2;
}

.left_icon {
	float: left;
	height: 40px;
	width: 40px;
}

.from_to_place {
	display: block;
	overflow: hidden;
	padding-left: 10px;
}

.placename {
	color: #5f5f5f;
	display: block;
	font-size: 14px;
	margin: 0 0 8px;
	overflow: hidden;
	font-weight: normal;
}

.contryname {
	display: block;
	font-size: 16px;
	margin: 0;
	overflow: hidden;
	color: #000000;
	font-weight: normal;
}

.boxlabl {
	color: #5f5f5f;
	display: block;
	font-size: 14px;
	margin: 0 0 5px;
	overflow: hidden;
}

.boxlabl strong {
	margin-right: 5px;
}

.faldate.fa {
	margin-right: 6px;
}

.datein {
	color: #000;
	display: block;
	font-size: 16px;
	overflow: hidden;
	font-family: roboto;
	margin-top: -3px;
}

.countlbl {
	color: #000;
	display: block;
	font-size: 16px;
	overflow: hidden;
	margin-top: -3px;
}

.modifysrch {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 1px solid #f88c3e;
	border-radius: 3px;
	float: left;
	font-size: 16px;
	height: 50px;
	padding: 0 40px 0 12px;
	position: relative;
	text-transform:uppercase;
	width: 100%;
}

.modifysrch strong {
	font-weight: normal;
}

.down_caret::after {
	color: #f96800;
	content: "";
	font-family: "FontAwesome";
	font-size: 30px;
	position: absolute;
	right: 10px;
	top: 3px;
}

.inmodify {
	background: #f2f2f2 none repeat scroll 0 0;
	display: block;
	overflow: hidden;
}

.modify_search_wrap {
	float: left;
	width: 100%;
	background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
}

.modify_search_wrap .modifycontrols {
	width: 100%;
}

.modify_search_wrap .modifycontrolsno {
	display: none;
}

.modify_search_wrap .whenfixmar {
	margin: 0px;
}

.modify_search_wrap .onlynum .btn.btnpot {
	float: right;
	display: table-cell;
}

.modify_search_wrap .onlynum .btn.btnpot:first-child {
	float: left;
}

.modify_search_wrap .onlynum .form-control {
	display: table-cell;
	float: none;
}

.modify_search_wrap #modify {
	overflow: hidden;
}

.modify_search_wrap .tab-content {
	background: none;
}

/*flight_results*/
.contentsec {
	float: left;
	width: 100%;
	position: relative;
}

.filtrsrch {
	float: left;
	margin: 0 0 20px;
	position: relative;
	width: 100%;
}

/*left_side*/
.col30 {
	float: left;
	width: 25%;
}

.celsrch {
	background: #3e4141 none repeat scroll 0 0;
    border: 1px solid #525252;
    float: left;
    margin: 0px 0 0;
    position: relative;
    width: 100%; padding: 25px 0px;
}

.boxtop {
	background: #f88c3e none repeat scroll 0 0;
	border-bottom: 1px solid #e5e4e4;
	color: #ffffff;
	float: left;
	margin: 0 0 30px;
	padding: 15px 15px 25px;
	position: relative;
	width: 100%;
}

.boxtop::after {
	background: #f96800 url("../../images/sprite.png") no-repeat scroll
		-152px -339px;
	border: 5px solid #ffffff;
	border-radius: 30px;
	bottom: -30px;
	content: "";
	height: 50px;
	left: 40%;
	position: absolute;
	width: 50px;
}

.filtersho {
	color: #eeeeee;
	display: block;
	font-size: 14px;
	margin: 0px 0;
	/*overflow: hidden;*/
	text-align: center;
}

.avlhtls {
	color: #ffffff;
	font-size: 18px;
}

.avlhtls strong {
	font-family: roboto;
	font-weight: normal;
}

.placenamefil {
	color: #fff;
	display: block;
	font-size: 18px;
	margin: 5px 0;
	overflow: hidden;
	text-align: center;
}

.nrow {
	color: #eee;
	display: block;
	font-size: 13px;
	overflow: hidden;
	text-align: center;
}

.norfilterr {
	float: left;
	width: 100%;
	position: relative;
}

.norfilterr .placenamefil {
	color: #353535;
	font-size: 15px;
	position: absolute;
	right: 15px;
	top: -30px;
}

.placenamefil .fa {
	color: #666;
	font-size: 14px;
}

.outbnd {
	display: block;
	overflow: hidden;
	padding: 0 15px 15px;
}

.rangebox {
	/*border-bottom: 1px dashed #dddddd;*/
	display: block;
	margin: 0 0 15px; padding:0px 10px;
	overflow: hidden;
}

.ranghead {
	color: #353535;
	display: block;
	font-size: 18px;
	overflow: hidden;
}

.price_slider1 {
	margin: 0 0 15px;
	padding: 10px 15px;
}

.stoprow {
	display: block;
	overflow: hidden;
	padding: 20px 0;
}

.level {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 0 none;
	color: #e0e0e0;
	display: block;
	font-size: 14px;
	margin-bottom: 15px;
	overflow: hidden;
	text-align: center;
	width: 100%;
	font-family: roboto;
}

.price_slider1 .ui-widget-content {
	background:#ddd;
	border-radius: 30px !important;
	box-shadow: none;
}

.price_slider1 .ui-widget-header {
	background: #686764 none repeat scroll 0 0;
	box-shadow: none;
}

.price_slider1 .ui-state-default,.price_slider1 .ui-widget-content .ui-state-default,.price_slider1 .ui-widget-header .ui-state-default
	{
	background: #f58830 none repeat scroll 0 0;
	border-radius: 50%;
	cursor: pointer;
	height: 20px;
	margin-left: -14px;
	top: -7px;
	width: 20px;
}

.septor {
	background: none;
	border-bottom: 1px solid #525252; border-top:none;
	display: block;
	height: 1px;
	margin: 12px 0;
	overflow: hidden;
}

.boxins {
	
}

.stopone {
	float: left;
	position: relative;
	text-align: center;
	width: 33.333%;
}

.relatboxs {
	display: block;
	height: 25px;
	line-height: 25px;
	position: relative;
	width: 100%;
}

.relatboxs::after {
	background: #ececec none repeat scroll 0 0;
	border-radius: 5px;
	content: "";
	height: 6px;
	left: 0;
	position: absolute;
	right: 0;
	top: 42%;
	z-index: 0;
}

.rounds {
	background: #c4c3c2 none repeat scroll 0 0;
	border: 3px solid #ffffff;
	border-radius: 30px;
	cursor: pointer;
	height: 25px;
	position: relative;
	width: 25px;
	z-index: 1;
	margin: 0px;
}

.toglefil.active .rounds {
	background: #f88c3e none repeat scroll 0 0;
}

.toglefil.active .rounds::after {
	color: #fff;
	content: "";
	display: block;
	font-family: fontawesome;
	font-size: 12px;
	font-weight: 100;
	left: 0;
	right: 0;
	top: 0;
	line-height: 18px;
	position: absolute;
	text-align: center;
}

.relatboxsone {
	display: block;
	position: relative;
	width: 100%;
	float: left;
}

.starin {
	background: #555757 none repeat scroll 0 0;
	display: block; color: #fff;
	font-size: 14px;
	overflow: hidden;
	text-align: center;
}

.stopbig {
	color: #353535;
	display: block;
	font-size: 18px;
	overflow: hidden;
	font-family: roboto;
}

.stopsml {
	color: #999;
	font-size: 12px;
}

.htlcount {
	color: #525252;
	display: block;
	font-size: 13px;
	margin: 3px 0 0;
	overflow: hidden;
	padding: 2px 0;
	font-family: roboto;
}

.locationul {
	display: block;
	overflow: hidden;
	position: relative;
	padding: 10px 0;
}

.locationul::after {
	background: #666666 none repeat scroll 0 0;
    border-radius: 5px;
    bottom: 0;
    content: "";
    left: 10px;
    position: absolute;
    top: 0;
    width: 3px;
    z-index: 0;
}

.padlow {
	padding: 10px 0;
}

.timone {
	float: left;
	position: relative;
	text-align: center;
	width: 25%;
}

.sprte.png1 {
	background-position: -95px -459px;
	height: 40px;
	margin: 0 auto;
	width: 50px;
}

.sprte.png2 {
	background-position: -183px -459px;
	height: 40px;
	margin: 0 auto;
	width: 50px;
}

.sprte.png3 {
	background-position: -273px -459px;
	height: 40px;
	margin: 0 auto;
	width: 50px;
}

.sprte.png4 {
	background-position: -363px -459px;
	height: 40px;
	margin: 0 auto;
	width: 50px;
}

.locationul li {
	float: left;
	margin: 0 0 8px;
	width: 100%;
}

.squaredThree input[type="checkbox"] {
	visibility: hidden;
	margin: 0
}

.squaredThree {
	float: left;
	margin-right: 8px;
	position: relative;
	width: 26px;
	z-index: 1;
}

.squaredThree label {
	background: #c4c3c2 none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    height: 22px;
    left: 0;
    position: absolute;
    top: 0;
    width: 22px;
}

.squaredThree label::after {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: -moz-use-text-color -moz-use-text-color #fcfff4 #fcfff4;
	border-image: none;
	border-style: none none solid solid;
	border-width: medium medium 3px 3px;
	content: "";
	height: 7px;
	left: 5px;
	opacity: 0;
	position: absolute;
	top: 5px;
	transform: rotate(-45deg);
	width: 11px;
}

.squaredThree label:hover::after {
	opacity: 0.3;
}

.squaredThree input[type="checkbox"]:checked+label::after {
	opacity: 1;
}

.squaredThree input[type="checkbox"]:checked+label {
	background: #f88c3e;
}

.lbllbl {
	color: #666666;
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
/*    text-overflow: ellipsis;
    white-space: nowrap;*/
}

.filter_input {
	border: 1px solid #ddd;
	border-radius: 3px;
	color: #666;
	float: left;
	font-size: 16px;
	height: 50px;
	padding: 0 10px;
	width: 100%;
}

.hotel_star_filter .timone {
	width: 20%;
}

.star_image {
	height: 40px;
	margin: 0 auto;
	width: 40px;
}

.sprte.star_1 {
	background-position: 15px -543px;
}

.sprte.star_2 {
	background-position: -35px -543px;
}

.sprte.star_3 {
	background-position: -85px -543px;
}

.sprte.star_4 {
	background-position: -140px -543px;
}

.sprte.star_5 {
	background-position: -185px -543px;
}

/*right_side*/
.col70 {
	float: left;
	width: 75%;
}

.in70 {
	display: block;
	float: left;
	padding: 20px 0 0 20px;
	width: 100%;
}

.topmisty.hote_reslts .insidemyt {
	border: none;
}

.topmisty.hote_reslts .sortul {
	background: #ffffff none repeat scroll 0 0;
	border: 1px solid #f88c3e;
	float: left;
	width: 100%;
}

.topmisty.hote_reslts .sortli {
	width: 33.33%;
}

.rit_view {
	float: right;
}

.view_type {
	background:#fff;
	border: 1px solid #f88c3e;
	border-radius: 2px;
	box-shadow: 0 0 10px -5px #000;
	color: #555;
	float: left;
	font-size: 14px;
	line-height: 35px;
	margin-left: 10px;
	padding: 0 10px;
}

.view_type .fa {
	color: #91a9b1;
	margin-right: 8px;
}

.view_type.active {
	background: #ededed none repeat scroll 0 0;
	box-shadow: none;
	color: #333;
}

.topmisty {
	
	display: block;
	float: left;
	margin: 0 0 10px;
	width: 100%;
}

.insidemyt {
	border: 1px solid #ddd;
	display: block;
	overflow: hidden;
}

.sortul {
	display: block;
	overflow: hidden;
}

.sortli {
	float: left;
	width: 20%;
}

.sorta {
	border-right: 1px solid #e0e0e0;
	color: #474747;
	display: block;
	font-size: 14px;
	font-weight: 300;
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	padding: 0 10px 0 0;
	position: relative;
}
.sorta.active{border-bottom: 2px solid #1daab3;}

.sorta:hover {
	color: #474747;
}

.loc_i {     background: url(../../images/loc.png) no-repeat;
    width: 24px;
    height: 32px;
    float: left;
    margin-right: 10px; }

.cal_i {background: url(../../images/calendar.png) no-repeat;
    width: 34px;
    height: 34px;
    float: left;
    margin-right: 10px; }  

.pas_i {background: url(../../images/pas_i.png) no-repeat;
    width: 34px;
    height: 34px;
    float: left;
    margin-right: 10px; }  

.sirticon.fa {
	color: #999;
	float: left;
	font-size: 14px;
	line-height: 35px;
	margin: 0 10px;
	text-align: center;
	width: 25px;
}

.sirticon.sort1 {
	background-position: -100px -345px;
}

.sirticon.sort2 {
	background-position: -227px -345px;
}

.sirticon.sort3 {
	background-position: -298px -345px;
}

.sirticon.sort4 {
	background-position: -366px -347px;
}

.sirticon.sort5 {
	background-position: -422px -347px;
}

.sorta.des::after {
	color: #999999;
	content: "";
	font-family: "FontAwesome";
	margin-left: 10px;
	position: absolute;
	right: 15px;
}

.sorta.ase::after,.sorta.asc::after {
	color: #999999;
	content: "\f0d7";
	font-family: "FontAwesome";
	margin-left: 10px;
	position: absolute;
	right: 15px;
}

.allresult {
	display: block;
	margin: 10px 0 0;
	min-height: 395px;
	position: relative;
	float: left;
	width: 100%;
}

.rowresult {
	display: block;
	position: relative;
	transition: all 400ms ease-in-out 0s; margin-bottom: 13px;
}

.carttoloadr {
	background: rgba(255, 255, 255, 0.9) url("../../images/preloader.gif")
		no-repeat scroll center center;
	border-radius: 10px;
	bottom: 0;
	box-shadow: 0 0 10px -5px #909090;
	display: none;
	left: 0;
	min-width: auto;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	z-index: 1000000;
}

.carttoloadr strong {
	bottom: 40%;
	color: #333;
	display: block;
	font-size: 18px;
	font-weight: normal;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: center;
}

.madgrid {
	background: #ffffff none repeat scroll 0 0;
	border: 1px solid #e6e6e6;
	display: block;
	float: left;
	margin: 0px 0;
	overflow: inherit !important;
	transition:all 400ms ease-in-out 0s;
	width: 100%; overflow: hidden; position: relative;
}
.madgrid:hover {
    border: 1px solid #f88c3e;
    box-shadow: 0 0 5px #d6d6d6;
}

.madgrid .listfull {
	border-right: 1px solid #dddddd;
}

.nobord {
	border-right: none;
}

.rndplace {
	color: #60605f;
	display: block;
	font-size: 14px;
	overflow: hidden;
}

span.farrow {
	display: inline-block;
	font-size: 14px;
	height: 12px;
	position: relative;
	text-align: center;
	width: 30px;
}

.sidenamedesc {
	display: block;
	width: 100%;
}

.celhtl {
	float: left;
}

.width32 {
	width: 32%;
}

.width22 {
	width: 22%;
}

.width50 {
	width: 50%;
}

.width60 {
	width: 60%;
}

.width18 {
	width: 18%; 
}

.hotel_image::before, .bighotl::before, .ourdest::before, #map-box-frame .panel-title::before, .hotel_prebook::before {
    background: rgba(0, 0, 0, 0) url(../../images/no_image.png) no-repeat scroll center center;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-size: cover;
    z-index: 0;
}
.hotel_prebook::before { margin: 10px 0px 0px 15px; }
.dets_hotel span.hotel_address.elipsetool {
    text-transform: inherit; font-size: 14px;
}
.bighotl::before {
    z-index: -1;
}
#map-box-frame .panel-title::before { width: 30px; height: 30px}
#sync1.owl-carousel .owl-item img { width: 100%; height: 100%;max-height: 305px;}
.hotel_image {
	border: 1px solid #eee;
	display: block;
	height: 145px;
	line-height: 80px;
	margin:5px;
	overflow: hidden;
	position: relative;
	text-align: center;
}

.hotel_image>img {
	min-height: 143px;
	position: relative;
	width: 100%;
	z-index: 1;
}

.hotel_location.fa {
	background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
	border-radius: 100%;
	color: #fff;
	font-size: 24px;
	height: 50px;
	left: 0;
	line-height: 50px;
	margin: -25px auto auto;
	position: absolute;
	right: 0;
	text-align: center;
	top: 80px;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 300ms ease-in-out 0s;
	-moz-transition: all 300ms ease-in-out 0s;
	transition: all 300ms ease-in-out 0s;
	width: 50px;
	z-index: 10;
}

.madgrid:hover .hotel_location.fa {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 300ms ease-in-out 0s;
	-moz-transition: all 300ms ease-in-out 0s;
	transition: all 300ms ease-in-out 0s;
}

.stra_hotel {
	display: block;
	margin: 0px 0;
	overflow: hidden;
}

.stra_hotel .fa {
	color: #91a9b1;
	font-size: 13px;
	margin: 5px 2px;
}

.stra_hotel[data-star="5"] .fa:nth-child(1), .stra_hotel[data-star="5"] .fa:nth-child(2), .stra_hotel[data-star="5"] .fa:nth-child(3), .stra_hotel[data-star="5"] .fa:nth-child(4), .stra_hotel[data-star="5"] .fa:nth-child(5), .stra_hotel[data-star="4"] .fa:nth-child(1), .stra_hotel[data-star="4"] .fa:nth-child(2), .stra_hotel[data-star="4"] .fa:nth-child(3), .stra_hotel[data-star="4"] .fa:nth-child(4), .stra_hotel[data-star="3"] .fa:nth-child(1), .stra_hotel[data-star="3"] .fa:nth-child(2), .stra_hotel[data-star="3"] .fa:nth-child(3), .stra_hotel[data-star="2"] .fa:nth-child(1), .stra_hotel[data-star="2"] .fa:nth-child(2), .stra_hotel[data-star="1"] .fa:nth-child(1){
	color: #f88c3e;
}

.item.grid-group-item .hotel_name { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.hotel_name {
	color: #3665ad;
    display: block;
    font-size: 16px;
    font-weight: 500;
    max-width: 100%;
    overflow: hidden;
/*    text-overflow: ellipsis;
    white-space: nowrap;*/
}

.item.grid-group-item .hotel_address { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.hotel_address {
	color: #666;
	display: block;
	font-size: 12px;
	overflow: hidden;
	padding: 4px 0;
	text-transform: capitalize;
}

.hotel_info {
	color: #666;
	display: block;
	font-size: 13px;
	height: 80px;
	line-height: 20px;
	overflow: hidden;
}

.elipsetool {
	display: block;
	overflow: hidden;/*
	text-overflow: ellipsis;
	white-space: nowrap;*/
}

.airlinename {
	color: #666;
	display: block;
	overflow: hidden;
	padding: 3px 15px;
	text-align: left;
	font-family: roboto;
}

.width70 {
	width: 70%;
}

.sprite.reflone {
	background-position: -100px -404px;
	float: left;
	height: 30px;
	width: 40px;
	margin-right: 5px;
}

.sprite.refltwo {
	background-position: -194px -404px;
	float: left;
	height: 30px;
	width: 40px;
	margin-right: 5px;
}

.sprite.retime {
	background-position: -291px -404px;
	float: left;
	height: 20px;
	width: 20px;
	margin-right: 5px;
}

.sprite.faredetail {
	background-position: -412px -403px;
	float: left;
	height: 25px;
	margin-right: 5px;
	width: 25px;
}

.sprite.fldetail {
	background-position: -351px -404px;
	float: left;
	height: 25px;
	margin-right: 5px;
	width: 25px;
}

.flname {
	font-size: 26px;
}

.fltime {
    font-family: roboto;
    font-weight: 500;
    margin-left: 0;
}

.right {
	float: right;
}

.left {
	float: left;
}

.waymensn {
	display: block;
	overflow: visible;
}

.flitruo_hotel {
	display: block;
	margin: 5px 0;
/*	overflow: hidden;*/
	padding: 0 10px 0 0;
}

.ifroundway .flitruo {
	border-bottom: 1px dashed #ddd;
}

.ifroundway .flitruo:last-child {
	border-bottom: none;
}

.oneplus {
	display: none;
	background: #e0e0e0 none repeat scroll 0 0;
}

.oneonly {
	opacity: 0;
}

.plusone .oneplus {
	display: inline-block;
}

.morestop .oneonly {
	opacity: 1;
}

.ifroundway .fligthsmll {
	margin: 90px 10px 10px;
}

.hoteldist {
	display: block;
	/*overflow: hidden;*/
}

.modal-backdrop {
	z-index: 10000000;
}

.modal {
	z-index: 100000000;
}

.detlnavi .widfty:first-child {
	text-align: right;
}

.timlbl {
    color: #07253f;
    display: block;
    font-size: 20px;
    overflow: hidden;
    font-family: roboto;
    float: none !important;
    text-align: center;
}

.flitrlbl {
	color: #2d2b29;
    display: block;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: roboto;
    /* float: left !important; */
    text-align: center;
}

.flicent.fa {
	background: #b0cdee none repeat scroll 0 0;
	border-radius: 30px;
	color: #555555;
	display: table;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	margin: 8px auto;
	text-align: center;
	width: 30px;
}

.lyovrtime {
 display: block;
    padding: 5px 15px;
    text-align: center;
    width: 100%;
}

.flect {
	color: #2d2b29;
	display:inline;
	font-size: 14px;
	margin: 0px; width: auto;
	padding: 5px 10px;
	font-family: roboto;
}

.flects {
	border: 1px solid #dddddd;
	color: #666666;
	display: table;
	font-size: 14px;
	margin: 8px auto auto;
	padding: 5px 10px;
	position: relative;
}

.instops {
	display: block;
	height: 25px;
	line-height: 25px;
	position: relative;
	width: 100%;
}

.instops::after {
	background: #ececec none repeat scroll 0 0;
	border-radius: 5px;
	content: "";
	height: 6px;
	left: 30px;
	position: absolute;
	right: 30px;
	top: 30%;
	z-index: 0;
}

.instops .rounds {
	width: 20px;
	height: 20px;
}

.detailsflt:hover {
	color: #07253f;
}

.mrinfrmtn {
	background: #f6f6f6 none repeat scroll 0 0;
	display: block;
	float: left;
	overflow: hidden;
	width: 100%;
}

.detailsflt {
	color: #07253f;
	display: block;
	float: left;
	font-size: 14px;
	line-height: 25px;
	overflow: hidden;
	padding: 9px 10px;
}

.flects::before {
	background: rgba(0, 0, 0, 0) url("../../images/sprite.png") no-repeat
		scroll -239px -51px;
	content: "";
	height: 15px;
	left: 50%;
	margin-left: -14px;
	position: absolute;
	top: -11px;
	width: 28px;
}

.flightimage {
	display: block;
	max-height: 130px;
	overflow: hidden;
}

.hotel_sideprice {
	background: #ffffff none repeat scroll 0 0;
	border-left: 1px dashed #cacaca;
	display: block;
	height: 155px;
	overflow: hidden;
	text-align: center;
}

.hotel_sideprice p { font-size: 12px; color: #333; text-align: center; margin-top: 25px; margin-bottom: 0px; }

.sideprice_hotel {
	color: #f96800;
	display: block;
	font-family: roboto;
	font-size: 22px;
	font-weight: 500;
	line-height: 20px;
	margin: 0px 0 0;
	padding: 0 5px;
}


.list-group-item .sideprice_hotel {
	color: #f96800;
	display: block;
	font-family: roboto;
	font-size: 22px;
	font-weight: 500;
	line-height: 43px;
	margin: 0px 0 0;
	padding: 0 5px;
}

.bookbtn_htl {
	border-radius: 3px;
	display: block;
	margin: 10px; text-transform: uppercase;
	overflow: hidden;text-decoration: none !important;
}

.booknow {
	background: #f58830 none repeat scroll 0 0;
	border:1px solid #f58830;
	color: #fff !important;
	text-transform: uppercase;
	display: block;
	font-size: 15px;
	overflow: hidden;
	padding: 10px 0;
	text-align: center;
	width:100%;
	text-decoration: none !important;
}

.booknow:hover {
	color: #fff;
}

/*fare_calender*/
.farecaled {
	float: left;
	padding: 0 0 15px;
	width: 100%;
}

.farenewcal {
	background: #ffffff none repeat scroll 0 0;
	float: left;
	width: 100%;
}

.matrx {
	float: left;
	padding: 0 30px;
	width: 100%;
}

.pricedates {
	background: #f7f7f7 none repeat scroll 0 0;
	display: block;
	height: 60px;
	margin: 0 3px;
	overflow: hidden;
	padding: 10px 0;
	text-align: center;
}

.imgemtrx_plusmin {
	float: left;
	height: 40px;
	line-height: 40px;
	margin: -3px 0 0;
	overflow: hidden;
	padding: 0 5px;
	text-align: center;
	width: 60px;
}

.imgemtrx_plusmin img {
	width: 100%;
}

.alsmtrx strong {
	color: #6b6b6b;
	display: block;
	font-weight: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
}

.mtrxprice {
	color: #313131;
	display: block;
	font-size: 14px;
	overflow: hidden;
	text-align: left;
	font-family: roboto;
}

.matrixcarsl.owl-theme .owl-controls .owl-buttons .owl-prev,.matrixcarsl.owl-theme .owl-controls .owl-buttons .owl-next
	{
	border-radius: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	text-indent: -99999px;
	top: 0;
	width: 35px;
	z-index: 10;
}

.matrixcarsl.owl-theme .owl-controls .owl-buttons .owl-prev {
	background: #f88c3e url("../../images/sprite.png") no-repeat scroll
		-304px -26px;
	left: -31px;
}

.matrixcarsl.owl-theme .owl-controls .owl-buttons .owl-next {
	background: #f88c3e url("../../images/sprite.png") no-repeat scroll
		-336px -26px;
	right: -31px;
}

.matrixcarsl .owl-controls.clickable {
	margin-top: 0px;
}

/*flight_details*/
.modal .propopum {
	display: block;
}

.propopum {
	background: #fff none repeat scroll 0 0;
	border-radius: 5px;
	display: none;
	margin: 30px auto auto;
	max-width: 1200px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.popuphed,.popconyent,.popfooter {
	float: left;
	width: 100%;
}

.popuphed .close {
	background: #000 none repeat scroll 0 0;
	border-radius: 30px;
	color: #fff;
	font-size: 20px;
	font-weight: normal;
	height: 30px;
	position: absolute;
	right: 10px;
	text-align: center;
	top: 10px;
	width: 30px;
}

.hdngpops {
	background: #eee none repeat scroll 0 0;
	color: #333;
	display: block;
	font-size: 22px;
	font-weight: 300;
	overflow: hidden;
	padding: 10px 20px;
}

.hdngpops .fa {
	color: #999;
	font-weight: normal;
	margin: 0 10px;
}

.contfare {
	display: block;
	margin: 15px;
	overflow: hidden;
}

.nav-tabs.flittwifil {
	border: 0 none;
	margin: 0 -2px;
}

.contfare .nav-tabs.flittwifil {
	margin: 0;
}

.popconyent .nav-tabs>li {
	border-right: medium none;
}

.nav-tabs.flittwifil li {
	margin: 0 5px 0 0;
	width: auto;
}

.nav-tabs.flittwifil li.active::after {
	bottom: -3px;
	color: #ef7e2c;
	content: "";
	font-family: "FontAwesome";
	font-size: 30px;
	left: 0;
	line-height: 0;
	position: absolute;
	right: 0;
	text-align: center;
}

.nav-tabs.flittwifil li a {
	background: #e6e5e5 none repeat scroll 0 0;
	border-radius: 3px;
	color: #666;
	font-size: 16px;
	height: 50px;
	line-height: 50px;
	margin: 0;
	padding: 0 10px;
	text-align: center;
}

.nav-tabs.flittwifil li.active a,.nav-tabs.flittwifil li.active a:hover
	{
	background: #ef7e2c none repeat scroll 0 0;
	border: 0 none;
	color: #fff;
}

.tab-content {
	box-shadow: none;
	margin-bottom: 0px;
}

.tabmarg {
	display: block;
	margin: 15px 0 0;
	overflow: hidden;
}

.alltwobnd {
	display: table;
	width: 100%;
}

.popconyent .cloroutbnd {
	background: #f0f2fe none repeat scroll 0 0;
}

.celion {
	display: table-cell;
	float: none;
	vertical-align: top;
}

.inboundiv {
	border: 1px solid #eee;
	border-radius: 3px;
	display: block;
	margin: 5px;
	overflow: hidden;
	padding: 10px;
}

.hedtowr {
	border-bottom: 1px dashed #ddd;
	color: #333;
	display: block;
	font-size: 16px;
	font-weight: 500;
	overflow: hidden;
	padding: 0 0 15px;
}

.hedtowr strong {
	color: #666;
	font-weight: 300;
}

.flitone {
	display: block;
	margin: 0 -15px;
	overflow: hidden;
	padding: 10px 0;
}

.imagesmflt {
	float: left;
	margin-right: 5px;
}

.flitsmdets {
	display: block;
	line-height: 14px;
	overflow: hidden;
}

.flitsmdets strong {
	color: #666;
	display: block;
	font-weight: 300;
	margin: 5px 0 0;
	overflow: hidden;
}

.dateone {
	display: block;
	font-size: 14px;
	font-weight: 500;
	overflow: hidden;
}

.termnl {
	color: #333;
	display: block;
	overflow: hidden;
}

.temnldr {
	color: #888;
	display: block;
	overflow: hidden;
}

.arocl.fa {
	color: #666;
	display: block;
	font-size: 14px;
	margin: 10px 0;
	overflow: hidden;
	text-align: center;
}

.ritstop {
	display: block;
	overflow: hidden;
	text-align: right;
}

.termnl1 {
	display: block;
	margin: 0 0 3px;
	overflow: hidden;
}

.farehdng {
	color: #666;
	display: block;
	font-size: 18px;
	margin: 0 0 15px;
	overflow: hidden;
}

.rowfare {
	border-bottom: 1px solid #eee;
	color: #666;
	display: block;
	font-size: 14px;
	overflow: hidden;
	padding: 10px 0;
}

.norpopbtn {
	border: 1px solid #ddd;
	border-radius: 3px;
	cursor: pointer;
	float: right;
	margin-left: 10px;
	padding: 6px 10px;
}

.futrcnt {
	background: none repeat scroll 0 0 #f9f9f9;
	display: block;
	overflow: hidden;
	padding: 10px;
}

.detail_section {
	
}

.flight_datails .imagesmflt {
	display: block;
	float: none;
	margin-right: 0;
	overflow: hidden;
	text-align: center;
}

.flight_datails .flitsmdets {
	text-align: center;
}

.detail_section .flname {
	font-size: 16px;
}

.detail_section .sprite.reflone {
	float: right;
	margin: 0;
}

.centovr {
	background: #f4e4d8 none repeat scroll 0 0;
	border-radius: 30px;
	color: #333;
	display: block;
	font-size: 13px;
	margin: 5px 0;
	overflow: hidden;
	padding: 5px;
	text-align: center;
}

.flight_datails .alltwobnd {
	display: block;
	margin: 0 -5px;
	overflow: hidden;
}

.rowfare:last-child {
	border: 0 none;
}

.rowfare .pricelbl {
	color: #333;
	font-family: roboto;
}

.grandtl .infolbl {
	color: #df5800;
	display: block;
	margin: 5px 0 0;
	overflow: hidden;
}

.grandtl .pricelbl {
	color: #f96800;
	font-size: 18px;
}

.inboundiv.grand_totall {
	background: #f2f2f2;
}

.filter_show {
	background: #f96800 none repeat scroll 0 0;
	border: 0 none;
	border-radius: 100%;
	box-shadow: 0 1px 3px -2px #000;
	color: #fff;
	display: none;
	font-size: 18px;
	height: 40px;
	left: 0;
	position: absolute;
	top: -2px;
	width: 40px;
	z-index: 99;
}

.close_filter {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 0 none;
	color: #c85c10;
	display: none;
	font-size: 18px;
	padding: 5px;
	position: absolute;
	right: 0;
	width: 40px;
	z-index: 10;
}

.side_amnties {
	display: block;
	margin: 1px 0px 3px;
	overflow: hidden;
}

.hotel_fac li {
	background: url("../../images/hotel_aminities.png") no-repeat
		scroll 0 0;
	border: 3px solid #fff;
	border-radius: 30px;
	float: left;
	height: 30px;
	margin: 0px;
	width: 35px;
}

.hotel_fac li.IN {
	background-position: -58px -172px;
}

.hotel_fac li.BC {
	background-position: -3px -663px;
}

.hotel_fac li.BP {
	background-position: -58px -144px;
}

.hotel_fac li.BQ {
	background-position: -58px -314px;
}

.hotel_fac li.BS {
	background-position: -30px -709px;
}

.hotel_fac li.CP {
	background-position: -58px -227px;
}

.hotel_fac li.CR {
	background-position: -58px -625px;
}

.hotel_fac li.DF {
	background-position: -58px -738px;
}

.hotel_fac li.EC {
	background-position: -58px -369px;
}

.hotel_fac li.GF {
	background-position: -58px -712px;
}

.hotel_fac li.GY {
	background-position: -57px -768px;
}

.hotel_fac li.HP {
	background-position: -58px -342px;
}

.hotel_fac li.IP {
	background-position: -114px -909px;
}

.hotel_fac li.KP {
	background-position: -113px -229px;
}

.hotel_fac li.LF {
	background-position: -58px -512px;
}

/* .hotel_fac li.LY {
	background-position: -115px -880px;
}
 */

.hotel_fac li.LY {
    background-position: -84px -853px;
}
.hotel_fac li.TL {
    background-position: -115px -880px;
} 
.hotel_fac li.PD {
    background-position: -31px -1024px;
} 
.hotel_fac li.PT {
	background-position: -115px -313px;
}

.hotel_fac li.OP {
	background-position: -114px -284px;
}

.hotel_fac li.RS {
	background-position: -114px -397px;
}

.hotel_fac li.SA {
	background-position: -114px -541px;
}

.hotel_fac li.SH {
	background-position: -114px -1164px;
}

.hotel_fac li.SO {
	background-position: -114px -456px;
}

.hotel_fac li.TA {
	background-position: -58px -625px;
}

.hotel_fac li.TE {
	background-position: -115px -739px;
}

.hotel_fac li.AC {
	background-position: -58px -2px;
}

.hotel_fac li.AW {
	background-position: -115px -201px;
}

.hotel_fac li.DD {
	background-position: -115px -201px;
}

.hotel_fac li.FI {
	background-position: -31px -767px;
}

.hotel_fac li.HD {
	background-position: -3px -273px;
}

.hotel_fac li.LT {
	background-position: -115px -30px;
}

.hotel_fac li.MB {
	background-position: -115px -341px;
}

.hotel_fac li.RA {
	background-position: -115px -796px;
}
.hotel_fac li.WI {
    background-position: -31px -740px;
}
.hotel_fac li.SV {
	background-position: -58px -30px;
}

.hotel_fac li.TP {
	background-position: -59px -86px;
}

.hotel_fac li.TV {
	background-position: -114px -823px;
}

.hotel_fac li.VL {
	background-position: -115px -968px;
}

.hotel_fac li.VL2 {
	background-position: -114px -1023px;
}

.hotel_fac li.CM {
	background-position: -32px -690px;
}

.hotel_fac li.GC {
	background-position: -30px -909px;
}
.hotel_fac li.GD {
	background-position: -32px -966px;
}
.hotel_fac li.GP {
	background-position: -31px -936px;
}
.hotel_fac li.TT {
    background-position: -30px -993px;
}
.hotel_fac li.BR {
    background-position: -30px -823px;
}
.hotel_fac li.BR {
    background-position: -30px -823px;
}
.hotel_fac li.BR {
    background-position: -30px -823px;
}
.hotel_fac li.BR {
    background-position: -30px -823px;
}
.hotel_fac li.AW {
    background-position: -55px -1023px;
}

.hotel_map {
	float: left;
	height: 500px;
	margin: 5px 0;
	transition: all 300ms ease-in-out 0s;
	width: 0;
}

.hotels_results {
	float: left;
	width: 100%;
	transition: all 300ms ease-in-out;
}

.map_hotel {
	background: none repeat scroll 0 0 #e5e3df;
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 10;
}

.allresult.map_open .hotel_map {
	width: 70% !important;
	transition: all 300ms ease-in-out;
}

.allresult.map_open .hotels_results {
	height: 500px;
	overflow-y: scroll;
	transition: all 300ms ease-in-out 0s;
	width: 30%;
}

.allresult.map_open .stra_hotel,.allresult.map_open .hotel_address,.allresult.map_open .side_amnties,.allresult.map_open .width18
	{
	display: none;
}

.allresult.map_open .width32,.allresult.map_open .width50 {
	width: 100%;
}

.allresult.map_open .width32 .hotel_image>img {
	max-width: 250px;
}

.allresult.map_open .flitruo_hotel {
	margin: 0 0 10px;
	padding: 0 10px;
	text-align: center;
}

.allresult.map_open .hotel_name {
	font-size: 12px;
/*	text-overflow: ellipsis;
	white-space: nowrap;*/
}

.map_hotel_pop {
	float: left;
	height: 400px;
	width: 100%;
}

.hotel_search_box {
	position: relative;
}

.hotel_search_box::after {
	content: "\f002";
	color: #666;
	font-family: "FontAwesome";
	font-size: 16px;
	line-height: 50px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 40px;
}

.srchsmall {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
	border: 0 none;
	height: 50px;
	position: absolute;
	right: 0;
	width: 40px;
	z-index: 10;
}

.hotel_search_box .filter_input {
	padding-right: 40px;
}


@media screen and (max-width:1200px) {
	.propopum {
		width: 95%;
	}
}

@media screen and (max-width: 991px) {
	.ht_viw {padding: 0 0px 0 6px;}
	.col30 {
		display: none;
		position: absolute;
		width: 45%;
		z-index: 100;
	}
	.col70 {
		width: 100%;
	}
	.in70 {
		padding: 20px 0 0;
	}
	.insidemyt {
		margin-left: 50px;
	}
	.filter_show,.close_filter {
		display: block;
	}
	.filtrsrch.open .col30 {
		display: block;
	}
}

@media screen and (max-width: 850px) {
	.alltwobnd .ways_one {
		width: 100%;
	}
}

@media screen and (max-width: 767px) {
	.sirticon {
		display: none;
	}
	.sorta {
		padding: 0 10px;
		text-align: center;
	}
	.flname {
		font-size: 16px;
	}
	.sprite.reflone,.sprite.refltwo {
		display: none;
	}
	.fare_flight {
		display: none;
	}
	.sideprice {
		font-size: 18px;
	}
	.fare_full {
		width: 100%;
	}
	
.madgrid .sidenamedesc .celhtl.width32{ width: 40%;}
.madgrid .sidenamedesc .celhtl.width50{ width: 60%;}
/*.madgrid .sidenamedesc .celhtl.width18{ width: 100%;}*/	
/*.celhtl.width18 .hotel_sideprice{ border-left: medium none;
    height: auto;}*/
.celhtl.width18 .hotel_sideprice .sideprice_hotel{ font-size: 18px; margin-top: 15px;line-height: 27px;}
.booknow {  font-size: 13px; }
.resultall .filter_tab { top: 0px !important;}
.hotel_sideprice {height: 144px;}
}

@media screen and (max-width: 650px) {
.fullshort{  width:100%;}
.noviews{ display:none;}
	
}





@media screen and (max-width: 550px) {
	.col30 {
		width: 60%;
	}
	.fligthsmll {
		width: 60px;
	}
	.width20,.width80 {
		width: 100%;
	}
	.ifroundway .fligthsmll,.fligthsmll {
		float: left;
		height: auto;
		line-height: normal;
		margin: 5px;
		padding: 5px;
		width: auto;
	}
	.airlinename {
		line-height: 30px;
		padding: 5px;
	}
	.madgrid .sidenamedesc .celhtl.width32{ width: 100%;}
.madgrid .sidenamedesc .celhtl.width50{ padding: 0 15px; width: 100%;}
.lazy.lazy_loader { width: 100%; height: 120px; min-height: auto;}
.hotel_image { height: 122px; }
}

@media screen and (max-width: 460px) {
	.hide_sort {
		display: none;
	}
	.sortul.flight_sort .sortli {
		width: 33.33%;
	}
	.col30 {
		width: 80%;
	}
	.booknow {
		padding: 10px 0px;
	}
	.width_hundred {
		width: 100%;
	}
	.flight_datails .imagesmflt {
		float: left;
	}
}

@media screen and (max-width: 420px) {
	.modifysrch strong {
		display: none;
	}
	.modifysrch {
		float: right;
		width: 50px;
		padding: 0;
	}
	.sorta {
		font-size: 12px;
	}
	.fltime {
		margin-left: 2px;
	}
	.flname {
		font-size: 14px;
	}
}

.map_box {
	display: block;
	max-width: 250px;
	overflow: hidden;
	margin: 20px 0 20px 20px;
}

.in_map_box {
	display: block;
	overflow: hidden;
}

.map_image {
	background: #eee none repeat scroll 0 0;
	display: block;
	max-height: 150px;
	min-height: 150px;
	overflow: hidden;
	position: relative;
}

.map_image img {
	max-height: 150px;
	min-height: 150px;
	width: 100%;
}

.map_htl_price {
	background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
	bottom: 0;
	color: #fff;
	font-family: roboto;
	font-size: 20px;
	left: 0;
	padding: 5px 10px;
	position: absolute;
}

.map_details {
	display: block;
	overflow: hidden;
}

.map_name_dets {
	display: block;
	overflow: hidden;
	padding-right: 10px;
}

.map_name_htl {
	color: #444;
	display: block;
	font-size: 16px;
	margin: 0;
	overflow: hidden;
	padding: 5px 0;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.book_map {
	background: #f96800 none repeat scroll 0 0;
	color: #fff;
	display: block;
	font-size: 14px;
	margin: 5px 0;
	overflow: hidden;
	padding: 10px 0;
	text-align: center;
}

.book_map:hover {
	background: #eb6302;
	color: #fff;
}

.allresult.map_open .map_name_dets .stra_hotel{display: block;margin: 0;}

.set_trans_back{background: rgba(0, 0, 0, 0) url("../../images/trans_1.jpg") no-repeat center center;
	background-attachment:fixed;
	background-size:cover;
    bottom: 0;
    left: 0;
    opacity: 0.1;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;}

.ribbon-wrapper {
  margin: 50px auto;
  width: 280px;
  height: 370px;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
  position: relative;
  z-index: 90;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: 500 13px sans-serif;
  color: #fff;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: absolute;
  padding: 3px 5px;
  right: -18px;
  top: 7px; letter-spacing: 0.5px;
  background-color: #ff655a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff655a), to(#F44336)); 
  background-image: -webkit-linear-gradient(top, #ff655a, #F44336);
  background-image:    -moz-linear-gradient(top, #ff655a, #F44336); 
  background-image:     -ms-linear-gradient(top, #ff655a, #F44336); 
  background-image:      -o-linear-gradient(top, #ff655a, #F44336); 
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
  width: 70px; z-index: 99;
}

/*.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}*/

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}​
/*Trip advisor*/
.resp-module {
    display: inline-block;
    vertical-align: top;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.reviews-box {
    color: #333;
    float: right;
    max-width: 140px;
    /* width: 40%; */
}
.reviews-box .cont {
    background-color: #fff;
/*     border: 1px solid #ccc;
box-shadow: 2px 2px 3px 0 #7e7e7e; */
    margin-bottom: 3px;
    padding: 6px;
    text-align: center;
    border-radius: 4px;
}
.reviews-box .guest-reviews .guest-reviews-badge {
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}
.reviews-box .guest-reviews .guest-rating-value {
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
}
.reviews-box .guest-reviews .guest-rating-value strong {
    font-size: 14px;
    font-weight: bold;
}
.reviews-box .guest-reviews .guest-reviews-link {
    padding-top: 2px;
}
.reviews-box .guest-reviews + .ta-reviews {
    padding-top: 5px;
}
.starfa.fa {color: #fff;}
.toglefil.active .starin .fa {color: #f58830}
/*trip advisor*/
.superb .reviews-box .ta-reviews .icon-trip-advisor {
    color: #589742;
    display: inline-block;
    font-size: 14px;
}
.superb .reviews-box .ta-reviews .ta-rating {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    vertical-align: top;
}
.superb .icon {
    font-family: hcom-icons,arial,helvetica,sans-serif;
}
/*.superb .reviews-box .ta-reviews .ta-logo {
    background-image: url(/da/assets/s/63.0.7853/images/common/pages/common/tripadvisor-logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 18px;
    margin-right: 5px;
    margin-top: 1px;
    text-indent: -999em;
    width: 28px;
}*/
.superb .reviews-box .guest-reviews + .ta-reviews {
    padding-top: 0px;
}
.superb .reviews-box .guest-reviews .guest-reviews-badge {
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
}
.superb .reviews-box .guest-reviews .guest-rating-value {
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
}
.superb .reviews-box .guest-reviews .guest-rating-value strong {
    font-size: 14px;
    font-weight: bold;
}
 .trp_adv h3 {
    font-size: 18px !important;
    color: #444 !important;
}
.trp_adv p.rvw {
    margin: 6px 0px 0px 30px !important;
    color: #656565;
}
img.blk {
    margin-top: 3px !important;
    margin-bottom: 4px !important;
}
.cont {
     margin: 0px 0 !important; 
 }
.reviews-box .cont {
    margin-bottom: 0px !important;
    margin-top:0px !important;
}
li.TV.tooltipv.h-f + .tooltip>.tooltip-inner {
    text-transform: uppercase;
}
.map_open .item.rowresult1.r-r-i.grid-group-item { width: 100%;}
.text-center.loader-image img {max-width: 40px;}
.rm_detls .date_loc {font-size: 12px;margin-bottom: 2px;}
.rm_detls .date_loc strong {font-weight: 500;font-size: 13px;}
.bokkpricesml.rm_detls {padding-top: 0;padding-bottom: 4px;}
.flitruo_hotel .htl_offr {
    background: #9ce0da;
    padding: 3px 8px;
    /* font-size: 8px; */
    font-size: 11px;
    width: auto;
    float: left;
    margin-bottom: 5px;clear: both;
}
.flitruo_hotel .htl_offr b {
    font-weight: 500;
    font-size: 12px;
}
.flitruo_hotel .htl_offr .fa {
    font-size: 13px;
    color: #666;
    margin-right: 5px;
}
.text-center.loader-image {clear: both;margin-top: 25%;}
.ht_refnd {font-weight: 500;color: #333;font-size: 13px;
    line-height: 24px;
    overflow: hidden;
    padding: 0 6px;    display: block;
    float: left;    clear: both;}
.prebok_hding .detal_htladrs { text-transform: capitalize;}
#sync1 {max-height: 305px;}
.loader-image img { max-width: 75px;}
.htlfltr .starrting { max-width: none; }

#hotel-facility-wrapper { height: 250px; overflow: auto; }
#hotel-location-wrapper { height: 150px; overflow: auto; }
#hotel-facility-wrapper::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#hotel-facility-wrapper::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

#hotel-facility-wrapper::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #c1c1c1;
}

#hotel-location-wrapper::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#hotel-location-wrapper::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

#hotel-location-wrapper::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #c1c1c1;
}



/*responsive*/

@media ( max-width :1024px) {
.dets_hotel span.hotel_address.elipsetool { font-size: 12px; }
.pers { font-size: 11px; }

}


@media ( max-width :767px) {
.hotel_address { padding: 0 0 4px 0; font-size: 12px;}
.for_hotel_modi .modifysrch {width: 100%; max-width: 100px; padding: 5px 5px;}
.booknow {  padding: 7px 0 !important;} 
.reviews-box { float: left; max-width: none; text-align: left; width: 100%;}
.hoteldist, .superb.col-xs-4 { width: 100%;padding: 0;}
.reviews-box .cont {padding: 0px; text-align: left;}
.ta-reviews .text-wrap { float: right;}
}


@media ( max-width :480px) {
.loadsec { top: 129px !important; }
.insidemyt {margin-left: 29px;}
.view_h .btn-sm {padding: 9px 3px !important;line-height: 30px;vertical-align: middle;font-size: 14px;margin-left: 0px !important;}
.celhtl.width18 .hotel_sideprice .sideprice_hotel {font-size: 13px;line-height: 25px; padding: 0 3px;}
.celhtl.width18 .hotel_sideprice .bookbtn_htl { margin: 10px 1px;}
.side_amnties { margin: 0; }
.elipsetool {font-size: 12px;}
.hotel_fac li { height: 30px;width: 30px; }
.stra_hotel .fa { margin: 0px 2px;}
.resultall .filter_tab { top: 0px !important;padding: 0px 6px;}
.vluendsort .col-lg-2.col-md-3.col-xs-4.pull-right { width: 24% !important;padding: 0 !important;}
.col-lg-10.col-md-9.col-xs-8.nopad { width: 65% !important;}
.contentsdw .smldescrptn > .col-xs-2.boxpad.pull-right { width: 16.66666667% !important; }
.modifysrch { font-size: 12px !important;padding: 5px 4px !important; line-height: 32px !important;}
.hotel_name {font-size: 14px;white-space: normal;}
.sorta strong { font-size: 9.5px !important;white-space: normal;line-height: 12px !important; }
.flitruo_hotel {padding: 0 5px 0 0;}
.item.grid-group-item.col-xs-4 {margin-bottom: 4px;width: 50%; display: inline-flex;float: none;vertical-align: top;}
.map_htl_price {font-size: 16px; }
.modify_s {top:197px !important;}
.grid-group-item .side_amnties, .grid-group-item .width60 .flitruo_hotel .elipsetool { height: auto; }
.allresult.map_open .hotel_map { width: 100% !important; }
.allresult.map_open .hotels_results { display: none !important; }
.item.grid-group-item .celhtl.width18 .hotel_sideprice .sideprice_hotel {margin-top: 0px; }
span.prce_per {font-size: 10px;line-height: 15px;}
.guest-reviews { display: none;}
img.ad_im {max-height: 34px;}
.scnd_hdr {padding: 10px 0; }
}

@media ( max-width :360px) {
.item.grid-group-item.col-xs-4 {  width: 100%; }
}
/*@media ( max-width :360px) {
}*/
@media ( min-width :481px) and (max-width:767px) {
.insidemyt {margin-left: 37px;}
.view_h .btn-sm { padding: 6px 5px !important; }
.item.grid-group-item.col-xs-4 {margin-bottom: 4px;width: 33.33%; display: inline-flex;float: none;vertical-align: top;}
.modify_s {top: 223px !important;}
.hotel_name {font-size: 15px;line-height: 18px;}
.hotel_address {font-size: 12px; padding-top: 0;}
.stra_hotel .fa {font-size: 12px;margin: 0px 2px;}
.hotel_fac li {height: 30px;width: 30px;}
img.ad_im {max-height: 55px;}
.scnd_hdr {padding: 10px 0; }
span.prce_per {line-height: 15px; }
.reviews-box .guest-reviews .guest-reviews-link {display: none;}
}
@media ( min-width :768px) and (max-width:991px) {
.item.grid-group-item.col-xs-4 {margin-bottom: 4px;width: 33.33%; display: inline-flex;float: none;vertical-align: top;}
.none_mody { display: block !important; }
.modify_s { top: 252px !important;}
}
@media ( min-width :992px) and (max-width:1199px) {
.sideprice_hotel {font-size: 19px;}
.item.grid-group-item.col-xs-4 {margin-bottom: 4px;width: 33.33%; display: inline-flex;float: none;vertical-align: top;}
.ht_viw {padding: 0 0px 0 6px;}
}

@media ( min-width :992px) {
.item.grid-group-item .bookbtn_htl {
    position: absolute;
    width: 90%;
    bottom: 0;
    left: 0;
}
.item.grid-group-item .sideprice_hotel {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 55px;
}
.item.grid-group-item .madgrid { min-height: 490px;}
.map_open .item.grid-group-item .madgrid { min-height: auto;}
.hoteldist.col-xs-8, .superb.col-xs-4 {display: table-cell;vertical-align: middle;float: none;}
.superb.col-xs-4 {vertical-align: bottom;}

.item.grid-group-item .hoteldist.col-xs-8, .item.grid-group-item .superb.col-xs-4 {width: 100%;display: block; float: left;}

.item.grid-group-item .reviews-box { float: none;width: 100%; margin: 0 auto;}

}

