body{font-family: "Roboto",sans-serif;}
.navbar-nav.agent_menu{}
.navbar-nav.agent_menu li a{font-size: 12.5px;}  
.navbar-nav.agent_menu>li>a {font-size: 12.5px;padding: 15px 10px;}  
.navbar-nav.agent_menu li a .fa{color:#666;}
.nav-tabs.tabstab {}
.searcharea { padding: 15px 0px; }
.info-box-icon .fa{color:#fff;}
.sidebar-menu .treeview-menu{margin-top:-3px;}
.navbar-nav.agent_menu .bg-blue{background:#0098cf !important;}
.navbar-nav.agent_menu .bg-blue a, .navbar-nav.agent_menu .bg-blue a .fa{color:#fff !important;}
.main-header > .navbar .navbar-nav > li > a strong{font-weight:normal;}
.bookbuss .bookallbtn{float:right;}
.skin-black-light .main-header .logo{ border:0;
	margin-right: 0;
    min-width: auto;
    padding: 5px 0;
    width: 200px;}
.inlabl_name{color: #999;
    display: block;
    font-size: 13px;
    margin: 0 0 2px;
    overflow: hidden;}
.b2b_agent_profile .labrti{line-height: normal;}

.tnlepasport_b2b{}
.tnlepasport_b2b .paspolbl{display: block;
    font-size: 14px;
    margin: 0 0 5px;
    overflow: hidden;
    width: 100%;}
.panel_custom_heading{}
.panel_title{}
.panel_bdy{background: #fff none repeat scroll 0 0;
    float: left;
    padding: 15px;
    width: 100%;}
.panel_inside{}
.panel_selcts{}
.section_deposite{}
.nav.nav-tabs.b2b_navul{border:0;}
.nav.nav-tabs.b2b_navul li{}
.nav.nav-tabs.b2b_navul li a{background:#dcdcdc; color: #333;
    font-size: 15px;}
.nav.nav-tabs.b2b_navul li.active a{background:#fff;}
.nav.nav-tabs.b2b_navul li a .fa, .nav.nav-tabs.b2b_navul li a .glyphicon{color:#999;margin-right:5px;}
.panel_selcts.selctmark_dash::after{bottom: 1px;
    right: 1px;
    top: 1px;}
.selctmark_dash{position:relative;}
.selctmark_dash::after{content:"\f078";background:none repeat scroll 0 0 #fff;bottom:0;color:#999;font-family:"FontAwesome";font-size:12px;line-height:40px;pointer-events:none;position:absolute;right:0;text-align:center;top:0;width:30px;}
.normalsel_dash{border: 1px solid #ddd;
    display: block;
    height: 40px;
    overflow: hidden;
    width: 100%;}
.panel_bdy legend{padding:0 0 10px;}
.panel_title_bak{background: #fff none repeat scroll 0 0;
    border-bottom: 1px dashed #ddd;
    float: left;
    font-size: 14px;
    padding: 15px;
    width: 100%;}
.set_wraper{background: #fff none repeat scroll 0 0;
    display: block;
    overflow: hidden;
    padding: 0 15px;}
.name_user_down{color: #fff;
    display: block;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 0;}
.aciv_mber{display:block;overflow:hidden;text-align:center;color:#999;}
.full_logout{overflow: hidden;
    text-align: center;}
.navbar-nav > .user-menu > .dropdown-menu > .user-body a.flt_btn {
    color: #5372b1 !important;
}

.extra_content{background: #fff none repeat scroll 0 0;
    float: left;
    padding: 15px;
    width: 100%;}
	
.searc_fliter_all{}
.list_of_sections a{background: #fff none repeat scroll 0 0;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 #ccc;
    color: #666;
    float: left;
    font-size: 14px;
    margin: 5px;
    padding: 5px 10px;}	
.list_of_sections a.active, .list_of_sections a:hover{background: #2daae4 none repeat scroll 0 0;
    border: 1px solid #2daae4;
    color: #fff;}
.filter_heading {
    color: #666;
    display: block;
    font-size: 16px;
    margin: 0 0 5px;
    overflow: hidden;
}
.serch_area_fltr{border-bottom: 1px dashed #ddd;
    float: left;
    margin: 0 0 15px;
    width: 100%;}

.skin-black-light .main-header > .navbar{float:right;margin:0;}
header.main-header {
    background: #fff none repeat scroll 0 0;
    clear: both;
    float: left;
    width: 100%;
}
.row_container .info-box{margin: 10px 0;}
.main-header .sidebar-toggle{font-size: 21px;
	color:#198c8c
;
    padding: 10px 15px;}
.main-header .sidebar-toggle:hover{color:#198c8c
;}
.content-wrapper{display: block;
    overflow: hidden;}
.snf_hnf{background: #f4f4f4 none repeat scroll 0 0;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 3px;
    color: #00a9d6;
    display: block;
    font-size: 14px;
    overflow: hidden;
	padding:0;
    text-align: center;
    float:left;
}
.priceflights{font-size:25px;}
.snf_btn{background: #ccc none repeat scroll 0 0;
    border-radius: 2px;
    color: #333;
    float: right;
    margin: 4px 5px;
    padding: 5px 10px;}
	
.snf_btn:hover{color:#000;}
.snf_btn.active,
.snf_btn.active:hover{background: #00a9d6 none repeat scroll 0 0;color:#fff}
.bustprice{font-size:18px;}
.inpadbus .snf_hnf{float:right;margin: 0 0 5px;}
.result_srch_htl .snf_hnf{display:table;margin: 0 auto;}
.search_fltr_section{background: #fff none repeat scroll 0 0;
    float: left;
    width: 100%;}

#set_balance_alert_form .checkbox [type="checkbox"]:not(:checked), 
.checkbox [type="checkbox"]:checked{left: auto;}
.row_top_fltr{border-bottom: 1px solid #ccc;
    float: left;
    padding: 0 0 10px;
    width: 100%;}
.row_top_fltr .snf_btn .fa{margin-right: 5px;}
.reset_filter{float: right;
    padding: 5px;}
.reptallt.big_brd_btm{border-bottom: 1px solid #ccc;
    margin-bottom: 10px;}
.reptallt_commisn {float: left;
    padding: 5px 0;
    width: 100%;}
.reptallt_commisn .farestybig{font-size: 14px;
    line-height: 22px;}

.fixincrmnt.fixed{width: 66%;
	width: -webkit-calc(70% + 8px);
	width: -moz-calc(70% + 8px);
	width: -o-calc(70% + 8px);
	top:0;}

.login_logo{background: #434f61 none repeat scroll 0 0;
    border-bottom: 1px dashed #dfdfdf;
    display: block;
    overflow: hidden;
    padding: 20px 0;}
.login_body{display: block;
    overflow: hidden;
    padding: 20px;}
.login_box_msg{color: #444;
    display: block;
    font-size: 16px;
    overflow: hidden;
    padding: 0 0 20px;
    text-align: center;}

.login_body .form-group{float: left;
    margin: 0;
    width: 100%;}
.login_body .control-label{color: #666;
    display: block;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 0;
    text-align: left;
    width: 100%;}
.login_body .control-label .text-danger{display:none;}
.login_body .col-sm-6{display: block;
    overflow: hidden;
    padding: 0;
    width: 100%;}
.login_body .col-sm-6 .login-ip{border: 1px solid #e3e3e3;
    border-radius: 5px !important;
    box-shadow: none;
    display: block;
    font-size: 14px;
    height: 45px;
    overflow: hidden;
    width: 100%;}


.login_body .form-group .col-sm-8.col-sm-offset-4{display: block;
    margin: 0;
    overflow: hidden;
    padding: 15px 0 0;
    width: 100%;}
.login_body .form-group .btn{background: #198c8c
 none repeat scroll 0 0;
    border: 1px solid #198c8c
;
    box-shadow: 0 0 1px #fff inset;
    font-size: 18px;
    padding: 10px;
    text-transform: uppercase;
    width: 100%;}



.login_box_msg .fa{}
.panel_footer{background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
    border-top: 1px dashed #eee;
    float: left;
	margin: 10px 0 0;
    padding: 10px;
    text-align: center;
    width: 100%;}

.background_login{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9ee8fa+0,ffffff+100 */
background: #9ee8fa; /* Old browsers */
background: -moz-linear-gradient(top,  #9ee8fa 0%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #9ee8fa 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #9ee8fa 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ee8fa', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

	bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 0;}
.log_inner{background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
    border-radius: 6px;
    box-shadow: 0 0 10px -5px #000;
    display: block;
    overflow: hidden;
    position: relative;}

.background_login .busrunning {
    bottom: 0;
    margin: 0;
    position: absolute;
}

.background_login .loadcity{background: rgba(0, 0, 0, 0) url("../images/loadcity.png") repeat-x scroll left bottom;width: 200%;}


.runbus {
    animation: 15s linear 0s normal none infinite running caranimate4_login;}
@-webkit-keyframes caranimate4_login{0%{left:0;}
100%{left:100%;}
}
@-moz-keyframes caranimate4_login{0%{left:0;}
100%{left:100%;}
}
@-o-keyframes caranimate4_login{0%{left:0;}
100%{left:100%;}
}
@keyframes caranimate4_login{0%{left:0;}
100%{left:100%;}
}




.background_login .runbus2 {
    animation: 10s linear 0s normal none infinite running caranimate2_login;}

@-webkit-keyframes caranimate2_login{0%{right:0;}
100%{right:100%;}
}
@-moz-keyframes caranimate2_login{0%{right:0;}
100%{right:100%;}
}
@-o-keyframes caranimate2_login{0%{right:0;}
100%{right:100%;}
}
@keyframes caranimate2_login{0%{right:0;}
100%{right:100%;}
}



.flitfly {
    animation: 15s linear 0s normal none infinite running flightanimate_login;}

@-webkit-keyframes flightanimate{0%{left:0;}
20%{-webkit-transform:rotate(15deg);}
40%{-webkit-transform:rotate(20deg);bottom:80px;}
60%{bottom:80px;-webkit-transform:rotate(25deg);}
70%{-webkit-transform:rotate(30deg);}
90%{-webkit-transform:rotate(50deg);}
100%{left:100%;-webkit-transform:rotate(60deg);}
}
@-moz-keyframes flightanimate{0%{left:0;}
20%{-moz-transform:rotate(15deg);}
40%{-moz-transform:rotate(20deg);bottom:80px;}
60%{bottom:80px;-moz-transform:rotate(25deg);}
70%{-moz-transform:rotate(30deg);}
90%{-moz-transform:rotate(50deg);}
100%{left:100%;-moz-transform:rotate(60deg);}
}
@-o-keyframes flightanimate{0%{left:0;}
20%{-o-transform:rotate(15deg);}
40%{-o-transform:rotate(20deg);bottom:80px;}
60%{bottom:80px;-o-transform:rotate(25deg);}
70%{-o-transform:rotate(30deg);}
90%{-o-transform:rotate(50deg);}
100%{left:100%;-o-transform:rotate(60deg);}
}
	
@keyframes flightanimate_login{0%{left:0;}
20%{transform:rotate(15deg);}
40%{transform:rotate(20deg);bottom:80px;}
60%{bottom:80px;transform:rotate(25deg);}
70%{transform:rotate(30deg);}
90%{transform:rotate(50deg);}
100%{left:100%;transform:rotate(60deg);}
}

.background_login .reltivefligtgo {height: 200px;}

.insidebosc .fixincrmnt, .insidebosc .fixincrmnt.fixed {
    bottom: 0;
    box-shadow: 0 -1px 10px -5px #000;
    left: 0;
    position: fixed;
    right: 0;
    top: auto;
    width: 66%;
    z-index: 1000;
}
.search-result.onlyfrflty {
    padding-bottom: 50px;
}
.filterforall.addtwofilter.fixed {
    margin-top: 0;
}


.prev_next_date{display: table;
    margin: 0 auto 10px;
    overflow: hidden;
    padding: 5px;
    text-align: center;}
.btn_dates{background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #555;
    float: left;
    font-size: 14px;
    padding: 6px 15px;}
.datevery{float: left;
    font-size: 14px;
    margin: 0 20px;
    padding: 6px 10px;}
.btn_dates .fa.fa-angle-left{margin-right: 8px;}
.btn_dates .fa.fa-angle-right{margin-left: 8px;}





.agent_regpage{background: #f1f1f1 none repeat scroll 0 0;
    float: left;
    width: 100%;}
.agent_regtr{display: block;
    margin: 0 auto;
    overflow: hidden;
    padding: 30px;
    width: 70%;}
.agentreg_heading{color: #333;
    display: block;
    font-size: 22px;
    margin: 0 0 10px;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
    text-align: center;}
.gobacklink{background: #fff none repeat scroll 0 0;
    border-radius: 30px;
    font-size: 14px;
    padding: 7px 18px;
    position: absolute;
    right: 0;}
.each_sections{background: #fff none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px -8px #000;
    float: left;
    margin: 15px 0;
    width: 100%;}
.sec_heading{background: #f5f5f5 none repeat scroll 0 0;
    border-bottom: 1px solid #eee;
    border-radius: 5px 5px 0 0;
    display: block;
    font-size: 20px;
    font-weight: 300;
    overflow: hidden;
    padding: 15px;}
.inside_regwrp{display: block;
    overflow: hidden;
    padding: 15px;}
.wrap_space{display: block;
    margin: 10px;
    overflow: hidden;}
.label_form{color: #555;
    display: block;
    font-size: 15px;
    margin: 0 0 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;}
.select_wrap::after{content:"\f078";
	background: #fff none repeat scroll 0 0;
    bottom: 1px;
    color: #999;
    font-family: "FontAwesome";
    font-size: 12px;
    line-height: 42px;
    pointer-events: none;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 30px;}
.select_wrap{float:left; position:relative; width:100%;}
.select_form{border: 1px solid #e3e3e3;
    float: left;
    font-size: 16px;
    height: 45px;
    padding: 0 10px;
    width: 100%;}
.noborderit{border-right:1px solid #fff;}
.div_wrap{}
.input_form{border: 1px solid #e3e3e3;
	box-shadow: none;
    float: left;
    font-size: 16px;
    height: 45px;
    line-height: 43px;
    padding: 0 10px;
    width: 100%;}
.input_textarea {
    border: 1px solid #e3e3e3;
    box-shadow: none;
    float: left;
    font-size: 16px;
    height: 45px;
    padding: 10px;
    width: 100%;
}
.upload_wrap{}
.uplod_image{background-color: #eee;
    background-size: cover;
    display: block;
    height: 138px;
    overflow: hidden;
    position: relative;}
.hideupload{bottom: 0;
    cursor: pointer;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10;}
.select_form.invalid-ip, .input_form.invalid-ip {
    border: 1px solid #efabab;
    box-shadow: none;
}

.submitsection{display: block;
    margin: 15px 0;
    overflow: hidden;}
.acceptrms{}
.btnreg_agent {
    background: #198c8c
 none repeat scroll 0 0;
    border: 1px solid #198c8c
;
    border-radius: 3px;
    color: #fff;
    float: left;
    font-size: 20px;
    margin: 15px 0;
    padding: 15px 50px;
}
.agent_error{background: #eee none repeat scroll 0 0;
    border-radius: 4px;
    color: #ec4658;
    font-size: 11px;
    padding: 8px 10px;
    position: absolute;
    right: 10px;
    top: -13px;}
.agent_error::after{content:"\f0d7";
	bottom: -25px;
    color: #eee;
    font-family: "FontAwesome";
    font-size: 30px;
    position: absolute;
    right: 20px;}







@media(max-width:991px){
.main-header > .navbar .navbar-nav > li > a .none_lables{display:none;}	
.main-header .logo {
    margin-right: 0;
    max-width: 230px;
    min-width: auto;
    width: auto;
}

.navbar-custom-menu .navbar-nav > li.balane_msgs, 
.navbar-custom-menu .navbar-nav > li.dash_nav_menu, 
.navbar-custom-menu .navbar-nav > li.tasks-menu, 
.navbar-custom-menu .navbar-nav > li.notifications-menu{display:none;}
.row_bookings_section{margin: 0 -30px;}

}

@media(max-width:768px){
.info-box-icon{font-size: 25px;width: 40px;}
.info-box-content{margin-left: 40px;}
.skin-black-light .main-header > .navbar{width: auto;}
.skin-black-light .main-header .logo{float:left;}
}

@media(max-width:650px){
.agent_regtr{width:100%;}
}
@media(max-width:600px){
.hided_whn{display:none}
.divinsidefltr, .insidemyt{width:100%;}
}



@media(max-width:500px){
.nav > li.normal_srchreali{display:none;}
.onlyfrflty .snf_btn{display:none;}
.agent_regtr{padding: 15px 0;}
}

@media(max-width:420px){
.row_bookings_section .col-xs-6{width:100%;}
.products-list .product-info {margin-left: 20px;}
.agentreg_heading{font-size:18px;}
}

@media(max-width:360px){
.smaltext{font-size:12px;}
.inside_regwrp{padding:0;}
}

/*Agent signup -sudheep*/
.agent_signup{
    background: #9acd32 none repeat scroll 0 0;
    text-align: center;
}




.mymodel .modal-content{border: 1px solid #dddddd;}
.mymodel .modal-header{background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #333333;}
.centcheck.fa{color: #00af50;
    display: table;
    font-size: 30px;
    margin: 0 auto;}
.mymodel .modal-title{color: #666666;
    margin: 10px 0 0;
    text-align: center;}
.detahd{color: #666666;
    display: block;
    font-size: 17px;
    font-weight: normal;
    margin: 0 0 10px;}
.orderli{color: #666666;
    font-size: 14px;}
.orderli li {
    margin: 0 0 5px;
}
.noticep{ background: #f0f0f0 none repeat scroll 0 0;
    border-radius: 3px;
    color: #666666;
    display: block;
    font-size: 14px;
    font-weight: normal;
    margin: 20px 0;
    padding: 10px;}
.noticep > a {
     display: block;
    font-size: 16px;
}
.addresspoint {
     color: #666666;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    padding-left: 40px;
}
.agentmyn{ background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    position: relative;
    z-index: 1;}
.newaddtab::after {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.agentmyn .agentreg_heading{ color:#fff;}
.agentmyn  .lbllbl, .agentmyn  .lbllbl a{ color:#fff;}
.sec_heading > strong {
    background: #00c5e0 none repeat scroll 0 0;
    border-radius: 30px;
    color: #ffffff;
    display: block;
    float: left;
    height: 40px;
    line-height: 40px;
    margin-right: 15px;
    text-align: center;
    width: 40px;
}
.agentmyn .sec_heading{ line-height:40px;}


.rating, .rating-no {
	unicode-bidi: bidi-override;
	direction: rtl
}
.rating span.star, .rating-no span.star {
	font-family: 'Font Awesome 5 Pro';
	font-weight: 400;
	font-style: normal;
	display: inline-block
}
.rating-block span.star {
	display: block
}
.rating span.star:hover, .rating-no {
	cursor: pointer
}
.rating span.star:before, .rating-no span.star:before {
	content: "\f005";
	padding-right: 1px;
	color: #777
}
.rating span.star:hover:before, .rating span.star:hover ~ span.star:before, .rating-no span.star.active:before, .rating-no span.star.active ~ span.star:before {
	content: "\f005";
	color: #198c8c

}
.newslterinput {margin-bottom: 8px;}
.labltowr {margin-top: 10px; margin-bottom: 10px;}
.labltowr.noxtra small { margin-top: 2px; display: inline-block;}
.b-r-0 {border-radius: 3px!important;}
.modifysrch {

    height: auto!important;
    position: unset!important;
    right: unset!important;
    top: unset!important;
    margin: 0!important;
    font-size: 13px;
}
      .newslterinput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
}
   .newslterinput::-moz-placeholder { /* Firefox 19+ */
  color: #000;
}
    .newslterinput:-ms-input-placeholder { /* IE 10+ */
  color: #000;
}
   .newslterinput:-moz-placeholder { /* Firefox 18- */
  color: #000;
}
.btn_sky_blue,.btn_sky_blue:hover{
    background-color: #16aae2;
    border-color: #16aae2;
    margin-right: 5px;
}
.light_green{
	color: #a4c102;
	width: 20px;
}
.dark_pink{
	color: #b7044e;
	width: 20px;
}
.light_pink{
    color: #f160af;
    width: 20px;
}
.dark_blue{
    color: #2800f9;
    width: 20px;
}
.light_brown{
    color: #840505b8;
    width: 20px;
}
.dark_green{
    color: #1d5800;
    width: 20px;
}
.light_orange{
    color: #ff5400;
    width: 20px;
}
.light_yellow{
    color: #d6d100;
    width: 20px;
}
.dark_red{
	color: #d80202;
	width: 20px;
}
.blue{
    color: #0195ce;
}
.green{
    color: #008000;
}
.red{
	color: #ff0000;
}
.sandal{
    color: #ecc49c;
}
.deep_blue{
   color: #0073b7;
}
.violet{
    color: #9b00b7;
}
.greenish_blue{
    color: #00b78d;
}
.yellowish_orange{
	color: #f39c12;
}
.orange{
    color: #FF5722;
}
.dark_grey{
	color: #696969;
}