/*dashboard*/
.sinupsec, .offices, .dash_hide_footer{display:none;}


.noside .comonfooter{padding:0;}

.customtab .nav-tabs li a{font-size:15px;}

.main-chart {
    display: block;
    overflow: hidden;
    padding: 15px;
}
.dash_user{border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    display: block;
    height: 80px;
    margin: 0 auto;
    overflow: hidden;
    width: 80px;}
.dash_user img{min-height: 70px;
    width: 100%;}

.right_side_dash{
    min-height: 90vh;
    padding:0 15px 0 0;}
.bannersrgt1 {
    border-radius: 5px;
    display: block;
    margin: 10px 0;
    overflow: hidden;
    width: 100%;
}
.bannersrgt1 > img {
    max-width: 100%;
}
.bannersrgtbtm {
    display: block;
    max-height: 220px;
    margin: 15px 0 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.bannersrgtbtm > img {
    width: 100%;
	min-height: 200px;
}
.absolubaner {
    color: #ffffff;
    font-size: 32px;
    left: 40px;
    line-height: 35px;
    position: absolute;
    top: 40px;
}
.absolubaner > strong {
    display: block;
    font-size: 18px;
    font-weight: normal;
    overflow: hidden;
}



.main_top{display: block;
    overflow: hidden;
    padding: 20px 0;}
.top_booking_info{display: block;
    margin: 10px 0 15px;
    overflow: hidden;}
.hover_box{
    display: block;
    margin: 10px 0;
    overflow: hidden;
    padding: 10px;
	transition: all 400ms ease-in-out 0s;}

.box_main{}
.box_in{border-bottom: 1px solid #999;
    display: block;
    overflow: hidden;
    text-align: center;
	transition: all 400ms ease-in-out 0s;}
.box_in .fa{color: #888;
    display: block;
    font-size: 40px;
    overflow: hidden;
    padding: 10px 0 0;
	transition: all 400ms ease-in-out 0s;}
.box_in h3{color: #555;
    display: block;
    font-weight: bold;
    margin: 0;
    overflow: hidden;
    padding: 20px 0;}
.bkd_all{color: #444;
    display: block;
    font-size: 14px;
	visibility:hidden;
    overflow: hidden;
    text-align: center;}
.bkd_all strong{color: #c30035;
    display: block;
    font-size: 16px;
    font-weight: normal;
    overflow: hidden;
    padding: 4px 0;}
.fiveh {
    padding: 0 5px;
}
.outsideserach {
    margin: 0 -5px !important;
}


.hover_box:hover{background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.3);}
.hover_box:hover .bkd_all{visibility:visible;}
.hover_box:hover .box_in{border-bottom:1px solid #fff;}
.hover_box:hover .box_in .fa{color:#c30035;}

.brdcrump {
	background: #0492c4 none repeat scroll 0 0;
}




.brdli {
	float: left;
}
.profile-tabs li {
	margin: 0;
	padding: 0;
	font-size: 14px;
}
.nav > .brdli a {
	padding: 10px;
}
.brdli.active a {
	border-bottom: 4px solid #fff;
}
.profile-tabs li a {
	color: #fff;
	text-align: center;
}
.nav > .brdli.active a {
	color: #ffffff;
}
.tab-content5 {
	width: 100%;
}
.editmsg, .msg, .errstatus {
	background: #666666 none repeat scroll 0 0;
	color: #ffffff;
	display: block;
	font-size: 13px;
	overflow: hidden;
	padding: 15px;
}
.padding20me {
	display: block;
	overflow: hidden;
	padding: 20px 0;
}
.userprowrp {
	background: #ffffff none repeat scroll 0 0;
	border: 1px solid #dddddd;
	box-shadow: 0 3px 0 0 #d8d8d8;
	display: block;
	margin-top: -80px;
	overflow: hidden;
	padding: 80px 0 20px;
	position: relative;
	z-index: 100;
}
.brdli .fa {
	margin-right: 10px;
}
.profileusrs {
	transition: all 0.4s ease-in-out 0s;
}
.profileusrs {
	position: relative;
	width: 100%;
	z-index: 101;
}
.cntbl {
	display: block;
    overflow: hidden;
}
.profiledash {
	background: #cccccc none repeat scroll 0 0;
    border: 8px solid #ffffff;
    box-shadow: 0 0 10px -5px #505050;
    display: block;
    margin-top: 10px;
    max-height: 180px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.profiledash img {
	max-height: 160px;
	min-height: 160px;
	width: 100%;
}
.proname {
	 border-bottom: 1px dotted #dddddd;
    display: block;
    font-size: 20px;
    margin: 15px 0;
    padding-bottom: 10px;
    text-align: center;
}
#profile .sideul{  background: #ffffff none repeat scroll 0 0;}
#profile .sideul li{border-bottom: 1px dotted #dddddd;
    padding: 0 10px;}
.addsides .sideul{  background: #ffffff none repeat scroll 0 0;}
.addsides .sideul li{border-bottom: 1px dotted #dddddd;
    padding: 0 10px;}
#profile .sideul li.active{}

.adagnt {
	display: block;
	margin: 10px 0 0;
	overflow: hidden;
	padding: 0 15px;
}
.adagnt .fa {
	 background: #004d85 none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    float: left;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    text-align: center;
    width: 30px;
}
.roktuo {
	color: #666666;
	display: block;
	overflow: hidden;
}
.sidewiserow {
	background: #ffffff none repeat scroll 0 0;
    display: block;
    margin-bottom: 15px;
    overflow: hidden;
}
.sidewisehed {
	background: #424a5d none repeat scroll 0 0;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 15px;
}
.rogntr {
	border-bottom: 1px dotted #dddddd;
    display: block;
    overflow: hidden;
    padding: 10px 0;
    width: 100%;
}
.detdt {
	color: #666666;
    display: block;
    float: left;
    font-size: 14px;
    overflow: hidden;
}
.detdt .fa{text-align: center;
    width: 15px;}
.idagnt.coloramnt {
	color: #ff6600;
	font-size: 16px;
}
.sideop {
	font-size: 14px;
	overflow: hidden;
	padding: 10px;
}
.icontik.fa {
	color: #6ca132;
	float: left;
	font-size: 21px;
	margin-right: 10px;
}
.strogtiv {
	color: #666666;
	display: block;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 2px;
	overflow: hidden;
}
.littiv {
	color: #82888a;
	font-size: 13px;
	font-weight: normal;
}
.qlinkul {
	display: block;
	overflow: hidden;
	padding: 5px 0;
}
.qlink {border-bottom: 1px dotted #dedede;
    display: block;
    overflow: hidden;
}
.qlink a {color: #666;
    display: block;
    font-size: 14px;
    overflow: hidden;
    padding: 10px;
}
.marbtm20 {
	margin-bottom: 20px;
}
.dashed {
	color: #333;
    display: block;
    font-size: 24px;
    margin: 0 0 20px;
}
.indashrow {
	display: block;
    overflow: hidden;
}
.onlysent {
	color: #666;
    display: block;
    font-size: 14px;
    line-height: 22px;
    overflow: hidden;
}
.dshcol {
	float: left;
	width: 25%;
}
.indash {
	border: 1px solid #dddddd;
	margin: 5px;
	padding: 10px;
}
.dashico {
	border-radius: 100%;
	display: table;
	height: 100px;
	margin: 0 auto;
	padding: 22px 0 0;
	text-align: center;
	width: 100px;
}
.dashinhed {
	color: #333333;
	display: block;
	font-size: 14px;
	margin: 10px 0;
	text-align: center;
}
.indash p {
	color: #666666;
	display: block;
	font-size: 12px;
	text-align: center;
}
.dashrow1 {
	display: block;
	margin: 0 -15px;
	overflow: hidden;
}
.clrbos {
	display: block;
	padding: 10px 0px;
}
.fagren {
	background: #6ccac9 none repeat scroll 0 0;
}
.clrbos .fa {
	color: #ffffff;
	display: block;
	font-size: 50px;
	text-align: center;
}
.cntbos {
	background: #ffffff none repeat scroll 0 0;
	display: block;
	overflow: hidden;
}
.lablbos {
	float: left;
	padding: 10px;
}
.countbos {
	box-shadow: -2px 0 10px -4px #a0a0a0;
	color: #ffffff;
	float: right;
	padding: 10px;
}
.fagren {
	background: #3bafda none repeat scroll 0 0;
}
.fared {
	background: #f6bb42 none repeat scroll 0 0;
}
.fayello {
	background: #37bc9b none repeat scroll 0 0;
}
.fablu {
	background: #da4453 none repeat scroll 0 0;
}

/*dash_profile*/

.nav-tabs.profile_tab{border: 0 none;
    margin: 0 0 20px;}
.nav-tabs.profile_tab li{margin: 0 10px 0 0;}
.nav-tabs.profile_tab li a{background: #ececec none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
	cursor:pointer;
    font-size: 14px;
    height: 70px;
    margin: 0;
    padding: 10px 30px;}
.nav-tabs.profile_tab li a .fa{display: block;
    font-size: 16px;
    overflow: hidden;
    padding: 5px 0 10px;
    text-align: center;}
.nav-tabs.profile_tab li a:hover, .nav-tabs.profile_tab li a:focus{border:0;cursor:pointer;}
.nav-tabs.profile_tab li.active{border-bottom:2px solid #eb8c48;}
.nav-tabs.profile_tab li.active a{background:#fff;}


.downmrg{ margin:0;}
.tab_inside_profile{background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    display: block;
    overflow: hidden; margin-bottom:10px;}
.profile_head {
    background: #f2f2f2 none repeat scroll 0 0;
    border-bottom: 1px dotted #ddd;
    display: block;
    font-size: 18px;
    overflow: hidden;
    padding: 10px 15px;
}

.profiledash:hover .overlaychange {
	opacity: 1;
}
.overlaychange {
	background: rgba(0, 0, 0, 0.6) url("../images/change.png") no-repeat scroll center center;
	bottom: 0;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.5s ease-in-out 0s;
}
.chngers {
	bottom: 0;
	color: #ffffff;
	left: 0;
	padding: 20px 0;
	position: absolute;
	right: 0;
	text-align: center;
}
.rschange {
	bottom: 0;
	cursor: pointer;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1000;
}
.sideul {
	display: block;
	margin-top: 20px;
	overflow: hidden;
}
.sidepro {
	display: block;
	overflow: hidden;
}
.sidepro.active a {
	color: #2a6496;
	font-weight: bold;
}
.sidepro a {
	display: block;
	overflow: hidden;
	padding: 8px 0;
	font-size: 14px;
}
.tab-content5 {
	width: 100%;
}
.offset-0 {
	padding-left: 0;
	padding-right: 0 !important;
}
.fstusrp {float: left;
    height: 160px;
    overflow: hidden;
    width: 160px;}
.fstusrp .profile_photo {
    max-height: 160px;
    max-width: 100%;
}
.adres_user {
    display: block;
    overflow: hidden;
    padding: 0 0 0 20px;
}
.all_activities{display: block;
    overflow: hidden;
    padding: 20px 5px;}
.inside_left {
    float: left;
}
.inside_left p{display: block;
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 10px;
    overflow: hidden;}

.dashbuttons {
    background: #f26722 none repeat scroll 0 0;
	border:1px solid #f26722;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    padding: 20px;
}
.right_side_dash.profileplace {
    float: right;
}
.extr_profile{float: left; margin: 30px 0 0;}
.dashbuttons:hover{color:#fff;}
.top_info_profile{float: left;
    padding: 20px 0;
    width: 100%;}
.chnge_paswordd{background: #424a5d none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    float: left;
    font-size: 14px;
    margin: 30px 0 0 15px;
    padding: 20px;}
.chnge_paswordd:hover{color:#fff;}
.grey {
	color: #999999;
}
.lred {
	color: #f26722;
    display: block;
    font-size: 18px;
    margin: 0 0 10px;
    overflow: hidden;
}
.viewfulof {
	background: #0099cc none repeat scroll 0 0;
	color: #ffffff;
	display: block;
	float: left;
	overflow: hidden;
	padding: 6px 12px;
}
.mytbl {
	border: medium none;
    display: block;
    margin: 0 -10px;
    overflow: hidden;
}
.addings .inrowit{ padding: 0;}
.addings .newprof{background: #eeeeee none repeat scroll 0 0;
    display: block;
    overflow: hidden;
    padding: 10px 5px;}
.addings .clblue{padding: 0 10px;}
.colorblue {
    background: #6ccac9 none repeat scroll 0 0;
}
.colorlitblue {
    background: #57c8f2 none repeat scroll 0 0;
}
.coloryellow {
    background: #f8d347 none repeat scroll 0 0;
}
.colorred {
    background: #ff6c60 none repeat scroll 0 0;
}
.colorgreen{background: #249d41 none repeat scroll 0 0;}
.colbt .center{color: #ffffff;
    display: block;
    margin: 5px;
    overflow: hidden;}
.colbt .center .slim{display: block;
    font-size: 40px;
    overflow: hidden;
    padding: 20px 0;
    text-align: center;}
.colbt .center .size12{background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    display: block;
    font-size: 15px;
    overflow: hidden;
    padding: 10px;
    text-align: center;}
.colbt {
	float: left;
	width: 20%;
}
.center {
	margin: 0 auto;
	text-align: center;
}
.size30 {
	font-size: 30px;
}
.lh4 {
	line-height: 17px;
}
.slim {
	font-weight: 300;
}
.margtop15 {
	margin-top: 15px !important;
}
.inrowit {
	background: #ffffff none repeat scroll 0 0;
	box-shadow: 0 3px 0 0 #d8d8d8;
	display: block;
	margin: 10px;
	overflow: hidden;
	padding: 10px;
}
.dark {
	color: #333333;
}
.size16 {
	font-size: 16px;
}
.bold {
	font-weight: 700;
}
.line2 {
	background: #e8e8e8 none repeat scroll 0 0;
	display: block;
	height: 1px;
	margin: 12px 0 6px;
	padding: 0;
}
a.clblue {
	color: #0099cc;
}
.proa {
	background: #f1f1f1 none repeat scroll 0 0;
    border: 1px solid #dddddd;
    display: block;
    margin: 20px auto auto;
    padding: 10px;
    text-align: center;
    width: 70%;
}
.outsprof{ display: block;
    overflow: hidden;
    padding: 10px;}
.green {
	color: #72bf66;
}
.withedrow{display: block;
    margin-bottom: 15px;
    overflow: hidden;}
.padtabne {
	background: #cccccc none repeat scroll 0 0;
	display: block;
	overflow: hidden;
	padding: 10px;
}
.rowit {
	background: #ffffff none repeat scroll 0 0;
	float: left;
	padding: 20px;
	position: relative;
	width: 100%;
}
.imagestep {
    display: block;
    overflow: hidden;
    text-align: center;
}
.prolabel {
	color: #444444;
    font-size: 14px;
    line-height: 22px;
    padding-top: 5px;
    text-align: right;
}
.pronote {
    color: #666;
    font-size: 12px;
    font-weight: normal;
    margin: 2px 0 0;
}
.margbotm15 {
	margin-bottom: 15px;
}
.form-control {
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 0;
	color: #6f6a6a;
	display: block;
	font-size: 14px;
	height: 34px;
	line-height: 1.42857;
	padding: 5px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	vertical-align: middle;
	width: 100%;
}

.center_btn{background: #eb8c48 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    color: #fff;
    display: table;
    font-size: 14px;
    margin: 20px auto auto;
    padding: 20px 50px;}
.margtop20 {
	margin-top: 20px !important;
}
.dashed.alertred {
	background: #e9573f none repeat scroll 0 0;
}
/*dash_settings*/
.padding20 {
	padding: 20px;
}
.size18 {
	font-size: 18px;
}
.marbotom20 {
	margin-bottom: 20px;
}
.stepshed {
	color: #f26722;
    display: block;
    font-weight: normal;
    margin: 0 0 10px;
    overflow: hidden;
}
.stepspara {color: #666666;
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    overflow: hidden;
}
.stepspara strong {
	color: #333;
    display: block;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 5px 0;
}
.enbleink {background: #f26722 none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    display: table;
    font-size: 14px;
    margin: 20px auto;
    padding: 15px 0;
    text-align: center;
    width: 80%;}
.enbleink:hover{color:#fff;}
.fullquestions {float: left;
    width: 100%;
}
.rowshare {
	border-bottom: 1px dotted #dddddd;
	display: block;
	overflow: hidden;
	padding: 10px 0;
}
.lablshare {
	color: #666666;
    float: left;
    font-size: 14px;
    line-height: 30px;
    margin-right: 20px;
}
.notypmar {
	margin: 0 !important;
}
.typecodeans {
	border: 1px solid #dddddd;
    border-radius: 3px;
    display: block;
    height: 50px;
    margin: 10px auto;
    overflow: hidden;
    padding: 10px;
    width: 100%;
}
.very_links{color: #428bca;
    font-size: 14px;}
.comnbutton {
	background: #f45104 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 3px 0 0 #d43100;
    color: #ffffff;
    float: left;
    font-size: 14px;
    margin: 20px 0 10px;
    padding: 15px 30px;
}
.passucss {
	color: #006600;
	display: none;
	float: right;
	font-size:14px;
	padding: 10px 20px;
}
.wraponof {
	display: table;
	margin: 0 auto;
}
.darktogle {
	background: #dddddd none repeat scroll 0 0;
	display: block;
	overflow: hidden;
	padding: 3px;
}
.onon {
	color: #333333;
	float: left;
	font-size: 16px;
	line-height: 25px;
	padding: 0 10px;
}
.roundtogle.noo {
	background: #f2f2f2 url("../images/noo.png") no-repeat scroll center center;
}
.roundtogle {
	background: #f2f2f2 url("../images/sstik.png") no-repeat scroll center center;
	float: right;
	height: 25px;
	width: 25px;
}
.stepline {
	background: #e7e7e7 none repeat scroll 0 0;
	border-bottom: 1px solid #ffffff;
	clear: both;
	display: block;
	height: 2px;
	margin: 15px 0;
	overflow: hidden;
	width: 100%;
}
.rowlistwish {
	display: block;
	overflow: hidden;
	padding: 8px 0;
}
.rowlistwish strong {
	color: #666666;
	display: block;
	font-weight: normal;
	margin-bottom: 5px;
	overflow: hidden;
}
.downselfom {
	border-top: 1px dotted #eeeeee;
	display: block;
	margin-top: 10px;
	overflow: hidden;
	padding-top: 15px;
}
.savewish {
	background: #999999 none repeat scroll 0 0;
	border-radius: 3px;
	color: #ffffff;
	float: right;
	margin-left: 10px;
	padding: 10px 20px;
}
.colorcancel {
	background: #999999 none repeat scroll 0 0;
}
.colorsave {
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #4096ee 0%, #4096ee 100%) repeat scroll 0 0;
}

/*support_ticket*/
.padtabnenopad {
    background: #e9e9e9 none repeat scroll 0 0;
    display: block;
    overflow: hidden;
    padding: 5px;
}
.tickthed {
    float: left;
    padding: 10px;
}


.sidepro a.adnewtikt {
    background: #eee none repeat scroll 0 0;
    border: 1px solid #ddd;
    color: #333;
    float: left;
    margin-top: 20px;
    padding: 10px 20px;
}
.likrticktsec {
    display: block;
    overflow: hidden;
}
.cobldo {
    color: #666;
    float: left;
    font-size: 14px;
    line-height: 30px;
    min-width: 20%;
    padding: 5px 0;
}
.coltcnt {
    display: block;
    overflow: hidden;
    padding: 3px;
}
.payinselect {
     border: 1px solid #dddddd;
    box-shadow: none;
    color: #666666;
    height: 35px;
    padding: 5px;
    width: 100%;
}
.payinput {
    border: 1px solid #dddddd;
    color: #666666;
    height: 35px;
    padding: 5px;
    width: 100%;
}
.tikttext {
    border: 1px solid #ddd;
    float: left;
    min-height: 80px;
    width: 100%;
}
.adddtickt {background: #f26722 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    color: #fff;
    float: left;
    font-size: 14px;
    margin: 4px 0;
    padding: 15px 30px;
    text-align: center;
}





/*data_table*/

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    background: #eeeeee none repeat scroll 0 0 !important;
    border: 1px solid #dddddd !important;
    border-radius: 3px;
}
.dataTables_length select {
    margin: 0 5px;
    padding: 6px;
}

.table-responsive table.dataTable{border-collapse:collapse;}
.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #dddddd;
    height: 30px;
    margin-left: 0.5em;
}
.amnbalbl{background: #eeeeee none repeat scroll 0 0;
    font-size: 15px;
    padding: 5px 10px;float: left;}
.balncamnt{background: #00bd1e none repeat scroll 0 0;
    color: #ffffff;
    float: left;
    font-size: 15px;
    padding: 5px 15px;}
div.dataTables_length label {
    font-weight: normal;
}
#depostDatatable_length select {
    border: 1px solid #dddddd;
    padding: 5px;
}
.sortablehed {
    background: #0e7ab1 none repeat scroll 0 0;
    color: #ffffff;
}
.rgtsambtn{background: #f26722 none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    display: table;
    float: right;
    font-size: 14px;
    margin-bottom: 15px;
    padding: 15px;
    text-align: center;}
.rgtsambtn:hover{ color:#fff;}
.selectedwrap.inboxs:after{ height: 33px;
    line-height: 33px;}

.profile_head.adclr{ background: #e3e3e3 none repeat scroll 0 0;}

table.dataTable .sortablehed th{border: medium none;
border-right: 1px solid #006aa1;
    padding: 12px 10px;}

.scessspage{background: #ffffff none repeat scroll 0 0;
    display: block;
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;}
.conghd{ color: #108008;
    font-size: 50px;}
.txtnxt{ color: #666666;
    display: block;
    font-size: 20px;
    overflow: hidden;}
.suces{display: block;
    overflow: hidden;
    padding: 15px;}
.suces img{}
.trhome{  background: #004d85 none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    display: table;
    font-size: 15px;
    margin: 15px 0;
    padding: 5px 15px;}
	
.tablwe {
    display: table;
    margin: 0 auto;
    padding-bottom: 30px;
    width: 80%;
}
.celtb {
    display: table-cell;
    float: none;
    vertical-align: middle;
}
.ooops {
    color: #666666;
    font-family: "Raleway-Medium";
    font-size: 60px;
    margin-bottom: 30px;
}
.erordes {
    color: #666666;
    display: block;
    font-size: 16px;
    margin-bottom: 20px;
    overflow: hidden;
}
.rellinks {
    color: #666666;
    display: block;
    overflow: hidden;
    padding: 10px 0;
}
.erorredrctwrp {
    display: block;
    overflow: hidden;
}
.erorredrct {
    color: #009dc3;
    float: left;
    padding: 5px 0;
}
.fornot{ display:block; overflow:hidden;}
.fornot img{ width:100%;}

input[type="submit"]:disabled {
    opacity: 0.5;
}



/*2step*/
.twostep {
    display: block;
    margin: 15px 0 10px;
    overflow: hidden;
}
.stepsbighed {
    color: #666666;
    display: block;
    font-size: 22px;
    margin: 15px 0 20px;
    overflow: hidden;
}
.martopbtm {
    margin-bottom: 20px;
}
.stepfolow {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #eeeeee;
    box-shadow: -6px 6px 0 0 #dfdfdf;
    display: block;
    margin-left: 20px;
    margin-top: 20px;
    overflow: hidden;
    padding: 35px;
}
.instructn {
    color: #28accc;
    display: block;
    font-size: 20px;
    margin: 20px 0;
    overflow: hidden;
}
.paraveri {
    color: #666666;
    display: block;
    font-size: 15px;
    font-weight: normal;
    line-height: 22px;
    margin-bottom: 50px;
    overflow: hidden;
}
.startuostep {
   background: #ef7e2c none repeat scroll 0 0;
    border: 1px solid #df6e1c;
    border-radius: 3px;
    color: #ffffff;
    display: table;
    font-size: 15px;
    margin: 50px auto;
    padding: 10px 15px;
}
.forgotsomthig {
    color: #3f55d9;
    display: table;
    margin: 30px auto;
}
.seconfirm {
	display: block;
	overflow: hidden;
	margin: 0 0 15px;
}
.veryfybtn {
	background: none repeat scroll 0 0 #fff;
	border: 0 solid black;
	color: #009dc3;
	font-size: 18px;
	height: 50px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: left;
	width: 100%;
}
.veryfybtn span.collapsearrow {
	background: url("../images/collapsearrow.png") no-repeat scroll 0 -8px rgba(0, 0, 0, 0);
	float: right;
	height: 8px;
	margin-top: 10px;
	transition: all 0.3s ease 0s;
	width: 9px;
}
.colsppad {
	background: none repeat scroll 0 0 #fff;
	display: block;
	overflow: hidden;
	padding: 30px 20px;
}
.colcentrtbl {
	background: none repeat scroll 0 0 #eee;
	display: block;
	margin: 0 auto;
	padding: 20px;
	position:relative;
}
.ajaxtime {
	background: url("../images/preloader.gif") no-repeat scroll center center rgba(255, 255, 255, 0.9);
	display:none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.stndrdimg {
	display: block;
	margin: 10px 0;
	text-align: center;
}
.wichvery {
	color: #333;
	display: block;
	margin: 15px 0;
	text-align: center;
}
.colcentrtbl p {
	color: #666;
	display: block;
	text-align: center;
}
.clickblebtn, .ssactive {
	background: url("../images/secconfirm.png") no-repeat scroll 0 bottom rgba(0, 0, 0, 0);
	cursor: pointer;
	display: table;
	height: 56px;
	margin: 20px auto auto;
	width: 54px;
	transition:all 0.3s ease-in-out 0s;
}
.clickblebtn.ssactive {
	background-position: 0 0;
}


.popup_wrapper {
    z-index: 100000005 !important;
}
.popup_wrapper {
    display: none;
}
.withpadd {
	padding:20px 0;
}
.cenerstepbox {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #ddd;
	box-shadow: -6px 6px 0 0 #dfdfdf;
	display: table;
	margin: 0 auto;
	width: 35%;
	padding: 20px;
}
.twostp {
	color: #666;
	display: block;
	font-size: 18px;
	margin: 0 0 20px;
	overflow: hidden;
}
.imagemsg {
	float: left;
	margin-right: 20px;
}
.stpnote {color: #444;
    display: block;
    font-size: 15px;
    line-height: 20px;
    overflow: hidden;}
.typecode {
	border: 1px solid #ddd;
    border-radius: 3px;
    display: block;
    font-size: 20px;
    height: 50px;
    margin: 20px auto auto;
    overflow: hidden;
    padding: 10px;
    width: 100%;
}
.noother {
    background: #f2f2f2 none repeat scroll 0 0;
    float: left;
    min-height: 500px;
    width: 100%;
}
.fullverify {
	background: #ef7e2c none repeat scroll 0 0;
    border: 1px solid #df6e1c;
    border-radius: 3px;
    color: #fff;
    display: block;
    font-size: 16px;
    margin: 10px 0 0;
    overflow: hidden;
    padding: 15px 0;
    text-align: center;
}
.startuostep:hover, .fullverify:hover {
	background: none repeat scroll 0 0 #cf5e0c;
	color:#fff;
}
.cenerstepbox {
	background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    box-shadow: -6px 6px 0 0 #dfdfdf;
    display: table;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    width: 35%;
}
.resendLoader {
	display:none;
    height: 60px;
    position: absolute;
    right: 1px;
    top: 1px;
}
.qstn_very {
    display: block;
    margin: 15px 0 0;
    overflow: hidden;
}

/*booking_confirm*/
.rowitbk {
	float: left;
	padding: 10px;
	position: relative;
	width: 100%;
}
.bookingli {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #e6e6e6;
	display: block;
	float: left;
	margin: 10px 0;
	padding: 10px;
	position: relative;
	width: 100%;
}
.bookingicon {
	background: url("../images/bookingicon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	height: 60px;
	left: -5px;
	position: absolute;
	top: -5px;
	width: 60px;
	z-index: 10;
}
.bookingicon.p_apartment {
	background-position:-85px 0;
}
.bookingicon.p_flight {
	background-position:0 0;
}
.bookingicon.p_hotel {
	background-position:-163px 0;
}
.bookingicon.p_car {
	background-position:-242px 0;
}
.bookingicon.p_vacation {
	background-position:-324px 0;
}
.iconaptcheck {
    display: block;
    overflow: hidden;
    padding: 30px 0 0;
    text-align: center;
}
.msgofapt {
    color: #555555;
    display: block;
    font-size: 22px;
    overflow: hidden;
    padding: 15px 0 20px;
    text-align: center;
}
.contentvcr {
    background: #f6f6f6 none repeat scroll 0 0;
}
.tablofcon {
    display: table;
    width: 100%;
}
.concell {
    display: table-cell;
    float: none;
    vertical-align: top;
}
.onwyrow {
    display: block;
    overflow: hidden;
}
.fblueline22 {
    background: #eeeeee none repeat scroll 0 0;
    color: #666666;
    font-size: 13px;
    margin: 0 0 10px;
    padding: 8px 10px;
}
.fblueline22.linegreen {
    background: #d8d8d8 none repeat scroll 0 0;
}
.flitsecimg {
    display: block;
    margin: 20px 0;
    text-align: center;
}
.simle, .nortosimle {
    color: #666666;
    display: block;
    font-size: 12px;
    overflow: hidden;
}
.rittextalign {
    text-align: right;
}
.radiobtn {
    color: #666666;
    display: block;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
}
.norto {
    color: #666666;
    display: block;
    overflow: hidden;
}
.lbold {
    font-weight: bold;
}
.flightimgs {
    background: #c5e2f0 none repeat scroll 0 0;
    border: 1px solid #b5d2e0;
    border-radius: 100%;
    display: block;
    height: 40px;
    margin: 10px auto;
    padding-top: 7px;
    text-align: center;
    width: 40px;
}
.litgrycell {
    background: #f6f6f6 none repeat scroll 0 0;
}
.topfisconf {
    display: block;
    overflow: hidden;
    padding: 10px;
}
.rowfux {
    display: block;
    overflow: hidden;
	 font-size: 14px;
}
.lablofux {
    border: 1px solid #f3f3f3;
    color: #666666;
    display: block;
    height: 41px;
    margin-bottom: -1px;
    margin-right: -1px;
    overflow: hidden;
    padding: 10px;
}
.splalert {
    background: #d9eff8 none repeat scroll 0 0;
}
.answrfux {
    border: 1px solid #eeeeee;
    color: #333333;
    display: block;
    height: 41px;
    margin-bottom: -1px;
    overflow: hidden;
    padding: 10px;
}
.botufis a {
    float: right;
    font-size: 14px;
    margin: 10px 0 0 10px;
    padding: 8px 10px;
}

.botufis a i {
    margin-right: 5px;
}
.loadr, .loadr-tick {
    display: none;
    margin-left: 10px;
}

.botufis a {
    float: right;
    font-size: 14px;
    margin: 10px 0 0 10px;
    padding: 8px 10px;
}
.botufis a.left {
    float: left;
}
.size20 {
    font-size: 20px;
}
.iconaptcheck img{max-width: 100px;}








/*New Dashboard*/
.width80cnt {
    width: 80%;
    float: left;   
}
.width80cnt .coltcnt {
    width: 50%;
    float: left;
}
.container.module_header{margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
	width:100%;}
.top_dash{margin-top:95px;}

.sidebar_wrap {
   background: #fff none repeat scroll 0 0;
    float: left;
    height: 100%;
    position: relative;
    width: 240px;
	z-index: 10;
	transition: all 400ms ease-in-out 0s;
}
#sidebar{position: relative;
float:left;
	height:90%;
	height: -webkit-calc(100% - 110px);
	height: -moz-calc(100% - 110px);
	height: calc(100% - 110px);
    width: 240px;
	transition: all 400ms ease-in-out 0s;}


.nav-collapse.collapse {
    display: inline;
}

ul.sidebar-menu , ul.sidebar-menu li ul.sub{
    margin: 0;
    padding: 0;
}
#sidebar > ul > li > ul.sub {
    display: none;
}

#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
    display: block;
}

ul.sidebar-menu li ul.sub li{
    background: #f9f9f9 ;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child{
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
    color: #aeb2b7;
    font-size: 14px;
    line-height: 35px;
    padding: 6px 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li ul.sub li a:hover {
	color: #3f3b3b;
	background: transparent;
}

ul.sidebar-menu li ul.sub li.active a {
    color: #68dff0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.sidebar-menu li{
    border-bottom: 1px solid #f0f0f0;
    float: left;
    width: 100%;
}
ul.sidebar-menu li ul.sub li{border-bottom: 1px solid #f0f0f0;}

ul.sidebar-menu li.sub-menu{
    line-height: 15px;
}

ul.sidebar-menu li a span{
    display: inline-block;
}

ul.sidebar-menu li a{
    color: #7a7c80;
    text-decoration: none;
    display: block;
    padding: 20px 0 20px 15px;
    font-size: 15px;
    outline: none;
	position:relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
ul.sidebar-menu li a.active:after{border-left: 5px solid #c30035;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    top: 0;}
.sub a.active:after{ border-left:none !important;}
ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    color: #3f3b3b;
    display: block;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


ul.sidebar-menu li a i {
    font-size: 15px;
    padding-right: 6px;
}

ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
    color: #3f3b3b;
}

ul.sidebar-menu li a.active i {
    color: #3f3b3b;
}
#sidebar .sub-menu > .sub li {
    padding-left: 32px;
}
#sidebar ul li {
    position: relative;
}

.mail-info, .mail-info:hover {
    margin: -3px 6px 0 0;
    font-size: 11px;
}
#main-content {
    background: #dbdbdb none repeat scroll 0 0;
    margin: 95px 0 0 240px;
    min-height: 90vh;
}
.tabbable.customtab {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 2px;
    display: block;
    float: left;
    padding: 15px 15px 0;
    width: 100%;
}

.wrapper {background: #dbdbdb none repeat scroll 0 0;
    border-left: 3px solid #89d0f4;
    float: left;
    width: 100%;}
.mt {
    margin-top: 23px;
}
.centered{text-align:center;}
.profile_dir{display: block;
    overflow: hidden;
    padding: 40px 0 0;
    text-align: center;}
.profile_dir h5{ color: #fff;
    display: block;
    overflow: hidden;
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;}
ul.sidebar-menu li ul.sub{float: left;
    margin: 0;
    width: 100%;}


.set_loader{background: #fff none repeat scroll 0 0;
    bottom: 0;
	display:none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;}
.big_pad{ padding: 10px 0;}

.bookings_only{display: block;
    overflow: hidden;
    padding: 0 0 0 25px;}
.booking_rows{background: #f6f6f6 none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    float: left;
    margin: 0 0 15px;
    position: relative;
    transition: all 400ms ease-in-out 0s;
    width: 100%;}
.booking_rows:hover{border: 1px solid #f88c3e;
    box-shadow: 0 0 10px -5px #000;}
.mension_booktype{background: #eb8c48 none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    font-size: 30px;
    height: 50px;
    left: -25px;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 50px;}
.mension_booktype .fa{line-height:50px;}
.inside_bookrow{display: block;
    overflow: hidden;
    padding: 10px 10px 10px 40px;}
.from_to_all{border-bottom: 1px dashed #ddd;
    display: block;
    margin: 0 0 5px;
    overflow: hidden;
    padding: 0 0 5px;} 
.left_city{color: #323a4d;
    float: left;
    font-size: 20px;}
.left_city .fa{margin:0 10px;}      
.trip_tp{background: #eee none repeat scroll 0 0;
    border-radius: 5px;
    float: right;
    font-size: 14px;
    padding: 5px 10px;}
.row_books{display: block;
    overflow: hidden;}
.labl_books{color: #666;
    display: block;
    font-size: 14px;
    overflow: hidden;
    padding: 5px;}
.bold_lbl{color:#333;}
.side_details{text-align: right;}
.price_booked{}
.bokd_price{color: #e3782c;
    
    font-size: 20px;
    margin: 10px 0;}
.book_status{float: right;
    font-size: 16px;
    padding: 6px 0;}
.book_status .fa{margin-right:5px;}
.bkd_success{color: #008a00;}
.bkd_canceld{color:#b61f16;}
.bkd_failed{color:#cc990c;}

.btns_bkd{}
.view_bokd_dets{float: left;
    font-size: 13px;
    padding: 5px;}
.book_row_flt {
    border-bottom: 1px solid #ddd;
    float: left;
    padding: 5px 0;
    width: 100%;
}
.modal_header {
    border-bottom: 1px dashed #ddd;
    float: left;
    margin: 0 0 10px;
    padding: 15px 15px 5px;
    width: 100%;
}
.all_flight_bks{float:left;width:100%;}
.modal_footer{background: #fff none repeat scroll 0 0;
    border-radius: 0 0 5px 5px;
    float: left;
    overflow: hidden;
    padding: 15px;
    text-align: right;
    width: 100%;}
.top_deposit_div{border-bottom: 1px dotted #ddd;
    display: block;
    margin: 0 0 15px;
    overflow: hidden;
    padding: 0 0 10px;}

.rowsubhd{color: #444;
    display: block;
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 5px;
    overflow: hidden;}
.veried_para{color: #666;
    display: block;
    font-size: 14px;
    overflow: hidden;}
.veried_para strong{color: #999;
    display: block;
    font-size: 13px;
    font-weight: normal;
    margin: 5px 0;
    overflow: hidden;}
.all_very {
    display: block;
    overflow: hidden;
    padding: 10px;
}
.vericon.fa{background: #eb8c48 none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    float: left;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;}
.veriside{display: block;
    overflow: hidden;
    padding-left: 15px;}
.very_email {
    background: #f7e5d8 none repeat scroll 0 0;
    border-radius: 3px;
    color: #333;
    margin: 5px;
    padding: 5px 15px;
}

.table-responsive.overwidth {
    border: 1px solid #ddd;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
}
.set_toggle{background: #f6f6f6 none repeat scroll 0 0;
    border: 1px solid #eee;
    border-radius: 5px;
    display: none;
    float: left;
    margin: 10px 0 0;
    overflow: hidden;
    padding: 15px;
    width: 100%;}
.secqstn {
    color: #666;
    display: block;
    font-size: 14px;
    margin: 5px 0;
    overflow: hidden;
}
.travel_date{color: #db7c38;
    float: left;
   
    font-size: 16px;
    margin: 5px 0 0 10px;}
.notice_icon.fa{color:#666; float: left;
    font-size: 16px;}
.notice_msg{color: #444;
    display: block;
    font-size: 14px;
    overflow: hidden;
    padding: 0 0 0 10px;
    text-align: justify;}
.notice_msg p{color: #999;
    display: block;
    font-size: 12px;
    margin: 5px 0 0;
    overflow: hidden;}
.all_view_notice{background: #eee none repeat scroll 0 0;
    border-radius: 3px;
    color: #333;
    display: table;
    font-size: 14px;
    margin: 15px auto auto;
    padding: 5px 20px;}
.wrapdivs.stepss{background:none;display:none;}
.thankudiv_pob {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: none;
    overflow: hidden;
	
    position: relative;
    text-align: center;
    width: 100%;
}
.thankudiv_pob .fa{color: #008a00;
    display: block;
    font-size: 50px;
    margin: 20px 0;
    overflow: hidden;
    text-align: center;}
.popuperror.agetn_page{font-size: 15px;
    margin: 0 0 10px;
    padding: 20px;
    text-align: center;}


.modal{z-index: 10000050;}
.modal-backdrop{z-index: 10000040;}

.dash_menus{background: #f88c3e none repeat scroll 0 0;
    border: 0 none;
    border-radius: 100%;
    box-shadow: 0 2px 7px -5px #000;
    color: #fff;
    display: none;
    float: right;
    font-size: 23px;
    height: 50px;
    margin: 140px 10px 10px;
    overflow: hidden;
    position: relative;
    width: 50px;
    z-index: 100001;}
.btns_bkd a .btn {
    margin: 4px;
}

.sidesignal {
    float: left;
    padding: 50px 20px 20px;
    width: 100%;
}
.innersignal{ border: 1px solid #e3e3e3;
border-top:4px solid #0093de;
    color: #4b4b4b;
    display: block;
    float: left;
    font-size: 11px;
    padding: 45px 0 20px;
    text-align: center;
    width: 100%; position:relative;}
.sigsingle {
    color: #4b4b4b;
    display: block;
    font-size: 12px;
    text-align: center;
	line-height:30px;
}
.sigsingle strong {
    color: #000000;
    display: block;
    font-size: 16px;
    font-weight: 500;
}
.sigsingle .levelsig {
    color: #000000;
    font-size: 25px;
    font-weight: bold;
}
.levelsig > strong {
    color: #4b4b4b;
    display: inline-block;
}
.butmorel {
     background: #0093de none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    display: table;
    font-size: 14px;
    margin: 10px auto auto;
    padding: 5px 20px;
}
.butmorel:hover{ color:#fff;}
.signals{ background: #0093de url("../images/sprite.png") no-repeat scroll -528px -126px;
    border-radius: 50px;
    float: left;
    height: 70px;
    left: 50%;
    margin-left: -35px;
    position: absolute;
    top: -30px;
    width: 70px;}


.squaredThree input[type="checkbox"] {
    margin: 0;
    visibility: hidden;
}
.squaredThree {
    float: left;
    margin-right: 8px;
    position: relative;
    width: 20px;
    z-index: 1;
}
.squaredThree label {
    background: #c4c3c2 none repeat scroll 0 0;
    border-radius: 3px;
    cursor: pointer;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
}
.squaredThree label::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #fcfff4;
    border-image: none;
    border-style: none none solid solid;
    border-width: medium medium 3px 3px;
    content: "";
    height: 7px;
    left: 5px;
    opacity: 0;
    position: absolute;
    top: 5px;
    transform: rotate(-45deg);
    width: 11px;
}
.squaredThree label:hover::after {
    opacity: 0.3;
}
.squaredThree input[type="checkbox"]:checked + label::after {
    opacity: 1;
}
.squaredThree input[type="checkbox"]:checked + label {
    background: #0f7ab2 none repeat scroll 0 0;
}
.locationul .stra_hotel .fa {
    margin: 0 2px;
}
.lbllbl {
    color: #666666;
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.chekd_boxes{border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 0 0 8px -5px rgba(0, 0, 0, 0.2);
    display: block;
    margin: 5px;
    overflow: hidden;
    padding: 15px;}
	
	

.chatrow {
    float: left;
    width: 100%;
}
.chaterimage {
   background: #f0f0f0 none repeat scroll 0 0;
    border: 3px solid #f0f0f0;
    border-radius: 100%;
    float: left;
    height: 100px;
    line-height: 100px;
    margin:10px;
    overflow: hidden;
    width: 100px;
}
.chaterimage img {
    width: 100%;
}
.chaterdetail {
    display: block;
    overflow: hidden;
    padding: 10px 10px 10px 20px;
    position: relative;
}
.chaterdetail:after {
	 color: #f0f0f0;
   content:"\f0d9";
    font-family: "FontAwesome";
    font-size: 40px;
    left: 7px;
    position: absolute;
    top: 30px;
	
}
.chatrow.adminchat .chaterdetail:after {content:"\f0da";right: 7px; left:auto;}
.insidechat {
    background: #f0f0f0 none repeat scroll 0 0;
    border-radius: 5px;
    display: block;
    min-height: 100px;
    overflow: hidden;
    padding: 15px;
}

.chatername {
    font-size: 16px;
}
.chattime {
    color: #999999;
    display: block;
    font-size: 12px;
    overflow: hidden;
    padding: 5px 0;
}
.chattime .fa {
}
.chatermsg {
    color: #666666;
    display: block;
    font-size: 13px;
    overflow: hidden;
}
.chatrow.adminchat .chaterimage{float:right;}
.chatrow.adminchat .insidechat{background:#f0f0f0; text-align:right;}
.chatrow.adminchat .chaterdetail { padding: 10px 20px 10px 10px;}
.chatattech {
    font-size: 14px;
    margin: 5px 0;
}
.full.marintopcnt.whitebg {
    background: #f4f4f4 none repeat scroll 0 0;
    border-radius: 5px;
    padding: 15px;
}
.forrestab strong{ font-weight:normal;}
.forrestab .fa { display:none;}
.rgt_bg_clr {
    background-color: #fff;
    padding: 10px 0;
    border-radius: 2px;
    margin: 0 0 25px 0;
}
.right_head {
    font-size: 22px;
    padding: 18px;
    display: block;
}
.rgt_bal{
	border-top: 1px dotted #ccc;
	padding: 18px;
    display: block;
    overflow: hidden;
}
.rgt_balvw{padding: 10px;border-top: 1px dotted #ccc;}
.rgt_balvw a{color: #298ed5;font-size: 15px;}
.pad_lft{padding-left: 0;}
span.lst_depo {
    float: left;
    color: #7a6666;
    font-size: 13px;
}

span.lst_bal {
    float: right;
    font-size: 13px;
    color: #7a6666;
}
.lst_bclr{font-size: 15px !important;color: #fc901b !important;}
span.dep_auth {
    float: left;
    width: 100%;
    padding: 0 30px;
    font-size: 15px;
    color: #514f4d;
}
.not_view.rgt_bal {
    padding: 15px;
}
span.dep_dt {
    float: left;
    width: 100%;
    padding: 0 30px;
    font-size: 13px;
    color: #73716f;
}

span.des_req {
    font-size: 15px;
    padding: 0 2px;
    color: #42454a;
}
.des_blanc {color: #fc934b;}
.prfl img {
    max-width: 30px;
    min-width: 30px;
}
span.prfl {
    float: left;
    padding: 2px;
}





@media screen and (max-width: 1200px){
.right_side_dash.profileplace {
    float: left;
    min-height: 0;
    padding: 10px;
}
.profileplace .profiledash{ width:200px;}
}



@media screen and (max-width: 991px){
.fullprofiles{ padding:0;}
.fullprofiles .prolabel{ text-align:left;}
.imagestep > img {max-width: 100%;}
.in_page_menu { display: block;}
.topsseclogon.fixed .in_page_menu .fa{ margin: 10px 0 0;}
.dash_menus{display:block;}
.sidebar_wrap{left: -240px;
    position: absolute;
	height: auto;
    transition: all 400ms ease-in-out 0s;
    z-index: 10000;}
#sidebar{position:static;width:100%;}
#main-content{margin: 80px 0 0;}
.sidebar_wrap.open{left: 0;width:100%;}
#main-content{margin:0;}
.editquestions {padding: 0 10px;}
.right_side_dash{min-height:0;}
.pad_lft{padding-left: 15px;}
}

@media screen and (max-width: 768px){


.dash_menus{ margin: 120px 10px 10px;}
.top_dash {
    margin-top: 110px;
}
.forrestab {
    padding: 10px 15px !important;
}

}



@media screen and (max-width: 650px){
.dash_menus{margin:10px;}
.fullquestionswrp3.set_toggle{padding:0;}
.comnbutton{margin: 20px 15px 15px;}

.absolubaner{font-size: 22px;}
.absolubaner > strong{ font-size:14px;}
.top_dash {
    margin-top: 0;
}
}



@media screen and (max-width: 550px){
.adres_user{clear: both;
	overflow: hidden;
    padding: 0;}
.chnge_paswordd, .dashbuttons{padding:10px;}

.cobldo{width:100%;}
.width80cnt{width:100%;}
.main-chart .rowit{ padding:15px;}
.forrestab strong {
    display:none;
}
.forrestab .fa {
    display: block;
}

}
@media screen and (max-width: 500px){
.numroom{ color:#343437;}

	
}
@media screen and (max-width: 460px){
.mension_booktype {
    display:none;
}

.inside_bookrow{padding:10px;}
.bookings_only{padding:0;}
}
