.detail_htlname{color: #07253f;
    float: left;
    font-size: 22px;
    font-weight: 500;
    margin-right: 10px;}
.star_detail{float: left;}
.detal_htladrs{color: #414141;
    display: block;
    font-size: 16px;
    overflow: hidden;}
.view_map_dets{ border: 1px solid #0f7ab2;
    border-radius: 3px;
    color: #333;
    display: block;
    float: right;
    font-size: 16px;
    overflow: hidden;
    padding: 15px;
    text-align: center;}
.view_map_dets .fa{background: #0f7ab2 none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    margin: 0 10px 0 0;
    text-align: center;
    width: 24px;}
.rmdetails {
    color: #666666;
    display: block;
    font-size: 12px;
    overflow: hidden;
}
.rmdetails > li {
    display: block;
    float: left;
    margin: 0 5px 5px 0;
}
.rmdetails .fa {
    color: #999;
    font-size: 14px;
    margin-right: 2px;
}
.checklist.popcheck > li {
    width: 100%;
}
.nohd {
    color: #666666;
    font-size: 16px;
}


.dets_section{background: #fff none repeat scroll 0 0;
    float: left;
    padding: 30px 0;
    width: 100%;}


.leftslider{float:left;width:100%;}
.bighotl {
    display: block;
    max-height: 235px;
    overflow: hidden;
    position: relative;
}
.thumbimg{float: left;
    margin: 10px;
    max-height: 60px;
    overflow: hidden;}
.thumbimg img {
    min-height: 60px;
    min-width: 100%;
    width: 100%;
}
.bighotl img {
    width: 100%;

}
.lftopop {
    position: relative;
}

.absroomtype{background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: 80px;
    color: #ffffff;
    font-size: 16px;
    padding: 10px;
    position: absolute;
    width: 100%;}
.absroomtype a{background: #0e7ab1 none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    float: right;
    font-size: 13px;
    padding: 5px 10px;}

.detowl.owl-theme .owl-controls{
    height: 80px;
    margin: 0;
    position: absolute;
    width: 100%;}
#sync2, #sync4 {padding: 0 50px;}
.detowl.owl-theme .owl-controls .owl-buttons .owl-prev, .detowl.owl-theme .owl-controls .owl-buttons .owl-next {
    border-radius: 0;
    height: 60px;
    margin: 0;
    position: absolute;
    text-indent: -99999px;
    top: 10px;
    width: 40px;
    z-index: 10;
}
.detowl.owl-theme .owl-controls .owl-buttons .owl-prev {
    background: url("../images/prev.png") no-repeat scroll center center #faccac;
    left: 0;
}
.detowl.owl-theme .owl-controls .owl-buttons .owl-next {
    background: url("../images/next.png") no-repeat scroll center center #faccac;
    right: 0;
}

.rgtopop {
    display: block;
    overflow: hidden;
    padding: 15px 0 0;
    width: 100%;
}
.newopcont {
    display: block;
    overflow: hidden;
}
.newopcont > li {
    color: #666666;
    float: left;
    font-size: 14px;
    margin-bottom: 5px;
    width: 100%;
}
.quatrewdt {
    float: left;
    width: 30%;
}
.threhalfwdt {
    float: left;
    width: 70%;
}
.inside_detsy{display: block;
    margin: 0 30px;
    overflow: hidden;}
.dets_hotel {
    border-bottom: 1px dashed #ddd;
    display: block;
    overflow: hidden;
    padding: 0 0 20px;
}
.price_strts{}
.price_froms{color: #666;
    display: block;
    font-size: 13px;
    overflow: hidden;
    padding: 15px 0;}
.price_froms strong{ color: #f96800;
    display: block;
    
    font-size: 22px;
    font-weight: 500;}
.room_select{background: #f26722 none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    display: block;
    font-size: 16px;
    line-height: 60px;
    overflow: hidden;
    padding: 0 10px;
    text-align: center;
    width: 80%;}
.room_select:hover{color:#fff;}


.contact_hotel{ background: #fff none repeat scroll 0 0;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    box-shadow: 0 0 5px #e6e6e6;
    float: left;
    font-size: 14px;
    overflow: hidden;
    width: 100%;}
.head_hotel{background: #e6e6e6 none repeat scroll 0 0;
    color: #07253f;
    display: block;
    font-size: 22px;
    margin: 0;
    overflow: hidden;
    padding: 10px;}
.inside_contact{display: block;
    overflow: hidden;
    padding:10px;}
.row_contact{display: block;
    font-size: 16px;
    margin: 15px 0;
    overflow: hidden;}
.row_contact .fa{color: #666;
    float: left;
    text-align: center;
    width: 50px;}
.row_contact strong{display: block;
    font-weight: normal;
    overflow: hidden;}
.roboto{}

.map_contact{background: rgba(0, 0, 0, 0) url("../images/map_test.jpg") no-repeat scroll center center / cover ;
    display: block;
    height: 100px;
    margin: 15px 0 0;
    overflow: hidden;}
.map_contact .row_contact{background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
    line-height: 24px;
    margin: 0;
    padding: 20px 0;}






.shdoww {
	float:left; width:100%;
    display: block;
    padding: 0 30px 0 0;
}
.hotel_detailtab{}
.htl_bigtab.nav-tabs{border-bottom: 5px solid #dadada;
    height: 70px;}
.htl_bigtab.nav-tabs li{}
.htl_bigtab.nav-tabs li a{border: 0 none;
    border-radius: 0;
    color: #666;
    font-size: 15px;
    height: 70px;
    padding: 5px 30px 0;}
.htl_bigtab.nav-tabs > li.active > a, .htl_bigtab.nav-tabs > li.active > a:hover, .htl_bigtab.nav-tabs > li.active > a:focus
{border:0;background:none; border-bottom: 5px solid #0f7ab2;color:#333;}
.htl_bigtab.nav-tabs > li a:hover{background:none;}

.htl_bigtab.nav-tabs li a .fa{color: #666;
    display: block;
    font-size: 18px;
    margin: 0 0 10px;
    overflow: hidden;
    text-align: center;}
.innertabs {
    float: left;
    width: 100%;
}
.htl_rumrow{}
.hotel_list{border-bottom: 1px dashed #ddd;
    float: left;
    margin: 10px 0;
    padding: 10px 0;
    width: 100%;}
.imagehotel{display: block;
    overflow: hidden;}
.imagehotel img{width: 100%;max-height:110px;}
.in_center_htl{display: block;
float:left; width:100%;
    padding: 0 15px;}
.hotel_hed{color: #0e7ab1;
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 5px;
    overflow: hidden;}
.hotel_sub_hed{color: #f96800;
    display: block;
    font-size: 14px;
    margin: 0 0 5px;
    overflow: hidden;}
.mensionspl{color: #666;
    display: block;
    font-size: 14px;
    margin: 0 0 5px;
    overflow: hidden;}
.menlbl{color:#444;}

.down_hotel {
    float: left;
    padding: 30px 0;
    width: 100%;
}

.morerombtn{color: #428bca;
    float: left;
    font-size: 14px;
    padding: 5px 0 0;}
.morerombtn .fa{color:#666;margin-right:5px;}

.bordrit{}
.pricesec{}
.sideprice{color: #f96800;
    display: block;
    
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    margin: 0 0 5px;}
.avgper{color: #666;
    display: block;
    font-size: 13px;
    font-weight: normal;
    overflow: hidden;}
.bookbtn{display: block;
    margin: 5px;
    overflow: hidden;}
.bookbtn .booknow{border-radius:3px;}
.list_popup{}
.view_map_dets strong {
    font-weight: normal;
}



.comenhtlsum {
    color: #666;
    display: block;
    font-size: 14px;
    line-height: 22px;
    overflow: hidden;
    padding: 15px 0;
	text-align: justify;
}
.sumtab.collapsed::after{content:"\f078";}
.sumtab::after{content:"\f077";
	color: #bbb;
    font-family: "FontAwesome";
    font-size: 12px;
    position: absolute;
    right: 15px;}
	
.sumtab{background: #eee none repeat scroll 0 0;
    border: 0 none;
    color: #333;
    display: block;
    font-size: 15px;
    font-weight: 500;
    overflow: hidden;
    padding: 10px;
    position: relative;
    text-align: left;
    width: 100%;}
.parasub{ color: #666;
    display: block;
    font-size: 14px;
    line-height: 22px;
    overflow: hidden;
    padding: 10px 0;}
.linebrk{background: #fff none repeat scroll 0 0;
    display: block;
    height: 1px;
    margin: 5px 0;
    overflow: hidden;}
.checklist{float: left;
    width: 100%;}
.checklist li{color: #666;
    float: left;
    font-size: 14px;
    margin: 5px 0;
    width: 33.33%;}
.checklist li .fa{color:#0f7ab2; margin-right:5px;}
.list_detail_tab{float: left;
    padding: 20px 0;
    width: 100%;}


.umay_also{}
.rowlikes{border-bottom: 1px dashed #ddd;
    display: block;
    margin: 0 0 10px;
    overflow: hidden;
    padding: 10px;}
.hotlealso{float: left;
    overflow: hidden;
    width: 80px;}
.hotlealso img{max-height: 80px;
    min-height: 80px;
    width: 100%;}
.alsodets{display: block;
    overflow: hidden;
    padding: 0 0 0 10px;}
.alsohed{color: #07253f;
    display: block;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;}
.pricealso{color: #666;
    display: block;
    font-size: 13px;
    overflow: hidden;}
.pricealso strong{color: #f96800;
   
    font-size: 16px;
    font-weight: 500;}
 .tripstar{ text-align:left;}
 .tripstar span{float: left;
    margin: 0 10px 0 0;}
 .tripstar .revcount{ float: left;
    margin: 0;}
.triptxt{ margin:0;}
.popcheck.checklist li{ margin:0;} 
.popcheck.checklist li, .popcheck.checklist li a{color:#079911;}
.popcheck.checklist li .fa{ color:#079911;}
.bookbtn.btnselct{ margin:5px 0;}
.bookbtn.btnselct button{background: #f26722 none repeat scroll 0 0;
    border: 1px solid #f26722;
    border-radius: 3px;
    color: #ffffff;
    display: table;
    font-size: 14px;
    padding: 5px 10px;
    text-align: center;}

	
	
@media screen and (max-width: 991px) {
		.view_map_dets strong{display:none;}
		.view_map_dets .fa{ margin:0;}
		.inside_detsy{ margin:15px 15px 0 0;}
		.contact_hotel{margin:15px 0 0 0;}
		.shdoww{ margin:0;}
    }
	@media screen and (max-width: 768px) {
	.bookbtn{ width:200px; margin: 5px auto;}}
@media screen and (max-width: 650px) {
	.checklist li{ width:50%;}
	}
	
	
	@media screen and (max-width: 500px) {
		.fullfives{ width: 100%;}
		.fullfives .pricesec{display: block;
    float: left;
    overflow: hidden;
    width: 100%;}
.htl_bigtab.nav-tabs li a{padding: 5px 5px 0;}
.in_center_htl{ padding:0;}
	.checklist li{ width:100%;}	
	}
