
/*login section starts here*/
.log_section{background-color: #fbfbfb;overflow: hidden;}
.log_mem {
    width: 30%;
    margin: 25px auto;
}
.mem_section{background-color: #fff;padding: 10px 22px;box-shadow: 0px 0px 10px 3px #ccc;margin: 15px 0;}
.mem_log_txt {
    text-align: center;
    display: block;
    font-size: 24px;
    padding: 30px 0;
    color: #5e5858;
    font-weight: 300;
}

.log_logo {text-align: center;margin: 0 0 30px 0;}
.log_ft::-webkit-input-placeholder {color: #5e5858;}
.remlabel_q{font-weight: normal;}
.log_ft{
    height: 45px;
    border-radius: 2px;
    background-color: #f1f1f1;
    border: 0;
    box-shadow: none;
    display: block;
    margin: 0 0 25px 0px;
    padding: 0 55px 0 12px;
}

.msg {
    background: rgba(0, 0, 0, 0) url(../images/sprite.png) no-repeat scroll 5px -198px;
}
.pass {
    background: rgba(0, 0, 0, 0) url(../images/sprite.png) no-repeat scroll -38px -198px;
}
.selectmask {
    height: 43px;
    right: 1px;
    position: absolute;
    top: 1px;
    width: 48px;
}
.selectft {
    position: relative;
    width: 100%;
}
.for_get {
    font-size: 14px;
}
.btn_logsub {
    width: 100%;
    background-color: #1275bb;
    color: #fff;
    font-size: 18px;
    margin: 20px 0;
    padding: 12px 0;
    transition:  500ms all ease-in-out;
}
.btn_logsub:hover {
    color: #fff;
    background-color: #3eb5e8;
}
/*check box*/

.squared_check input[type="checkbox"], .squared_check input[type="radio"] {
    visibility:hidden;
    margin:0
}
.squared_check {
    float: left;
    margin-right: 8px;
    position: relative;
    width: 20px;z-index: 1;
}
.squared_check label {
    background:#c4c3c2 none repeat scroll 0 0;
    border-radius: 3px;
    cursor: pointer;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
}
.squared_check label::after {
 -moz-border-bottom-colors: none;
 -moz-border-left-colors: none;
 -moz-border-right-colors: none;
 -moz-border-top-colors: none;
 border-color: #fcfff4;
 border-image: none;
 border-style: none none solid solid;
 border-width: medium medium 3px 3px;
 content: "";
 height: 7px;
 left: 5px;
 opacity: 0;
 position: absolute;
 top: 5px;
 transform: rotate(-45deg);
 -webkit-transform: rotate(-45deg);
 width: 11px;
}
.squared_check label:hover::after {
 opacity: 0.3;
}
.squared_check input[type="checkbox"]:checked + label::after, .squared_check input[type="radio"]:checked + label::after {
 opacity: 1;
}
.squared_check input[type="checkbox"]:checked + label, .squared_check input[type="radio"]:checked + label {
    background:#46b6e8;
}
.reg_b {
    text-align: center;
    font-size: 15px;
    color: #477caa;
    display: block;
    margin: 25px 0;
}