
/*flight_booking*/
.removeseting{ display:none;}
.repeatprows {
    float: left;
    margin: 5px 0;
    width: 100%;
}
.postnew{background: #f9f9f9 none repeat scroll 0 0;
    border-radius: 3px;
    display: block;
    overflow: hidden;
    padding: 15px 0; font-size:14px;}
.comon_backbg{background: #fff none repeat scroll 0 0;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    box-shadow: 0 0 5px #e6e6e6;
    float: left;
    margin: 0 0 20px;
    width: 100%;}
.leftboks{
    float: left;
    width: 100%;}
.flightset{display: block;
    overflow: hidden;}
.frto{ color: #666666;
    font-size: 15px;}
.fseting.fa{color: #666666;
    display: block;
    font-size: 18px;
    text-align: center;}
.durpla{color: #666666;
    font-size: 13px;
    margin: 5px 0;}
.dutarionsf{ border: 1px solid #eeeeee;
    display: block;
    margin: 0 10px;
    text-align: center;}
.witebackgrnd {
     background: #ffffff none repeat scroll 0 0;
    border: 1px solid #dddddd;
    margin: 25px 0;
    padding: 0 15px;
}
.lostcart{ background: #fff none repeat scroll 0 0;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    box-shadow: 0 0 5px #e6e6e6;
    float: left;
    font-size: 14px;
    margin-bottom: 15px;
    overflow: hidden;
    width: 100%;}
.fordetailpage {
    display: block;
    margin-bottom: 20px;
    overflow: hidden;
}
.set_margin {
    margin: 5px 0;
}
.sidebuki {
    float: right;
}
.cartbukdis {
    display: block;
    float: left;
    width: 100%;
}
.cartlistingbuk {
    float: left;
    width: 100%;
}
.carttitlebuk1{ float:left; width:100%;}
.celcart {
    display: table-cell;
    float: none;
    vertical-align: middle;
}
.smalbukcrt {
    float: left;
	overflow:hidden;
    width: 60px;
}
.smalbukcrt  img{width:100%;}
.splcrtpad {
    padding: 10px 0;
}
.carttitlebuk {
    background: #f6f6f6 none repeat scroll 0 0;
    color: #333;
    display: block;
    float: left;
    font-size: 16px;
    overflow: hidden;
    padding: 5px 10px;
    width: 100%;
}
.cartsec {
      color: #666;
    display: block;
    float: left;
    font-size: 12px;
    overflow: hidden;
	
}
.singecartpricebuk {
    color: #333333;
    text-align: center;
}

.cartitembuk {
    display: table;
    position: relative;
    width: 100%;
}
.payblnhmxm {
    display: block;
    overflow: hidden;
    padding: 10px 0;
}
.ritaln {
    text-align: right;
}
.payblnhm {
    display: block;
    overflow: hidden;
}
.promocode {
   border: 1px solid #dddddd;
    border-radius: 3px;
    display: block;
    font-size: 14px;
    height: 50px;
    overflow: hidden;
    padding: 5px;
    width: 100%;
}
.promosubmit {
    background: #f88c3e none repeat scroll 0 0;
    border: 1px solid #f88c3e;
    border-radius: 3px;
    color: #ffffff;
    display: table;
    height: 50px;
    margin: 0 auto;
    padding: 7px;
    text-align: center;
    width: 100%; font-size:14px;
}
.savemessage {
    color: #666666;
    display: block;
    overflow: hidden;
    padding: 5px 25px 15px;
}
.cartcntamnt.normalprc {
    color: #333333;
}
.cartlistingbuk.nomarr {
    margin: -11px 0 0;
}
.cartcntamnt.bigclrfnt {
    color: #07253f;
    font-size: 20px;
}
.padleftpay {
    padding: 0 30px 0 0;
}
.inpagehed {
   background: #f6f6f6 none repeat scroll 0 0;
    color: #666666;
    display: block;
    font-size: 22px;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    padding: 10px 15px;
    text-transform: uppercase;
}
.sectionbuk{display: block;
    overflow: hidden;
    padding: 15px;}
.collapsebtn2.bukcolsp::after {
    background: rgba(0, 0, 0, 0) url("../images/stip.png") no-repeat scroll 0 bottom;
    bottom: -9px;
    content: "";
    height: 9px;
    left: 70px;
    position: absolute;
    width: 25px;
    z-index: 100;
}

.collapsebtn2 {
    background: #ffffff none repeat scroll 0 0;
    border: 0 solid #000000;
    color: #15262f;
    font-size: 14px;
    font-weight: 700;
    height: 32px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    width: 100%;
}
.collapsebtn2.bukcolsp {
     border-bottom: 1px dotted #ddd;
    color: #444;
    font-size: 20px;
    font-weight: normal;
    height: auto;
    margin: 10px 0 30px;
    padding: 10px 0;
    position: relative;
}
.collapsebtn2.bukcolsp span.collapsearrow {
    background: rgba(0, 0, 0, 0) url("../images/card.png") no-repeat scroll 0 0;
    height: 28px;
    margin: 0;
    width: 28px;
}
.editbuk {
    background: #f88c3e none repeat scroll 0 0;
    border: 1px solid #f88c3e;
    border-radius: 2px;
    color: #ffffff;
    float: right;
    font-size: 14px;
    margin-right: 10px;
    padding: 3px 15px;
}
.onedept {
    display: block;
    overflow: hidden;
}
.evryicon{background: #0e7ab1 none repeat scroll 0 0;
    border-radius: 30px;
    color: #fff;
    float: left;
    height: 60px;
    line-height: 68px;
    margin-right: 10px;
    text-align: center;
    width: 60px;}
.evryicon .fa{font-size: 26px;}
.pasenger_location{display: block;
    float: left;
    margin-bottom: 20px;
    overflow: hidden;}
.payinput{border: 1px solid #dddddd;
    border-radius: 3px;
    color: #333333;
    display: block;
    font-size: 14px;
    height: 50px;
    overflow: hidden;
    padding: 10px;
    width: 100%;}
.inpagehedbuk {
    color: #444444;
    display: table;
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 5px;
    overflow: hidden;
    padding: 5px 10px;
}
.hwonum{background: #e9e9e9 none repeat scroll 0 0;
    border-radius: 3px;
    float: left;
    font-size: 14px;
    margin: 0 5px 0 0;
    padding: 5px 10px;}
.bookingcnt {
    color: #333333;
}
.payrow {
     border-bottom: 1px solid #e6e6e6;
    display: block;
    font-size: 14px;
    margin: 0 -15px 20px;
    overflow: hidden;
    padding-bottom: 10px;
}
.payrow:last-child{border:0;}
.billingnob .payrow{border-bottom: none;}
.lokter{
    text-align: center;
    width: 100%;}
.whoare{color: #444;
    font-size: 12px;}
.lokter .fa{background: #f26722 none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    display: block;
    font-size: 22px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    overflow: hidden;
    width: 40px;}
.lokter .fa-male{background: #f26722 none repeat scroll 0 0;}
.lokter .fa-child{background: #f26722 none repeat scroll 0 0;}
.paylabel {
    color: #666666;
    display: block;
    margin-bottom: 5px;
    overflow: hidden;
}
.cartcntamnt {
    color: #ffffff;
    display: block;
    overflow: hidden;
    padding: 10px;
}
.flpayinput {
    border: 1px solid #dddddd;
    border-radius: 3px;
    color: #333333;
    display: block;
    font-size: 14px;
    height: 50px;
    overflow: hidden;
    padding: 10px;
    width: 100%;
}
.selectedwrap {
    position: relative;
}
.selectedwrap::after {
    background: #ffffff none repeat scroll 0 0;
    bottom: 1px;
    color: #666666;
    content: "";
    cursor: pointer;
    font-family: "FontAwesome";
    font-size: 22px;
    height: 48px;
    line-height: 48px;
    pointer-events: none;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 40px;
}
.noteclick {
    color: #555555;
    display: block;
    font-size: 13px;
    overflow: hidden;
    padding: 10px 0;
}
.featurette-divider3 {
    margin: 30px 0;
}

.checkcontent {
    color: #666666;
    display: block;
    font-size: 14px;
    line-height: 22px;
    overflow: hidden;
}
.colorbl {
    color: #0082be;
}
.payrowsubmt {
    float: left;
    padding: 20px 0;
    width: 100%;
}
.paysubmit {
    background: #c30035 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    color: #ffffff;
    float: left;
    font-size: 14px;
    padding: 15px 20px;
    text-align: center;
    width: 70%;
}
.verifycod {
    color: #666666;
    display: block;
    margin-top: 10px;
    overflow: hidden;
}
.lastnote {
    color: #666666;
    display: block;
    margin-top: 20px;
    overflow: hidden;
}
.popuofixissue{position: absolute;
    background: rgba(0,0,0,0.7);
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    left: 0; display:none; transition:all 400ms ease-in-out 0s;}
.popbighed {
	background: none repeat scroll 0 0 #f6f6f6;
	color: #666;
	display: block;
	font-size: 18px;
	overflow: hidden;
	padding: 10px;
}
.paymentpage{display: block;
    padding: 10px 0; float:left; width:100%;}

.paybilling_section{ float: left;
    width: 100%; margin-bottom:20px;}
.addnewbill{background: #d3d3d3 none repeat scroll 0 0;
    border-radius: 3px;
	cursor:pointer;
    float: left;
    height: 80px;
	position:relative;
    text-align: center;
    width: 100%;}
.addnewbill .add_new_fa{background: #008a00 none repeat scroll 0 0;
    border-radius: 30px;
    color: #fff;
    display: none;
    height: 24px;
    line-height: 24px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 5px;
    width: 24px;}


.addnewbill.active {
    border: 1px solid #008a00;
}
.addnewbill.active .add_new_fa {
    display:block;
}

.addnewbill .fa.fasplus{display: block;
    font-size: 20px;
    margin-top: 20px;
    overflow: hidden; color:#444;}
.plus_add{display: block;
    font-size: 14px;
    overflow: hidden;}
.Addingbill{padding: 0 25px;}
.ouraddrss{ background: #ededed none repeat scroll 0 0;
    border-radius: 3px;
    display: block;
    font-size: 14px;
    margin: 0 10px;
    overflow: hidden;
    padding: 10px 15px; position:relative; border:1px solid #ededed;}
.addname{color: #444;
    display: block;
    overflow: hidden;}
.addaddress{color: #444;}	
.owlindex3 .owl-controls .owl-buttons .owl-prev, .owlindex3 .owl-controls .owl-buttons .owl-next {
     border-radius: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    text-indent: -99999px;
    top: 0;
    width: 35px;
    z-index: 10;
}
.owlindex3 .owl-controls .owl-buttons .owl-prev {
    background:url(../images/prev.png) no-repeat center center;; left: -25px;}
.owlindex3 .owl-controls .owl-buttons .owl-next {
   background:url(../images/next.png) no-repeat center center;right: -25px;}
.owlindex3 .owl-controls.clickable{ margin-top:0px;}
.item.active .ouraddrss{ border:1px solid #008a00;}
.ouraddrss .fa{ display:none}
.item.active .ouraddrss .fa{background: #008a00 none repeat scroll 0 0;
    border-radius: 30px;
    color: #fff;
    display: block;
    height: 24px;
    line-height: 24px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 5px;
    width: 24px;} 

.payment_process::after {
    background: #ccc none repeat scroll 0 0;
    content: "";
    height: 2px;
    left: 17%;
    position: absolute;
    right: 17%;
    top: 9px;
}
.payment_process{display: block;
    margin: 30px 0;
    overflow: hidden;
    position: relative;}
.center_pro { cursor:pointer;
    display: block;
    overflow: hidden;
    text-align: center;
}
.fabols{background: #ccc none repeat scroll 0 0;
    border: 4px solid #fff;
    border-radius: 100%;
    display: block;
    height: 20px;
    margin: 0 auto 10px;
    overflow: hidden;
    position: relative;
    width: 20px;
    z-index: 10;}
.center_labl{color: #666;
    display: block;
    font-size: 13px;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;}
.center_pro.active .fabols{background:#0873ba;}

.sumry_wrap{float: left;
    padding-right: 20px;
    width: 100%;}
.pre_summery{border: 1px solid #e6e6e6;
    border-radius: 3px;
    box-shadow: 0 0 5px #e6e6e6;
    display: block;
    margin: 0 0 20px;
    overflow: hidden;}
.prebok_hding{border-bottom: 1px dashed #ddd;
    color: #333;
    display: block;
    font-size: 18px;
    overflow: hidden;
    padding: 10px 15px;}
.pre_summery .flname {
    font-size: 15px;
}


.signing_detis{}
.wrp_pre{ float: left;
    padding: 15px;
    width: 100%;}
.pre_put{border: 1px solid #ddd;
    border-radius: 3px;
    color: #333;
    display: block;
    font-size: 15px;
    height: 50px;
    overflow: hidden;
    padding: 10px;
    width: 100%;}
.sentmail_id{color: #666;
    display: block;
    font-size: 13px;
    margin: 5px 0 0;
    overflow: hidden;}
.have_account{color: #333;
    display: block;
    font-size: 14px;
    font-weight: normal;
    margin: 3px 0 0;
    overflow: hidden;}
.pre_forgot{display: block;
    font-size: 13px;
    margin: 5px 0 0;
    overflow: hidden;}
.prebok_hding.spl_sigin{background: #7c7986 none repeat scroll 0 0;
    border-bottom: medium none;
    color: #fff;}
.mob_hi {
    display: block;
    margin: 12px 0 0;
    overflow: hidden;
    text-align: center;
}
.sign_twosec{display:block;overflow:hidden;}
#i_have_account{display:none;}
.pre_summery .popuperror{margin:0;}

.confirm_mfg{display: block;
    font-size: 20px;
    margin: 0 0 15px;
    overflow: hidden;
    text-align: center;}
.confrm_smmry {border: 1px solid #e6e6e6;
    border-radius: 3px;
    box-shadow: 0 0 5px #e6e6e6;
    display: block;
    margin: 0 0 20px;
    overflow: hidden;
    padding: 10px;}
.btn_comnbtns:hover{color:#fff;}
.cartsec_time{color: #666;
    display: block;
    
    font-size: 12px;
    overflow: hidden;}
.cartsec_more{border-top: 1px dashed #ddd;
    color: #666;
    display: block;
    font-size: 12px;
    margin: 5px 0 0;
    overflow: hidden;}
.pad_summery_sec{display: block;
    overflow: hidden;
    padding: 10px;}

/* Hotel booking*/


.detail_htlname{color: #07253f;
    float: left;
    font-size: 22px;
    font-weight: 500;
    margin-right: 10px;}
.star_detail{float: left;}
.hotel_prebook{display: block;
    height: 100px;
    margin: 10px 15px;
    overflow: hidden;}
.hotel_prebook img{min-height: 100px;
    width: 100%;}
.splalert{padding:30px 0;}


.all_oters{display: block;
    overflow: hidden;
    padding: 0 15px;}
 .all_oters.nb-contents{ padding:0;}
.nb-contents .para_sentnce{color:black;}
.para_sentnce{color: #666;
    display: block;
    font-size: 13px;
    margin: 15px 0;
    overflow: hidden;}
.para_sentnce strong{}
.detlnavi {
    display: block;
    overflow: hidden;
}
.flitruo {
    display: block;
    margin: 10px 0;
    overflow: hidden;
    padding: 10px 0;
}
.width20 {
    width: 20%;
}
.width80 {
    width: 80%;
}


.oneselects {
     background: #f6f6f6 none repeat scroll 0 0;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    margin-right: 15px;
    padding: 15px 25px 15px 15px;
	position:relative;
    transition: all 400ms ease-in-out 0s;
    width: 200px;
}
.oneselects.active {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #77c413;
}

.typeselctrs{}
.typeselctrs .fa {
    border: 2px solid #dadada;
    border-radius: 30px;
    color: #f6f6f6;
    font-size: 13px;
    height: 25px;
    line-height: 21px;
    margin-right: 10px;
    text-align: center;
    width: 25px;
	transition: all 400ms ease-in-out 0s;
}
.alldept {
    display: block;
    overflow: hidden;
}
.oneselects.active .fa{ background:#77c413;border: 2px solid #77c413; color:#fff;}
.hideinpay {
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    margin: 0 !important;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    z-index: 1;
}
span.roomcntad {
    font-size: 18px;
    display: block;
    padding: 0 15px;
    float: left;
    width: 100%;
}






.pay_show {
    float: left;
    width: 100%;
}
.radiochecks {
    display: block;
    overflow: hidden;
    padding: 10px 0;
}
.radiochecks li {
    display: inline-block;
    margin:10px 10px 10px 0;
    position: relative;
}

.radiochecks li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.radiochecks li label{
   color: #666666;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
    position: relative;
    z-index: 9;
  -webkit-transition: all 0.25s linear;
}



.radiochecks li .check{
 border: 2px solid #aaaaaa;
    border-radius: 100%;
    display: block;
    float: left;
    height: 20px;
    margin-right: 10px;
    transition: border 0.25s linear 0s;
    width: 20px;
    z-index: 5;
	-webkit-transition: border .25s linear;
}



.radiochecks li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 10px;
  width: 10px;
  top: 3px;
	left: 3px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

.radiochecks input[type=radio]:checked ~ .check {
  border: 2px solid #0e7ab1;
}

.radiochecks input[type=radio]:checked ~ .check::before{
  background: #0e7ab1;
}

.tabtwoout {
    float: left;
    margin: 15px 0 0;
    width: 100%;
}

.apppromonow{display: block;
    float: left;
    overflow: hidden;
    padding: 10px 0 0;}
.apppromonow strong{ font-weight:normal; color:#09821d;}
.singecartpricebuk .fa-trash-o{ color: #666666;
    padding: 10px 0 0;}

@media screen and (max-width: 991px) {
.set_margin{margin:10px 0;}
}

@media screen and (max-width: 768px) {
.sidebuki{float:none;}
.sumry_wrap, .padleftpay{padding:0;}

}



